[2017-08-05 01:18] kcc commented on #761
Understood... Bummer. Need to think

[2017-08-05 05:55] inferno-chromium commented on #249
This is now done, we support top 4 repos - FreeDesktopVCS, GitHubVCS, GitLabVCS, GoogleSourceVCS, will add others later as well.

[2017-08-05 05:55] #249 closed

[2017-08-10 14:51] singleghost opened #767 "Error in build.sh of project FFmpeg which causes libfuzzer instrumentation not built into library."
I supposed that there may be an error in the build.sh of project FFmpeg. I use the docker image to compile the FFmpeg library, but when I'm running the fuzzing target, I observed that the coverage was being very low all the time.
![image](https://user-images.githubusercontent.com/11471906/29168894-9bc16aa0-7e03-11e7-93ad-2ead083a21ac.png)

I guessed that the problem may exist in the build.sh scrip

[2017-08-10 15:12] oliverchang commented on #767
@michaelni can you please take a look?

@Dor1s did your bad build check catch this?

[2017-08-10 15:24] Dor1s commented on #767
Yes, the check should catch stuff like that, but let me verify, maybe even incorrect ffmpeg build shows values that are greater than the threshold.

@singleghost, how did you build the fuzzers? Did you use `python infra/helper.py build_fuzzers ffmpeg`?

[2017-08-10 15:40] Dor1s commented on #767
One more question, which fuzz target are you running?

[2017-08-10 16:37] Dor1s commented on #767
I've just made two builds locally:

1) using `python infra/helper.py build_fuzzers ffmpeg` which simulates OSS-Fuzz builder

2) manually with your version of `build.sh` file

Then, I calculated number of edges for each fuzzer using the following command:

[code]

Finally, below is the difference between number of edges for each fuzzer, i.e. `number_of_edges_build_2` - `number_of_edges_build_1`:

[

[2017-08-10 23:11] kcc opened #768 "last successful build of openssl is 7/25, yet the status is green."
From: https://oss-fuzz-build-logs.storage.googleapis.com/index.html
[code]
yet it shows as working

[2017-08-10 23:16] kcc commented on #768
The above change broke the build.

[2017-08-11 00:01] oliverchang commented on #768
I believe this was showing up as red until today, where I broke the builds status page while trying to fix something else.

The bug has been fixed, but it seems like GCS is still serving the cached version of the builds status..

[2017-08-11 00:33] oliverchang commented on #768
The build status page is now fixed. There should also be no issues with caching in the future.

[2017-08-11 00:33] #768 closed

[2017-08-11 00:57] kcc opened #769 "migrate coverage to SourceBasedCodeCoverage"
Looks like [SourceBasedCodeCoverage](https://clang.llvm.org/docs/SourceBasedCodeCoverage.html) is much better for visualization than sancov.
We need to switch.

[2017-08-11 00:58] kcc commented on #761
Ok... This will be auto-resolved once we migrate to SourceBasedCodeCoverage #769

[2017-08-11 00:58] #761 closed

[2017-08-11 01:02] kcc commented on #769
Of course, this is a dup of #191

[2017-08-11 01:02] #769 closed

[2017-08-11 01:03] kcc commented on #191
Let's just migrate coverage to SourceBasedCodeCoverage

[2017-08-11 09:52] singleghost commented on #767
I didn't use the `python infra/helper.py build_fuzzers ffmpeg` to build. Instead I manually build the image with `docker build` inside the ffmpeg directory, run the container and use `compile` command.

I try to rebuild with command `python infra/helper.py build_fuzzers ffmpeg` and run the fuzz target. It works well. So there is probably something wrong with my initial build.

Thanks for the reply

[2017-08-11 09:53] #767 closed

[2017-08-11 14:38] Dor1s commented on #767
Glad to hear that! Thank you for raising the issue and for re-building it to verify. It's been quite scary in the beginning :)

[2017-08-14 13:26] siscia opened #771 "Difference between the base images and the building images"
Hi All,

I am fuzz testing redis (are you guys interested in this project?).

In the buiding images, the one that you get access doing `python infra/helper.py shell $PROJECT_NAME` everything seems to work just fine.

I am able to compile my fuzz target and to execute it, it runs just fine.

The problem arise when I try to execute it in the base images, executing the command `python infra/helper.py

[2017-08-14 14:33] Dor1s commented on #771
We're excited to hear that you are adding fuzz testing to redis!

Yes, there is a difference between images.
* when you do `infra/helper.py shell`, you get a bash in your project image, which may have some extra dependencies installed via `apt-get install` step in the Dockerfile.
* when you do `infra/helper.py run_fuzzer`, the fuzzer is run in `base-runner` image that doesn't have any of those dep

[2017-08-14 15:37] siscia commented on #771
Hi,

still a long way, fortunately I was able to don't touch much the codebase of redis, hopefully it won't be much of a issue to merge my changes, but I am not quite sure.

Yeah I was aware that no extra dependencies where available in the `base-runner` however the problem I believe is related to `run_fuzzer`

If I log into the docker `base-runner` with `docker run --rm -i --cap-add SYS_PTRACE -e

[2017-08-14 15:44] siscia commented on #771
O wait I got it, the issues is the redirect from /dev/null

[code]

Without that redirects from it works everything fine.

[2017-08-14 15:45] oliverchang commented on #771
Yep, your fuzz target should not be reading anything from stdin.

[2017-08-14 19:41] kcc opened #773 "false OOM reports caused by large corpus"
Looking at https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2962 and a few similar reports
I can see libFuzzer consumes too much memory for the initial corpus  causes it to OOM when the actual target code is not guilty.
Most likely, the fix should be inside libFuzzer.

[2017-08-14 20:42] kcc commented on #773
This is what libFuzzer did:
1. load all files from the initial corpus into memory
2. run all of them to collect the coverage, add interesting inputs to the working corpus
3. deallocate the initial corpus

In the reports we currently see the initial corpus is > 1Gb, and while processing it the working corpus gets to > 300Mb, and then actually running some of the items could take > 500Mb => OOOm.

h

[2017-08-14 22:10] siscia commented on #771
@oliverchang, the problem I believe was related.

Redis use STDIN(file descriptor = 0) as a pipe to wake the event loop whenever a blocked client in module need attention.

Passing something do STDIN, so `< /dev/null` but also `< whatever` makes STDIN not more epoll_ctl-able and this cause the issues above.

The question now is: Will I get something to STDIN (like /dev/null) or I can get nothing t

[2017-08-15 17:23] kcc opened #774 "OOMs issues reported from ubsan build are less useful than from asan build"
E.g. https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2710
ubsan can not provide a heap profile to show why we OOM.
Should we report OOMs only from asan builds?

[2017-08-15 17:32] LebedevRI opened #775 "When reporting new issues, also check other sanitizers."
Hi.
On more than one occasion, when reproducing issues reported to https://bugs.chromium.org/p/oss-fuzz, i have actually hit some other issues.
E.g. if the issue is from ASAN fuzzer, i also discover UBSan complains, and vice versa.
I think it would be useful to also run the crash-to-be-reported through rest of the sanitizers, and report those issues too at the same time.

[2017-08-15 17:36] LebedevRI opened #776 "Can i opt-in into MSan sanitizer?"
Hi.
I would like to get msan sanitized fuzzer for [RawSpeed](https://github.com/google/oss-fuzz/tree/master/projects/librawspeed).
I have just worked on an issue which would be much better reported by msan...
There are no external dependencies, no extern librares used, so it should just work.
Also, refs. https://github.com/google/oss-fuzz/issues/775

[2017-08-15 18:00] inferno-chromium commented on #776
Please submit a pull request.

See example https://github.com/google/oss-fuzz/blob/master/projects/boringssl/project.yaml#L9

[2017-08-15 18:00] #776 closed

[2017-08-15 18:06] oliverchang commented on #771
You should assume that the behaviour will be similar to "< /dev/null". Is it possible to workaround this by using `dup2` or some such?

[2017-08-15 18:18] Dor1s commented on #775
Hi Roman, can you share some examples (at least one please)?

I don't think that we specifically run the same crashy input against different builds, but we've seen reports from different builds caused by the same root issue. Also, often those issues are relevant, e.g. use-after-free from ASan and use-of-uninitialized-memory from MSan, or some buffer overflow from ASan and integer overflow from UBS

[2017-08-15 18:20] Dor1s commented on #774
Would it be hard to implement heap profiling in UBSan?

[2017-08-15 18:20] siscia commented on #771
I found a reasonable workaround.

I hope to complete a first "dirty" implementation tomorrow or the day after, then ask you guys some feedback.
Clean it up and ask antirez (the maintainer of redis) for merging.

[2017-08-15 18:23] oliverchang commented on #771
Closing this issue since the problem has been worked around.

[2017-08-15 18:23] #771 closed

[2017-08-15 18:24] Dor1s commented on #774
One more question, why don't we call `__sanitizer_print_stack_trace` from `void Fuzzer::RssLimitCallback()`. I assume that we might get different stacktraces, as we would be crashing in a different places for different runs, but having that would allow us to collect some examples and probably implement some grouping for OOMs (https://github.com/google/oss-fuzz/issues/553).

[2017-08-15 18:24] kcc commented on #774
asan's heap profiling is implemented in asan's heap allocator.
ubsan is linked against the regular glibc allocator, which can't produce help profiles (AFIACT)
It's possible to link ubsan against asan's allocator but that will bring extra RAM overhead to the ubsan builds. Besides, it's still interesting to have a build with the glibc malloc in case there are bugs that only trigger with it.

[2017-08-15 18:26] kcc commented on #774
RssLimitCallback is called from a separate thread, so you will only see that thread's stack trace (useless).

BTW, for non-asan/msan builds we could use `ulimit -v 2048` instead of libFuzzer's rss_imit_mb and then rely on sig handlers to report a stack trace.

[2017-08-15 18:27] Dor1s commented on #774
Ah, so we cannot get the stacktrace from another thread. Makes sense, thanks!

[2017-08-15 18:27] LebedevRI commented on #775
Oh well, i did not track those :)

* https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3048
  * With integer sanitizer, this also catches overflow in https://github.com/darktable-org/rawspeed/blob/16b0853077eec08bccb74aec29bb395c6eb5e50c/src/librawspeed/decoders/IiqDecoder.cpp#L225
  * Also, MSAN would have told that `uint32 len[2];` is used uninitialized here.

I remember seeing at *least* on

[2017-08-15 18:31] kcc commented on #774
BTW, using `ulimit -v 2048` for ubsan builds is in fact a good idea.
It will give us precise stack traces for OOMs (not heap allocations though) and it will catch cases when users mistakenly build with asan when SANITIZER=undefined (e.g. here: https://github.com/google/oss-fuzz/pull/765#issuecomment-322549161)

[2017-08-15 18:32] Dor1s commented on #774
Using `ulimit` sounds reasonable! @oliverchang, is it doable with the current architecture?

[2017-08-15 18:33] Dor1s opened #777 "Re-enable bad_build_check"
Disabled at: https://github.com/google/oss-fuzz/pull/765#issuecomment-322549161

It would help us catching issues like https://github.com/google/oss-fuzz/pull/765#issuecomment-322549161

[2017-08-15 18:37] Dor1s commented on #777
Wow, got an issue number 777!

Before re-enabling the checks, need to address some of the issues: https://github.com/google/oss-fuzz/commit/e2e0c22845c09b9bbd3dc9244ad666d4a0f410d8

There was a suggestion from @oliverchang  to avoid using `test_all` for now and to use only `bad_build_check`, that would fix a significant number of the issues from the comment linked above.

[2017-08-15 18:38] kcc commented on #774
`ulimit -v 2048000` of course.
Example:

[code]

This is not the same as a heap profile, but still would often show where the RAM-hungry code is

[2017-08-15 18:40] Dor1s commented on #774
That looks awesome!

[2017-08-15 18:40] oliverchang commented on #774
Sure, we can do this. @Dor1s, may I ask you to take this?

And asking just in case, does it make sense to do this on libFuzzer's side instead?

[2017-08-15 18:43] kcc commented on #774
Hmm... Yea, we could setrlimit inside libFuzzer too, if we see that there is no asan/msan.
It will be a bit different result, e.g. if we see asan we won't set it. That's ok too.

A caveat: libFuzzer may not necessary recognize the crash as OOM.
But I'll see.

[2017-08-15 19:55] oliverchang commented on #774
Hmm, being able to distinguish easily is indeed important to us for reporting and performance analysis purposes. If libFuzzer can recognize it somehow it would be perfect.

I guess we'll have this problem too even if we set it on our side, unless we only do this to generate the final report, at which point we may as well use an  ASan build? (we have an existing mechanism in place for this).

[2017-08-15 21:34] Dor1s commented on #775
That's interesting. We can "easily" set up an additional job for every existing job, i.e. run crashes found with UBSan again ASan build, and so forth. It might be also helpful in cases like https://github.com/google/oss-fuzz/issues/774#issuecomment-322571056

@inferno-chromium @oliverchang @kcc, what do you think about setting up the following values for `SECOND_STACK_JOB_TYPE` (if that particular

[2017-08-15 21:51] oliverchang commented on #775
I would prefer that we file separate bugs in these cases and treat them as separate bugs (especially since they can actually be different).

[2017-08-15 21:59] Dor1s commented on #775
That's a good point... But if the root cause of the bug is the same, can we deduplicate those properly, or will always file e.g. use-after-free + use-of-uninitialized-value for UaFs found with ASan?

[2017-08-15 22:11] inferno-chromium commented on #775
Our crash signature similarity groups them together if they have similar crash states, but even different crash types. Crash types are compared when it is functional bug, but ignored if it is security.

[2017-08-17 19:55] inferno-chromium commented on #243
This is a WontFix, appengine folks confirmed that this is not doable in UI.

Fixed our language in https://github.com/google/oss-fuzz/commit/a51e5dda5136cfc86874c06bcea341df02566f0d

[2017-08-17 19:55] #243 closed

[2017-08-17 22:06] Dor1s commented on #775
Thanks everyone for the comments! We'll eventually add cross-job testing for crashes sometime later. We have a similar bug in internal bug tracker, so I'm closing this one. Thanks @LebedevRI for raising that issue and for the example.

[2017-08-17 22:06] #775 closed

[2017-08-20 02:35] kcc commented on #774
Actually, giving this to @morehouse

if rss_limit_mb != 0:
 * check if we don't have any tools that use shadow (check vm size?)
 * setrlimit for AS to rss_limit_mb
 * in the appropriate sig handler check if we died due to OOM and if so report OOM, not the signal.

[2017-08-22 00:46] kcc opened #785 "libFuzzer has moved to compiler-rt"
The new code location for libFuzzer:
[code]

This was a copy, not a move, so the old location still contains the code.
We'll delete the code in the old location in ~ 1 week.

[2017-08-22 01:10] #785 closed

[2017-08-22 10:32] rockdaboot opened #786 "Wget2 build fails, but no hint in the Logs"
At the 'build status' page, the Wget2 log just stops without any error (maybe too long ?).
Wget2 is tagged as 'build fails', but locally it builds fine.

Can't fix it since I have no clue about the 'why'.

[2017-08-22 15:21] Dor1s commented on #786
Below is what I see in our logs:

[code]

[2017-08-22 15:37] rockdaboot commented on #786
Thanks, that's what I guessed. Meanwhile I can reproduce it locally and opened a discussion at GnuTLS (GnuTLS does not verify handshake data in fuzzing mode, so Wget2's `make check` fails).

Expect a fix soon for that.

But with Firefox or Chromium the last lines of the logs that I can see are
[code]

Reproducible. Could you increase the max. size of the logs !?

[2017-08-22 17:16] Dor1s commented on #786
Sounds good, thanks @rockdaboot for looking into this!

@oliverchang, can we increase the max size of the logs? :)

[2017-08-22 17:16] oliverchang commented on #786
Unfortunately, this is a known bug in container builder. I will ping the internal teams about this to see if there's any progress there.

[2017-08-24 04:41] Lekensteyn opened #789 "HttpError 400 when searching on crash-stats page"
Visit https://oss-fuzz.com/v2/crash-stats?block=day&days=7&end=417632&group=platform&number=count&q=2&sort=total_count and observe the following trace:
[code]

[2017-08-24 04:48] oliverchang commented on #789
@tanin47 could you please take a look at this?

[2017-08-24 21:46] kcc opened #790 "add clang-proto-fuzzer to oss-fuzz"
I am trying to add clang-proto-fuzzer to oss-fuzz (as part of the `llvm` project).
This is the diff:
[code]

However, I get a build failure while configuring libprotobuf-mutator:
[code]

Do we need to build `libfuzzer_example ` when building libprotobuf-mutator here?

If yes, can we honor the CFLAGS provided by OSS-Fuzz?
Looks like this build crashes because OSS-Fuzz wants libc++ instead of libstd

[2017-08-24 21:53] vitalybuka commented on #790
Probably you just need to build libprotobuf

[2017-08-24 21:57] kcc commented on #790
@vitalybuka the docker file builds libprotobuf

[2017-08-24 21:58] vitalybuka commented on #790
Does it uses CLFAGS?

[2017-08-24 22:01] vitalybuka commented on #790
It's likely not. So we need to build libprotobuf with libc++

[2017-08-24 22:05] kcc commented on #790
Ah, maybe it's the opposite. libprotobuf uses libc++ and llvm build does not.
So, to some extend this depends on https://bugs.llvm.org/show_bug.cgi?id=34314

[2017-08-24 22:21] morehouse commented on #790
No, we shouldn't.  https://github.com/google/libprotobuf-mutator/pull/77 should remove that requirement once the Travis build cooperates and it can be merged.

[2017-08-25 03:00] Dor1s opened #791 "ots build is broken"
As per https://oss-fuzz-build-logs.storage.googleapis.com/index.html:

[code]

//cc @khaledhosny

[2017-08-25 03:02] Dor1s opened #792 "fuchsia build is broken"
As per https://oss-fuzz-build-logs.storage.googleapis.com/index.html:

[code]

//cc @farahhariri

[2017-08-25 03:03] Dor1s opened #793 "expat build is broken"
As per https://oss-fuzz-build-logs.storage.googleapis.com/index.html:

[code]

[2017-08-25 03:08] Dor1s commented on #793
That seems to be broken since ~11-12 of Aug, the last successful build was on 8/11/17, 10:08 PM PST (`2017-08-12-05-06` by UTC)

[2017-08-25 15:38] khaledhosny commented on #791
This should be fixed already. I can build `ots-fuzzer` on OTS master just fine.

[2017-08-25 16:18] farahhariri commented on #792
Looking at https://fuchsia.googlesource.com/fidl/+/master/BUILD.gn
It seems that the built of the fuzzer has been disabled for an upgrade of the toolchain.

[2017-08-25 16:48] hartwork commented on #793
It's `lib/.libs/libexpat.a` since Expat moved to GNU Automake around the same time. Does that fix it?

[2017-08-25 16:57] Dor1s commented on #793
Thanks @hartwork, let me check that.

[2017-08-25 17:04] Dor1s commented on #793
Yep, that helped! Thank you Sebastian!

[2017-08-25 17:04] #793 closed

[2017-08-25 17:09] petrhosek commented on #792
This was caused by the libFuzzer move to compiler-rt, I'll try to roll out a new toolchain today which should resolve this issue.

[2017-08-25 17:22] Dor1s commented on #791
Thanks @khaledhosny, you're right. I've verified that it builds locally as well. As a result, we've discovered that build status page hasn't updated for a day or so :) thanks @oliverchang for the fix!

[2017-08-25 17:22] #791 closed

[2017-08-28 16:09] oliverchang opened #797 "Don't group testcases across projects"
As seen in https://github.com/google/oss-fuzz/pull/795#issuecomment-325331689, we shouldn't be grouping across projects.

[2017-08-28 16:56] inferno-chromium commented on #797
I can own this.

On Mon, Aug 28, 2017 at 9:09 AM, Oliver Chang <notifications@github.com>
wrote:

[2017-08-28 17:35] oliverchang commented on #797
Thanks!

[2017-08-28 17:52] tanin47 commented on #789
The fix for this error is being deployed.

[2017-08-28 18:04] LebedevRI opened #798 "More useful "All current crashes""
All of the fuzzing entities ({afl,libfuzzer}_{asan,ubsan,msan}_${project}) have a "crash stats" pages. They contain nice stats about frequency/count of the problems encountered. It is useful to gauge which issue is most impactful on the fuzzing, and should be fixed first.

But. All these pages are unique/separate.
It would be awesome to have one page that would combine all these reports.

[2017-08-28 18:05] oliverchang commented on #789
Thanks! Looks like the fix has been deployed.

[2017-08-28 18:05] #789 closed

[2017-08-28 18:06] inferno-chromium commented on #798
I think the reason for this is project filter for oss-fuzz is not there at all. We need to have that.

[2017-08-28 18:06] oliverchang commented on #798
Does https://oss-fuzz.com/v2/crash-stats (without any job filters) give you what you're after?

[2017-08-28 18:09] LebedevRI commented on #798
@oliverchang yes, that is **much** better :)

[2017-08-28 18:33] inferno-chromium commented on #798
Also, i have a fix in mind, that will show project filter.

[2017-08-28 18:49] LebedevRI commented on #775
Just one more example: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3167
In fact, it is much more scarier `use-after-poison READ of size 2`

[2017-08-28 20:43] Dor1s opened #799 "Create a coverage build using clang source based code coverage"
https://clang.llvm.org/docs/SourceBasedCodeCoverage.html

Oliver has a hacky CL for that: https://github.com/oliverchang/oss-fuzz/commit/343ddfffebcf80533bd96b94892083650446327e

Basically, the following flags need to be added to CFLAGS / CXXFLAGS:

    -fprofile-instr-generate -fcoverage-mapping

Neither of sanitizers are needed for that build.

There are two goals here:

1) to see how many proje

[2017-08-28 21:48] inferno-chromium commented on #798
Ok, if you own one project, you can just go to crash-stats page and see crashes for that one project (project filter will be hidden). if you own multiple projects in oss-fuzz, project filter will now work and you will use it to select project name.

[2017-08-28 21:48] #798 closed

[2017-08-28 21:48] inferno-chromium commented on #797
Done, removing groups for existing testcases so that group task can start from scratch again.

[2017-08-28 21:49] #797 closed

[2017-08-29 06:59] LebedevRI commented on #774
Just to add my 5 cent. There is a [heaptrack](https://github.com/KDE/heaptrack) tool, which can record memory allocations into file, and that file then can be processed and pretty-printed:
[code]

Something like that would be nicer to have.
But i do understand that it is rather specific and unlikely to happen :)

[2017-08-29 16:21] oliverchang opened #802 "openjpeg: should we have a fuzz target for opj_compress?"
It looks like we only have a fuzz target for [decompression](https://oss-fuzz.com/v2/fuzzer-stats/by-fuzzer/2017-08-22/2017-08-28/fuzzer/libFuzzer/job/libfuzzer_asan_openjpeg).

However there are also bugs in compression (see e.g. https://blogs.gentoo.org/ago/2017/08/28/openjpeg-invalid-memory-write-in-tgatoimage-convert-c/). Should we add a fuzz target for this also? @rouault

[2017-08-29 16:31] rouault commented on #802
Yes compression side isn't tested. I created https://github.com/uclouvain/openjpeg/issues/1000 a few days ago to track this. That wouldn't be trivial to do as opj_compress and other depending code that isn't part of libopenjp2 would need to be librarified somehow to be compatible of libfuzzer entry point. I guess the situation is easier with AFL where you can run the actual opj_compress binary
Con

[2017-08-29 16:35] oliverchang commented on #802
Thanks for clarifying! Closing this in favour of the openjpeg issue.

[2017-08-29 16:35] #802 closed

[2017-08-29 18:28] jwhui opened #803 "[openthread] seed corpus not generating expected coverage"
As a test, I have a [seed corpus with a single item](https://github.com/openthread/openthread/tree/master/tests/fuzz/corpora/radio-receive-done) added to OpenThread.  This seed corpus should trigger [ot::Mle::Mle::HandleUdpReceive()](https://oss-fuzz.com/coverage_report/fuzzer/libFuzzer_openthread_radio-receive-done-fuzzer/2017-08-28/f/%2Fsrc%2Fopenthread%2Fsrc%2Fcore%2Fthread%2Fmle.cpp).  However

[2017-08-29 18:31] Dor1s commented on #55
That seems to be needed for issue #799. Not sure about reproducing with standalone target, but for coverage it definitely would be useful. For example, a test report for zlib contains more libFuzzer coverage data than stuff from zlib itself:

![image](https://user-images.githubusercontent.com/3372458/29837418-f14b1a90-8cac-11e7-8bb3-b9cd8fd64395.png)

Some fuzz targets have more than 32K units in

[2017-08-29 18:43] kcc commented on #55
We can also feed parts of the corpus to StandaloneFuzzTargetMain.c and then merge the results.
Or enhance StandaloneFuzzTargetMain.c

[2017-08-29 21:21] Dor1s commented on #55
I see the following benefits (all of them don't seem strong enough):
* faster and smaller coverage builds (i.e. with profiler instrumentation)
* reproducibility that is independent from libFuzzer revisions (e.g. imagine a bad revision that crashes or exits), standalone target is less fragile
* can be slightly better for debugging a single crash / issue

But I tend to Oliver's opinion that we don't

[2017-08-29 21:30] oliverchang commented on #55
Thanks for outlining these.

I would imagine the bulk of the time it takes to generate coverage would come from actually running individual inputs? there shouldn't be much (time) overhead from libFuzzer driving this right?

This complicates many things on CF end, and we would need it to support timeout and OOM detection.

Right now I'm not seeing the benefits :/ over the downsides:

- This adds 3

[2017-08-29 21:35] Dor1s commented on #55
Yes, the overheard shouldn't be significant for most of the targets.

[2017-08-29 21:37] Dor1s commented on #55
@kcc @inferno-chromium do you have any ideas why we might need a standalone build? I don't remember why Mike had created this issue in the first place...

[2017-08-29 21:59] kcc commented on #55
a standalone build is easier to reason about for anyone who is not familiar with our tools.
It's also much easier to reproduce bugs with it outside of our environment (especially if e.g. msan is involved). Since we already use different compiler flags to build for coverage, why not also link it against a different `main`?

Yes, I don't want to make this `main()` more complex because a) it will for

[2017-08-29 22:08] oliverchang commented on #55
That should be part of the upstream build system right? The proposed changes here will require interacting with our tools anyway (docker/helper etc).

Why use a more limited main when we can just use libFuzzer's? :)

This still seems unnecessarily complicated from an infra standpoint...

[2017-08-29 22:40] kcc commented on #55
Should, but we can't really enforce it.

Because it adds complexity :)
E.g. you either should not instrument it, or you should filter out the results of instrumenting it.

[2017-08-29 22:52] oliverchang commented on #55
Right, I'm just saying that this benefit (easier to reason/reproduce outside of our environment) is only there if developers use this in their upstream build system. If we're using this in our own tooling/environment (as the proposed change is about), there is little benefit in this regard (that I see).

In the standalone main's current state I'm afraid we are just shifting complexity elsewhere..

[2017-08-29 22:54] kcc commented on #55
ok. I don't insist. :)

[2017-08-30 15:46] oliverchang commented on #803
Could https://github.com/google/oss-fuzz/blob/master/docs/fuzzer_environment.md#network-access affect the coverage here?

We don't have any network interfaces available in our fuzzer environment, but this restriction will be relaxed very soon.

[2017-08-30 16:03] oliverchang commented on #786
Closing this. The container builder team knows about this issue.

[2017-08-30 16:03] #786 closed

[2017-08-30 20:20] jwhui commented on #803
I don't think so.  OpenThread's fuzz targets do not depend on having network access.

[2017-08-30 23:02] hartwork opened #806 "libexpat entropy false positive"
As requested at https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3233#c3 I'm opening this ticket here:

Makes perfect sense, the commits in range do include new sources of entropy.

We use this blacklist file for msan upstream through `-fsanitize-blacklist=$PWD/memory-sanitizer-blacklist.txt`: [memory-sanitizer-blacklist.txt](https://github.com/libexpat/libexpat/blob/master/expat/memory-sanit

[2017-08-30 23:51] kcc commented on #806
We [encourage](https://github.com/google/oss-fuzz/blob/master/docs/ideal_integration.md) the code owners to own their fuzzing code :)

[2017-08-31 02:14] kcc commented on #803
I confirm that the sample input triggers calls to `Mle::HandleUdpReceive`, and that our coverage dashboard doesn't see that. @oliverchang could you please double-check that we use the seed corpus properly?

[2017-08-31 02:19] kcc commented on #803
@jwhui there could also be some problem on your side, namely, the fuzz target seems to be non-deterministic to some extent.
E.g. if I pass the same input file 100 times, only the first 20 actually cause `Mle::HandleUdpReceive` to be called.

[code]

[2017-08-31 02:47] oliverchang commented on #803
Hmm the seed corpus is definitely merged into the main corpus:

[code]

This matches the sha1 of https://github.com/openthread/openthread/blob/master/tests/fuzz/corpora/radio-receive-done/mle-parent-request and the fuzzer logs (https://console.cloud.google.com/storage/browser/openthread-logs.clusterfuzz-external.appspot.com/libFuzzer_openthread_ip6-send-fuzzer/libfuzzer_asan_openthread/2017-08-31/

[2017-08-31 04:03] jwhui commented on #803
@kcc thanks for pointing that out.  It appears that the fuzz targets were not clearing some state, which is why only the initial iterations trigger `Mle::HandleUdpReceive`.  I'll submit a fix to OpenThread soon.

[2017-08-31 04:14] jwhui commented on #803
With my local updates, I used the docker image to validate the coverage reporting and it now shows `Mle::HandleUdpReceive` as covered.

[2017-08-31 04:32] kcc commented on #803
Cool! Add more seeds then!

[2017-08-31 04:32] #803 closed

[2017-08-31 16:13] Dor1s commented on #55
Thanks for the discussion.

I agree that we have to aggregate / process coverage stats anyway, so removing libFuzzer-related coverage wouldn't be a problem.

I'm closing this issue and abandoning my PR.

[2017-08-31 16:13] #55 closed

[2017-09-01 04:03] Dor1s opened #807 "dlplibs builds is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @dtardon

[2017-09-01 04:04] Dor1s commented on #792
Another build error now (https://oss-fuzz-build-logs.storage.googleapis.com/index.html):

[code]

[2017-09-01 04:07] Dor1s opened #808 "wget2 build is broken due to a test failure"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @rockdaboot

[2017-09-01 10:01] rockdaboot commented on #808
The 'profile' sanitizer behaves unexpected. It creates a file `default.profraw` in the current working directory (which is a temp dir for each single test).

This is something that each Wget2 test checks: there must be no unexpected files by the end of each test - and all expected files must be there with the correct content.

So, the profiling data should go somewhere else - into a well defined d

[2017-09-01 17:33] kcc opened #809 "libpng coverage dropped by 5x, and corpus got reduced"
On Aug 29 the coverage (edge/func/corpus): `34.75% (2305/6634) | 43.28% (177/409) | Coverage | 2061 (2 MB)`
On Aug 30: `3.69% (43/1166) | 20.59% (21/102) | Coverage | 16 (2 KB)`

Sounds really bad. Something probably broke in the build system. Needs investigation. Looking.

@glennrp

[2017-09-01 17:34] kcc commented on #809
See also https://github.com/glennrp/libpng/issues/170#issuecomment-326639350

[2017-09-01 17:38] kcc commented on #808
From http://clang.llvm.org/docs/SourceBasedCodeCoverage.html#running-the-instrumented-program:
When the program exits it will write a raw profile to the path specified by the LLVM_PROFILE_FILE environment variable. If that variable does not exist, the profile is written to default.profraw in the current directory of the program. If LLVM_PROFILE_FILE contains a path to a non-existent directory, the

[2017-09-01 17:41] kcc commented on #809
Or this may be caused by recent changes in `contrib/oss-fuzz/libpng_read_fuzzer.cc`

[2017-09-01 18:01] kcc commented on #809
Yes, most likely contrib/oss-fuzz/libpng_read_fuzzer.cc
https://github.com/glennrp/libpng/commit/f6ca33d42c88b7be9ea4444cbef704ad6f815536 works fine.

[2017-09-01 18:07] glennrp commented on #809
Something odd was happening yesterday.  The "Build Status" showed a red /!\ icon for libpng and a dozen or more other projects. The log did not appear to show a failure in libpng building but some failure to access one of the google/oss-fuzz hosts.  I thought I'd just wait it out for another day.

[2017-09-01 18:11] kcc commented on #809
Nope, the contrib/oss-fuzz/libpng_read_fuzzer.cc seems to be completely broken.
f6ca33d42c88b7be9ea4444cbef704ad6f815536 is the last revision that worked.
Several following revisions did not compiler, that a few crashed with a null deref on any input.
Now they work, but don't do anything useful (have very low coverage).

[2017-09-01 18:21] kcc commented on #809
Can you elaborate?

[2017-09-01 19:22] glennrp commented on #809
I looked at the "coverage" report and the fuzzer source shown was not the
current fuzzer source.

On Fri, Sep 1, 2017 at 2:21 PM, Kostya Serebryany <notifications@github.com>
wrote:

[2017-09-01 19:33] kcc commented on #809
There is 1-2 day lag, so it was probably showing a version before your recent refactoring.

Anyway, do you need help reproducing the current problem (libpng_read_fuzzer.cc not providing useful coverage)?

[2017-09-01 19:38] oliverchang commented on #809
This (https://oss-fuzz.com/coverage_report/fuzzer/libFuzzer_libpng_read_fuzzer/2017-09-01) should be up to date (up to https://github.com/glennrp/libpng/commit/84a5bf83ff7968dca31e9b32bbe7e0ebab9b724c)

[2017-09-01 20:44] oliverchang commented on #808
Confirmed build is green now after https://github.com/google/oss-fuzz/commit/4e9b30adc96329c9d6d3da69c2284830ee8a42c6. Thanks all!

[2017-09-01 20:44] #808 closed

[2017-09-02 11:20] randombit opened #811 "Performance tab reports 100% crashing fuzzers"
Checking the performance report for the Botan fuzzers, such as

https://oss-fuzz.com/v2/performance-report/libFuzzer_botan_cert/libfuzzer_asan_botan/latest

I'm told that 100% of the runs are crashing ("The fuzz target does not work and crashes instantly on startup. [...]")

But the logs the performance report links to seem to show a normal libFuzzer run, I do not see anything amiss.

[2017-09-03 14:43] hannob commented on #806
Ultimately this is a limitation of msan. I've created a minimal example and opened a bug for msan:
https://github.com/google/sanitizers/issues/852

[2017-09-04 22:57] Dor1s commented on #811
Thanks for the reporting, that is a common issue for all fuzz targets. libFuzzer output has changed since https://github.com/llvm-mirror/compiler-rt/commit/04d0769c4c9fe8e3204424cfc5368b4a78006d03, now there is no line matching the following regex:

[code]

We probably have to rely on another line as a log start.

[2017-09-04 23:49] Dor1s commented on #811
It looks like the following regex might be a good candidate:

[code]
An example of how it works when corpus is empty:
[code]

and when corpus is not empty:
[code]

I'll take another look tomorrow and upload the fix.

[2017-09-04 23:58] kcc commented on #811
woops. sorry, I did not realize you are parsing that line.
Yep, using `INITED` sgtm.

[2017-09-05 17:31] Dor1s commented on #811
Some fuzz targets are crashing before line `INITED` gets printed. It feels like we shouldn't always treat it as a `startup crash`, but OTOH, if fuzz target even cannot load the corpus, it's almost equal to crashing on a startup...

[2017-09-05 20:18] #646 closed

[2017-09-05 20:42] kcc commented on #809
@glennrp I saw more changes in libpng_read_fuzzer.cc, but they don't seem to fix the problem yet. RIght?

[2017-09-05 21:15] kcc commented on #806
See https://github.com/google/sanitizers/issues/852#issuecomment-327305535

[2017-09-05 21:43] Dor1s commented on #811
Landed a fix on ClusterFuzz side, let's see how it goes...

@kcc, we actually parse quite a lot of libFuzzer output, so any changes in there may break our stats and other features built on top of that. May I ask you please to CC me and/or other folks when there is anything being removed from the output? :)

[2017-09-05 21:45] kcc commented on #811
Sure, will try to!

[2017-09-05 22:06] glennrp commented on #809
I don't know, just waiting to see the coverage report for today.

[2017-09-05 22:27] glennrp commented on #809
Thanks for the fix to PNG_CLEANUP.

[2017-09-05 23:16] kcc commented on #809
It's not merge yet, right? https://github.com/glennrp/libpng/pull/176

[2017-09-05 23:52] glennrp commented on #809
It's merged now.

[2017-09-05 23:56] kcc commented on #809
With the above PR merged I've rebuilt the docker image and see it working nicely:

[code]

Note the `INITED` line which shows `cov: 600`. This means that running the fuzz target on all files in the libpng source tree produces 600 edges -- that's pretty good.

Here is the output if I let it run for a bit:
[code]

the coverage grows nicely, i.e. I think we have fixed it.

Let's wait for the coverage

[2017-09-06 00:12] glennrp commented on #809
Thanks.  But "BUILDS" report says libpng gets rebuild sometime around 1:00AM but doesn't say what timezone.  Is it 1:00 UTC?

[2017-09-06 01:06] kcc commented on #809
@oliverchang re the time zone

[2017-09-06 01:07] kcc commented on #809
btw, I've kicked the build manually

[2017-09-06 01:39] oliverchang commented on #809
It should be your local timezone.

[2017-09-06 01:45] oliverchang commented on #792
This is still failing. @petrhosek any chance you could take another look?

[2017-09-06 23:12] Dor1s opened #815 "Instrumentation of c-ares fuzzers"
The build is failing (https://oss-fuzz-build-logs.storage.googleapis.com/index.html) since `ares_create_query_fuzzer` has only 42 coverage edges... It might be true, but another fuzz target (`c-ares_ares_parse_reply_fuzzer`) has 697 of them. Need to take a closer look.

[2017-09-06 23:13] Dor1s commented on #807
Still broken: https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[2017-09-06 23:15] Dor1s opened #816 "Broken expat MSan build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

It is crashing all the time when testing the very first input: https://oss-fuzz.com/v2/performance-report/libFuzzer_expat_parse_UTF_8_fuzzer/libfuzzer_msan_expat/latest

[2017-09-06 23:18] Dor1s opened #817 "Broken ffmpeg build with UBSan"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:18] Dor1s opened #818 "Broken irssi build (MSan)"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:19] Dor1s opened #819 "Broken libass build (MSan)"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:20] Dor1s opened #820 "Broken libssh build (MSan)"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:21] Dor1s opened #821 "Broken libteken build (MSan)"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:23] Dor1s opened #822 "Broken libxml2 build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:24] Dor1s opened #823 "Broken llvm build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:25] Dor1s opened #824 "Broken openssl build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:25] Dor1s opened #825 "Broken pcre2 build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:27] Dor1s opened #826 "(Potentially) broken resiprocate build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

89 is so close to the threshold, need to take a closer look whether the target is so small or instrumentation flags are being handled improperly

[2017-09-06 23:29] Dor1s opened #827 "Broken wireshark build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:30] Dor1s opened #828 "Broken woff2 build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:31] Dor1s opened #829 "Broken wolfssl build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:31] Dor1s opened #830 "Broken tor build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-09-06 23:43] kcc commented on #823
That's a special case :(
The LLVM build uses fresh llvm and flags that are different from what we currently use in oss-fuzz.
(The new stuff is `-fsaintize=fuzzer`)

[2017-09-06 23:44] kcc commented on #823
Hm. Is this check failing the llvm build now? It shouldn't...

[2017-09-06 23:49] kcc opened #832 "migrate to -fsanitize=fuzzer"
libFuzzer now uses yet another flag for coverage instrumentation`-fsanitize=fuzzer`
(which is a macro for lots of things under the hood).
We need to eventually migrate the libFuzzer builds to this flag.
There is no rush, filing FTR.

[2017-09-07 01:30] kcc commented on #809
phew, the coverage has recovered:
[code]

[code]

@glennrp please take a look at the dashboard now and decide if you can add more inputs to the seed corpus.

I'm closing this bug.

[2017-09-07 01:30] #809 closed

[2017-09-07 16:34] glennrp commented on #809
I think the seed corpus is OK.  The missing coverage is more due to the fact that the target doesn't exercise the progressive reader or the encoder.  I'll see about adding code to exercise the progressive reader.

[2017-09-07 17:06] JacobBarthelmeh commented on #829
Hi Dor1s is there an action wolfSSL should take with this? What does the label buggy target mean?

[2017-09-07 20:00] Dor1s commented on #829
Hi @JacobBarthelmeh, thanks for checking. I don't think that woflSSL should do anything right now, I need to manually verify this particular issue as well as some others.

`buggy target` label means that the root cause seems to be inside of the target / project, not on OSS-Fuzz side.

[2017-09-07 20:24] Dor1s commented on #829
There is an issue when `pem_cert` fuzz target is being built with hongffuzz. When built with libFuzzer, it's absolutely fine.

[2017-09-07 20:31] Dor1s commented on #828
Issue with a honggfuzz build (the same as https://github.com/google/oss-fuzz/issues/829). I guess I should disable bad build check for non-libFuzzer builds.

[2017-09-07 21:09] Dor1s commented on #829
As honggfuzz is not fully integrated at this point, we shouldn't mark a build as broken if only honggfuzz version has some issues. Will be skipping bad build checks for honggfuzz.

[2017-09-07 21:09] #829 closed

[2017-09-07 21:09] Dor1s commented on #828
As honggfuzz is not fully integrated at this point, we shouldn't mark a build as broken if only honggfuzz version has some issues. Will be skipping bad build checks for honggfuzz.

[2017-09-07 21:09] #828 closed

[2017-09-07 21:15] JacobBarthelmeh commented on #829
Thanks for the update Dor1s.

[2017-09-07 21:27] Dor1s commented on #816
The problem is caused by https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2603

[2017-09-07 21:28] Dor1s commented on #816
Should be fixed as per https://github.com/google/oss-fuzz/commit/162064e8ff4559c4098667954f8ecab8cdf17eeb

[2017-09-07 21:28] #816 closed

[2017-09-07 21:32] Dor1s commented on #817
I think this happens due to https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2610

[2017-09-07 21:51] Dor1s commented on #818
There is a crash (https://oss-fuzz.com/v2/testcase-detail/6186977655259136) that happens all the time: https://oss-fuzz.com/v2/performance-report/libFuzzer_irssi_irssi-fuzz/libfuzzer_msan_irssi/2017-09-06

It's quite straightforward that something is not instrumented if you look at the stacktrace.

And the build script is linking a couple of libraries that are not instrumented: https://github.com/

[2017-09-07 22:09] #818 closed

[2017-09-07 22:11] kcc commented on #809
That would be awesome!

[2017-09-07 22:12] Dor1s commented on #819
The same as irssi. There is a crash (https://oss-fuzz.com/v2/testcase-detail/4690718423515136) happening all the time: https://oss-fuzz.com/v2/performance-report/libFuzzer_libass_fuzzer/libfuzzer_msan_libass/2017-09-06

And dependencies are not instrumented: https://github.com/google/oss-fuzz/blob/master/projects/libass/build.sh#L34

I'm disabling MSan for libass.

[2017-09-07 22:15] #819 closed

[2017-09-07 22:17] Dor1s commented on #820
Same as others, dependency is not instrumented: https://github.com/google/oss-fuzz/blob/master/projects/libssh/build.sh#L28

I'm disabling MSan for libass.

[2017-09-07 22:17] #820 closed

[2017-09-08 16:25] Dor1s commented on #821
This happens due to https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2602. I think I have a fix for that.

[2017-09-08 16:26] #821 closed

[2017-09-08 16:39] Dor1s commented on #822
That seems a little bit flaky, but sometimes I get the following:

[code]

@kcc, aren't you surprised? :)

[code]

[2017-09-08 16:55] kcc commented on #822
Yea, I know.
The problem is that libFuzzer tries to run lsan on some inputs (where malloc/free is unbalanced)
and those runs don't check the value of the `-runs` flag.
Probably worse fixing just to avoid confusion like yours. Otherwise not an issue.

[2017-09-08 17:57] Dor1s commented on #822
Thanks for the comment! Would you accept something like https://reviews.llvm.org/D37632?

[2017-09-08 18:01] kcc commented on #822
Yep!

[2017-09-08 19:34] Dor1s commented on #823
Just checked the most recent build: https://storage.cloud.google.com/clusterfuzz-builds/llvm/llvm-address-201709080449.zip?_ga=2.98069855.-192946872.1496676137

`sancov -print-coverage-pcs` doesn't print anything for both `clang-fuzzer` and `llvm-dwarfdump-fuzzer`.

Maybe we should wait for the next clang roll on Chromium side. There was a roll today up to https://reviews.llvm.org/rL312679, before

[2017-09-08 19:44] kcc commented on #823
Yes, see my comment above (special case).
We need
https://github.com/google/oss-fuzz/issues/832 (needs clang roll)
and
https://bugs.llvm.org/show_bug.cgi?id=34314 (needs our work)
to make it work again in oss-fuzz.

[2017-09-08 20:12] ssbr opened #837 "Run fuzz tests locally in a different $OUT than what was used to build"
See e.g. https://github.com/google/oss-fuzz/pull/731 for how this can trip us up. (I'll let someone else elaborate on the details, I'm not familiar.)

[2017-09-08 20:12] oliverchang commented on #837
Thanks for beating me to filing this issue :)

[2017-09-08 20:24] Dor1s commented on #824
Similar to issue https://github.com/google/oss-fuzz/issues/822, will get resolved soon

[2017-09-08 20:44] Dor1s commented on #825
Honggfuzz specific case, should be ignored for now

[2017-09-08 21:17] Dor1s commented on #826
Well, this one seems legit. I haven't noticed any issues with instrumentation. However, there is one more target which is even smaller:

[code]

I'm not sure that second target makes sense at all... e.g. if I instrument a dummy program like the following one:

[code]

It gives me 6 edges:

[code]

So, the second fuzz target named `aresfuzzname` is just 3.5X more complex that my useless program lis

[2017-09-08 21:25] Dor1s commented on #827
Seems to be fixed now, it was a broken revision of wireshark.

[2017-09-08 21:25] #827 closed

[2017-09-08 21:26] Dor1s commented on #830
This is a honggfuzz failure. Bad build checks for honggfuzz will be disabled since it's not fully integrated yet.

[2017-09-08 22:07] #825 closed

[2017-09-08 22:07] #830 closed

[2017-09-08 22:16] Dor1s commented on #815
Looks legit. https://github.com/c-ares/c-ares/blob/master/test/ares-test-fuzz-name.c target is simply too small.

[2017-09-08 22:43] Dor1s commented on #811
Should be fixed now: https://oss-fuzz.com/v2/performance-report/libFuzzer_botan_cert/libfuzzer_asan_botan/2017-09-06

[2017-09-08 22:43] #811 closed

[2017-09-08 22:50] kcc commented on #815
But: https://github.com/google/fuzzer-test-suite/tree/master/c-ares-CVE-2016-5180

[2017-09-08 22:52] Dor1s commented on #815
Yeah :( Should we revisit `sancov -print-coverage-pcs ./fuzzer | wc -l` threshold (currently 90) or find another workaround for tiny but legit fuzz targets?

[2017-09-08 22:53] kcc commented on #815
Maybe require a smaller number of PCs but at least two source files? (one for fuzz target, one for the library itself)

[2017-09-09 10:26] LebedevRI opened #839 "[Q] oss-fuzz/infra/base-images/ may need env variables?"
Hi.

Some time ago i have encountered this bug: https://bugs.llvm.org/show_bug.cgi?id=33548
Now, yesterday @hanatos encountered this same bug with standalone `opt-viewer`.
This did result in me providing a patch to fix the root cause upstream: https://reviews.llvm.org/D37661

But now i'm wondering, if the base dockerfile should specify proper default locales.
E.g.:
[code]

Thoughts?

[2017-09-12 15:50] Dor1s commented on #832
Should we detach from [LLVM revision pinned in Chrome](https://cs.chromium.org/chromium/src/tools/clang/scripts/update.py?type=cs&q=+tools/clang/scripts/update.py&sq=package:chromium&l=30) then?

It seems to update [every two weeks](https://chromium.googlesource.com/chromium/src/+log/85421ca0a78779eb21a885167ac56c49055e1d52/tools/clang/scripts/update.py) (on average, but not too regularly).

As an

[2017-09-12 16:06] kcc commented on #832
No strong opinion here.
If we stop using Chrome's version, then we should resume using libFuzzer and LLVM from the same revision.
We may as well just bump the revisions manually every time we need it (giving preference to Chrome's pinned revisions)

This is too fragile.

[2017-09-12 16:50] oliverchang commented on #832
Let's just keep using Chrome's LLVM revision and stop using trunk libFuzzer since the delay is only ~2 weeks.

If we need some feature/fix immediately, we can bump it ourselves as Kostya mentioned.

[2017-09-12 18:51] kcc commented on #839
I'd prefer to not overcomplicate the docker environment.
I've responded on  https://reviews.llvm.org/D37661

(please reopen if you still thing there is something to be fixed here)

[2017-09-12 18:51] #839 closed

[2017-09-12 21:52] kcc commented on #832
FTR: it should be llvm r312855 or later

[2017-09-13 12:40] LebedevRI opened #840 "OOMs issues reported from MSAN build are not so useful"
https://oss-fuzz.com/v2/testcase-detail/6122311713292288?noredirect=1
There is zero explanation, no stack trace

[2017-09-13 12:41] LebedevRI commented on #840
Probably related to #774

[2017-09-13 14:48] Dor1s commented on #840
Yes, it's the same thing. Closing as duplicate of https://github.com/google/oss-fuzz/issues/774

[2017-09-13 14:48] #840 closed

[2017-09-13 14:58] Dor1s commented on #773
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2953 and some other issues do not occur anymore. Awesome!

[2017-09-13 19:26] kcc commented on #773
There was yet another change after r310881. Cool. Let's close this and reopen if we see this again.

[2017-09-13 19:26] #773 closed

[2017-09-17 13:26] dtardon commented on #807
This looks like the OOM killer stepped in. I strongly suspect the build machine doesn't have enough memory to link 32 big executables in parallel .-) In that case https://github.com/google/oss-fuzz/pull/845 should help.

[2017-09-17 15:40] gjasny commented on #826
Hello,

the currently activated fuzzing targets in resiprocate just cover the embedded ares library. Those tests are copied / inspired by the [c-ares](https://github.com/c-ares/c-ares) projects fuzz targets. The fuzz-name test could be found [here](https://github.com/c-ares/c-ares/blob/master/test/ares-test-fuzz-name.c). Extending the ares might be possible, but as a first step, combining the exis

[2017-09-17 19:56] #807 closed

[2017-09-18 15:26] Dor1s commented on #826
Thanks for taking a look! Let's wait for your PR to land.

[2017-09-19 21:45] Dor1s commented on #832
r313222 has been rolled 4 days ago.

[2017-09-19 22:11] #822 closed

[2017-09-19 22:11] #824 closed

[2017-09-20 07:55] cmeister2 opened #848 "Coverage builds"
Are coverage builds still working?

For libcurl we used to get a summary of how much coverage the fuzzers were providing, plus a link to download the test corpus. We haven't had these links in the dashboard for about 2 weeks.

[2017-09-20 15:02] Dor1s commented on #848
Indeed: https://oss-fuzz.com/v2/fuzzer-stats/by-day/2017-08-23/2017-09-19/fuzzer/libFuzzer_curl_fuzzer/job/libfuzzer_asan_curl

@oliverchang, can it be related to recent changes on trusted / untrusted stuff?

[2017-09-20 18:05] oliverchang commented on #848
It looks like this is working again (results will show up in a few hours).

We did notice a bunch of issues with curl fuzzers in the past week or so (they seemed to be creating a lot of junk files), but they seem to have stopped happening for now. I haven't had a chance to look into them yet, but were there any fixes done to the target?

[2017-09-20 19:13] cmeister2 commented on #848
I changed a few things recently:

- https://github.com/curl/curl/pull/1885 stopped the fuzzer from writing to stdout
- https://github.com/curl/curl/pull/1881 changed the behaviour of the fuzzer so that the generated corpora should be better (by changing some behaviour to be invalid).

Possibly one of those affected it?

[2017-09-21 09:25] caolanm opened #849 "fuzzer stats report "b.split is not a function""
If I try and expore the fuzzer stats I get an error "b.split is not a function", e.g. from

https://oss-fuzz.com/v2/fuzzer-stats/by-day/2017-09-14/2017-09-15/fuzzer/libFuzzer_libreoffice_xpmfuzzer/job/libfuzzer_asan_libreoffice

and press submit, I get "b.split is not a function"

[2017-09-21 14:21] inferno-chromium commented on #849
It loads fine for me, can you retry once just to double check.

[2017-09-21 14:45] oliverchang commented on #849
Which browser are you using?

[2017-09-21 18:29] oliverchang opened #850 "coverage report isn't getting the right revisions for sources"
From https://github.com/glennrp/libpng/commit/04e16d28176b10abe4cb6e215802c2c39e45dea4#commitcomment-24467984

The numbers etc on fuzzer stats are correct, just that our source fetcher isn't getting the right revisions.

[2017-09-21 21:17] oliverchang commented on #850
This is done for GitHub, but other VCS viewers will also need fixing.

[2017-09-22 01:49] oliverchang commented on #850
should be all fixed now.

[2017-09-22 01:49] #850 closed

[2017-09-22 13:14] inferno-chromium commented on #849
@tanin47 - could this be a polymer v2 issue in firefox, can you check other CF pages as well.

[2017-09-22 16:21] oliverchang commented on #848
It looks like we have proper stats for the past 2 days: https://oss-fuzz.com/v2/fuzzer-stats/by-day/2017-09-14/2017-09-21/fuzzer/libFuzzer_curl_fuzzer/job/libfuzzer_asan_curl

Closing this for now, it's that something broken in the target was recently fixed.

[2017-09-22 16:21] #848 closed

[2017-09-25 15:44] oliverchang opened #856 "brotli build is failing"
https://oss-fuzz-build-logs.storage.googleapis.com/log-b21b2bf1-fbba-41de-8d77-707b3b4a7654.txt

[code]

[2017-09-25 15:45] oliverchang commented on #856
@eustas, mind taking a look?

[2017-09-25 15:49] oliverchang opened #857 "libidn and libpsl build failing"
https://oss-fuzz-build-logs.storage.googleapis.com/log-dc1de3d6-1f7f-4af6-a337-a9cab7e73454.txt

[code]

@rockdaboot could you please take a look?

[2017-09-25 15:51] oliverchang commented on #857
Also seeing a very similar failure for libpsl: https://oss-fuzz-build-logs.storage.googleapis.com/log-8e29de20-b393-4f32-a417-546aff9eee35.txt

[2017-09-25 15:53] oliverchang opened #858 "nss build failing"
See: https://oss-fuzz-build-logs.storage.googleapis.com/log-8e29de20-b393-4f32-a417-546aff9eee35.txt

[code]

@ttaubert mind taking a look?

[2017-09-25 15:54] oliverchang opened #859 "tpm2 build failing"
https://oss-fuzz-build-logs.storage.googleapis.com/log-e9fca981-3b06-431f-ae06-376dadede5be.txt

[code]

@ngm0 could you please take a look?

[2017-09-25 16:05] eustas commented on #856
Sure.
I know what the problem is. Now static and shared libraries are build at the same time.
Static libraries has the suffix `_static`... Going to fix the build as soon as get my hands over the laptop (~2-3h)

[2017-09-25 19:22] rockdaboot commented on #857
That's gnulib code suddenly not working any more !? The environment must have been changed... I have a closer look tomorrow with a better network bandwidth.

[2017-09-26 08:09] ttaubert commented on #858
We didn't touch that code in a while. Was clang updated recently? Also, the attached log doesn't seem to contain the above snippet... looks like it's an ICU rather than an NSS build.

[2017-09-26 10:54] rockdaboot commented on #857
Looks like a clang regression. Those files from libidn/gnulib check the compilers correct behavior / capabilities. And they didn't change at least since Jan 4th 2016. They work on all clang and gcc versions I know of (expect some very old ones - documented in those files).

[2017-09-26 15:33] oliverchang commented on #856
Looks fixed now. Thanks!

[2017-09-26 15:33] #856 closed

[2017-09-26 15:46] oliverchang commented on #858
Sorry, mispaste. Here is the correct log: https://oss-fuzz-build-logs.storage.googleapis.com/log-9242d45d-a57b-44bb-920a-a7f0e310361f.txt

We do regularly update our clang version, so this may be a new warning/error that was introduced. Would this be easy to fix?

[2017-09-26 18:28] Dor1s commented on #792
Any progress here?

The build is still failing: https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Should we disable it for now?

[2017-09-26 23:00] morehouse commented on #774
Are you suggesting we check the RSS at some point in the libFuzzer startup and try to guess from that whether we have UBSan instrumentation or not?  This seems prone to breakage.

We should be able to handle OOMs caused by `new` by setting a custom terminate handler to check for `std::bad_alloc`.

[2017-09-27 02:59] kcc opened #862 "fuzz more of boost on oss-fuzz"
@meetingcpp: @vinniefalco told me about https://www.meetingcpp.com/blog/items/fuzzing-beast.html
Would you be interested in fuzzing beast (or any other part of boost) on [OSS-Fuzz](https://github.com/google/oss-fuzz)?

I've already set up [fuzzing for boost::regex](https://github.com/google/oss-fuzz/tree/master/projects/boost) and I am looking for someone to own and fix 8 bugs it found. If you kno

[2017-09-27 03:48] vinniefalco commented on #862
Beast tests have a "naive fuzz" implementation:
https://github.com/boostorg/beast/blob/0f5ea371c18a6797f4623a61f159326428c01400/test/extras/include/boost/beast/test/fuzz.hpp#L42

Usage:
https://github.com/boostorg/beast/blob/0f5ea371c18a6797f4623a61f159326428c01400/test/beast/http/basic_parser.cpp#L1130

[2017-09-27 03:57] kcc commented on #862
@vinniefalco , if I read this right, you are doing generation-based fuzzing, w/o coverage feedback.
In our experience coverage-guided fuzzing is many orders of magnitude more efficient.
The blog post above uses libFuzzer, which is coverage-guided.

[2017-09-27 04:02] vinniefalco commented on #862
Yes and yes. However, this is not completely useless since it requires no external tooling and is implemented entirely in C++ with the existing test code. It is not meant to be exhaustive but merely to provide a possible early warning if a regression is introduced.

[2017-09-27 04:08] kcc commented on #862
Sure. But we can use this on OSS-Fuzz.

[2017-09-27 08:51] ttaubert commented on #858
Yeah, that should be very easy to fix. Working on a patch.

[2017-09-27 09:49] ttaubert commented on #858
Should be fixed by cset [2564805e0d53](https://hg.mozilla.org/projects/nss/rev/2564805e0d53).

[2017-09-27 12:04] LebedevRI opened #863 "Possibly better handling of MSAN reports"
I may be completely wrong here, but i'm under the impression that currently the reports
from memory sanitizer are deduplicated by the "Crash State", and then reported, correct?

Consider the following pseudo-code:
[code]
There are two distinct problems, but currently i believe oss-fuzz would only report one,
and only after it is fixed, report the second-one.

[2017-09-27 14:18] inferno-chromium opened #864 "Add protobuf fuzzer support to OSS-Fuzz"

[2017-09-27 14:26] Dor1s commented on #863
Why are there two distinct problems? It looks like `buf` is not initialized, that's it. What else?

[2017-09-27 14:27] kcc commented on #774
VSZ -- yes, RSS --no.
ASAN uses 20Tb of VSZ, and MSAN more than that. So such check would be pretty reliable.
If VSZ at startup is less than e.g. 1Gb we can safely assume that there is no asan and libFuzzer can use setrlimit(AS)

I'm not sure how bad_alloc will help us. setrlimit should be enough.

[2017-09-27 14:31] LebedevRI commented on #863
This is just a dumb example to show the problem :)
The `f0` / `f1` are supposed to fully populate the buffer.

In the real code the `buf` is some image, which definitively should _not_ be pre-initialized,
and the functions absolutely should correctly fully fill it.

This is a real problem i'm having (well, finding/fixing) in the [rawspeed](https://github.com/google/oss-fuzz/blob/master/projects/li

[2017-09-27 14:57] Dor1s commented on #863
But how do you want to deduplicate those cases if the use-of-uninitialized-value happens outside of `f0` / `f1`?

[2017-09-27 16:22] oliverchang commented on #863
I'm not sure if there's anything we can do here to catch this case as distinct reports -- it seems to me that this is not feasible.

I'm going to say this is WAI, but happy to discuss more if you have any suggestions though.

[2017-09-27 16:39] LebedevRI commented on #863
By comparing the sets of Features each of the crash testcase triggers.
But i agree that there are likely cases where it would erroneously detect the same problem as multiple.

[2017-09-27 16:44] Dor1s opened #865 "ffmpeg build is broken"
[code]

[2017-09-27 16:46] Dor1s commented on #865
Need to fix `ADD https://sourceforge.net/projects/lame/files/latest/download lame.tar.gz` in https://github.com/google/oss-fuzz/blob/master/projects/ffmpeg/Dockerfile#L31

[2017-09-27 16:47] Dor1s commented on #865
Or we may wait a little bit:

[code]

[2017-09-27 16:48] oliverchang commented on #858
Yep, latest build succeeded. Thanks a lot for fixing!

[2017-09-27 16:48] #858 closed

[2017-09-27 17:15] morehouse commented on #774
The problem is that the signal we get from OOM (typically SIGABRT) contains no indication as to what caused the signal.  We could call `GetPeakRSSMb` in the sig handler, but since the memory allocation just failed, the peak RSS will be less than the limit we set, so we won't be able to tell if we failed due to OOM or some other reason.  If we see a `bad_alloc` exception, then we will know that the

[2017-09-27 20:59] Dor1s opened #866 "Weird coverage report for libpng"
I've tried to use https://clang.llvm.org/docs/SourceBasedCodeCoverage.html for libpng, the result looks weird.

[libpng_coverage_report.zip](https://github.com/google/oss-fuzz/files/1338689/libpng_coverage_report.zip)
[build_log.txt](https://github.com/google/oss-fuzz/files/1338690/build_log.txt)

I believe that I've built everything properly (the build log attached), but there are some confusing

[2017-09-27 21:00] Dor1s commented on #866
I guess it might be caused by behavior described in #854

[2017-09-27 23:12] glennrp commented on #866
See libpng commit 0512c63533d20634bad25f133f3094abbae7cda3
which reverts the fuzzer back to a version that did not exhibit the problem.

[2017-09-28 01:01] kcc commented on #862
@jzmaddock for boost::regex bugs

[2017-09-28 16:12] kcc commented on #774
bad_alloc won't help in many cases (e.g. for all C targets). Besides, using bad_alloc means that it will collide with the user's bad_alloc. I would still try to do this w/o relying on bad alloc.

[2017-09-28 22:36] glennrp commented on #866
As far as I can tell, this problem was due to the placement of a call to png_read_update_info() ahead of png_set_interlace_handling(), in libpng_read_fuzzer.cc

[2017-09-28 22:43] glennrp commented on #849
I'm seeing this with firefox "nightly" (58.0a1 (2017-09-26) (64-bit)), when looking at the libpng project reports.

[2017-09-29 07:06] dtardon commented on #747
"Excessive logging" sounds like each run printed thousands of lines, not a single number... Anyway, it should be gone now.

[2017-09-29 14:30] rockdaboot commented on #857
@oliverchang Anything new regarding the clang regression ?

[2017-09-29 16:31] inferno-chromium commented on #849
@tanin47 - do you have any time today to look into this ?

I see another issue with loading oss-fuzz.com/any other page in firefox. the left panel sticks for some time before it vanishes after a click.

[2017-09-29 16:50] inferno-chromium commented on #747
@dtardon - can look at the performance reports tomorrow and confirm that logging issue is gone after your changes. Then we can mark this as fixed.

[2017-09-29 16:53] Dor1s opened #868 "Performance reports links to log examples are not always correct"
Not sure when it started to happen, but e.g.

`https://pantheon.corp.google.com/storage/browser/dlplibs-logs.clusterfuzz-external.appspot.com/libFuzzer_dlplibs_superpaintfuzzer/libfuzzer_asan_dlplibs/2017-09-28/07:31:38:006928.txt`

doesn't exist, though there is `07:31:39:564132.txt` that looks related to the issue.

[2017-09-29 18:38] tanin47 commented on #849
I'm seeing:

[code]

on Firefox. I'll find a way to fix it.

[2017-09-29 21:36] tanin47 commented on #849
For some reason, Firefox works with https://www.gstatic.com/charts/45/loader.js ... but not https://www.gstatic.com/charts/45.2/loader.js

As a quick fix, I'll freeze the version of Google's chart to 45.

Somehow, 45.2 is working on JSFiddle (https://jsfiddle.net/kLe5g15h/). I don't know why.

[2017-09-29 22:24] tanin47 commented on #849
It works on firefox now. Please re-open if it doesn't. Thank you for reporting this.

[2017-09-29 22:24] #849 closed

[2017-09-30 20:17] terrelln opened #870 "Ignore email case sensitivity."
The message is "You (email=NickRTerrell@gmail.com) are not authorized to access this page!", even though I'm the primary contact.

[2017-09-30 20:41] kcc commented on #870
@oliverchang can we do lower-casing automatically?

[2017-09-30 20:42] kcc commented on #870
Ah, that's the other way around? the e-mail needed to be in CamelCase?

[2017-09-30 20:45] oliverchang commented on #870
@terrelln please try again, i've fixe the casing of your email in project.yaml

@kcc I'll take a look next week, but I'm not sure if it's correct to assume emails are case insensitive.

[2017-09-30 21:14] terrelln commented on #870
@oliverchang Thanks! AFAIK all gmail addresses are case insensitive, I didn't even know my email had uppercase letters.

[2017-10-01 07:08] dtardon commented on #747
@inferno-chromium: I can get to the "Fuzzer Performance Report" page when I use chromium, but I don't see any log when I click on any of the "log examples" links...

[2017-10-01 17:03] inferno-chromium opened #871 "Some links in performance report are not working"
E.g. https://oss-fuzz.com/v2/performance-report/libFuzzer_dlplibs_macpaintfuzzer/libfuzzer_asan_dlplibs/latest

Links in logging section like https://oss-fuzz.com/gcsviewer?path=%2Fdlplibs-logs.clusterfuzz-external.appspot.com%2FlibFuzzer_dlplibs_abwfuzzer%2Flibfuzzer_asan_dlplibs%2F2017-09-30%2F06%3A44%3A47%3A024657.txt don't work

[2017-10-01 17:03] inferno-chromium commented on #871
See in #747.

[2017-10-01 17:04] inferno-chromium commented on #747
@dtardon - reported the issue you seen in #871. For many of the fuzz targets this is now fixed, so closing this. I think i only see it in https://oss-fuzz.com/v2/performance-report/libFuzzer_dlplibs_abwfuzzer/libfuzzer_asan_dlplibs/latest

[2017-10-01 17:04] #747 closed

[2017-10-01 17:05] inferno-chromium commented on #871
Duplicate of #868, closing.

[2017-10-01 17:05] #871 closed

[2017-10-01 19:06] Dor1s commented on #868
Surprisingly, I've never seen that issue on internal ClusterFuzz. Will investigate and fix later this week.

[2017-10-01 19:26] cmeister2 opened #872 "Leaks not raised as issues?"
Over the last couple of days curl has had a few testcases generated which cause memory leaks, but oss-fuzz didn't raise an issue (they're present on the dashboard though)

For example, this log file shows the leak: https://storage.cloud.google.com/curl-logs.clusterfuzz-external.appspot.com/libFuzzer_curl_fuzzer/libfuzzer_asan_curl/2017-09-30/00%3A04%3A06%3A471676.txt

I noticed this separately and

[2017-10-01 20:09] inferno-chromium commented on #872
No bugs get autofiled, so dashboard does not need monitoring. I see https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3513 issue filed, fixed and closed and i see daniel.haxx@gmail.com, daniel@haxx.se and cmeister2@gmail.com being cced. That bug matches the leak link you gave. Is there any other leak you want us to look.
--

[2017-10-01 20:12] cmeister2 commented on #872
There were two bugs in the same area of code - the first got fixed as 3513, the second was still open. The first was in a strdup of two strings, the second was a leak in sanitize_cookie_path.

[2017-10-01 23:02] inferno-chromium commented on #872
So, looking at dashboard - https://oss-fuzz.com/v2/testcases?open=yes&project=curl, i don't see any other bugs open, so it means that fuzz target is not hitting the second bug. are you hitting that bug locally ? do you have log link that points to the second bug.

[2017-10-01 23:05] cmeister2 commented on #872
There's a link in the issue: https://storage.cloud.google.com/curl-logs.clusterfuzz-external.appspot.com/libFuzzer_curl_fuzzer/libfuzzer_asan_curl/2017-09-30/00%3A04%3A06%3A471676.txt

The log:

[code]

[2017-10-01 23:34] Dor1s commented on #872
There are some leaks found on Crash Stats page: https://oss-fuzz.com/v2/crash-stats?block=day&days=7&end=418583&group=platform&number=count&q=curl&sort=total_count

All of them are marked as non reproducible, i.e. we cannot find a single testcase that would reliably reproduce it. We do file such issues as well, but first we need to see the same issue happening 14 days in a row. Those new leaks a f

[2017-10-02 00:15] inferno-chromium commented on #872
That stacktrace you pointed is a reproducible bug detected in https://oss-fuzz.com/v2/testcase-detail/5271812776656896. It was grouped with the other issue's testcase due to crash state similarity. It is now detected as fixed. It was not filed separately since it was part of testcase group. How we work in that case is we wait for one testcase in group to get fixed, then if the second one is still

[2017-10-02 04:44] inferno-chromium commented on #751
@robryk @ssbr - friendly ping.

[2017-10-02 04:59] inferno-chromium opened #874 "Curl stacktrace sources are not hyperlinked and regression range does not curl range"
E.g. https://oss-fuzz.com/v2/testcase-detail/6635070158798848

I think this broke after https://github.com/google/oss-fuzz/commit/bf16050624e88ae1c2428a9a1cdfc13adf306b43#diff-8ffe952a5990a2786089b4096b8df01c

Sources should be in /src/curl and fuzzer can checked into /src/curl_fuzzer, so that source lines in stacktraces use that path. @cmeister2 - can you please fix that.

@oliverchang - is the a

[2017-10-02 05:01] inferno-chromium commented on #874
Even regression range is broken. It does not have the curl regression range.

Previously it worked fine, e.g. https://oss-fuzz.com/v2/testcase-detail/5578413563707392

[2017-10-02 06:50] cmeister2 commented on #872
Ok, all sounds reasonable. I'll close this now.

[2017-10-02 06:50] #872 closed

[2017-10-02 06:51] cmeister2 commented on #874
I will fix up today. I may move more of the build logic to the curl-fuzzer project while I'm at it so that we can fix things without PRs here.

[2017-10-02 14:47] #874 closed

[2017-10-02 21:18] oliverchang commented on #857
Sorry for the delayed reply.

I'm not 100% sure but searching around it may be fixed in https://reviews.llvm.org/D38109.

We depend on Chromium's clang revision (https://cs.chromium.org/chromium/src/tools/clang/scripts/update.py?q=clang+update.py&sq=package:chromium&dr=CSs&l=30), which should get a roll past the fix soon. Let's wait for that.

[2017-10-03 09:25] cmeister2 opened #876 "Coverage figures not using seed corpus?"
Overnight the curl coverage went from 47% to 16%, and the corpus was reduced to 471 cases.

The seed corpus provided with curl currently provides coverage of:
[code]
using the ./codecoverage.sh script (CI logs available [here](https://s3.amazonaws.com/archive.travis-ci.org/jobs/282150986/log.txt?X-Amz-Expires=30&X-Amz-Date=20171003T092330Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYR

[2017-10-03 09:27] cmeister2 commented on #876
(I did check in a new version of the fuzzer recently, but I hope this hasn't regressed behaviour too much)

[2017-10-03 14:49] Dor1s commented on #876
Hm, that doesn't look good. Thanks for noticing. Fortunately, I don't see that issue for other fuzz targets. Will investigate what's going on. //cc @oliverchang

[2017-10-03 14:53] cmeister2 commented on #876
In case it's relevant I checked in https://github.com/curl/curl-fuzzer/commit/f01335b43a0f7b6320820080cb7e0207eff8ac82 this morning which fixed up AFL mode (now it has inputs when starting to run tests). The zip process didn't put the test cases at the root of the zip file, but now they do.

I retried the "coverage" command after this fix, but it didn't improve the coverage report after the 60s of

[2017-10-03 15:10] Dor1s commented on #876
That should not be relevant. For coverage report, we use the corpus generated over time and stored in the GCS.

[2017-10-03 15:33] Dor1s commented on #876
Did the fuzz target change recently? e.g. compare

https://oss-fuzz.com/coverage_report/fuzzer/libFuzzer_curl_fuzzer/2017-10-01/f/%2Ftmp%2Fcurl_fuzzer%2Fcurl_fuzzer.cc

and

https://oss-fuzz.com/coverage_report/fuzzer/libFuzzer_curl_fuzzer/2017-10-02/f/%2Ftmp%2Fcurl_fuzzer%2Fcurl_fuzzer.cc

[2017-10-03 15:42] cmeister2 commented on #876
Yes, it did change (as per https://github.com/google/oss-fuzz/issues/876#issuecomment-333788587). The new code is a little more complex, but it doesn't invalidate the seed corpus test cases.

[2017-10-03 15:56] cmeister2 commented on #876
(as evidenced by the fact that the https://travis-ci.org/curl/curl-fuzzer codecoverage matrix case is passing and generating coverage)

[2017-10-04 17:02] cmeister2 commented on #876
The plot thickens - I don't think it's anything on your end. After switching our coverage tools to using the same options we were giving to oss-fuzz, I see a similar drop in coverage. Which is completely bizarre! Log file: https://s3.amazonaws.com/archive.travis-ci.org/jobs/283251169/log.txt?X-Amz-Expires=30&X-Amz-Date=20171004T170049Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSV

[2017-10-04 17:05] Dor1s commented on #876
Thanks for the update @cmeister2 !

Let's close this since it's not an issue on OSS-Fuzz side.

[2017-10-04 17:05] #876 closed

[2017-10-05 12:55] ssbr commented on #751
(Just an fyi i have nothing to do with this one!)

[2017-10-05 14:12] caolanm opened #877 "failed build logs seem out of date"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html lists LibreOffice build as "failed" and Last built 29/9/2017, 06:11:48 with git revision 25cd067a82742210793e39708cc1de9ff84692a7 of libreoffice.

But I've definitely fixed that with https://cgit.freedesktop.org/libreoffice/core/commit/?id=fc67b4476c9cdaa01c6ea008be592ff08731d1b1 and oss-fuzz has sent reports that various bugs have been

[2017-10-06 05:18] oliverchang commented on #877
It looks like the build is timing out and our builds status page didn't correctly account for that. It should be fixed shortly.

Even though the build timed out, some build configurations still succeeded and got uploaded.

I've also increased the build time limit from 4 hours to 6 hours to see if this resolves the libreoffice build.

[2017-10-06 10:26] mechtaev opened #879 "Accessing testcases for bugs that exceeded the disclosure deadline"
Hi,

I am doing research on software bugs and vulnerabilities and I would like to obtain data from OSS-Fuzz for experimentation. I noticed that some data (including bugs that exceeded the disclosure deadline) is not available. Is it possible to get access to this data?

More specifically, I tried this issue: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=1424

This bug has the status `Deadl

[2017-10-06 10:44] LebedevRI commented on #863
Another idea. Please compare these two issues:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3531
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3497

The Stacktraces specified in "Uninitialized value was created by a heap allocation" differ.
So perhaps accounting for that while deduplicating could work?

That wouldn't help with the case i presented in the first comment here, obviou

[2017-10-06 14:47] Dor1s commented on #863
Do you want these two bugs be filed as a single one? I think it would be so, but the second bug got fixed before the first got filed, this is why those are reporter separately. //cc @inferno-chromium

[2017-10-06 14:51] LebedevRI commented on #863
No, exactly the opposite.

So far, there is exactly one of these bugs open at any point in time.
I fix the open issue, it is auto-closed, and the new issue is reported after that/
Thus i think they are being deduplicated, hiding different issues.

Thus i'm bringing up the issue, that deduplication is not ideal.

[2017-10-06 15:00] LebedevRI commented on #863
No, exactly the opposite.

That is exactly the problem.

So far, there is exactly one of these bugs open at any point in time.
I fix the open issue, it is auto-closed, and the new issue is reported after that.
Thus i think they are being deduplicated, hiding different issues.

Thus i'm bringing up the issue, that deduplication is not ideal.

[2017-10-06 15:28] oliverchang commented on #879
Hi, that bug report should have been duped in to https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=1426. You may download the testcase through that issue instead.

We don't treat bugs that exceeded the deadline any differently when it comes to making testcases public.

[2017-10-06 15:28] #879 closed

[2017-10-10 19:29] oliverchang commented on #857
The chromium roll is taking longer than expected, so I'll try a manual roll later today.

[2017-10-10 19:38] oliverchang commented on #870
OK, it looks like it's safe to do case insensitive matches on our side. I'll take this.

[2017-10-11 01:08] kcc opened #883 "add the target name to the bug subject line"
Right now subjects in our bug reports look like this:
[code]
E.g. the subject in [3137](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3137) looks like
[code]

Can we add the target name to the subject? In this case, it could look like this:
[code]
I've been just asked about this on the LLVM dev mailing list.
Sounds like an improvement.

Reasons why we may not want to do this:
* this will b

[2017-10-11 02:51] bogner commented on #883
+1. This makes the subjects more useful and makes good email filters trivial to set up. Long target names might be a problem, but I suspect they're unusual enough to not be too worrying.

[2017-10-11 08:32] rockdaboot opened #884 "flag provided but not defined: -console"
First of all, the log size seems to be limited again (we had that before). That prevents me to see the actual error for gnutls which currently doesn't build.

So I tried to build/run locally without success:
[code]

This is on up-to-date Debian unstable. I can't say if this a Debian issue or an incompatibility with newer docker/runc versions. Do you know any way to work-around this issue ?

[2017-10-11 14:59] LebedevRI commented on #863
Any thoughts on this? Or would taking the allocation trace into account result in too many duplicates too?

[2017-10-11 15:16] oliverchang commented on #883
This sounds reasonable to me.

[2017-10-11 16:37] Dor1s commented on #883
Sounds good for OSS-Fuzz, but not sure about internal CF.

[2017-10-11 16:40] Dor1s commented on #863
That sounds like a potential improvement. Not a priority right now, but let's keep the issue open. Thanks!

[2017-10-11 19:42] oliverchang commented on #857
Looks like this no longer happens after the roll.

[2017-10-11 19:42] #857 closed

[2017-10-11 23:28] oliverchang commented on #884
I'm afraid I can't reproduce this issue.

That said, the gnutls build actually succeeded. The log truncation issue caused us to mark it as failed on https://oss-fuzz-build-logs.storage.googleapis.com/index.html (this is a Container Builder bug). I've added a hacky workaround to prevent such builds from being marked as failed in the future.

[2017-10-12 07:41] rockdaboot commented on #884
Sounds good, thanks !

[2017-10-12 07:41] #884 closed

[2017-10-12 15:26] cmeister2 commented on #868
I was going to come and raise this bug too. I don't think the log examples have ever been right for curl.

[2017-10-12 15:52] Dor1s commented on #868
Ok, I'm on it.

[2017-10-12 16:13] Dor1s commented on #868
Oliver has uploaded a fix for that. It wouldn't fix the logs uploaded until now (anyway those logs get deleted in 2 weeks), but the new ones should be linked properly starting tomorrow. Sorry for the inconveniences.

[2017-10-12 23:20] #790 closed

[2017-10-13 05:09] kcc opened #889 "enable ubsan and msan for llvm"
I've tried enabling ubsan but the build failed with this:
[code]

[2017-10-13 16:23] kcc opened #890 "some bug reports don't have the project name in the title"
See e.g. https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3629
The title is `ASSERT: Offset <= INT_MAX && "Offset too big to fit in int."`
while it should be `llvm: ASSERT: Offset <= INT_MAX && "Offset too big to fit in int."`

[2017-10-13 16:31] oliverchang commented on #890
Thanks, I'll fix this together with #883.

[2017-10-13 19:15] oliverchang commented on #890
Should be fixed now.

[2017-10-13 19:15] #890 closed

[2017-10-13 19:15] oliverchang commented on #883
This is done. See https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3636 for an example.

[2017-10-13 19:15] #883 closed

[2017-10-13 22:17] kcc opened #891 "don't use clang coverage and sancov together"
I've noticed that the current llvm build is broken:
[code]

It might be unrelated but I noticed that the flags are ` -fprofile-instr-generate -fcoverage-mapping -fsanitize-coverage=trace-pc-guard,trace-cmp` which is unlikely what we want.
If we want a clang coverage here we should remove `fsanitize-coverage`, or at least add `-fsanitize-coverage=0`

[2017-10-13 22:24] oliverchang commented on #891
(@Dor1s fyi)

[2017-10-13 22:50] kcc opened #892 ""Merging new testcases timed out:""
I'm looking at the llvm run logs:
e.g.
gs://llvm-logs.clusterfuzz-external.appspot.com/libFuzzer_llvm_clang-proto-fuzzer/libfuzzer_asan_llvm/2017-10-13/03:00:09:158440.txt

It's last line is a cryptic
[code]

Should I worry about this?

[2017-10-13 23:44] Dor1s commented on #891
Oh, thanks! We also still use both flags in Chromium. I wanted to remove sancov from clang coverage configuration, but Abhishek convinced me that it might be useful to be able to fuzz with coverage build, e.g. when you have new target and no corpus.

[2017-10-13 23:46] Dor1s commented on #891
It doesn't apply to OSS-Fuzz though, so here I clearly forgot about sancov, thanks for noticing and fixing!

[2017-10-14 00:16] oliverchang commented on #892
That means that when we are merging new units back into the main corpus, it took more than our timeout (from memory 5 minutes). I can take a closer look next week.

[2017-10-14 00:18] kcc commented on #892
I.e. I do need to worry. :(
This target is particularly slow, so a timeout is not unexpected.

[2017-10-16 16:49] oliverchang commented on #892
It looks like the majority of merges are failing for this target. Some are still succeeding, and the current corpus size is around 11k files. @Dor1s is this something that would've been caught with performance analyzer?

We can try to increase the timeout (it's actually 10 minutes right now), but does merge ever write partial results? or does it only write any files at the very end?

[2017-10-16 17:27] kcc commented on #892
Can we start from exposing the merge logs so that I can see when exactly it fails?

[2017-10-16 17:33] oliverchang commented on #892
Sure, we had some issues before with the merge logs being too large so we removed it, but now we have support for truncating logs so this should be doable.

[2017-10-16 17:40] kcc commented on #892
Also, may I ask you to increase the timeout to 30 minutes, at least temporary.

[2017-10-16 19:41] Dor1s commented on #892
Performance analyzer reports `coverage` issue since number of new units added appears to be 0, but it doesn't process `Merging new testcases timed out:` error in any special way. I think we might want catching stuff like that via notifications, as it seems to be an issue on our side rather than fuzz target problem?

Also, there are some other issues with our logging :(

e.g. the following log: htt

[2017-10-16 19:44] Dor1s commented on #868
Now it works properly (for recent reports, not for the old ones), thanks everyone.

[2017-10-16 19:44] #868 closed

[2017-10-16 21:41] oliverchang commented on #892
Timeout has been increased to 30 minutes, and any errors during merge should now be printed.

[2017-10-16 21:42] #891 closed

[2017-10-17 15:15] caolanm commented on #877
This all seems to work fine for me now

[2017-10-17 15:15] #877 closed

[2017-10-17 15:25] caolanm opened #895 "old "flaky" oom no longer seen for a week, but issue open"
So, https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3009 was reported in August, but now hasn't been seen for over a week according to the stats at https://oss-fuzz.com/v2/testcase-detail/5660564107821056

But text states, "If the fix resolved the issue, please close the bug by marking as Fixed." I assume I don't have the privileges to do this (?), so if there another mechanism to trigger th

[2017-10-17 16:11] Dor1s commented on #895
Good point. @oliverchang, should we remove this part of the comment ("Please close the bug...") for OSS-Fuzz? or re-phrase it like "Please leave a comment ..."?

[2017-10-17 16:25] dtardon opened #896 "a way to shift the blame/responsibility for an issue"
The fuzzers occasionally find a problem in a library one's project uses. E.g., for dlplibs, there have been https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=1021 (libxml2) or https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=2894 (Boost.Spirit). I fixed both of these myself, because they were rather simple cases, but I don't think this works well in general. Also, the fixes won't become v

[2017-10-17 17:43] oliverchang commented on #895
This will get autoclosed in 14 days after it stops happening.

I think we should just remove the "Please close the bug" part of the comment. It's easy for us to miss comments left by people on monorail bugs.

[2017-10-17 18:04] oliverchang commented on #892
Still seeing timeouts even with 30 minute merge timeout :(

e.g. gs://llvm-logs.clusterfuzz-external.appspot.com/libFuzzer_llvm_clang-proto-fuzzer/libfuzzer_asan_llvm/2017-10-17/18:02:47:401433.txt

[code]

[2017-10-17 18:16] kcc commented on #896
That's a very good point, and you are not the only one who has such problems (@rouault deals with other projects regularly).

Unfortunately, it's not easy if the project where the bug is found does not participate in OSS-Fuzz.
In your example:
* libxml2: we have it here, but the upstream doesn't really support it.
* Boost.Spirit: we've just started fuzzing some other part of boost (regex) and so f

[2017-10-17 18:19] kcc commented on #892
Yep. This target is both very large and very slow -- we'll  hit all kinds of scalability troubles with it.

But here, why do we have this? `46212 files, 44212 in the initial corpus`

Is it possible to include the merge command into the log?

[2017-10-17 18:25] oliverchang commented on #892
If that helps, sure.

Does it make sense for merge to write partial results though, even if the process is killed before it finishes?

[2017-10-17 18:36] kcc commented on #892
In general -- maybe, but in this case it won't help.
We have a large initial corpus (44212 files) and a small extra corpus (200 files).
The merge first tries to read & execute the corpus and times out while doing that.

libFuzzer has two flags that are supposed to help here:
[code]

With these flags you can run the main corpus only once (with a much larger timeout) and then merge new elements w/o

[2017-10-17 20:27] LebedevRI commented on #863
And the pattern continues...
I don't suppose the code that is used for that report deduplication is public and open-source, so i can provide a patch? :)

[2017-10-17 20:59] oliverchang commented on #892
I've made the change to add the merge command to the output. Logs should start having this in a few hours.

{save,load}_coverage_summary should work with our workflow. I'll create a new bug for it, thanks!

[2017-10-17 21:00] oliverchang opened #898 "Use {save,load}_coverage_summary"
We should use these flags on CF to avoid re-running the main corpus during our merge step after fuzzing.

[2017-10-17 21:43] Dor1s commented on #863
Yeah, the code is not open source...

[2017-10-18 00:12] jonathanmetzman opened #899 "ffmpeg build is broken"
It appears that this bug is different from [issue 865](https://github.com/google/oss-fuzz/issues/865) that was causing the ffmpeg builds to fail.

This is the relevant part of the build output
[code]
The certificate for svn.xiph.org is issued by StartCom.
Locally when I try the command svn co http://svn.xiph.org/trunk/ogg I get this error message:
[code]
This seems related to Chrome's [recent remo

[2017-10-18 00:20] jonathanmetzman opened #900 "lcms build is broken"
The failing build step is:

[code]

[2017-10-18 00:30] jonathanmetzman opened #901 "tpm2 build is broken"
EDIT: nevermind, this was a duplicate report of the bug described in #859

[2017-10-18 00:37] #901 closed

[2017-10-18 00:39] jonathanmetzman opened #902 "llvm build is broken"
It appears to be broken for a different reason than that described in #823
https://oss-fuzz-build-logs.storage.googleapis.com/log-7c99624b-d27e-4e7f-ace5-68a3d4da5970.txt

Here is the failing step:
[code]

[2017-10-18 00:41] jonathanmetzman opened #903 "open62541 build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/log-ffcf3266-db08-4763-8e65-b085d8684b49.txt

Here is the failing build step:

[code]

[2017-10-18 05:17] Dor1s commented on #895
It looks like Abhishek has changed that comment 1.5 months ago, so this particular text appears on the old reports only.

[2017-10-18 05:17] #895 closed

[2017-10-19 11:25] bilboed commented on #402
Added GStreamer : https://github.com/google/oss-fuzz/pull/905

[2017-10-19 18:19] morehouse commented on #902
I've fixed the failure above.  Protobuf mutator was trying to download libFuzzer from the old location in the LLVM tree.  Using the latest protobuf mutator fixed the issue as Vitaly has since removed the libFuzzer download.

However, the latest build seems to have failed during the first coverage build (clang-fuzzer).  I'm not seeing any obvious errors, so not sure what the problem is now.

[2017-10-20 15:42] caolanm opened #906 "ubsan error in libcxx algorithm header (__independent_bits_engine)"
Trying to enable ubsan for the LibreOffice fuzzers I run into...

/usr/local/bin/../include/c++/v1/algorithm:2919:17: runtime error: shift exponent 32 is too large for 32-bit type 'std::__1::__independent_bits_engine<std::__1::mersenne_twister_engine<unsigned long, 32, 624, 397, 31, 2567483615, 11, 4294967295, 7, 2636928640, 15, 4022730752, 18, 1812433253>, unsigned int>::result_type' (aka 'unsign

[2017-10-20 15:55] Dor1s commented on #906
I believe that we are using a newer revision. It should be at least r315377: https://github.com/google/oss-fuzz/blob/4862fdf384ebaf96e954e73b3eda16b382cf4cf9/infra/base-images/base-clang/checkout_build_install_llvm.sh#L29

[2017-10-20 15:57] Dor1s commented on #899
//cc @michaelni Michael, do you know who can fix the cert issue for the svn repo? Can you ping them please?

[2017-10-20 17:31] michaelni commented on #899
@Dor1s, i dont really know, but ive just sent monty a mail about this.

[2017-10-20 17:42] Dor1s commented on #899
Thanks @michaelni !

[2017-10-20 17:52] morehouse commented on #902
Latest build seems to run out of memory.
[code]

[2017-10-20 22:03] kcc commented on #902
@oliverchang are we still using both "fprofile-instr-generate -fcoverage-mapping" and " -fsanitize-coverage=trace-pc-guard,trace-cmp" in on build?

[2017-10-20 22:59] oliverchang commented on #902
We shouldn't be (but I can't check for a while -- travelling). The full cflags/cxxflags should be printed before every build starts in the logs though.

[2017-10-20 23:07] morehouse commented on #902
[code]

[2017-10-20 23:24] Dor1s commented on #902
Wow, that's weird. I'll take a look.

[2017-10-20 23:26] kcc commented on #902
.. and I don't claim this is the reason of the failure... :(

[2017-10-20 23:29] Dor1s commented on #902
Unfortunately, it seems that we are always using default `SANITIZER_FLAGS` rather that specified `SANITIZER_FLAGS_${SANITIZER}`: https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-builder/compile#L20

[2017-10-21 03:35] Dor1s commented on #902
Got a bunch of different linker errors from different project, disabled `profile` configuration for now, as we don't use it anyway. https://github.com/google/oss-fuzz/commit/55c0ea6d9768aa64698fb6ee8b0c64e9c560cdc2

[2017-10-22 23:05] oliverchang commented on #902
Closing since llvm build is now fixed.

[2017-10-22 23:05] #902 closed

[2017-10-24 03:04] kcc opened #910 "enable -fsanitize=unsigned-integer-overflow in non-faulting mode in ubsan build"
`-fsanitize=unsigned-integer-overflow` checks for unsigned overflow, which is *defined* behavior but often causes bugs.
I'd like to try enabling `-fsanitize=unsigned-integer-overflow` in ubsan builds.
By default, it will not cause the targets to crash on UIO, it will only print a message once,
but will provide extra coverage signal that could be useful.

[2017-10-24 09:04] caolanm commented on #906
ubsan build enabled now

[2017-10-24 09:04] #906 closed

[2017-10-24 15:51] Dor1s commented on #910
We are using `UBSAN_OPTIONS=halt_on_error=1` https://github.com/google/oss-fuzz/blob/fa41e6a94974a6f4607d8f8059c47a5f897590f5/infra/base-images/base-runner/Dockerfile#L29 UIO will not crash anyway?

[2017-10-24 17:11] kcc commented on #910
Can you use `-fsanitize-trap=undefined` instead?

This way we'll trap on regular ubsan errors and won't trap on UIO

[2017-10-24 17:52] Dor1s commented on #910
Just tried doing that, got the following error:

[code]

[2017-10-24 23:31] kcc commented on #910
Ah.
First, of course you need `-fno-sanitize-recover`, not `-fsanitize-trap=`.
Second, you need to match `-fsanitize=a,b,c` and `-fno-sanitize-recover=a,b,c`, and then add  `-fsanitize=unsigned-integer-overflow` w/o `-fno-sanitize-recover=`.

Example:
[code]

[code]

[2017-10-25 01:52] kcc opened #916 "minimization problem with clang-proto-fuzzer"
https://oss-fuzz.com/v2/testcase-detail/4629744193634304 has the original and minimized test cases.
The original test case works fine, the minimized one doesn't (it fails to parse as a proto).

Do we have the minimization logs?
I'd like to try to understand why this happened...
I'm running the minimizer locally, it seems to work fine.

[2017-10-25 02:23] oliverchang commented on #916
Unfortunately we don't keep the minimization logs.

But this is strange, the testcase is still reproducible according to CF, and CF always tests with the minimized testcase if available..

[2017-10-25 15:50] kcc commented on #916
Weird. I've rebuilt everything from scratch and the minimized reproducer works now as well.
Sorry for false alarm.

[2017-10-25 15:50] #916 closed

[2017-10-26 04:25] oliverchang commented on #903
@Pro could you please take a look?

[2017-10-26 04:26] oliverchang commented on #900
Latest build seems to have succeeded.

[2017-10-26 04:26] #900 closed

[2017-10-26 04:29] oliverchang opened #918 "openssh build broken"
@djmdjm could you please take a look?

see: https://oss-fuzz-build-logs.storage.googleapis.com/log-be2a7cf7-be35-4dbd-b423-4eb95dd2f618.txt

[code]

[2017-10-26 04:29] oliverchang commented on #859
@ngm0  friendly ping

[2017-10-26 04:33] oliverchang opened #919 "wireshark build is broken"
From https://oss-fuzz-build-logs.storage.googleapis.com/log-8ef44a81-145d-41ba-9e92-bc092877b0a2.txt

[code]

@jwzawadzki would you mind taking a look?

[2017-10-26 07:32] #903 closed

[2017-10-26 18:15] jwzawadzki commented on #919
There is also a warning during compilation:
Step #3: /src/wireshark/tools/oss-fuzzshark/fuzzshark.c:218:7: warning: implicit declaration of function 'color_filters_init' is invalid in C99 [-Wimplicit-function-declaration]

I will fix it soon upstream.

[2017-10-26 22:50] oliverchang opened #925 "Fuzz Chakra, SpiderMonkey, JavascriptCore"
Not with libFuzzer, but with our custom JS fuzzing engine and minimizer.

[2017-10-27 04:49] oliverchang commented on #919
Great, thanks! Latest build seems to have worked.

[2017-10-27 04:49] #919 closed

[2017-10-27 06:21] oliverchang commented on #859
Latest build succeeded. Thanks for fixing!

[2017-10-27 06:21] #859 closed

[2017-10-27 06:23] oliverchang commented on #918
Latest build seems to be working again.

[2017-10-27 06:23] #918 closed

[2017-10-27 15:47] rockdaboot opened #926 "File names and directory names used by libfuzzer ?"
I wrote a new fuzzer that fuzzes application code which opens files depending on the input data (e.g. reading config files, writing logs etc). I 'overwrote' libc's fopen() and opendir() to just allow certain names. If I didn't do so, we'll see random files everywhere.

But it looks like running the fuzzers with `infra/helper.py run_fuzzer ...` fails due to files/dirs not being opened (e.g.: No suc

[2017-10-27 18:34] Dor1s commented on #910
Thanks, that works:

[code]

[2017-10-27 21:31] kcc commented on #910
BTW, will CF simply ignore all report signatures with `unsigned integer overflow`, or only those
that lead to a crash?

Asking because some project may want to enable UIO is crashing mode (like I did in llvm_libcxx)
where an un-annotated UIO is considered a bug.

[2017-10-27 21:38] Dor1s commented on #910
It will simply ignore them as of now. Before that, it used to report them with `Integer-overflow` signature, not `Unsigned-integer-overflow`. I guess we'll have to change that. Do you want to have a separate crash type for UIO?

[2017-10-27 21:40] kcc commented on #910
Yes, would be lovely. It's generally not a bug, but some project may choose to treat them as bugs
(for good reasons)

[2017-10-27 22:30] Dor1s commented on #910
Makes sense! Ok, we've added support for that, deploying new revision right now.

[2017-10-27 22:34] Dor1s commented on #910
Should we consider doing the same trick in Chromium land?

[2017-10-28 06:23] kcc commented on #910
I see bugs being open with Unsigned-integer-overflow where it is not enabled in failing mode.

[2017-10-28 12:52] vadz opened #928 "Automatic bug report spontaneously and wrongly closed"
[This bug](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3828) was unexpectedly marked as fixed and then verified, so opening this bug report as requested in the message there because this bug was not fixed at all (I can still see it locally) and there were no commits touching this code in the indicated time frame.

[2017-10-28 13:39] mkj commented on #910
This seems a bit noisy, eg https://oss-fuzz.com/v2/testcase-detail/5328094400348160 which is in a SHA1 routine (I assume perfectly valid)

Also https://oss-fuzz.com/v2/testcase-detail/5831846282657792 complaining about a negative array index in a debug allocator - that shouldn't be undefined behaviour? (Less certain about that though). It's referring to https://secure.ucc.asn.au/hg/dropbear/file/5

[2017-10-28 14:53] randombit commented on #910
Similarly https://oss-fuzz.com/v2/testcase-detail/5591424549519360 is for some modexp related code where unsigned overflow is intended.

[2017-10-28 15:18] kcc commented on #910
Our apologies. This was not meant to report bugs. Looking.

[2017-10-28 15:25] inferno-chromium commented on #910
ClusterFuzz does not make use of faulting mode, it just reads from stdout and if it finds "runtime error:", it will still report it. So, Max, you need to fix it differently, we can have some workaround when i am back, but till then feel free to revert to original behavior.

[2017-10-28 15:43] inferno-chromium commented on #910
Reverted CL that enables unsigned integer overflow for now.

[2017-10-28 18:10] Dor1s commented on #910
Thanks for noticing and for reverting.

We checked with Marty that we do not invoke stack_analyzer if the process finished with 0 return code, i.e. if there are UIO errors reported but we didn't crash, we don't report it.

It seems that the root issue is `halt_on_error=1` still present in `UBSAN_OPTIONS`. Most likely because we didn't rebuild base images until 14 hours ago, but I'll double-check.

[2017-10-28 18:14] Dor1s commented on #928
Can be related to #910, I'll take a look.

[2017-10-28 20:03] Dor1s commented on #928
Yes, the same input triggers `unsigned-integer-overflow` before triggering the original bug. If you run it with `UBSAN_OPTIONS=halt_on_error=1`, it will crash with UIO and will not reach the original error. Sorry about that, it should be fixed now, I'm double checking right now.

[2017-10-28 20:16] Dor1s commented on #928
Looks good, ClusterFuzz now detected the real fix. Thanks for reporting the issue to us!

[2017-10-28 20:16] #928 closed

[2017-10-28 20:22] Dor1s commented on #910
Base images are not used for fuzzing on CF side, but there is one more piece of code that sets `halt_on_error=1`. Should be fixed now. I'll keep an eye on the logs to make sure we don't crash on UIO anymore (except of the project where we would like to). After that, we can re-land the CL reverted this morning.

[2017-10-28 21:47] Dor1s commented on #910
Also kicked off progression task for all the incorrect reports, now they are marked as non-reproducible.

[2017-10-29 05:21] kcc commented on #910
Let's hold this for now. My mistake -- we should have turned UIO into a proper no-output signal.
Let as make it on LLVM side first before another attempt.

[2017-10-29 15:05] glennrp commented on #866
Coverage reports for libpng have been OK for a week or more; I think this issue can be closed.

[2017-10-29 17:42] LebedevRI opened #933 "LTO/LLD?"
Hi.
I'd like to enable LTO for [RawSpeed](https://github.com/google/oss-fuzz/blob/master/projects/librawspeed/project.yaml#L2).

My unscientific non-bechmarking benchmarks show that
with LTO, decoding time of the [RPU sample set](https://raw.pixls.us/) is 30% less.
So it should at least not hurt the fuzzing.

However, there does not seem to be LLD in the base image, which is plausible looking at h

[2017-10-29 22:06] oliverchang commented on #866
Sure, thanks!

[2017-10-29 22:06] #866 closed

[2017-10-29 23:40] oliverchang commented on #926
Could you please clarify the issue here and give a concrete example?

[2017-10-29 23:44] oliverchang commented on #933
As far as I can tell, lld/lto has no downsides when it comes to fuzzing.

We experimented with lld in the past (#295) and it broke some things (IIUC which should now be fixed).

If we want to revisit this, I think we can add a flag to project.yaml to enable this on a per-project basis for now. @kcc @Dor1s  what do you think?

[2017-10-30 01:19] kcc commented on #933
Don't do this w/o extensive testing. We don't usually run asan+lto, and we've heard reports that those are not 100% compatible with each other.

[2017-10-30 03:01] oliverchang commented on #865
Assuming this was flake. Let's reopen if we see it again.

[2017-10-30 03:01] #865 closed

[2017-10-30 03:02] oliverchang commented on #899
I switched the ogg repo to use git instead, and now see this:

(https://oss-fuzz-build-logs.storage.googleapis.com/log-f695cc0f-54db-442f-b459-5b9131a84ed1.txt)

[code]

@michaelni could you please take a look?

[2017-10-30 08:30] rockdaboot commented on #926
I guess it is solved now.
FYI, the fuzzing input is taken as 'config file' where every command line option can be specified. There is also an option that takes a (wildcarded) filename to read more options from (recursive config files - what is pretty often seen in projects). We use the `glob()` function to resolve the wildcards, which in turn calls opendir/readdir/stat/closedir. To not let this fu

[2017-10-30 11:59] michaelni commented on #899
I first thought you talk about ogg but this failure is from theora. It seems there where changes in theoras build system. I can reproduce the issue locally and running configure before make clean fixes the make clean problem.
Also it may make sense if releases for dependancies would be used instead of tracking HEAD of every dep or that the build instructions for dependancies would be tracked outsi

[2017-10-30 14:02] LebedevRI commented on #933
In *my* case it is already handled by the project's cmakelists.txt, so the only thing missing is the LLD, thus the question is *mostly* about the missing(?) LLD in the base images.

Yeah, did not do that yet. It is obvious to me how to check that asan/ubsan will still be functional, but not obvious how to do extensive testing.

[2017-10-30 14:58] Dor1s commented on #933
I think RawSpeed might be a good polygon for testing, since @LebedevRI is enthusiastic about that :)

[2017-10-30 15:06] djn3m0 commented on #925
Is "JS fuzzing engine" is public/open source?

[2017-10-31 04:44] oliverchang commented on #925
Unfortunately not at this point.

[2017-10-31 06:26] bilboed opened #935 "abort() not detected/handled ?"
In various places in GStreamer we have critical situation detection (i.e. detection of completely wrong usage/behaviour of the API). While they don't abort the program by default, they actually help in figuring out the root issues of wrong API usage (by both apps and plugins).

I have added code in the current fuzzer `g_setenv ("G_DEBUG", "fatal-criticals", TRUE);`to cause the underlying glib syst

[2017-10-31 14:49] jbendes commented on #713
I am having this exact issue linking cpp and c files together right now. Was there a conclusion on what should be done in this case? Changing from clang to clang++ compiles. Is this the fix? Is there a way to know which linker you need to use before running into the failure?

[2017-10-31 15:11] kcc commented on #713
Using `clang++` to link C++ code is the right way.

[2017-10-31 17:38] bilboed opened #936 "No access to testcase details"
For some testcases (mostly leaks), we don't have access to the testcase details.

One such example (for gstreamer) is https://oss-fuzz.com/v2/testcase-detail/4674256493346816

[2017-10-31 17:40] kcc commented on #936
What does the web site tell you?
Are you logged-in into your google account? (the one that is mentioned in `project.yaml`)

[2017-10-31 17:52] pcc commented on #295
When we tried to enable lld by default in Chromium for Linux we started getting false positives from msan, e.g.
https://bugs.chromium.org/p/chromium/issues/detail?id=776355
so we had to switch back to using gold with msan for now.

It would probably be worth investigating that before trying to switch to lld again.

[2017-10-31 17:52] pcc commented on #933
When we tried to enable lld by default in Chromium for Linux we started getting false positives from msan, e.g.
https://bugs.chromium.org/p/chromium/issues/detail?id=776355
so we had to switch back to using gold with msan for now.

It would probably be worth investigating that before trying to switch to lld again.

[2017-10-31 17:55] LebedevRI commented on #933
From `#llvm`:
[code]
So *what* needs to be done is clear, until the bugs are hit anyway :)

[2017-10-31 17:58] Dor1s commented on #936
Hm, that link doesn't seem to be related to gstreamer... Where did you get it from?

[2017-10-31 18:37] kcc commented on #935
If `abort()` happens libFuzzer will treat it as any other bug.
The log clearly indicates the the abort didn't happen.
You can check why using the crashy input locally.

[2017-10-31 18:40] Dor1s commented on #935
Also note that we use Release build, if it matters.

[2017-10-31 22:24] Dor1s commented on #792
The build is still failing: https://oss-fuzz-build-logs.storage.googleapis.com/index.html

@petrhosek, friendly ping

[2017-10-31 22:41] Dor1s commented on #899
Thanks @michaelni for taking a look. Let's see if https://github.com/google/oss-fuzz/commit/5d586c44da69fe36ae4b5868d6d74acaa96745b7 fixes that

[2017-11-01 03:45] oliverchang commented on #899
--depth 1 doesn't seem to work with the ffmpeg repo... I'll remove that and try again.

[code]

[2017-11-01 07:09] bilboed commented on #936
@Dor1s : I got it from https://oss-fuzz.com/v2/crash-stats

@kcc: It gives me : "You (email=bilboed@bilboed.com) are not authorized to access this page!". And yes I'm logged in (otherwise I wouldn't be able to see the other testcases)

[2017-11-01 07:45] bilboed commented on #935
My bad. I just retried with a minimalist test-case and those env variable get read at library load. Will figure out another way to make it raise abort().

[2017-11-01 07:45] #935 closed

[2017-11-01 15:02] Dor1s commented on #899
Yay, it works! Thanks!

[2017-11-01 15:02] #899 closed

[2017-11-01 15:10] Dor1s commented on #936
The error looks correct to me, as the testcase being linked is not related to gstreamer, but why does it show up on crash-stats page for you... I'll take a closer look.

[2017-11-01 16:03] nmathewson opened #940 "False positive with msan and strlen()?"
Hi!  I think this may be a false positive:
  https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3970#c2
As I read the code, it's failing when it takes the strlen() of a buffer.  But the buffer's contents are nul-terminated, as guaranteed by the tor_snprintf() call that constructed it.  Is it possible that msan's  strlen()-replacement code is not getting used here for some reason?

[2017-11-01 16:13] bilboed commented on #936
I *think* I know why it's getting confused. It's a leak with a backtrace depth of 1. I figured out how to solve that : rebuild glib with same sanitizer flags.

[2017-11-01 16:21] Dor1s commented on #940
Valgrind doesn't complain... I'm starring at the code now.

[2017-11-01 16:32] Dor1s commented on #940
Yes, the buffer does seem to be initialized, as it has the error message inside. Looks like we are missing instrumentation for `vsnprintf`.

[2017-11-01 16:50] Dor1s commented on #940
I guess we either have to wait until https://github.com/google/oss-fuzz/issues/608 is resolved, or can try adding an interceptor for `vsnprintf` to https://github.com/llvm-mirror/compiler-rt/blob/master/lib/msan/msan_interceptors.cc

[2017-11-01 16:56] Dor1s commented on #940
Wait, there is an interceptor for `vsnprintf`: https://github.com/llvm-mirror/compiler-rt/blob/master/lib/sanitizer_common/sanitizer_common_interceptors.inc#L1470

[2017-11-01 17:20] Dor1s commented on #936
Right, that's the reason!

@inferno-chromium, should we try not to show such testcases on the crash stats in order to avoid confusion?

[2017-11-01 17:24] Dor1s commented on #940
Existing build calls `vsnprintf_chk` isntead of `vsnprintf`. Thanks @kcc for the hint on disabling fortify source. Now it seems to work properly after https://github.com/google/oss-fuzz/commit/a66795291a6b25e810cafd3fdd67164676012674

[2017-11-01 17:26] Dor1s commented on #940
@nmathewson, thanks for the report! I can imagine that some other reports can be false positives too. We can wait up to one day to see what gets "fixed" after disabling the fortify source.

[2017-11-01 17:32] nmathewson commented on #940
Thanks for the amazingly fast response, @Dor1s !  If I understand you correctly, I should look again this time tomorrow to see which bugs have gone away in the meantime, and then focus my attention on whatever remains.  If so, that's my plan.

[2017-11-01 17:34] Dor1s opened #941 "openssl build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-11-01 17:34] Dor1s commented on #941
ping @kroeckx :)

[2017-11-01 17:39] Dor1s commented on #792
Petr replied over email that it's currently blocked on  https://reviews.llvm.org/D37631.

[2017-11-01 17:42] Dor1s opened #942 ""No space left on device" on bots running ffmpeg fuzzers"
Downside of having working ffmpeg build :)

[2017-11-01 18:37] #941 closed

[2017-11-01 21:32] alex commented on #925
Is there anything y'all need in terms of setting up SpiderMonkey? I see you already got Chakra done.

[2017-11-01 23:41] Dor1s commented on #942
@oliverchang, I guess we cannot do anything other than trying to reduce the build size?

[2017-11-01 23:48] oliverchang commented on #942
I think this is happening on our hosts, so we will need to increase disk size there by a little.

[2017-11-02 07:38] bilboed opened #944 "Specify depth for identical testcase detection"
With the various gstreamer targets, we have setup a custom message handler to raise abort() on critical messages (which are essentially codepaths that shouldn't be reached).

The problem is that we end up with stack traces like this:
#0 0x7f15a7835427 in gsignal /build/glibc-9tT8Do/glibc-2.23/sysdeps/unix/sysv/linux/raise.c:54
#1 0x7f15a7837029 in abort /build/glibc-9tT8Do/glibc-2.23/stdlib/abort.

[2017-11-02 12:59] inferno-chromium commented on #944
We need to ignore the glib stack frames, then it should work. we already ignore the glibc ones.

[2017-11-02 12:59] nmathewson commented on #940
Okay. The following tickets all closed overnight.  We didn't change anything in Tor that would have fixed them, so they are probably false positives due to this msan/FORTIFY_SOURCE issue:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3964
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3967
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3970
https://bugs.chromium.org/p/oss-fu

[2017-11-02 13:39] inferno-chromium commented on #935
I am fixing the stack parsing, so it will account for assertion condition parsing as well.
Fixing this as part of https://github.com/google/oss-fuzz/issues/944

[2017-11-02 15:04] Dor1s commented on #940
Yes! Thanks for checking!

[2017-11-02 15:04] #940 closed

[2017-11-02 17:56] inferno-chromium commented on #944
Fixed now, some old testcases like https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4024 and https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4021 might get closed, but will be reopened later with new signature.

[2017-11-02 17:56] #944 closed

[2017-11-03 20:48] Dor1s opened #949 "file build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

@zoulasc, would you mind helping to fix the build?

[2017-11-04 03:01] zoulasc commented on #949
It is fixed, thanks.

[2017-11-04 05:17] #949 closed

[2017-11-04 20:39] Dor1s commented on #942
As per offline discussion, that might be JS fuzzer, not ffmpeg. Doesn't seem to happen anymore, will re-open if it comes back. Thanks Oliver!

[2017-11-04 20:39] #942 closed

[2017-11-04 21:36] Dor1s opened #953 "open62541 build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

cc @Pro

[2017-11-05 07:12] bilboed opened #954 "Empty performance report ?"
When trying to view performance reports, I only get a page showing:

Is there anything we're missing on our side or is this an issue on the server side ?

ex: https://oss-fuzz.com/v2/performance-report/libFuzzer/libfuzzer_asan_gstreamer/2017-11-04

[2017-11-05 16:57] inferno-chromium commented on #954
Might be a Polymer V2+firefox issue, can you try opening that link in Chrome.

[2017-11-05 16:59] inferno-chromium commented on #954
Would probably need a similar fix as https://github.com/google/oss-fuzz/issues/849#event-1272476010 (that was on fuzzer-stats page).

[2017-11-05 19:57] inferno-chromium commented on #954
Should be fixed now for Firefox, please give it a try.

[2017-11-05 19:57] #954 closed

[2017-11-06 06:23] bilboed commented on #954
Confirmed, thanks !

[2017-11-06 09:17] Pro commented on #953
Fixed in https://github.com/open62541/open62541/pull/1313

[2017-11-06 15:18] Dor1s commented on #953
And now we seem to have another error:

[code]

[2017-11-06 15:28] Pro commented on #953
Unfortunately I cannot reproduce this locally.
I'm using the following command and answering with 'y' when asking to pull latest images:

[code]

@Dor1s which command did you use to build and get that error?

[2017-11-06 15:44] Pro commented on #953
Ah, ok, I think this is related to the newer clang-6.0 version.
Using the build command (as posted previously) I cannot reproduce the error.
If I install clang-6.0 and build the package manually, I also get the error above.

IMHO this should not cause the current oss-fuzz build to fail, but I will try to fix it anyways.

[2017-11-06 16:43] Pro commented on #953
Fixed in https://github.com/open62541/open62541/commit/1ca4a0b116c1211612b398442053ab8a7002708e and integrated in master

[2017-11-06 17:39] Dor1s commented on #953
Confirmed! Thanks Stefan!

[2017-11-06 17:39] #953 closed

[2017-11-06 17:58] curtisman opened #959 "Unable to access Reproducer Testcase"
I am trying to get the reproducer testcase of a restricted issue. (e.g. https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3975)
I am logged in using the Google account that the issued is CC'ed on.
I can read the issue descriptions on bug.chromuum.org

But when I clicked the Detail report linke or the Reproducer Testcase link on oss-fuzz.com, I get the not authorized message.

How do I gain acc

[2017-11-06 18:43] Dor1s commented on #959
Could you please copy the error message your are seeing?

[2017-11-06 18:52] curtisman commented on #959
You (ChakraCore@microsoft.com) are not authorized to access this page!
For access, please contact the maintainers by filing a new issue on https://github.com/google/oss-fuzz.
If you see this error while trying to download a test case for a bug that you are the owner of, please download it from the test case details page.
Back
Switch account
Logout

[2017-11-06 18:58] Dor1s commented on #959
Thanks! I think it's the same issue as #870. I've updated the email in project.yaml, it should start working soon.

[2017-11-06 19:14] inferno-chromium commented on #959
Can you try now ? Does it work ?

[2017-11-06 20:41] caolanm opened #960 "Timeout bug only reports initial example, not a contemporary one"
I mean, in this frequent, but unreproducible bug, https://oss-fuzz.com/v2/testcase-detail/4955193562103808 the original stacktrace and an original unminimized testcase are available.

On the 9th October this commit landed
https://cgit.freedesktop.org/libreoffice/core/commit/?id=5fcfa368d8a4aa3156674fe38365f57218a6952e
and the stats in oss-fuzz shows a drop from ~20 to around ~1 timeouts per day on

[2017-11-06 20:55] inferno-chromium commented on #960
We get the stacktrace from tip-of-tree trunk in "Last tested stacktrace" section for Reproducible crashes only (e.g. see 2nd stacktrace in https://oss-fuzz.com/v2/testcase-detail/5533260961546240). This one is marked unreproducible/flaky, so we don't run the cron to update last tested stacktrace for unreproducible crashes. You can try clicking the icon next to "CRASH STACKTRACE" to update last tes

[2017-11-06 20:55] #960 closed

[2017-11-06 21:07] curtisman commented on #959
Yep.  Works now.  Thanks.

[2017-11-06 21:07] #959 closed

[2017-11-06 23:38] oliverchang opened #961 "spidermonkey always gives "too much recursion" when ASAN_OPTIONS=detect_stack_use_after_return=1"
spidermonkey hasn't been running properly and always gives:

[code]

(e.g. gs://spidermonkey-logs.clusterfuzz-external.appspot.com/js_fuzzer/asan_spidermonkey/2017-11-06/12:16:16:476059.txt)

as the only output. This seems to only happen when `detect_stack_use_after_return=1` is set in `ASAN_OPTIONS`.

@alex any ideas why?

For now I'll disable this just for spidermonkey, but it would be nice to d

[2017-11-06 23:41] alex commented on #961
Can't say I recognize this one off hand, will dive in tomorrow.

[2017-11-07 07:44] bilboed opened #962 "Best practice question: initialize more ?"
While looking at the performance of our (GStreamer) fuzzing targets, I was wondering something.

Most of our targets work as such:

0. Initialize library once (GStreamer and plugins we want to use), protected by a static variable
1. Setup a pipeline containing the elements to be tested (the actual data-touching codepaths are within those elements).
2. Inject data into pipeline
3. Run pipeline
4. s

[2017-11-07 14:44] alex commented on #961
This appears to be a known issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1057551 :-(

[2017-11-07 15:29] alex opened #964 "Improvements to spidermonkey interegration"
Two things noticed in the first batch of bugs:

1) We hit spidermonkey's builtin `crash` function. The `js` binary should be run with `--fuzzing-safe`. Can this be done?

2) Our WASM code relies on having a segfault handler. Can we set `allow_user_segv_handler` to `1`?

[2017-11-07 17:19] inferno-chromium commented on #964
Done, lets see how it works out. We can close this once we see things look ok.

[2017-11-07 18:09] alex commented on #964
Great, thanks.

[2017-11-07 18:50] Dor1s commented on #962
It's preferable to initialize as much stuff as you can on a startup (i.e. only once per process), but that's crucial for all of those objects to be **stateless**. If there is anything stateful, we get at least 2 problems:

1) _parasitic coverage_: the same input can trigger different code paths due to different internal states
2) _non reproducible crashes_: same reason as the one above, but even m

[2017-11-07 22:05] oliverchang commented on #964
Does this segfault handler save the original handler (i.e. ASan's) and defer to that in the case of segfaults that it can't handle?

[2017-11-07 22:08] alex commented on #964
From skimming the code, I think yes.

On Nov 7, 2017 5:05 PM, "Oliver Chang" <notifications@github.com> wrote:

Our WASM code relies on having a segfault handler. Can we set
allow_user_segv_handler to 1?

Does this segfault handler save the original handler (i.e. ASan's) and
defer to that in the case of segfaults that it can't handle?

—
You are receiving this because you authored the thread.
Repl

[2017-11-07 22:25] oliverchang commented on #964
Thanks for checking.

It would be nice to make sure that this is always the case though (we have a unit test in v8 for this: https://cs.chromium.org/chromium/src/v8/test/unittests/wasm/trap-handler-unittest.cc)

[2017-11-07 22:38] oliverchang commented on #870
This should be done now.

[2017-11-07 22:38] #870 closed

[2017-11-08 07:11] bilboed commented on #962
Indeed, all that pipeline creation is unrelated to the input. It's essentially creating **a** program which will always be the same.

Apart from creating the pipeline, anything else that was allocated due to using that pipeline (with or without data) wil be resetted before exiting LLVMFuzzerTestOneInput. GStreamer pipelines (and elements) **should** be re-usable once resetted. If they're not, it's

[2017-11-08 14:32] inferno-chromium opened #967 "No build url link on testcase details page"
We have build url download links for internal clusterfuzz, but not for oss-fuzz.

[2017-11-08 15:36] inferno-chromium commented on #925
@alex, @choller - i see several other build arguments used in https://bugzilla.mozilla.org/show_bug.cgi?id=1415571 like --enable-posix-nspr-emulation --enable-valgrind --enable-gczeal --disable-tests --enable-stdcxx-compat --disable-profiling --enable-debug --enable-optimize, run with --fuzzing-safe --cpu-count=2 --disable-oom-functions - Should these be added to spidermonkey build

[2017-11-08 15:47] choller commented on #925
Many of those build arguments are probably not needed for your build (some like posix-nspr etc. are required for standalone builds, but I believe you do a full build?). One important build flag is `--enable-gczeal` which enables the `gczeal()` function that helps finding many garbage collector problems. However, if you build with `--enable-debug`, then it is enabled by default. I'm not sure if `--

[2017-11-08 15:55] inferno-chromium commented on #925
Thanks @choller.

Just added --enable-optimize explicitly in https://github.com/google/oss-fuzz/commit/fdd0cff32a7bf678fc6a69e929def6ae9787c220

Also, added --cpu-count=2 to current app args. We will now pass --cpu-count=2 --disable-oom-functions --fuzzing-safe

Regarding the random runtime flags, thanks for the list. Will let @oliverchang decide how to pull those in. @oliverchang - i think we sho

[2017-11-08 15:55] inferno-chromium commented on #925
@oliverchang - or i remember Marty had some way to run APP args trial (he did it for v8) - @mbarbella

[2017-11-08 16:32] inferno-chromium opened #968 "libass build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/log-49e2afbd-08cc-42aa-adb2-a7efb4c94131.txt

@wm4, @astiob and @MrSmile - can you take a look

[2017-11-08 16:33] inferno-chromium commented on #792
@petrhosek, friendly ping

[2017-11-08 16:35] inferno-chromium opened #969 "Broken grpc build"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Step #3: + clang -O1 -fno-omit-frame-pointer -gline-tables-only -DFUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION -fsanitize=address -fsanitize-address-use-after-scope -fsanitize-coverage=trace-pc-guard,trace-cmp -Iinclude -I. test/core/json/fuzzer.c -c -o test/core/json/fuzzer.o
Step #3: Building fuzzer fuzzer
Step #3: clang-6.0: error: no s

[2017-11-08 19:53] #969 closed

[2017-11-08 20:27] rockdaboot opened #971 "Undefined behavior or sanitizer bug ?"
oss-fuzz reports an undefined behavior in nettle, a dependency of gnutls:
[code]

The corresponding C line is
[code]

The author of nettle, Niels Möller,  arguments against fixing, saying this is *not* UB.
Please check out his arguments to see if this is indeed UB or a bug in clang's sanitizer.
http://lists.lysator.liu.se/pipermail/nettle-bugs/2017/003387.html

[2017-11-08 22:26] kcc commented on #971
negation of *unsigned* integer 1 is clearly defined and is not a bug (unless you want to treat it as such).
What's the bug report where this happens?

[2017-11-08 23:55] oliverchang commented on #925
Adding Trial entities SGTM. Thanks!

[2017-11-09 01:10] behdad commented on #968
cc @dov

[2017-11-09 01:11] behdad commented on #968
We should also setup oss-fuzz for fribidi; cc @khaledhosny @behnam

[2017-11-09 05:45] oliverchang commented on #925
Ok, I've added Trial entities for each of the arguments in https://github.com/google/oss-fuzz/issues/925#issuecomment-342858750.

@choller Is it safe (or good) to use any combination of these flags together, or are there specific combinations that make more sense?

[2017-11-09 09:20] dov commented on #968
Ok. Thanks. I think that I found the reason. I was reading the Decomposition field (field #5) into a variable of size 100, which isn't enough for the current Unicode.txt file. Fixed in master of fribidi.

[2017-11-09 11:03] rockdaboot commented on #971
Last week under 'All current crashes' I was displayed 4-5 pages of fixed and unfixed issues (many had no issue number btw). Today, I see one page and the above mentioned one is missing.

Maybe this was just a glitch or remnants from some tests on oss-fuzz' side. That SUMMARY line mentioned above is copied from that bug report.

Anyways, I close this issue since it seems to be irrelevant currently.

[2017-11-09 11:03] #971 closed

[2017-11-09 16:01] caolanm opened #973 "fixed crash not updated as such in bugs.chromium.org"
Open Bug https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3839 points to fixed https://oss-fuzz.com/v2/testcase-detail/5465964796706816 but https://oss-fuzz.com/v2/testcase-detail/5465964796706816 doesn't point to https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3839 ("Issue: None" instead)

oss-fuzz.com reports it as fixed but bugs.chromium.org as open

[2017-11-09 16:07] inferno-chromium commented on #973
Ok closed the bug now.

This is weird, we remember seeing this kind of issue very rarely, and deployed a fix some time back (@oliverchang), but looks like hitting it again. if you see this again, please let us know.

[2017-11-09 16:07] #973 closed

[2017-11-09 16:29] choller commented on #925
@oliverchang Yes, these options can (and are meant) to be combined.

[2017-11-09 17:21] #968 closed

[2017-11-10 17:01] alex commented on #964
These seem to be working well. Declaring victory.

[2017-11-10 17:01] #964 closed

[2017-11-11 21:55] rouault opened #977 "Out of memory bugs no longer reproducable with the attached test case"
Quite often out-of-memory bugs are not reproducible with the reproducer attached to the bugs.chromium.org bug. The bug should be closed if not reproduced in 14 days, but there are likely other reproducers that trigger out-of-memory that prevent the bug to be closed, and those reproducers are not accessible through the bug entry. How to proceed ?

Example: https://bugs.chromium.org/p/oss-fuzz/issue

[2017-11-11 22:50] inferno-chromium commented on #977
So, we close bug in 14 days if it is not seen in crash stats for last 14 days. In this case, this out-of-memory crash is still happening, you can see that by clicking the stats button. We haven't hit a new reproducible crash testcase for this (https://oss-fuzz.com/v2/testcases?open=yes&q=Out-of-memory%20proj4), so that is why this bug will stay open. Unreproducible crashes are only filed if they a

[2017-11-11 22:56] rouault commented on #977
As the out of memory occurs with other reproducers, couldn't they replace the one  (or be added) that is attached to the ticket but is no longer reproducible ?

[2017-11-12 02:40] Dor1s commented on #977
That's the issue: we cannot find a single reproducer, but the same crash is occurring again and again. We file it automatically with the first "reproducer" found, but that testcase is not very useful as well as all the other "crash" inputs we see after that.

Technically, such crash can be "reproduced" in the following way:

1) download the corpus
2) launch the fuzzer with `-rss_limit_mb=2048`
3)

[2017-11-12 02:45] inferno-chromium opened #978 "libreoffice build broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Step #3: Patch FAILED: /src/libreoffice/external/harfbuzz/harfbuzz-rtti.patch
Step #3: make[1]: *** [/work/workdir/UnpackedTarball/harfbuzz.done] Error 1
Step #3: /src/libreoffice/solenv/gbuild/UnpackedTarball.mk:172: recipe for target '/work/workdir/UnpackedTarball/harfbuzz.done' failed
Step #3: make[1]: *** Waiting for unfinished job

[2017-11-12 11:56] rouault commented on #977
I did read the text, but it doesn't help me solving the issue in practice. Very often there's no useful stacktrace, so no possible speculative fix. Probably the way you describe would work, but it implies more work. I'm just lazy :-)

[2017-11-12 20:37] caolanm commented on #977
I run into this with LibreOffice too, and what would work better for me is the most recent input that triggered it rather than the initial one, or a link to all the inputs that triggered it.

Often enough I get something that I can reproduce locally with the original testcase, especially under valgrind, fix it, the stats jump downwards with my fix but not quite to zero and then grow again so it fe

[2017-11-12 20:38] caolanm commented on #978
I fixed the error shown in the logs with https://cgit.freedesktop.org/libreoffice/core/commit/?id=5ba0b8f98f874390aa839311b0164360733ec815 on Friday

The build log references https://cgit.freedesktop.org/libreoffice/core/commit/?id=e2eddd96bc1cd83da02c2d5a36c7a678a8544673 which precedes that

So I think the build log isn't up to date for some reason, the last time this happened was
https://github.

[2017-11-12 21:38] Pro commented on #977
I have a similar problem for a timeout issue on open62541:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3713

It causes around 700 timeout crashes per day but I cannot reproduce the `Unreproducible` bug with the provided test case. And interestingly all the stack traces in the output show different lines in the code which cause the timeout.

It would be helpful if you could update the pag

[2017-11-13 03:41] inferno-chromium commented on #978
Yes looks like that

+ python wait_for_build.py 2a914ffb-ac80-476d-a539-c9eda4f00714
2017-11-11 05:29:07.050239 QUEUED
2017-11-11 05:30:22.235186 WORKING
2017-11-11 11:31:19.874011 TIMEOUT

So, i just increased it to 10 hours, will see if this helps.

[2017-11-13 15:47] inferno-chromium commented on #978
Build is fixed now.

[2017-11-13 15:47] #978 closed

[2017-11-13 15:48] inferno-chromium opened #980 "wxwidgets build broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Step #3: Configured wxWidgets 3.1.1 for `x86_64-unknown-linux-gnu'
Step #3:
Step #3:   Which GUI toolkit should wxWidgets use?                 base only
Step #3:   Should wxWidgets be compiled into single library?       no
Step #3:   Should wxWidgets be linked as a shared library?         no
Step #3:   Should wxWidgets support Unicode?

[2017-11-13 15:50] inferno-chromium opened #981 "ffmpeg build broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Step #3: + PKG_CONFIG_PATH=/src/ffmpeg_deps/lib/pkgconfig
Step #3: + ./configure --cc=clang --cxx=clang++ '--ld=clang++ -O1 -fno-omit-frame-pointer -gline-tables-only -DFUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION -fsanitize=address -fsanitize-address-use-after-scope -fsanitize-coverage=trace-pc-guard,trace-cmp -stdlib=libc++ -fno-sanitize

[2017-11-13 17:33] michaelni commented on #981
I suspect this is a bug in x265, i think https://patches.videolan.org/patch/18630/ would fix x265. Reference: https://trac.ffmpeg.org/ticket/6830

[2017-11-13 18:51] vadz commented on #980
Oops, sorry, I should have thought about updating this myself -- but thanks for letting me know. The fix is in #982, but I wonder how could I have noticed the failures myself? Is there any way to receive notifications about this? TIA!

[2017-11-13 18:55] inferno-chromium commented on #980
@vadz - We currently don't have a notification pipeline yet, right now it is manual. So, just looking at https://oss-fuzz-build-logs.storage.googleapis.com/index.html once a week should be good.

[2017-11-13 18:57] vadz commented on #980
OK, thanks, will keep an eye on it.

[2017-11-13 19:20] inferno-chromium commented on #980
build is fixed.

[2017-11-13 19:20] #980 closed

[2017-11-14 16:04] Dor1s commented on #962
I believe the question has been answered. Closing this.

[2017-11-14 16:04] #962 closed

[2017-11-14 17:01] Dor1s commented on #977
Thanks all for your feedback! We'll think about storing multiple testcases OR at least storing the most recent input.

https://github.com/google/oss-fuzz/blob/master/docs/reproducing.md

Good idea, I'll update that!

Valgrind (mentioned by @caolanm) can be helpful sometimes, but please note that it doesn't work with ASan (and MSan, I think?), so you need to use either a non sanitized build or a UB

[2017-11-16 09:26] atlight opened #986 "Fix grammar on Access Denied page"
The missing "to" and lack of space in "log in" gets me every time (but mainly the missing "to").

[2017-11-16 15:37] Dor1s commented on #986
You would never see that, if you are always logged in :) Thanks for the report!

[2017-11-16 16:36] bilboed opened #989 "Getting stacktraces of all threads"
When using the address sanitizer (didn't check the others), on failures it would be great to have the stacktraces of all threads (instead of just the thread that caused the failure).

[2017-11-16 16:55] kcc commented on #989
That's not a question to oss-fuzz, but to AddressSanitizer, right?
Closing this bug here, but feel free to open another one at https://github.com/google/sanitizers/issues/
You are the first to ask for such feature in 6 years, so please explain why you need it.

[2017-11-16 16:55] #989 closed

[2017-11-16 17:13] bilboed commented on #989
Opened a bug over there. https://github.com/google/sanitizers/issues/881

Slightly giggling at the fact that I'm the first one to ask this though :)

[2017-11-16 18:01] Dor1s commented on #986
Fixed, thanks @atlight !
![image](https://user-images.githubusercontent.com/3372458/32907489-05922f16-cab5-11e7-8446-e65a5423a267.png)

[2017-11-16 18:01] #986 closed

[2017-11-16 23:14] jonathanmetzman opened #990 "Spidermonkey Build is Broken"
https://oss-fuzz-build-logs.storage.googleapis.com/log-5e130e64-f73d-4990-a160-1190745913b3.txt

I believe these are the relevant lines:

Step #3: x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fno-strict-aliasing -Wdate-time -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat -Werror=format-security -fPIC -DPSUTIL_VERSION=311 -I/usr/include/python2.7 -c psut

[2017-11-16 23:15] oliverchang commented on #990
@alex can you please take a look?

[2017-11-16 23:16] jonathanmetzman opened #991 "grpc build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/log-f3afc45e-5495-481c-94fa-50b636329716.txt

These appear to be the relevant lines:
Step #3: test/core/http/request_fuzzer.cc:36:59: error: use of undeclared identifier 'nullptr'
Step #3:   GRPC_ERROR_UNREF(grpc_http_parser_parse(&parser, slice, nullptr));
Step #3:                                                           ^
Step #3: 2 warnings an

[2017-11-16 23:26] jonathanmetzman opened #992 "augeas build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/log-dc7cec28-0ea8-4884-9ad5-a51134975d91.txt

These appear to be the relevant lines:
Step #18: lexer.l:21:10: fatal error: 'parser.h' file not found
Step #18: #include "parser.h"
...
Step #18: 1 error generated.
Step #18: Makefile:1558: recipe for target 'liblexer_la-lexer.lo' failed
Step #18: make[3]: *** [liblexer_la-lexer.lo] Error 1

[2017-11-17 00:25] alex commented on #990
When was the build? This looks potentially the same as https://bugzilla.mozilla.org/show_bug.cgi?id=1417745, but that was reverted like 10 hours ago.

[2017-11-17 00:27] jonathanmetzman commented on #990
11/15/2017, 9:19:19 PM, so before the revert.

[2017-11-17 00:29] alex commented on #990
👍  I'd expect a rebuild to resolve it then.

[2017-11-17 02:54] inferno-chromium commented on #991
@matt-kwong - can you please take a look.

[2017-11-17 02:54] inferno-chromium commented on #992
@qiankehan - can you please take a look.

[2017-11-17 05:50] #991 closed

[2017-11-17 08:05] bilboed commented on #989
Based on the reply from downstream bug, that means we won't be able to have automatic all-thread-stacktrace reporting in oss-fuzz ? It's a shame, because for race-related failures which are hard to reproduce but do get triggered on the google servers, we won't be able to have as much info as we can.

[2017-11-17 16:25] kcc commented on #989
Could you give an example of such bug?
Maybe we need to drag tsan into the game?

[2017-11-17 17:16] oliverchang commented on #990
Looks like it's no longer failing.

[2017-11-17 17:16] #990 closed

[2017-11-17 17:16] oliverchang commented on #981
Latest build is green.

[2017-11-17 17:16] #981 closed

[2017-11-18 15:23] inferno-chromium commented on #333
Can you please prioritize this for late Q4/early Q1.

[2017-11-18 18:23] kcc opened #998 "monorail deletes comments"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4272

The project maintainer tried to comment on issues, but the comments are deleted almost instantly.

[2017-11-19 01:10] oliverchang commented on #998
This is probably overaggressive spam filtering. There's https://bugs.chromium.org/p/monorail/issues/detail?id=2727 to track it on monorail side but unfortunately hasn't been much progress there yet.

[2017-11-19 01:11] oliverchang commented on #961
Let's close this and continue to track this in the bugzilla.

[2017-11-19 01:11] #961 closed

[2017-11-20 18:49] randombit opened #1001 "Trouble with RSS growth only visible under ASan - but not a leak?"
I recently made a change to one of the Botan fuzzers (asn1) to improve coverage. Unfortunately it seems to have some kind of leak that causes crashes after a while

https://oss-fuzz.com/v2/testcase-detail/6622180981866496

If I build the fuzzer locally with ASan, I can reproduce the leak; RSS seems to grow without bounds. However I can't find the problem. Setting `ASAN_OPTIONS=detect_leaks=1` and

[2017-11-20 21:06] jonathanmetzman opened #1002 "Wget2 Build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/log-f771f8fe-f1a3-40f6-be34-df690386a65a.txt

These look like the relevant lines:
Step #3: /tmp/wget_options_fuzzer-4386d4.o: In function `LLVMFuzzerTestOneInput':
Step #3: /src/wget2/fuzz/wget_options_fuzzer.c:106: undefined reference to `enable_testing()'
Step #3: ../src/options.o: In function `prompt_for_password':
Step #3: /src/wget2/src/optio

[2017-11-20 21:08] jonathanmetzman opened #1003 "Wireshark Build is Broken"
Logs here:
https://oss-fuzz-build-logs.storage.googleapis.com/log-15db43c4-ed7e-40d8-8b78-7858257573bc.txt

These look like the relevant lines:

Step #3: + clang++ -O1 -fno-omit-frame-pointer -gline-tables-only -DFUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION -fsanitize=address -fsanitize-address-use-after-scope -fsanitize=fuzzer-no-link -stdlib=libc++ /work/fuzzshark_ip.o -o /workspace/out/address/fuzz

[2017-11-20 21:25] jonathanmetzman commented on #1002
@rockdaboot can you please take a look?

[2017-11-20 21:26] jonathanmetzman commented on #1003
@jwzawadzki  can you please take a look?

[2017-11-21 08:35] rockdaboot commented on #1002
Thanks, just pushed a fix.

[2017-11-21 18:40] jwzawadzki commented on #1003
Should be fixed by https://code.wireshark.org/review/24523/

[2017-11-21 18:55] Dor1s commented on #567
Question from the email thread by @michaelni :

I think you can download the build from April 29th (https://storage.cloud.google.com/clusterfuzz-builds/ffmpeg/ffmpeg-address-201704291626.zip?_ga=2.106562883.-192946872.1496676137), it's one of the last successful builds we had before removing the corpus.

Another way is to revert https://github.com/google/oss-fuzz/commit/ed23c7a0c9722fc6bf4243b820b

[2017-11-22 16:32] michaelni commented on #567
All the  *seed_corpus.zip in this file still only add up to 1.2G

[2017-11-22 18:42] michaelni commented on #567
rebuilding with the commit reverted leads to 13gb corpus, 5gb of this is duplicated *_PCM_* content.
If i look at for example ffmpeg_AV_CODEC_ID_H263I_fuzzer_seed_corpus.zip its full of h264 conformance files. why ? 360mb in CUVID specific corpus files, (CUVID is GPU stuff, do the systems this runs on even have the hw for this? ffmpeg_AV_CODEC_ID_DOLBY_E_fuzzer_seed_corpus.zip contains 1gb of samp

[2017-11-22 19:16] Dor1s commented on #567
The script (relevant_corpus_files) is pretty dumb and certainly archives redundant stuff in some cases.

For example, instead of:

[code]

we should probably be doing something like:

[code]

It would be awesome if we replace it with another solution providing more granular and more accurate grouping.

[2017-11-23 19:05] michaelni commented on #567
You should be able to identify most codecs per sample using something like:
[code]

[2017-11-23 20:59] caolanm opened #1007 "fixed crash not updated as such in bugs.chromium.org"
Like #973 https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4149 links to https://oss-fuzz.com/v2/testcase-detail/4565444439572480 and oss-fuzz reports it as Fixed but https://oss-fuzz.com/v2/testcase-detail/4565444439572480 doesn't link back to https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4149 which remains open

I wonder if this happens if an issue is fixed while oss-fuzz is still p

[2017-11-24 03:04] Dor1s commented on #1007
Weird. I checked the logs in case anyone manually unattached bug from the testcase, but haven't found any records.

@inferno-chromium @oliverchang  I wonder if it's possible that in `def file_issue` function `issue.save()` works successfully, but testcase update fails after that. Maybe race condition with another job?

[2017-11-24 16:20] Pro commented on #1007
I have the same problem here:

It shows still open here: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4183

While https://oss-fuzz.com/v2/testcase-detail/4952054897311744?noredirect=1 shows it is fixed

[2017-11-25 16:54] zoulasc opened #1009 "-fsanitize=memory mbrtowc is broken:"
The sanitizer version of mbrtowc is broken:

[11:53am] 24>cat t.c
#include <wchar.h>
#include <stdio.h>
#include <string.h>

int
main(void)
{
        mbstate_t state;
        char c = '\377';
        wchar_t wc;
        size_t rv;

        memset(&state, 0, sizeof(state));

        rv = mbrtowc(&wc, &c, 1, &state);
        printf("%#zx\n", rv);
        return 0;
}
[11:53am] 25>clang -fPIE -pie -fs

[2017-11-26 13:03] LebedevRI commented on #682
Can some progress *please* happen here?
Many of the reports i'm having (or worse, not even having) are actually an unsigned integer overflow, instead of OOM/etc.

[2017-11-26 22:28] Dor1s commented on #682
@LebedevRI, could you please elaborate? I've just checked the issues available for librawspeed, and noticed the following:

A) a couple of timeouts / OOMs found with ASan

B) a few more OOMs with MSan -- quite expected, MSan has a larger memory overhead

C) several integer overflows with UBSan, all of them seem to be valid, e.g. `runtime error: signed integer overflow: -2147450776 + -65535 cannot

[2017-11-27 07:53] LebedevRI commented on #682
E.g. the last one:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4440 was fixed by https://github.com/darktable-org/rawspeed/commit/ddd9d4bd666d492ed7f0a58da87caac58c69bbb7

The cast was converting huge unsigned x/y into negative signed, thus these checks did not fail.
And unsigned multiplications in `return &data[static_cast<size_t>(y) * pitch + x * bpp];`  overflowed, returning a pointer

[2017-11-27 07:58] LebedevRI commented on #682
(i guess what i would also want is "value-changing cast" sanitizer https://github.com/google/sanitizers/issues/885#issuecomment-346899629, but it does not even exist yet in llvm :))

[2017-11-27 14:50] dtardon commented on #1007
Same here: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3631 and https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3670

[2017-11-27 16:07] inferno-chromium commented on #1007
This happened to a bunch of testcases, i think this time i have a clue to the race condition update. For these testcase i would have to manually fix the mappings.

5611874281324544 2017-11-25 12:54:37.956540 asan_chakra
5407414712008704 2017-11-24 09:36:29.812530 libfuzzer_msan_unrar
4952054897311744 2017-11-12 03:31:21.129930 libfuzzer_asan_open62541
4565444439572480 2017-11-09 15:37:07.192440 li

[2017-11-27 16:23] Dor1s commented on #682
Ah, I see what you mean, thanks. I believe that you can do something like https://github.com/google/oss-fuzz/blob/master/projects/llvm_libcxx/build.sh#L19 for now:

[code]

[2017-11-27 16:28] kcc commented on #682
Probably `fno-sanitize-recover` instead `fsanitize-trap`

[2017-11-27 17:19] LebedevRI commented on #682
Ok, thanks @Dor1s and @kcc, ugly temporary hacks it is :) #1011

[2017-11-27 20:43] inferno-chromium commented on #1007
I did another speculative fix, also added more logging for future debugging. Also, ran a script to update all current testcase mappings, so i see https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4149 and https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3670 getting marked verified now.

[2017-11-27 21:03] eugenis commented on #1009
Ouch. The bug has been there for >4 years.

[2017-11-28 16:03] #1003 closed

[2017-11-28 16:04] inferno-chromium commented on #1002
@rockdaboot - build is still broken.

Step #3: /tmp/wget_options_fuzzer-4e64c6.o: In function `LLVMFuzzerTestOneInput':
Step #3: /src/wget2/fuzz/wget_options_fuzzer.c:106: undefined reference to `enable_testing()'
Step #3: clang-6.0: error: linker command failed with exit code 1 (use -v to see invocation)
Step #3: Makefile:2736: recipe for target 'oss-fuzz' failed
Step #3: make: *** [oss-fuzz] Err

[2017-11-28 16:05] #992 closed

[2017-11-28 16:06] inferno-chromium commented on #967
Might be an easy one to knock out during sheriffing week :)

[2017-11-28 16:06] inferno-chromium commented on #998
Fixed now.

[2017-11-28 16:06] #998 closed

[2017-11-28 16:06] #925 closed

[2017-11-28 18:59] LebedevRI opened #1012 "Please document applicability of asan user poisoning of the input data"
Hi. I did search for this, but i did not find it.

There is one more kind of issues that i would like to be able to find, but don't yet.
*Abstract* example, does not check buffer sizes:
[code]
As long as it does not read out-of-bounds, all is good from ASAN's side.

BUT, these two buffers may end up pointing to the same memory, or to overlapping regions of memory. And that isn't actually always me

[2017-11-28 20:15] kcc commented on #1012
I would suggest to malloc and free temporary buffers (or, in C++, create `std::vector<>`) and copy data there, then use these temp objects. User poisoning is much easier to get wrong.

[2017-11-28 20:26] LebedevRI commented on #1012
temporary buffer*s*? That would completely defy the point.
(The question is, can i safely poison the input, or do i *have to* duplicate it first)

While not on the input data, but on internal memory, it has found and is finding quite a few issues, not all of which would end up being write past the end of the buffer without said poisoning.

[2017-11-28 20:36] kcc commented on #1012
Probably you can, as long as you unpoison it before returning from `LLVMFuzzerTestOneInput`.
But again, it's easy to get wrong.

I don't understand the problem, please explain.
If `LLVMFuzzerTestOneInput` didn't return nicely, libFuzzer will report an error and exit.
So, why would you need "post_TestOneInput"?

[2017-11-28 20:46] LebedevRI commented on #1012
Hmm, actually, i did not entertain that possibility.
I *thought* that it would/might still access the input buffer for whatever housekeeping needs (storing the crashed state to disk). So if it is really that simple, it would be awesome.

But now the question is, is that libFuzzer-specific, or others (afl, ...) also won't read the buffer after bad return?

[2017-11-28 21:32] kcc commented on #1012
libFuzzer does read the buffer after `LLVMFuzzerTestOneInput`, but only if `LLVMFuzzerTestOneInput` has returned. If a crash happens, `LLVMFuzzerTestOneInput` does not return.

Can't promise you this.

[2017-11-29 14:14] alex opened #1014 "Automatically ignoring certain crash conditions?"
Hi folks,

For spidermonkey, we'd like to automatically ignore crashes that have the message "[unhandlable oom]", since these are the VM intentionally crashing due to being unrecoverably out of memory.

Is this possible?

[2017-11-29 14:26] inferno-chromium commented on #1014
Can you give a testcase example link currently showing up on ClusterFuzz ?

[2017-11-29 15:19] alex commented on #1014
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4418

[2017-11-29 16:48] inferno-chromium commented on #1014
Added regex  "SEARCH_EXCLUDES = \[unhandlable oom\]" to spidermonkey job type.

[2017-11-29 16:48] alex commented on #1014
Slick, thanks!

[2017-11-29 17:03] #1014 closed

[2017-11-30 22:17] #1009 closed

[2017-12-01 14:54] LebedevRI opened #1018 "Issues with issues."
The issue https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3320 is
1. marked as unreproducible, which is wrong, i was quite reproducible with the git commits before it was fixed.
2. now that it is actually fixed, it is not being marked as such because of false "unreproducible" status
3. `Closure: | Will be auto-closed on 12/14/2017 if flaky crash no longer seen`
and
[code]
   => so it will be

[2017-12-04 08:32] rockdaboot commented on #1002
Now finally fixed. Thanks for reporting.

[2017-12-04 16:06] #1002 closed

[2017-12-04 17:39] inferno-chromium commented on #1007
Not seeing this anymore.

[2017-12-04 18:18] inferno-chromium opened #1020 "Analyze how many fuzz targets OOM"

[2017-12-05 20:56] oliverchang opened #1022 "make cross pollination work again"
Recent refactoring broke this.

[2017-12-05 21:28] Dor1s commented on #555
Another issue (sort of):

[code]

We spent 38 seconds even though passed `-timeout-25`.

The output is slightly confusing, as there are actually 2 runs (w/o and with leak detection), even if you pass `-runs=1`. However, I don't see any way to how to make it better.

[2017-12-06 08:17] LebedevRI commented on #1018
Ping, complaint/observation is still valid. Also, no occurrences for 8 days now.

[2017-12-06 15:56] inferno-chromium commented on #1018
Sometimes a test can be flaky based on execution environment. I don't think we have cycles to debug this one explicitly. This stack has not come back again, so closing the bug.

[2017-12-06 15:56] #1018 closed

[2017-12-06 16:06] LebedevRI commented on #1018
@inferno-chromium thank you!

[2017-12-06 16:58] Dor1s commented on #832
I think it's done via #975 and https://github.com/google/oss-fuzz/commit/62048995161677436b1e0326dd9d2c004f3f8124

[2017-12-06 16:58] #832 closed

[2017-12-06 17:39] Dor1s opened #1023 "Wireshark build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @jwzawadzki

[2017-12-06 17:40] Dor1s opened #1024 "LLVM build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @kcc @morehouse

[2017-12-06 18:12] morehouse commented on #1024
This is caused by r319840.  Looking into it.

[2017-12-06 23:50] Dor1s opened #1025 "Libreoffice build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @caolanm

[2017-12-06 23:51] Dor1s opened #1026 "grpc build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @matt-kwong

[2017-12-06 23:52] Dor1s commented on #792
The build is still broken.

https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-12-07 01:08] #1026 closed

[2017-12-07 16:33] inferno-chromium commented on #1007
Just saw this on internal chromium - https://clusterfuzz.com/v2/testcase-detail/5275556227842048

[2017-12-07 16:41] caolanm commented on #1025
That particular error is fixed, there was another one after that though, I expect the next build to pass

[2017-12-07 17:49] Dor1s commented on #1025
Thanks @caolanm, I kicked off the build manually. Will re-open the issue if it breaks.

[2017-12-07 18:02] oliverchang commented on #608
Progress update:

We now have a set of scripts in https://github.com/google/oss-fuzz/tree/master/infra/base-images/msan-builder that attempt to build MSan instrumented libraries by hooking into debian's package build system.

This should hopefully work for most packages in a debian-based distro with some [minor overrides](https://github.com/google/oss-fuzz/tree/master/infra/base-images/msan-builde

[2017-12-07 18:05] oliverchang commented on #608
Also have a question for @eugenis :

To keep our build process simple, we're building libraries with `-fsanitize-recover=memory`. Are there any downsides to this? And can we mix a binary compiled *without* `-fsanitize-recover=memory` with these libraries?

[2017-12-07 19:00] jwzawadzki commented on #1023
It looks like to be fixed by https://code.wireshark.org/review/24713/

[2017-12-07 19:32] Dor1s commented on #1023
Thank you, confirmed!

[2017-12-07 19:32] #1023 closed

[2017-12-07 19:46] Dor1s commented on #1025
Re-opening due to:

[code]

[2017-12-07 21:17] caolanm commented on #1025
Yeah, gpg signing support landed since my last brave claim, fixed the gpgme fallout now, local oss-fuzz build succeeds for me again

[2017-12-07 22:45] eugenis commented on #608
Having just one module built with -fsanitize-recover=memory will flip the
default setting of halt_on_error in MSAN_OPTIONS to false, which will make
all reports in interceptors non-terminating. Even when the interceptor is
called from a module that is built w/o fsanitize-recover.

You can compensate for that by setting MSAN_OPTIONS=halt_on_error=true.

On Thu, Dec 7, 2017 at 10:05 AM, Oliver Chang

[2017-12-08 16:22] morehouse commented on #1024
Fixed by r319948, r319987, and r320074.

[2017-12-08 16:22] #1024 closed

[2017-12-08 21:59] rockdaboot opened #1030 "Unexpected large amounts of corpora"
Hi, just wanted to merge latest corpora and saw that some fuzzers have >167k files where they had just ~2k before. The project code didn't change and the coverage was pretty good before (with those ~2k corpora). After downloading all 167k files it turned out that the clang -merge=1 step resulted in just 1 (one) single new corpus (which makes ~350 in total).

It feels as if there is something wrong

[2017-12-09 01:57] oliverchang commented on #1030
Will take a closer look next week, but the jump appears to have occurred around Nov 14/15. Did anything change around then?

[2017-12-09 02:04] kcc commented on #1030
Did we update libFuzzer around that time?

[2017-12-09 02:53] kcc commented on #1030
I was investigating another case of abnormal corpus growth and it looks like it's caused by the recent libFuzzer's stack depth instrumentation -- it's too aggressive and if the target has deep recursion it may lead to crazy corpus sizes over time.

I've submitted a stop gap to make it less aggressive, will investigate further next week.
http://llvm.org/viewvc/llvm-project?view=revision&revision=32

[2017-12-09 19:44] kcc commented on #1030
A better fix: http://llvm.org/viewvc/llvm-project?view=revision&revision=320259
@oliverchang please roll the new libFuzzer -- it is very likely going to fix this issue too.

[2017-12-09 23:06] oliverchang commented on #1030
Ok, rolling and trying a rebuild.

[2017-12-10 23:56] inferno-chromium commented on #1007
Landed another fix, but last comment was clusterfuzz internal (chromium) only, and does not impact oss-fuzz, also confirmed no new oss-fuzz testcases impacted. Closing.

[2017-12-10 23:56] #1007 closed

[2017-12-11 02:21] Dor1s opened #1032 "JavaScriptCode build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-12-11 02:22] Dor1s opened #1033 "Tor build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

//cc @nmathewson

[2017-12-11 13:05] nmathewson commented on #1033
Thanks for the heads-up!  This looks like a breakage in the --disable-memory-sentinels configuration option, caused by the recently merged https://trac.torproject.org/projects/tor/ticket/24337.  Should be fixed with commit 58e8094816cb7d2dbc6ecc71892b667e968d9e2d

[2017-12-11 17:02] Dor1s commented on #1033
Confirmed, thanks!

[2017-12-11 17:02] #1033 closed

[2017-12-11 17:13] oliverchang commented on #1030
Thanks Kostya, I see that on https://oss-fuzz.com/v2/fuzzer-stats/by-day/2017-12-04/2017-12-10/fuzzer/libFuzzer_wget2_libwget_atom_url_fuzzer and https://oss-fuzz.com/v2/fuzzer-stats/by-day/2017-12-04/2017-12-10/fuzzer/libFuzzer_wget2_libwget_sitemap_url_fuzzer the corpus size is back to 500~ from 100k~

[2017-12-11 17:13] #1030 closed

[2017-12-11 19:44] rockdaboot commented on #1030
Great, thank you !

[2017-12-11 21:44] oliverchang commented on #1032
This is now fixed.

[2017-12-11 21:44] #1032 closed

[2017-12-12 15:39] Dor1s opened #1034 "Dropbear build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Can be a temporary issue though:

[code]

[2017-12-12 15:39] Dor1s commented on #1034
//cc @mkj

[2017-12-12 15:40] Dor1s opened #1035 "tpm2 build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2017-12-12 15:41] Dor1s commented on #1035
//cc @ngm0

[2017-12-12 15:43] Dor1s commented on #792
Pinged @petrhosek over email.

[2017-12-12 15:44] mkj commented on #1034
The server was down with a power failure, should be OK now.

[2017-12-12 16:45] vbendeb commented on #1035
Let me take care of this.

[2017-12-12 17:04] vbendeb commented on #1035
The below would be the fix, but I don't have the environment set up to run fuzzer, ngm@ gracefully offered to take care of testing and uploading this.

diff --git a/Startup.c b/Startup.c
index 54df25b..053735c 100644
--- a/Startup.c
+++ b/Startup.c
@@ -163,8 +163,10 @@ TPM2_Startup(
    // The H-CRTM state no longer matters
    g_DrtmPreStartup = FALSE;

+#ifdef EMBEDDED_MODE
    if (startup == SU

[2017-12-12 19:43] kcc commented on #933
This tracker is probably not the best place for llvm upstream discussion.
BTW, I am still not certain what exactly do you want and why.

[2017-12-12 19:55] LebedevRI commented on #933
As the previous comments in this issue explain, i would like to be able to use sanitizers/fuzzing with LTO/LLD, be it either during normal local development, or in oss-fuzz.
As you have pointed out, this requires enhancing compiler-rt test coverage with LTO/LLD, which is what i'm doing ([ubsan](https://reviews.llvm.org/D39508), [msan](https://reviews.llvm.org/D40768)).
So the current question is,

[2017-12-12 20:06] kcc commented on #933
Local development -- fine, that may speed things up for you.
oss-fuzz -- I am not convinced yet.
Even if this speeds up fuzzing, we are unlikely to switch other projects to LTO any time soon,
so the benefit will be localized. And we will have to pay the maintenance cost.

Also, remember, there is a risk that LTO will bring more aggressive inlining and other optimizations,
and historically those we

[2017-12-13 11:28] LebedevRI opened #1036 "UBSAN Unsigned-integer-overflow report deduplication is broken."
https://oss-fuzz.com/v2/testcase-detail/6655889663590400
https://oss-fuzz.com/v2/testcase-detail/5355717868388352
https://oss-fuzz.com/v2/testcase-detail/6208906813505536
https://oss-fuzz.com/v2/testcase-detail/5095098715996160
... and many more from https://oss-fuzz.com/v2/crash-stats?block=day&days=7&end=420323&group=platform&number=count&q=unsigned-integer-overflow&sort=total_count

all point t

[2017-12-13 15:43] inferno-chromium commented on #1036
Basically our deduplication works as a best guess, it tries to group similar looking stacktraces into one group (https://oss-fuzz.com/v2/testcases?q=group%3A5575276596559872). If we don't this, we spam and create many bugs for most scenarios (>90%). So, this case which happens ~ <10% time, we rely on you fixing individual bugs. If you fix one bug, then ClusterFuzz will close that, then later autom

[2017-12-13 15:43] #1036 closed

[2017-12-13 15:44] inferno-chromium commented on #1036
And no, this is not related to #863, #863 is an issue of not using the right part of stacktrace to put in crash state for deduplication.

[2017-12-14 05:25] inferno-chromium commented on #1034
Now fixed.

[2017-12-14 05:25] #1034 closed

[2017-12-14 05:25] inferno-chromium commented on #1025
Now fixed.

[2017-12-14 05:25] #1025 closed

[2017-12-14 05:30] inferno-chromium opened #1037 "openssl build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Step #3: ../../usr/lib/libFuzzingEngine.a(FuzzerUtilLinux.o):(.eh_frame+0x13): undefined reference to `__gxx_personality_v0'
Step #3: ../../usr/lib/libFuzzingEngine.a(FuzzerUtilPosix.o): In function `fuzzer::DisassembleCmd(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&)':
Step #3: /src/libf

[2017-12-14 10:11] kroeckx commented on #1037
For some reason the LDCMD=clang++ doesn't seem to have an effect anymore, this is probably related to some recent changes. @levitte: Can you look at this?

[2017-12-14 10:27] levitte commented on #1037
Ahhhhh, yes, I may have missed that one.  Distracted by a meeting right now, but @kroeckx, please nudge me this evening and I'll have another look.

[2017-12-14 14:49] caolanm opened #1038 "two issues "fixed" but not "verified" and closed"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4583 and https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4592 were detected as "fixed", but didn't get the usual follow up "verified" and closed status for some unknown reason

[2017-12-14 21:47] levitte commented on #1037
I would like to make something cleaner, but need to have more brains than I have for the moment...  in the mean time, can you check if this patch gives a better result?

[code]

[2017-12-14 23:05] mrphs opened #1039 "web interface doesn't have log-out option"
I just realized that the https://oss-fuzz.com web interface doesn't have a way for user to log out. Even if users log out of their google account in the same browser, oss-fuzz will remain logged in. This is very risky since you can have access to the list of crashes using this interface and people might not notice they haven't been successfully signed out.

[2017-12-18 17:37] inferno-chromium commented on #1037
Build is green now!.

[2017-12-18 17:37] #1037 closed

[2017-12-19 00:29] kcc opened #1042 "Some of the LLVM fuzzers fail with "size of coverage PC tables does not match""
* build llvm fuzzers
* run e.g. /out/llvm-isel-fuzzer--aarch64-O2
[code]

[2017-12-19 00:36] morehouse commented on #1042
llvm.org/pr34636

[2017-12-19 01:38] kcc commented on #1042
sure, but I thought we've disabled dead stripping in the llvm build for fuzzers.

[2017-12-19 10:05] igor-laevsky commented on #1042
From the ClusterFuzz logs I see that problem started to appear somewhere around 13-14 of November, the day when the llvm-opt-fuzzer was added, but that may be just a coincidence.

Also worth noting that I can run these fuzzers locally on MacOS with no problem.

[2017-12-19 19:34] morehouse commented on #1042
November 14 makes sense.  That's when we switched coverage flags to `-fsanitize=fuzzer-no-link`.  My guess is the LLVM build is using dead stripping.  Looking into it.

[2017-12-19 20:47] #1042 closed

[2017-12-20 20:58] Dor1s commented on #402
* VLC: https://github.com/videolan/vlc, https://www.videolan.org/security/

[2017-12-21 11:44] igor-laevsky commented on #1042
Hm. I still see this error in the recent logs. I checked recent build logs which have "-DLLVM_NO_DEAD_STRIP" defined.

[2017-12-21 12:45] igor-laevsky commented on #1042
Actually I can see that new issues just started to come in from the isel and opt fuzzers. So I think everything works, I just needed to wait a bit longer.

[2017-12-21 18:33] jonathanmetzman opened #1044 "openssh build is broken"
@djmdjm could you take a look

The logs are [here](https://oss-fuzz-build-logs.storage.googleapis.com/log-17b8ddb7-a0f0-4353-9c8a-2fd1e30ea9df.txt)

These seem to be the relevant lines:
[code]

[2017-12-21 18:39] jonathanmetzman opened #1045 "gstreamer build is broken"
@bilboed could you please take a look at this?

[Here](https://oss-fuzz-build-logs.storage.googleapis.com/log-bd33f783-17bb-487c-ab28-156a41036fb8.txt) are the build logs.

These seem to be the relevant lines:
[code]

[2017-12-25 14:53] igor-laevsky opened #1047 "Max len for runs with corpus"
This is more of a question than an issue.

Is there a way to force OSSFuzz to calculate max_len argument from the testing corpus? This is motivated by the large amount of failures of the llvm-opt-fuzzer  (~70% of runs). Problem is that fuzzer gets rather small max_len argument and libFuzzer seems to blindly clamp cases from the input corpus. However those inputs are structured files representing l

[2017-12-27 16:45] Dor1s commented on #1047
You can specify an arbitrary `max_len` value via .options file. In that case, OSS-Fuzz will not use some random length, but will always use the one you specified. Example:

https://github.com/google/oss-fuzz/blob/a143b9b39a51412d133f846688194d68fe4197ba/projects/woff2/convert_woff2ttf_fuzzer.options#L2

and don't forget to copy that to `$OUT/` dir: https://github.com/google/oss-fuzz/blob/a143b9b39

[2017-12-28 09:39] igor-laevsky commented on #1047
Thanks! Didn't know that it's possible to specify separate options for each of the fuzzing targets. However llvm fuzzer case is a bit more complicated because we generate corpus out of the current set of unit tests. Which means that it's maximum size may change over time. It there a more elegant solution rather than simply putting very high max length limit?

[2017-12-28 15:51] Dor1s commented on #1047
In chat case we'll probably have to make a change on our side. By default, libFuzzer uses length of the largest corpus input as `max_len`, so we simply don't need to add our own value.

Abhishek (@inferno-chromium) what do you think about using
[code]

in .options file and not adding `max_len` option in the launcher in that case?

[2018-01-02 16:06] inferno-chromium commented on #1047
@Dor1s - sounds good!

@jonathanmetzman - What does afl do in this case ? Or does it ignore it always.

[2018-01-02 16:40] inferno-chromium commented on #1045
@bilboed - Happy new year and friendly ping!

[2018-01-02 16:40] inferno-chromium commented on #1044
@djmdjm - Happy new year and friendly ping!

[2018-01-02 17:05] inferno-chromium commented on #1038
It is a monorail glitch. We pushed an issue comment update, and thought it went through, but it didn't. So, we closed testcase and didn't followup on verified again. Closed these manually now and pushing a fix on our side to recheck issue status after update to ensure we have the right result.

[2018-01-02 17:05] #1038 closed

[2018-01-02 17:15] jonathanmetzman commented on #1047
AFL doesn't have a way to set maximum length. So we always ignore it.

[2018-01-03 06:09] bilboed commented on #1045
whoops, right. Having a look at it. Happy new year :)

[2018-01-03 07:58] bilboed commented on #1045
Should be fixed now.

[2018-01-03 17:38] Dor1s commented on #1045
Confirmed, thanks!

[2018-01-03 17:38] #1045 closed

[2018-01-03 21:40] inferno-chromium commented on #1047
We fixed it by picking a random -max_len only 33% of the time. Rest of the time, we just leave it for libFuzzer to read corpus and determine it from max file size. Note that sometimes we try with a subset of corpus to see it we can get more coverage, so in those case, it will pick maximum file size of the corpus subset.

[2018-01-03 21:40] #1047 closed

[2018-01-04 20:52] Dor1s commented on #382
Reminder for myself: look through the issues we've seen before https://github.com/google/oss-fuzz/pull/831

and then re-enable bad build checks: https://github.com/google/oss-fuzz/commit/718db9173d81905129fae15718aad65d9a8a9633#diff-b2d2c950972d10d3ddd6303fc7845502

[2018-01-07 21:26] Dor1s commented on #624
@chifflier ping :)

[2018-01-08 23:21] darconeous opened #1054 "oss-fuzz seems to leak file descriptors after running a while"
While investigating [oss-fuzz-3565](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=3565), I added some code to count the number of open file descriptors both before and after a run of the fuzz target. Expecting to finally be able to identify what in `wpantund` was leaking file descriptors, I was surprised to notice that the number of open file descriptors at the start of the fuzz target was

[2018-01-09 02:46] Dor1s commented on #1054
Did you notice that behavior while running fuzz target locally, or you were looking at logs from OSS-Fuzz?

[2018-01-09 16:17] randombit commented on #1001
Closing, seems to be fixed now. On Dec 9th, max RSS was 1755 MB. On Dec 11th, max RSS was 502 MB, and it's been under 500 MB since then. Also, on Dec 9th the corpus was 8337 (8 MB), following day 2338 (778 KB). Coverage %s have remained steady.

I just double checked git history and there were *no* changes to the fuzz target or the code it calls between Nov 15th and Dec 23rd. So I assume something

[2018-01-09 16:17] #1001 closed

[2018-01-09 18:46] Dor1s opened #1057 "libidn build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2018-01-09 18:47] Dor1s commented on #792
@petrhosek  ping.

[2018-01-09 18:47] Dor1s opened #1058 "cras build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2018-01-09 18:47] Dor1s commented on #1057
//cc @rockdaboot

[2018-01-09 18:48] Dor1s commented on #1058
//dd @dgreid @chiang831

[2018-01-09 19:20] dgreid commented on #1058
a liselinux dependency got added yesterday. I'll update the docker
container. Thanks for the heads up.

On Tue, Jan 9, 2018 at 10:48 AM, Max Moroz <notifications@github.com> wrote:

[2018-01-09 19:57] darconeous commented on #1054
It was from a local run, but I've merged the change into wpantund so that I can reproduce this on oss-fuzz.

[2018-01-09 20:00] darconeous commented on #1054
You can see the trap I added being triggered here: https://oss-fuzz.com/v2/testcase-detail/5138387548766208

That the code does is compare the number of file descriptors at the start of the test to the number of descriptors at the end of the previous test. If they differ, it prints out a log message. If the total number of file descriptors open is more than 10, then it aborts.

[2018-01-09 20:02] darconeous commented on #1054
It also compares the number of file descriptors which are opened between the start of the test and the end of the test and aborts if the counts are different. I haven't seen any aborts from that, so I'm somewhat confident that wpantund isn't leaking file descriptors.

[2018-01-09 20:08] Dor1s commented on #1054
If it can be reproduced locally, then it's not caused by OSS-Fuzz infra, but still can be caused by fuzzing engine, i.e. libFuzzer in this particular case. It's expected that libFuzzer does file operations, as it reads and writes corpus files. Though everything should happen in single process, thus I wouldn't expect libFuzzer to have too many files open at the same time. What's the max value you'v

[2018-01-09 20:11] darconeous commented on #1054
1024, the point where my app can no longer function.

[2018-01-09 20:24] Dor1s commented on #1054
Thanks for the info. I did a quick look through libFuzzer's file operations, didn't noticed any possible leaks. //cc @morehouse regarding this behavior from libFuzzer side and @oliverchang in case our restricted environment may affect this.

[2018-01-09 20:38] rockdaboot commented on #1057
Fix is already in upstream - should be ok with the next build (hopefully).

[2018-01-09 20:51] darconeous commented on #1054
Yeah, I poked around in libfuzzer as well and nothing obvious stood out to me. Maybe I should try forcing the execution of lsof when it hits this issue to see what those open file descriptors are.

[2018-01-09 20:53] Dor1s commented on #1054
Correction to my previous command: @oliverchang, restricted environment shouldn't matter here, sorry, but anyway maybe you have some clues about the issue

[2018-01-09 20:54] Dor1s commented on #1054
@darconeous did you try `strace` to see which FDs are open and leaked? It those are files, we should see filenames as well.

[2018-01-09 20:59] darconeous commented on #1054
Oh, good idea, I'll give that a try after this `lsof` attempt finished running on my machine.

[2018-01-09 21:52] Dor1s commented on #1057
Confirmed, thanks Tim for the rapid fix!

[2018-01-09 21:52] #1057 closed

[2018-01-09 22:50] darconeous commented on #1054
Hmm... `strace` makes things run *really* slowly. Still trying to get `lsof` to run properly.

[2018-01-09 23:29] darconeous commented on #1054
Well, I got `lsof` to work...

[code]

Seems kinda weird. I'm also (so far) having some trouble reproducing this issue when I run the fuzzer directly from the shell, which may just be due to my impatience, but may be indicative of... something...

[2018-01-09 23:31] darconeous commented on #1054
Normally it looks something like this:

[code]

[2018-01-09 23:33] oliverchang commented on #1054
What did you do different to get these 2 different results?

[2018-01-09 23:38] darconeous commented on #1054
The first instance came from a `system()` call to `lsof` directly from the fuzzer once a threshold number of FDs had leaked.

The second instance came from me running `lsof` on the PID of the fuzzer in a 1-second loop from a `docker exec` shell while the `run-fuzzer` was running.

Here is the output from `lsof` from before too many FDs have leaked but after FDs have started leaking:

[code]

[2018-01-09 23:42] darconeous commented on #1054
There are a few instances where wpantund opens `/dev/null`, so I'm going to explicitly rule those out real quick... But I'm not sure why my code wouldn't have detected that as an obvious FD leak internal to wpantund.

[2018-01-10 00:00] darconeous commented on #1054
I cannot fathom why my code wouldn't have detected a leak. Here is the code that is supposed to calculate and store the number of file descriptors open before the real target gets executed:

https://github.com/openthread/wpantund/blob/2772d9a64dd3d8695f866b429dc1a3f6e35b11af/src/wpantund/wpantund-fuzz.cpp#L255-L267

And here is the code that is supposed to detect FD leaks in the target:

https://g

[2018-01-10 00:08] darconeous commented on #1054
oh gawd I'm an idiot. I'm returning early.

My bug.

[2018-01-10 00:08] darconeous commented on #1054
False alarm. Will fix. Sorry for the noise.

[2018-01-10 00:08] #1054 closed

[2018-01-10 00:34] Dor1s opened #1063 "Add more fuzz targets for zlib"
There are few new fuzz targets in Chromium, need to add those (ideally, upstream all the targets); https://cs.chromium.org/chromium/src/third_party/zlib/contrib/tests/fuzzers/

[2018-01-10 19:17] kcc commented on #1001
Yes, there were changes in both asan and libFuzzer to reduce memory consumption.
(and there was a problem in libFuzzer that caused the corpus to grow too much; the problem was fixed around that time).
Thanks for checking!

[2018-01-10 23:46] kcc commented on #1047
But those are bugs, right?
(I do understand that those are not the bugs we want to find the most)
The fuzz target should generally not assume that the input is valid.

[2018-01-11 13:10] igor-laevsky commented on #1047
@kcc, yes those are valid bugs. However they cover obscure parts of the bitcode reader and don't present any immediate interest especially for the llvm-opt-fuzzer. I think right way to deal with them would be to add separate llvm-bitcode fuzzer.

[2018-01-11 20:41] alex opened #1065 "Build status page doesn't render in Firefox nightly"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

It fails with: `Loading failed for the <script> with source “https://oss-fuzz-build-logs.storage.googleapis.com/bower_components/webcomponentsjs/webcomponents-hi-sd.js”.`

Skimming the source, it looks like that WebComponents URL is built based on which set of polyfills are needed, so that one needs `hi` and `sd`.

I guess for whatever

[2018-01-11 21:05] alex opened #1066 "Ability to trigger a new build?"
It'd be helpful for maintainers to be able to trigger a new build of their package. This can help resolve build errors more quickly, as well as confirm that bugs were fixed quickly.

[2018-01-12 00:15] morehouse commented on #774
I have an implementation for this on Linux.  But we only get a trace when `std::bad_alloc` is thrown (i.e. when the VSZ limit is hit during a `new`).  I get a backtrace on libFuzzer's OutOfMemoryTest.cpp, but only one of the benchmarks I've tried in https://github.com/google/fuzzer-test-suite/ gives a backtrace.  Instead, most give the below errors.
[code]
[code]

Is this still worthwhile to chang

[2018-01-12 00:31] morehouse commented on #774
Also, now that I look at it... UBSan does implement `__sanitizer_print_stack_trace`.  Why don't we just use that?

[2018-01-12 00:51] kcc commented on #774
How do you build?
Looks like you have both asan and ubsan in the same process.

[2018-01-12 00:57] morehouse commented on #774
[code]
Doing `grep 'address' build.log` confirms no ASan.

[2018-01-12 00:59] oliverchang commented on #608
Progress update. MSan builds will now use static libraries available in [this list](https://github.com/google/oss-fuzz/blob/master/infra/base-images/msan-builder/Dockerfile#L32). Builds will also have their rpaths patched to use any instrumented dynamic libraries available too.

2 projects I looked at:

- libarchive. Many false positives closed, but [9](https://oss-fuzz.com/v2/testcases?job=libfuz

[2018-01-12 01:01] kcc commented on #774
can you reproduce `UndefinedBehaviorSanitizer's allocator is terminating` on a standalone small example?

[2018-01-12 02:52] oliverchang commented on #1065
Looks similar to https://github.com/webcomponents/webcomponentsjs/issues/817

[2018-01-12 02:59] alex commented on #1065
Strange, I wonder why I didn't notice this before today, I've certainly looked at the build status before.

[2018-01-12 03:05] oliverchang commented on #1065
Did a flag just get enabled by default? The issue in https://github.com/google/oss-fuzz/issues/1065#issuecomment-357128636 seems to suggest that it was caused by a flag.

[2018-01-12 03:08] alex commented on #1065
It's entirely possible we turned something on/off on nightly yesterday. I'll poke around when I'm at the office tomorrow.

[2018-01-12 18:19] morehouse commented on #774
[code]

[2018-01-12 18:22] morehouse commented on #774
Without my `setrlimit` patch, you can reproduce by running
[code]

[2018-01-12 19:24] kcc commented on #774
Ah, ok, I was afraid that somehow ubsan picks up asan's allocator or some such.
Here, the `Sanitizer CHECK failed` is  not from a user malloc, but from an internal malloc which can't mmap due to rlimit. Yea, it's a bit of a problem indeed. If we set AS rlimit and actually reach it, we can't allocate any more memory inside the symbolizer...

Bummer... Need to think more here. :(

[2018-01-12 21:20] Dor1s opened #1068 "sqlite3 build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2018-01-12 21:21] Dor1s opened #1069 "libreoffice build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2018-01-12 21:22] Dor1s opened #1070 "knot-dns build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2018-01-12 21:23] Dor1s opened #1071 "harfbuzz build is broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

[2018-01-12 21:24] Dor1s commented on #1068
//cc @glennrp

[2018-01-12 21:24] Dor1s commented on #1069
//cc @caolanm

[2018-01-12 21:24] Dor1s commented on #1070
//cc @jfoote

[2018-01-12 21:24] Dor1s commented on #1071
//cc @behdad

[2018-01-12 22:31] jfoote commented on #1070
Hi @Dor1s,

I can't seem to repro this locally via `python infra/helper.py build_fuzzers knot-dns` using the latest google/oss-fuzz master. I tried deleting all my docker images to force a re-pull of base-builder as well to no avail. Do you have any suggestions?

For what it's worth I think I ran into similar errors a while ago when errantly attempting to mix `-fsanitize=fuzzer-no-link` with other

[2018-01-12 22:49] glennrp commented on #1068
Libpng installs zlib-dev  in its Docker file with
apt-get install -y make autoconf automake libtool zlib1g-dev

Maybe you can use that to deal with the missing zlib.h

I tried to build my own clone of zlib in libpng but never got it
working.

[2018-01-12 23:01] alex commented on #430
This can be closed now, it's happening!

[2018-01-13 00:44] #430 closed

[2018-01-13 00:57] Dor1s commented on #1068
Interesting, thanks for your comment!

I took a closer look at the log, it builds with ASan successfully, but fails with MSan. Might be related to #1064, passing to Oliver.

[2018-01-14 06:29] #1071 closed

[2018-01-14 06:31] inferno-chromium commented on #1069
seems fixed now.

[2018-01-14 06:31] #1069 closed

[2018-01-14 08:42] bennypowers commented on #1065
I'd like to suggest this is because Nightly enabled `dom.webcomponents.customelements.enabled` a few days ago. see https://github.com/webcomponents/webcomponentsjs/issues/817#issuecomment-357496820

[2018-01-14 19:22] alex opened #1072 "oss-fuzz.com UI is too wide if you have access to many projects"
At first you're seeing this...

![screen shot 2018-01-14 at 2 22 05 pm](https://user-images.githubusercontent.com/772/34919761-5a9e9ff8-f936-11e7-8653-1709422d9d77.png)

Scroll to the right for quite a while...

![screen shot 2018-01-14 at 2 22 13 pm](https://user-images.githubusercontent.com/772/34919762-5aa9d9c2-f936-11e7-9417-642a5bbf1362.png)

[2018-01-14 19:25] alex commented on #1072
From playing with the HTML, putting a space after each comma in jobs list seems to fix it.

[2018-01-14 23:13] oliverchang commented on #1068
Green again.

For MSan builds, the configure script thinks zlib is installed and tries
to use it in a build because its .so/.a files are available. However,
the include files aren't because zlib1g-dev isn't installed.

[2018-01-14 23:13] #1068 closed

[2018-01-15 14:11] igor-laevsky commented on #1047
Hi!

Unfortunately I'm still observing the same problematic behaviour. Though it now has slightly less impact (~60% of runs). After conversation with @kcc I believe that problem lurks in the fact that fuzzer observes new coverage in the truncated tests. It then adds these new incorrect test cases to the corpus and then they produce non-deterministic failures in parts unrelated to the fuzzing targe

[2018-01-16 02:30] inferno-chromium commented on #1070
@kcc @vitalybuka - any thoughts on possible issues based on stack from c#0.

[2018-01-16 03:00] Dor1s commented on #1070
The failure happens during `coverage` build. To reproduce it locally:

[code]

[2018-01-16 18:39] kcc commented on #1047
Not sure about greatly.
What we *may* be able to get is the reduction of uninteresting bugs in the IR parser, but hardly a significant bump in interesting bugs.

If we stop using ClusterFuzz-provided max_len, (Oliver, can we do it?) we will still need to remove all truncated inputs from the existing corpus and make sure they don't appear again. Given that the IR mutator itself is a bit buggy I am

[2018-01-16 20:09] jfoote commented on #1070
Ah, got it. I'll take a look. Thanks @Dor1s.

[2018-01-16 22:27] oliverchang commented on #1047
If you a max_len in the .options file, then ClusterFuzz will always use that.  i.e. using `max_len = 0` in the options file should achieve this.

[2018-01-17 00:07] inferno-chromium commented on #1070
Fix worked.

[2018-01-17 00:07] #1070 closed

[2018-01-17 09:10] igor-laevsky commented on #1047
@kcc, I might have been overly optimistic with the "greatly" quality :) However not having truncated inputs will at least help to clearly understand what's happening when there is a bug in the mutator itself. I'm a bit curious on how corpus is updated on the ClusterFuzz. Is it accumulated across different builds? If there is a new hand-written test, when it get's merged to the ClusterFuzz corpus?

[2018-01-17 17:35] inferno-chromium opened #1081 "libsodium build broken"
python infra/helper.py build_fuzzers libsodium

++ basename /src/secret_key_auth_fuzzer.cc _fuzzer.cc
+ fuzzer=secret_key_auth
+ clang++ -O1 -fno-omit-frame-pointer -gline-tables-only -DFUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION -fsanitize=address -fsanitize-address-use-after-scope -fsanitize=fuzzer-no-link -stdlib=libc++ -std=c++11 -I/work/include /src/secret_key_auth_fuzzer.cc -o /out/secret_key_a

[2018-01-17 18:41] derwolfe commented on #1081
Sorry about this, this must have happened due to me having a dirty `$WORK` directory when building locally. I've submitted https://github.com/google/oss-fuzz/pull/1082#event-1428899964 to fix the issue.

[2018-01-17 18:49] inferno-chromium commented on #1081
Fixed, thanks, build is green.

[2018-01-17 18:49] #1081 closed

[2018-01-18 16:38] inferno-chromium opened #1085 "mupdf fails to build with ubsan (multiple errors)"
- python infra/helper.py build_image mupdf
- python infra/helper.py build_fuzzers --sanitizer undefined mupdf

Output:
Error 1:
clang-6.0: error: invalid argument '-fsanitize=vptr' not allowed with '-fno-rtti'
Makethird:167: recipe for target '/work/thirdparty/harfbuzz/hb-fallback-shape.o' failed
make: *** [/work/thirdparty/harfbuzz/hb-fallback-shape.o] Error 1
make: *** Waiting for unfinished job

[2018-01-18 16:46] titanous commented on #1085
I believe this will require tweaking the build system to avoid these errors.

/cc @sebras @ccxvii

[2018-01-18 16:50] inferno-chromium commented on #1085
atleast mupdf build is green for now, it will build and test with asan and msan configs for now. keeping this bug open so that you can fix ubsan.

if rtti can't be enabled, you can disable vptr as https://github.com/google/oss-fuzz/blob/master/projects/ffmpeg/build.sh#L18. but the other bug of index out of bounds needs to be fixed.

[2018-01-18 16:59] sebras commented on #1085
Seems like we have disabled rtti because harfbuzz doesn't rely on it. And were not regularly running with ubsan so this is not something we've encountered before.

[2018-01-18 17:03] alex commented on #1085
Removing the disable rtti flag when ubsan is enabled seems reasonable, and hopefully not burdensome

[2018-01-18 17:03] inferno-chromium commented on #1085
Yes right, harfbuzz has vptr disabled as well - https://github.com/google/oss-fuzz/blob/master/projects/harfbuzz/build.sh#L19. So, it is fine to disable it for you as well for now. +cc @behdad - is it fixable in harfbuzz so that then we can enable vptr for both harfbuzz and then its dependent project  mupdf.

[2018-01-18 17:05] inferno-chromium commented on #1085
Once that out-of-bounds error is fixed, please submit a pull request to reenable ubsan and disable vptr.

[2018-01-18 17:06] sebras commented on #1085
Is this behaviour new to clang-6.0? I tried to build using clang-4.0.1 and clang-5.0.1 but those builds didn't fail for me.

[2018-01-18 17:18] inferno-chromium commented on #1085
could be (since it can have new ubsan signatures), try using latest image using "python infra/helper.py build_image mupdf" and say yes to pull latest image.

[2018-01-18 19:08] inferno-chromium opened #1087 "some wireshark fuzz runs fail to sync corpus due to size explosion"
https://oss-fuzz.com/v2/fuzzer-stats/by-fuzzer/2018-01-11/2018-01-17/fuzzer/libFuzzer/job/libfuzzer_asan_wireshark

libFuzzer_wireshark_fuzzshark_ip - minimized corpus size (41319, 34 MB)
libFuzzer_wireshark_fuzzshark_ip_proto-udp - minimized corpus size (45157, 26 MB)

But problem is size explosion. We run corpus minimization once a day, but after few fuzz runs, corpus just explodes. Current size

[2018-01-18 19:24] inferno-chromium commented on #1087
afl stability numbers are low here as well.

fuzzerFuzz target | logs | total_crashes | new_crashes | known_crashes | edge_cov | func_cov | corpus_size | corpus_backup | avg_exec_per_sec | new_tests_added | stability
afl_wireshark_fuzzshark_ip_proto-udp | Logs | 826 | 2 | 8 | 35.09% (91692/261312) | 42.20% (29628/70208) | 45157 (26 MB) | Download | 1,737.431 | 0 | 39.265
afl_wireshark_fuzzshark_ip

[2018-01-18 22:52] oliverchang commented on #1044
build doesn't seem to be broken anymore.

[2018-01-18 22:52] #1044 closed

[2018-01-18 22:54] inferno-chromium commented on #1058
fixed

[2018-01-18 22:54] #1058 closed

[2018-01-19 00:16] kcc commented on #1087
One thing that I observe is that malloc/free are not balanced in the target.
This causes the asan build to spend too much time running lsan on the first iterations
until leak checking gets disabled. See http://llvm.org/docs/LibFuzzer.html#leaks
[code]

This may or may not be related to the corpus size explosion

[2018-01-19 00:38] kcc commented on #1087
Next roadblock: I am hitting https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=5452 pretty soon.

[2018-01-19 01:10] kcc commented on #1087
There are a few bugs filed already: https://bugs.chromium.org/p/oss-fuzz/issues/list?q=label:Proj-wireshark against this and related targets, that are not fixed.

I also see some bugs (timeouts, buffer overflows, assertion failuers, allocation failures, etc) that were not filed automatically yet, probably exactly because oss-fuzz is having trouble dealing with the huge corpus.

So, I'd just recomm

[2018-01-19 01:38] kcc commented on #1087
And there is most definitely some global state being modified in the target.
I've merged the corpus once with -timeout=1 (i.e. the new corpus should not have bugs nor timeouts)
and the resulting corpus has various bugs and timeouts.

Giving up for now. Please ping this issue when then shallow bugs on this targets are fixed (if the corpus size problem remains)

[2018-01-19 17:09] inferno-chromium opened #1093 "jsc build broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

Step #4: In file included from ../../Source/JavaScriptCore/llint/LLIntOffsetsExtractor.cpp:28:
Step #4: In file included from ../../Source/JavaScriptCore/bytecode/ArrayProfile.h:28:
Step #4: In file included from ../../Source/JavaScriptCore/runtime/ConcurrentJSLock.h:28:
Step #4: In file included from ../../Source/JavaScriptCore/heap/D

[2018-01-19 19:08] ddkilzer commented on #1093
[code]

The WPE and GTK Linux ports are compiling without errors on WebKit's buildbots (scroll to the bottom), although they aren't doing clean builds every time:  https://build.webkit.org/dashboard/

Is the <unicode/ustring.h> header installed with the ICU package(s) on the builder?

It appears that the compiler command for Source/JavaScriptCore/llint/LLIntOffsetsExtractor.cpp is not including a

[2018-01-19 20:08] titanous opened #1095 "mupdf leak incorrectly marked as flaky"
https://oss-fuzz.com/v2/testcase-detail/5716457297018880

This test case is marked as flaky but it appears to reproduce consistently locally and `-minimize` works fine too.

I'm not sure if this is a bug or expected?

[2018-01-19 20:09] ddkilzer commented on #1093
I filed:  https://bugs.webkit.org/show_bug.cgi?id=181871

[2018-01-19 20:12] titanous commented on #1095
Hmm, actually `-minimize` switches from a leak to an OOM eventually.

[2018-01-19 20:28] ddkilzer commented on #1093
I added a patch to WebKit Bug 181871:  https://bugs.webkit.org/attachment.cgi?id=331769

Can you test it to see if that fixes the build failure?

[2018-01-19 20:53] ddkilzer commented on #1093
Latest patch (fixed bug title in ChangeLog): https://bugs.webkit.org/attachment.cgi?id=331770

[2018-01-19 21:44] inferno-chromium commented on #1093
Yes that cl works.

You can also test this by

python infra/helper.py build_fuzzers jsc
see compile failure

python infra/helper.py shell jsc
echo "target_include_directories(LLIntOffsetsExtractor SYSTEM PUBLIC \${JavaScriptCore_SYSTEM_INCLUDE_DIRECTORIES})" >> Source/JavaScriptCore/CMakeLists.txt
compile

[2018-01-19 21:44] #1093 closed

[2018-01-19 21:46] inferno-chromium commented on #1093
@jfbastien - as fyi and keeping info here for future reference.

[2018-01-19 21:51] ddkilzer commented on #1093
Fixed by WebKit trunk commit:
Committed r227233: <https://trac.webkit.org/changeset/227233>

[2018-01-19 21:58] inferno-chromium commented on #967
Verified this on a new test upload

[2018-01-19 21:58] #967 closed

[2018-01-19 23:22] alex opened #1096 "Automation for issuing CVEs?"
OSS-Fuzz finds an awful lot of vulnerabilities, but I suspect almost none of them have CVEs issued for them.

This may be strictly out of scope for a fuzzing project, but since OSS-Fuzz handles so much of the vulnerability lifecycle, I think it'd make a lot of sense if it were able to issue CVEs. This would probably entail OSS-Fuzz becoming a CNA (though Google already is one).

[2018-01-20 05:19] inferno-chromium commented on #1095
Reuploaded testcase as https://oss-fuzz.com/v2/testcase-detail/5872996909580288 to see if results change. Sometimes test can be flaky if they jump stack too much. Our bots are 1-core gce vms so could be flaking with the oom issue you cited.

[2018-01-20 05:28] inferno-chromium commented on #1095
Ok, reuploaded testcase works. But looked at logs more.

When crash was initially found during fuzzing, it crashed on a different leak stacktrace. Then afterwards when we were just testing only the testcase itself, we found a different stacktrace. So, we marked it as flaky. We can give up old stack but then we dont really know if this is even related to the original one found during fuzzing. It is

[2018-01-20 05:28] #1095 closed

[2018-01-20 14:58] jwzawadzki commented on #1087
Hi,

Is this bug a new issue, or size explosion was always the problem?
Honestly I am not aware of recent code changes in wireshark,
nor in base corpus, which could cause that.

I tried to take a look on bug report for 5452, and access full corpus
(following the https://github.com/google/oss-fuzz/blob/master/docs/corpora.md),
but I don't have access to it (I am not in wireshark project.yaml).

Pin

[2018-01-20 15:22] inferno-chromium commented on #1087
This is not a new issue, we just discovered it while analyzing some gsutil rsync failures in our logs. This is important issue since right now fuzzing on those targets will not work at all with that huge corpus size.

@jwzawadzki - you can access corpus after we add you to project.yaml file, can you send a pull request and we can ask other maintainers to +1.

[2018-01-21 14:51] dtardon opened #1099 "llvm: Use-of-uninitialized-value in __gxx_personality_v0"
See issues https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4465 , https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=4470 and https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=5525 .

[2018-01-21 23:14] oliverchang commented on #1099
@eugenis any ideas why this might be happening?

The top frames show:

[code]

[2018-01-21 23:29] oliverchang commented on #1099
Maybe we should be using `LIBCXXABI_USE_LLVM_UNWINDER=ON` and `LIBCXXABI_ENABLE_STATIC_UNWINDER=ON` when building libcxxabi?

https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-clang/checkout_build_install_llvm.sh#L55

[2018-01-22 15:27] inferno-chromium commented on #1065
Fix is in - https://github.com/webcomponents/webcomponentsjs/pull/889, but need to wait on a new webcomponentsjs release from @azakus

[2018-01-22 15:28] alex commented on #1065
🎉

[2018-01-22 15:30] inferno-chromium opened #1101 "gnutls build broken"
https://oss-fuzz-build-logs.storage.googleapis.com/index.html

[code]

@nmav - can you please take a look.