[2021-09-01 08:22] #6194 closed

[2021-09-01 20:07] abartlet commented on #6301
Samba is still badly broken, presumably by the split-personality issue (we don't static link to system libs).  All our issues got marked flaky.

[2021-09-01 21:19] inferno-chromium commented on #6301
Sorry about this, this migration was pending for a long time. i closed current bugs, so new bugs will get filed quickly. one thing to verify is new builds work properly and can hit existing bug, e.g. try running interesting security bug with latest build - https://google.github.io/oss-fuzz/advanced-topics/reproducing/

[2021-09-02 04:53] grimmy opened #6374 "[pidgin] deadline extension"
Could we (Pidgin) please have an extension to our deadline of September 6th for the 12 issues listed below?  We are planning a release for September 16th that should address all of these. I had intended to get to them sooner, but the past 90 days just flew by.

As part of this we'll also be moving the fuzzers to our repository (some of that was already started) and updating the oss-fuzz project to

[2021-09-02 05:04] inferno-chromium commented on #6374
Done!

[2021-09-02 05:04] #6374 closed, assigned to nobody

[2021-09-02 06:46] oliverchang opened #6376 "[ClusterFuzzLite] pruning doesn't work with git store"
The git store currently only adds files (and not delete).

[2021-09-02 08:12] afd opened #6378 "Cannot assign issues for the spirv-tools project"
The spirv-tools fuzz targets are finding various issues. As I'm on the CC list I can view and comment on these issues. However, I cannot assign them. Is there an extra step that I need to take to have permissions to reassign these issues?

[2021-09-02 12:27] a-nogikh opened #6379 "[syzkaller] Coverage build failure"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37974

[Syzkaller](https://github.com/google/syzkaller) builds began to fail without changes from syzkaller's side that might've triggered that.

Could you please hint at where the problem might be?

[2021-09-02 13:49] jonathanmetzman commented on #6301
I'd recommend upgrading then. Especially because iirc the reason I didn't fix the samba build is because samba installed a package that no longer exists in your bash script which is not in our repo. If it was, I would have tried to fix it, if this is the only problem, upgrading samba to 20.04 should be very easy.

[2021-09-02 13:53] jonathanmetzman commented on #6378
Usually OSS-Fuzz contributors don't have this ability.
I've given it to you. Please try again and let me know if it doesn't work.
Also, please don't remove labels as this may mess up ClusterFuzz.

[2021-09-02 13:53] #6378 closed

[2021-09-02 14:06] jonathanmetzman commented on #6379
I think this was an issue in our infra that was fixed. The issue should close automatically now.

[2021-09-02 14:23] nikic opened #6382 "Outdated i386 builds"
I recently received a couple reports of libfuzzer_asan_i386_php failures that have already been fixed, https://oss-fuzz.com/testcase-detail/4777065514139648 being an example. The "Build" link indicates that the build is from 2021-08-26-06:03.

https://oss-fuzz-build-logs.storage.googleapis.com/index.html#php doesn't indicate any recent build failures, so I'm wondering whether i386 builds somehow g

[2021-09-02 15:38] jonathanmetzman commented on #6382
Ouch it looks like I broke uploading of i386 builds. They've been overwriting the x86_64 builds since August 28th.

[2021-09-02 16:45] Pamplemousse opened #6385 "Coverage build fails"
The documentation on how to [build fuzz targets for coverage](https://google.github.io/oss-fuzz/advanced-topics/code-coverage/#build-fuzz-targets) seems to imply that running `python infra/helper.py build_fuzzers --sanitizer=coverage $PROJECT_NAME` should compile a target for coverage.

When run as is, the build fails, with a lot of `ld` errors about `undefined reference to...`
Here are a couple:

[2021-09-02 16:57] DavidKorczynski commented on #6385
No environment variables are set out of the ordinary `CFLAGS`, `CXXFLAGS` and `LIB_FUZZING_ENGINE` - as long as you use those then you should be fine. Also, remember to use `CC` and `CXX` for compiling and linking

[2021-09-02 17:43] Pamplemousse commented on #6385
Well, it is not, hence the issue in the first place...

When I make my `build.sh` to simply `echo` those three variables, and calL `python infra/helper.py build_fuzzers --sanitize=coverage nix`, here is what I get:
[code]

Interestingly, in the shell given by `python infra/helper.py build_fuzzers --sanitize=coverage nix`, the instrumentation flags are absent...

[2021-09-02 17:44] Pamplemousse commented on #6385
My guess now is that it's not fine because I am missing flags to pass to `ld` :facepalm:

[2021-09-02 17:48] Pamplemousse commented on #6385
I guess I should be forwarding those flags to the linking of the shared libraries I compile... :facepalm:

[2021-09-02 18:02] DavidKorczynski commented on #6385
That command won't produce a shell.

Yep, or at least you should make sure the flags used for compilation match with those for linking.

[2021-09-02 18:07] Pamplemousse commented on #6385
My bad, wrong copy/paste; I meant `python3 infra/helper.py shell nix --sanitizer=coverage`.

[2021-09-02 20:14] abartlet commented on #6301
This is the line that needs updating on our side:
<pre>
lib/fuzzing/oss-fuzz$ cat build_image.sh
#!/bin/sh -e

DIST=ubuntu1604
</pre>

Also changing this block in <pre>.gitlab-ci-mail.yml</pre>
<pre>
samba-fuzz:
  extends: .shared_template
  variables:
    SAMBA_CI_JOB_IMAGE: ${SAMBA_CI_CONTAINER_IMAGE_ubuntu1604}
</pre>

However I'm flat out on other things and oss-fuzz is a can of worms, it is n

[2021-09-02 21:13] Pamplemousse commented on #6385
It seems that adding the flag `-fsanitize=fuzzer-no-link` for compiling a shared library conflicts with the provided coverage flags...

[2021-09-03 00:08] oliverchang commented on #6382
Reopening to track moving the builds that were incorrectly uploaded to the x86-64 bucket back to the i386 bucket.

[2021-09-03 02:45] oliverchang commented on #6382
I've moved all affected builds and fixed up all affected testcases.

[2021-09-03 02:45] #6382 closed

[2021-09-03 04:24] graygnuorg opened #6393 "Can't access testcase-detail"
When trying to access the detailed report at https://oss-fuzz.com/testcase?key=5683615552372736 I get "You (email=sergey.poznyakoff@gmail.com) are not authorized to access this page!".
Accessing the bug tracker at https://bugs.chromium.org/p/oss-fuzz/issues/ results in "Permission denied"

[2021-09-03 06:03] inferno-chromium commented on #6393
email in project.yaml is https://github.com/google/oss-fuzz/blob/master/projects/gdbm/project.yaml#L3, it needs to match.

[2021-09-03 06:03] #6393 closed

[2021-09-03 06:19] graygnuorg commented on #6393
I understand this. Then please, tell me how can I log in using my registered (non-google) address?

[2021-09-03 06:32] inferno-chromium commented on #6393
you need to use your gmail address (sergey.poznyakoff@gmail.com) in project.yaml. alternate email does not work, please see https://google.github.io/oss-fuzz/faq/#why-do-you-require-a-google-account-for-authentication

[2021-09-03 16:11] jonathanmetzman commented on #6382
Thanks Oliver!

[2021-09-03 19:27] thomasvl opened #6399 "Swift linkage might be losing protocol conformances"
I'm not sure this is an issue, but reaching out to try and get some help from others to help get confirmation.

Looking at [swift-protobuf coverage](https://storage.googleapis.com/oss-fuzz-coverage/swift-protobuf/reports/20210903/linux/file_view_index.html), `CustomJSONCodable.swift` and all the `Google_Protobuf_*+Extensions.swift` files have zero coverage.

The test proto has [fields with the WKT

[2021-09-03 19:28] thomasvl commented on #6399
cc @allevato

[2021-09-03 20:14] tbkka commented on #6399
Is this on Linux or Darwin?

[2021-09-03 20:16] thomasvl commented on #6399
Linux.

[2021-09-03 20:20] tbkka commented on #6399
@aschwaighofer just pointed out to me that on Darwin, Swift marks the mach-o sections with `no_dead_strip` attribute but not on ELF.  (I'm not sure if there is any equivalent.)

Might it be feasible to change how Bazel handles this type of library?  Alternatively, we may need to talk with the linker folks to figure out if there's a suitable analog in ELF that we should be using.

[2021-09-03 20:25] thomasvl commented on #6399
No bazel here.  [`swift build`](https://github.com/google/oss-fuzz/blob/master/projects/swift-protobuf/build.sh#L22) but with some a bunch of extra flags [`-Xswiftc -parse-as-library -Xswiftc -static-stdlib -Xswiftc -use-ld=/usr/bin/ld --static-swift-stdlib`](https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-builder-swift/precompile_swift)

[2021-09-03 20:40] catenacyber commented on #6399
The best is to have one input that you know should cover this code, and debug print to check the code gets covered, and then check if the coverage report gets it...
Could you generate such an input ?

[2021-09-03 20:44] thomasvl commented on #6399
I was wondering about that.  What's the best way to do this?  Define a seed corpus or a dictionary and I guess they need to get copied out along with the build results?

[2021-09-03 20:48] catenacyber commented on #6399
If you can build one, that is the best way to start

cf https://google.github.io/oss-fuzz/getting-started/new-project-guide/#seed-corpus

[2021-09-04 13:03] abartlet commented on #6301
Thankfully @urisimchoni is taking a look:
https://gitlab.com/samba-team/samba/-/merge_requests/2152

https://lists.samba.org/archive/samba-technical/2021-September/136852.html

[2021-09-05 07:31] dlemstra opened #6403 "Badge status is not updated"
The @ImageMagick project is part of OSS fuzz and has had successful builds the last week: https://oss-fuzz-build-logs.storage.googleapis.com/index.html#imagemagick. But the badge is still claiming the build is failing:
![](https://oss-fuzz-build-logs.storage.googleapis.com/badges/imagemagick.svg)

Am I missing something or is this an issue in the oss-fuzz platform?

[2021-09-05 15:31] inferno-chromium commented on #6403
So, coverage build started failing a day back. Fuzzing build is fine.

For coverage build, go to https://oss-fuzz-build-logs.storage.googleapis.com/index.html#imagemagick, click on "Coverage Builds" tab, and then scroll down to imagemagick. Failure log is
https://oss-fuzz-build-logs.storage.googleapis.com/log-5848f60f-f8d1-4343-83ad-97ab586d425a.txt

An OSS-Fuzz bug is not filed yet since we wait

[2021-09-05 15:31] #6403 closed

[2021-09-07 09:14] a1xndr commented on #4937
Recently I made a few changes to fuzzing on the QEMU side, in the effort to resolve this, however they do not seem to have helped. Since my first post, coverage reports have also started failing. I made local copy of the corpus for each target, and using `helper.py shell`, ran a `-merge=1 -use_value_profile=1` for each fuzzing target (built with UBSAN). This process took a little less than 7 hours

[2021-09-07 16:15] inferno-chromium opened #6413 "Language docs should mention the specific base-builder-* image to use"

[2021-09-07 16:16] inferno-chromium commented on #6413
Similar to https://google.github.io/oss-fuzz/getting-started/new-project-guide/swift/#dockerfile

@catenacyber - can you please help with this, thanks!

[2021-09-08 16:13] #6413 closed

[2021-09-10 06:51] oliverchang commented on #6180
This is done

[2021-09-10 06:51] #6180 closed

[2021-09-10 07:53] MarcoFalke commented on #6291
bitcoin-core and tor is fixed, see https://github.com/google/oss-fuzz/pull/6356

[2021-09-10 11:49] MarcoFalke commented on #6294
It looks like the MSAN upgrade may fix some (presumed) false positives. One example: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=34844 was only reproducible on OSS-Fuzz Xenial, but not OSS-Fuzz Focal or locally with MSAN/valgrind.

[2021-09-10 14:08] thomasvl commented on #6399
Looks like things are working correctly and the conformances are there.  With the new `dict` files in place, we're seeing coverage within the apis that require the protocol conformances.

[2021-09-10 14:08] #6399 closed

[2021-09-10 16:31] jonathanmetzman commented on #6294
Yes I'm aware. I'm going to be fixing these later next week.

[2021-09-10 17:01] jonathanmetzman commented on #6379
Latest syzkaller build passes.

[2021-09-10 17:01] #6379 closed

[2021-09-11 19:09] zoulasc opened #6422 "Can't reproduce https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38393"
There was no c code change and the bug started to appear on an unrelated python change.

[2021-09-12 03:32] inferno-chromium opened #6425 "Add link to fuzzer environment doc from build.sh in new project guide"

[2021-09-12 03:33] inferno-chromium commented on #6425
This was brought up in https://github.com/google/oss-fuzz/pull/6423#issuecomment-917478069

@DavidKorczynski - would you be able to help with this doc addition. Thanks a lot!

[2021-09-12 03:43] inferno-chromium commented on #6422
We migrated to ubuntu 20.04 images and switched to llvm 14, so regression range can be wrong.

Are you not able to reproduce using instructions from https://google.github.io/oss-fuzz/advanced-topics/reproducing

[2021-09-12 13:40] caolanm commented on #6233
I'll close this as we just disabled the afl fuzzer to workaround it and used the extra time freed up to build msan versions instead

[2021-09-12 13:40] #6233 closed

[2021-09-12 14:26] zoulasc commented on #6422
I am having trouble asan working with ubuntu-20.04 and llvm 14:

[10:25am] 560>./file -m ../magic/magic.mgc ~/clusterfuzz-testcase-minimized-magic_fuzzer-5677554623709184
==86969==Shadow memory range interleaves with an existing memory mapping. ASan cannot proceed correctly. ABORTING.
==86969==ASan shadow was supposed to be located in the [0x00007fff7000-0x10007fff7fff] range.
==86969==This might

[2021-09-12 20:17] caolanm opened #6427 "in memory sanitizer builds -stdlib=libc++ is linking against /usr/local/lib/libc++.a not /usr/lib/libc++.a"
/usr/local/bin/compile has...

if [[ $SANITIZER_FLAGS = *sanitize=memory* ]]
then
  cp -R /usr/msan/lib/* /usr/lib/

  echo 'Building without MSan instrumented libraries.'
fi

so for memory sanitizer builds the /usr/msan/lib/libc++.a is copied to /usr/lib but clang++ -stdlib=libc++ ends up linking against the one in /usr/local/lib

root@5d4ceecbe072:~# strace -f clang++ -stdlib=libc++ ./demo.cxx 2

[2021-09-13 09:15] DavidKorczynski commented on #6425
Closed with https://github.com/google/oss-fuzz/pull/6428

[2021-09-13 09:15] #6425 closed

[2021-09-13 10:54] MarcoFalke commented on #6297
Anything left to do here?

[2021-09-13 10:58] MarcoFalke commented on #6268
Is this still an issue?

[2021-09-13 11:40] vanhauser-thc commented on #6297
dont think so as it is now on clang-14 right?

[2021-09-13 12:16] catenacyber commented on #6268
@jonathanmetzman this is still an issue after rolling out clang 14

Reverting to clang13 makes suricata and rustls coverage builds succeed :

Patch is
[code]

Test is
[code]

Right now, without this patch, we get `malformed instrumentation profile data` errors
Before rolling clang-14 we had ` Unsupported instrumentation profile format version` (because rust compiler used clang13 profile format)

B

[2021-09-13 12:43] #5757 closed

[2021-09-13 15:11] catenacyber commented on #6268
`llvmorg-14-init`+ cherry-pick of `a6c14fba70e170a279f7e77f068368f09d8c5eaf` seems good to me

[2021-09-13 15:57] catenacyber commented on #6268
I found the culprit commit in llvm : https://reviews.llvm.org/D104556

[2021-09-13 21:15] dlemstra commented on #6403
Thanks for your response @inferno-chromium. It looks like we are hitting some kind of build timeout limit. Would it be possible to increase this for certain projects? Our project has a lot of external dependencies and that is why it takes a lot of time to build.

[2021-09-13 21:39] inferno-chromium commented on #6403
I think 6 hr is the max, can we think of any build optimizations or exclude unneeded test targets or fuzzers ?

@oliverchang for any other ideas.

[2021-09-14 05:29] #6297 closed

[2021-09-14 05:29] inferno-chromium commented on #6297
yes we moved to clang 14 now.

[2021-09-14 10:48] evverx opened #6438 "CIFuzz seems to fail due to "UnicodeDecodeError" from time to time"
My guess would be that it started happening when https://github.com/google/oss-fuzz/pull/6375 was merged because as far as I can tell that bug had been fixed in https://github.com/google/oss-fuzz/pull/4537
[code]

[2021-09-14 12:02] MarcoFalke opened #6439 "No issue opened for reliably reproducible memory issue"
There is https://oss-fuzz.com/testcase-detail/5734826813030400 , found two weeks ago, reliable reproduces. Though, there is no issue opened for it yet.

Is this expected?

[2021-09-14 15:48] astiob opened #6440 "Initialization code seemingly reported as leaky"
libass is getting a [weird memory leak](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38557) reported. Our investigation points to the library initialization code in our fuzzer target as the culprit. This never happened before, and the fuzzer target hasn’t changed. What should we do now?

The fuzzer target has a static variable inside `LLVMFuzzerTestOneInput` as [suggested by libFuzzer doc

[2021-09-14 16:47] astiob commented on #6291
libass was upgraded to 20.04 in #6423.

[2021-09-14 20:30] DavidKorczynski commented on #2095
We added guidance here https://github.com/google/oss-fuzz/pull/6431

Closing this as resolved.

[2021-09-14 20:30] #2095 closed

[2021-09-14 20:38] DavidKorczynski commented on #6440
In general, I am not sure if some things in the underlying infrastructure independent of oss-fuzz has caused the code struct to suddenly being considered a leak.

Have you considered using `LLVMFuzzerInitialize`? I think that's probably the best solution. You can see more here: https://llvm.org/docs/LibFuzzer.html#startup-initialization
Otherwise, I would probably prefer the C++ destructor below a

[2021-09-15 01:49] #6376 closed

[2021-09-15 10:47] oliverchang commented on #6438
This particular issue should be fixed by https://github.com/google/oss-fuzz/pull/6445. Please let us know if it's the case.

[2021-09-15 10:48] evverx commented on #6438
Thanks! I've just opened https://github.com/SELinuxProject/selinux/pull/306 to trigger CIFuzz to make sure it works. I'll close the issue once CIFuzz is green there.

[2021-09-15 10:54] evverx commented on #6438
Looks like the issue is gone. Closing. Thanks!

[2021-09-15 10:54] #6438 closed

[2021-09-15 18:00] astiob opened #6452 "infra/helper.py reproduce still uses Ubuntu 16.04"
When I run `python infra/helper.py reproduce ...` as instructed by https://google.github.io/oss-fuzz/advanced-topics/reproducing/#reproducing-bugs, it pulls the `ubuntu:16.04` Docker image. Shouldn’t this be upgraded to 20.04 or changed to `gcr.io/oss-fuzz-base/base-runner`?

[2021-09-15 18:09] astiob commented on #6452
It seems this image is only used to check whether a file exists (the fuzzer target binary), and `base-runner` is used to actually run it. So perhaps this isn’t an urgent bug, but inconvenient and confusing to users.

Then again, why is Docker used for a file existence check at all? Can it not be checked directly on the host via os.path.exists`?

[2021-09-15 18:32] jonathanmetzman commented on #6452
Thanks for this bug. Yes, it was extremely confusing to me why docker is used for this check. According to https://github.com/google/oss-fuzz/pull/306 it is for OS X and Windows users. I think this is a worthwhile goal but I can't really test either and I'm frankly unsure that we haven't broken this.

I'm going to patch this to use base-runner so that it never gets out of sync. Longer term we shou

[2021-09-15 18:33] jonathanmetzman commented on #6452
@oliverchang WDYT?

[2021-09-15 18:40] astiob commented on #6452
Thanks!

Ah, remote Docker sounds interesting and explains it. I may actually try using that, now that I know it’s possible! As it happens, I’m currently running Docker on a machine separate from my main machine, and having the oss-fuzz repo on there is a little inconvenient.

FWIW, Docker nowadays runs on both Windows and macOS as far as I know, but an ability to run a remote Docker is potentiall

[2021-09-15 18:56] jonathanmetzman commented on #6452
Oh so you think this feature is unnecessary to support Windows/OSX?
Could you explain why it's useful?

[2021-09-15 19:07] jonathanmetzman commented on #6427
I'll probably take a look at this on Friday.

[2021-09-15 19:24] astiob commented on #6440
We’ve now tried `LLVMFuzzerInitialize`: no difference; and a C++ destructor: the leaks reported in local tests disappear.

I’ve also now been able to confirm all of these results in a proper dockerized `python infra/helper.py` setup [per the manual](https://google.github.io/oss-fuzz/advanced-topics/reproducing/#reproducing-bugs), on an Ubuntu 20.04 host for good measure. (The reported leaks are st

[2021-09-15 19:33] catenacyber opened #6455 "rust: components revisions range"
When the bug is fixed in a dependency, we do not se it in the revision range.

For instance,
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=36132
Fix is flate2-rs used by suricata, which now gets latest 1.X version cf https://github.com/rust-lang/flate2-rs/pull/280

I bet we can get the list of components with `cargo tree`

[2021-09-15 20:21] jonathanmetzman commented on #4937
Sorry for the delayed reply.

Unfortunately, we merge with ASAN, not UBSAN.

@oliverchang knows more about ClusterFuzz than I do and can correct me if I'm wrong.

I don't think a single failure would do this.

[It looks to me like it is 22 hours per project.](https://github.com/google/clusterfuzz/blob/4f8020c4c7ce73c1da0e68f04943af30bb5f0b32/src/clusterfuzz/_internal/bot/tasks/corpus_pruning_task.

[2021-09-15 20:29] #6452 closed

[2021-09-15 20:44] astiob commented on #6452
Sorry, no, after more research, it seems that this feature is precisely what makes Docker work on Windows and macOS.

As far as I understand #306, this is basically supported everywhere else in OSS-Fuzz anyway, and the `_check_fuzzer_exists` helper is the only place that has to go out of its way to support this workflow.

In addition to local Docker on Windows, and macOS, it can also be used to co

[2021-09-17 00:04] zoulasc commented on #6422
Finally found what's wrong. It was a pointer addition overflow (that gcc treats as undefined behavior and removes the wrap check). This only happens in 32 bit mode, so I could not reproduce it without -m32. Perhaps it would be useful to mention in the docs to try -m32 too... Feel free to close this.

[2021-09-17 00:30] inferno-chromium commented on #6422
feel free to suggest a doc addition, see docs/ dir. closing

[2021-09-17 00:30] #6422 closed

[2021-09-17 03:12] oliverchang commented on #6439
We temporarily turned off bug filing as we had recently migrated our images to Ubuntu 20.04 from 16.04. Bug filing has been turned back on and I see that's the case for this one too.

[2021-09-17 03:12] #6439 closed

[2021-09-17 06:37] oliverchang commented on #6326
Fuzzing and pruning is done. Remaining: reproduction.

[2021-09-17 06:38] oliverchang commented on #6052
I think we'll keep things as is. @jonathanmetzman Let me know if you disagree.

[2021-09-17 06:38] #6052 closed

[2021-09-17 06:38] oliverchang commented on #6070
I think we'll keep this current code as is, given the limitation you described.

[2021-09-17 06:38] #6070 closed

[2021-09-17 14:24] #6440 closed

[2021-09-17 14:54] afd opened #6471 "False alarm from msan with << operator of std::stringstream"
The msan fuzz target of [this build](https://github.com/google/oss-fuzz/pull/6466) is failing because the fuzzer appears to be broken: most runs lead to an msan error.

I have looked into this, and the msan error seems to happen when << from std::stringstream is invoked.

I have a feeling this might be a false positive, and that maybe something is going wrong with compiler/linker flags. I'm diggin

[2021-09-17 15:39] ueno opened #6473 "gnutls coverage build failure with profile format version mismatch"
I am seeing this error in the recent couple of coverage build failures:
[code]
It looks similar to https://github.com/google/fuzzbench/issues/590, but I have no clue whether this can be fixed in the project alone. Any advice would be appreciated.

[2021-09-17 16:01] jonathanmetzman commented on #6473
I assume it is related to https://github.com/google/oss-fuzz/blob/master/projects/gnutls/Dockerfile#L19
I would guess this problem affects all projects still on xenial.
To solve this, I think gnutls needs to use focal. I think the reason it didn't just work on focal was because it couldn't find libnettle. I tried fixing this myself, but stopped because gnutls took a really long time to build and g

[2021-09-17 16:01] jonathanmetzman commented on #6471
Maybe it's caused by https://github.com/google/oss-fuzz/issues/6427 I can try fixing that today.

[2021-09-18 06:28] ueno commented on #6473
@jonathanmetzman thank you for the info! I proposed [this](https://gitlab.com/gnutls/gnutls/-/merge_requests/1474) to fix the build failure on focal; will file a PR to actually update the image shortly.

[2021-09-19 10:29] #6473 closed

[2021-09-19 10:56] DavidKorczynski commented on #6302
Once https://github.com/google/oss-fuzz/pull/6475 is merged in then all projects but lldb-eval are updated. I set up an issues in the lldb-eval project to ask for assistance as they rely on some releases upstream https://github.com/google/lldb-eval/issues/172

[2021-09-19 16:58] rouault commented on #6427
I've had a somewhat related issue, on a x86 asan build, where the GDAL ./configure checks fail to work properly when testing the presence of some features because the presence of the 64-bit /usr/local/lib/libc++.a caused the following warning:
/usr/bin/ld: skipping incompatible /usr/local/bin/../lib/libc++.a when searching for -lc++

[2021-09-19 18:30] kevinbackhouse opened #6489 "Floating point divide-by-zero false positive"
I'm getting an error that I think is a false positive: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38862

It's complaining about [this code](https://github.com/Exiv2/exiv2/blob/774e6625e3ed4fb6d330d8ad40677fafecf125f7/src/tags_int.cpp#L2617):

[code]

The type of [`tmp`](https://github.com/Exiv2/exiv2/blob/774e6625e3ed4fb6d330d8ad40677fafecf125f7/src/tags_int.cpp#L2608) is `double`, so t

[2021-09-20 11:33] DavidKorczynski commented on #6385
Did you ever resolve this one @Pamplemousse ? Am not entirely sure if you're suggesting the flags provided by OSS-Fuzz are incompatible for coverage builds?

[2021-09-20 16:17] jonathanmetzman commented on #6427
I'm going to fix the issue for both MSAN and i386. But it seems like gdal is having a different libc++ issue in x86_64 ASAN builds that is unrelated right? https://oss-fuzz-build-logs.storage.googleapis.com/log-678363f4-c40c-4c55-9ce5-db855b59a697.txt

[2021-09-20 16:28] jonathanmetzman commented on #6471
How can I reproduce this issue?

[2021-09-20 16:30] rouault commented on #6427
hum, if it has just appears, this is likely a side effect of my commit https://github.com/OSGeo/gdal/commit/b038915a2d00bbe4de5f3473b486ebf834468870 to workaround the i386 issue. This workaround seemed to work fine for libfuzzer enging, but perhaps it breaks with AFL indeed

[2021-09-20 17:00] #6427 closed

[2021-09-21 06:49] Manishearth opened #6496 "Unicode-rs coverage build fails"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37516

[code]

I'm not quite sure what's going on here, is this perhaps an issue with how oss-fuzz uses rust? `cargo fuzz` works fine, and I'm not quite sure how the coverage stuff is being done here.

[2021-09-21 08:43] DavidKorczynski commented on #6496
I think it's related to this issue: https://github.com/google/oss-fuzz/issues/6268

[2021-09-21 14:00] afd commented on #6471
I originally found the issue when a spirv-tools build failed when msan was enabled. I just tried re-adding msan and the build now succeeds - see #6500. So I guess what you did for #6427 must have done the trick. Thanks!

[2021-09-21 14:00] #6471 closed

[2021-09-21 15:49] catenacyber opened #6501 "ASAN Rust Timeout"
This is https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=39047

I can reproduce the timeout with ASAN :
[code]

But with UBSAN, there is no timeout :
[code]

So, I think the problem is in the sanitizing, not in the software, right ?

By the way, when compiled with `export SANITIZER=undefined`, there are no additions to RUSTFLAGS...

[2021-09-21 15:54] catenacyber commented on #6501
With removing `export RUSTFLAGS="$RUSTFLAGS -Cpasses=sancov etc...` from the build script, I get in the middle :
[code]

[2021-09-22 11:32] rouault opened #6506 "unreproducble proj4 failure"
Since a few days, proj4 AFL builds fail: https://oss-fuzz-build-logs.storage.googleapis.com/index.html#proj4

[code]

When applying locally the above mentioned introductions to replicate the failure, I get no issue. the check_build stage works fine

[2021-09-22 12:30] nikic commented on #6501
I don't have access to the report, so this is without context: It's possible that asan builds can be very slow due to an implementation issue. I've encountered this in the past with naive realloc usage, where a very large list was created by reallocating by one element each time. For most allocators this is pretty fast, but with asan this will have quadratic runtime due to quarantining.

[2021-09-22 12:43] catenacyber commented on #6501
I guess I should do flame graphs so see where the CPU time is spent

[2021-09-22 14:01] mootoh opened #6508 "Request Deadline-Grace for fuzz-35662"
Hello, could we please have a 14 day deadline extension for [fuzz-35662](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=35662) ? We are planning to have the fix for it in couple of days, national holidays in Japan just prevents from it.
Thanks,

[2021-09-22 19:28] #6302 closed

[2021-09-23 11:57] jonathanmetzman commented on #6302
Thanks @DavidKorczynski

[2021-09-23 12:00] jonathanmetzman commented on #6508
Done.

[2021-09-23 12:00] #6508 closed

[2021-09-23 12:01] jonathanmetzman commented on #6291
Just merged #6475. I can confirm nothing else is still on xenial

[2021-09-23 12:01] #6291 closed

[2021-09-23 17:29] terrelln opened #6513 "Zstd builds fail with dfsan + hand written assembly"
We recently added some hand written assembly for a hot loop in zstd. After that our builds started failing with [undefined symbol HUF_decompress4X2_usingDTable_internal_bmi2_asm_loop.dfsan](https://oss-fuzz-build-logs.storage.googleapis.com/log-6924d6e6-5f16-4f4a-b364-8fd81884f348.txt) errors. `HUF_decompress4X2_usingDTable_internal_bmi2_asm_loop` is our ASM function. This seems related to data fl

[2021-09-23 18:16] DavidKorczynski commented on #6513
Am not sure, but is this an issue that happens in general or does the issue only happen in the OSS-Fuzz environment? If it's in related to dfsan in general perhaps they will have better knowledge about it in the llvm repo: https://github.com/llvm/llvm-project/tree/main/compiler-rt/lib/dfsan

With that said, with limited knowledge of dfsan I could imagine it heavily relying on instrumenting LLVM IR

[2021-09-23 19:01] terrelln commented on #6513
Thanks for the advice! I've just disabled the ASM implementation when dfsan is enabled in https://github.com/facebook/zstd/pull/2799.

[2021-09-23 19:01] #6513 closed

[2021-09-24 05:46] #6326 closed

[2021-09-24 17:26] DavidKorczynski commented on #3839
Closing this as the OSS-Fuzz base image is now Ubuntu 20.04 - for more details see here https://github.com/google/oss-fuzz/issues/6302

[2021-09-24 17:26] #3839 closed

[2021-09-25 16:12] astiob commented on #6440
(cc @DavidKorczynski)

ClusterFuzz still [reports](https://oss-fuzz.com/testcase-detail/4643342974058496) this leak as present, despite the use of a C++ destructor. The same allocation was also listed in a new report today alongside a different, legitimate leak (which I’ve fixed).

I’m unable to reproduce the leak report via `infra/helper.py reproduce`. The test runs, the fuzzer target’s own stdou

[2021-09-27 09:17] DavidKorczynski commented on #6440
Have you tried the `Re-upload Testcase` feature on the report? If you click that link and just select `Create`, does it show the same results?

[2021-09-27 15:04] jonathanmetzman commented on #6513
I would have just disabled dfsan. We aren't paying attention to it anymore, as it was Max Moroz who was doing that and he left Google.

[2021-09-27 15:11] #6268 closed

[2021-09-27 15:26] MarcoFalke commented on #6501
I can also recommend flamegraphs to debug timeout issues, where the underlying cause isn't trivially visible.

[2021-09-27 15:26] MarcoFalke commented on #6496
Is this still an issue now that #6268 is closed?

[2021-09-27 15:32] MarcoFalke commented on #6385
Is this still an issue?

[2021-09-27 15:38] MarcoFalke commented on #6506
I can reproduce this locally (see below). Maybe try deleting the oss-fuzz docker images to start fresh?

[code]

[2021-09-27 15:45] MarcoFalke commented on #6489
This is set by default. If you want to opt out, you'll have to append `-fno-sanitize=...`.

For reference see:

[code]

[2021-09-27 16:19] mhlakhani opened #6524 "proxygen coverage build failures"
Hi! @lnicco and I were looking into https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38519#c2 which is a coverage build failure for proxygen.

Looking at the logs, it seems to be we're hitting UB in llvm itself:

[code]

Would anyone here have guidance on how we can look into this or reproduce the issue?

I did see a bunch of open issues around coverage build failures, but https://github.com/

[2021-09-27 16:29] jonathanmetzman opened #6525 "clusterfuzzlite: upload build happens before bad build check is done"
This is a problem because we probably shouldn't upload bad builds.
The reason for this is probably because we delete unaffected fuzzers before bad build check (to save time on bad build check) and we don't want to upload after we deleted fuzzers.
To fix this we can not delete fuzzers if upload-build is true.

[2021-09-27 16:32] jonathanmetzman opened #6526 "clusterfuzzlite: uploading builds doesn't seem to work"
See https://github.com/jonathanmetzman/systemd/actions/runs/1279085029 where the artifact is supposed to be 200 MB but is empty.

[2021-09-27 16:32] jonathanmetzman opened #6527 "clusterfuzzlite: helper.py bash script generation is missing shebang line"

[2021-09-27 16:33] jonathanmetzman opened #6528 "clusterfuzzlite: helper.py message for nonexistent external projects is confusing"
E.g. if you run `python ~/oss-fuzz/infra/helper.py build_fuzzers fake/path/systemd --external` and `fake/path/systemd` does not exist, you should get a message that `fake/path/systemd` does not exist. Instead you actually are told: `systemd` does not exist.

[2021-09-27 16:39] jonathanmetzman opened #6529 "clusterfuzzlite: Deleting unaffected fuzzers should not happen when uploading a build"
Otherwise if cflite is uploading a build on every commit, it may not include a fuzzer because it is unaffected in that commit.
Related: https://github.com/google/oss-fuzz/issues/6525

[2021-09-27 17:15] jonathanmetzman commented on #6526
It doesn't seem to break everywhere. However, it seems to break specifically with large uploads.
For example, see https://github.com/jonathanmetzman/cifuzz-external-example/actions/runs/1279241735
cifuzz-build-address-1d2c51206a0e742211a2673ad928bb720704a5cc which 14 MB can be downloaded.
cifuzz-build-coverage-1d2c51206a0e742211a2673ad928bb720704a5cc which is 179 MB cannot be downloaded.

[2021-09-27 17:19] jonathanmetzman commented on #6526
I don't think 200 MB runs afoul of GitHub's limits. I'm going to test uploading similar files with their upload client and see if it breaks.

[2021-09-27 17:35] jonathanmetzman commented on #6526
In https://github.com/jonathanmetzman/systemd/actions/runs/1279338818 I was able to use upload-artifact v2 to upload a large artifact (~198MB). So it looks like my implementation is buggy. Nows probably a good time to replace it with github's.

[2021-09-27 17:36] jonathanmetzman commented on #6526
CC @oliverchang

[2021-09-27 17:44] Manishearth commented on #6496
I'll try to wait for [the autofiled bug](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37516) to get closed by the robot before closing this, imo.

[2021-09-27 19:57] rouault commented on #6506
I've deleted all oss-fuzz docker images, updated to latest oss-fuzz master, and then:
[code]
so no luck in reproducing

[2021-09-27 21:27] jonathanmetzman commented on #6506
I think I also couldn't repro.
Maybe it's dependent on hardware in some way (e.g. RAM available).

[2021-09-28 06:06] Pamplemousse commented on #6385
@DavidKorczynski Yes they are, when `-fsanitize=fuzzer-no-link` is used for libraries. "Current" (haven't worked on OSS-fuzz integration for a while) solution is to remove the `-fsanitize=fuzzer-no-link` flag from the libraries I compile when building for coverage: https://github.com/google/oss-fuzz/pull/6317/files#diff-ea3897e44e696bd00c3430ca2ba03e6521eb8af280d2b2d3dfdc14751564eca6R47-R50 .

@Ma

[2021-09-29 07:28] yangcheng1203 opened #6537 "【libexif】Timout in mnote_olympus_entry_get_value"
Running: fusiontest-testcase-exif_from_data_fuzzer-202108190002
==1723460== ERROR: libFuzzer: timeout after 90 seconds
    #0 0x52ab01 in __sanitizer_print_stack_trace /src/llvm-project/compiler-rt/lib/asan/asan_stack.cpp:86:3
    #1 0x4755a8 in fuzzer::PrintStackTrace() /src/llvm-project/compiler-rt/lib/fuzzer/FuzzerUtil.cpp:210:5
    #2 0x459669 in fuzzer::Fuzzer::AlarmCallback() /src/llvm-proje

[2021-09-29 07:35] yangcheng1203 commented on #6537
libexif fuzz test execution timeout problem：
Perform operation
./exif_from_data_fuzzer fusiontest-testcase-exif_from_data_fuzzer-202108190002

Software version
libexif：libexif-0_6_22-release

[2021-09-29 07:36] yangcheng1203 commented on #6537
libexif fuzz test execution timeout problem：
Perform operation
./exif_from_data_fuzzer fusiontest-testcase-exif_from_data_fuzzer-202108190002

Software version
libexif：libexif-0_6_22-release

[2021-09-29 09:17] DavidKorczynski commented on #6537
This is just a timeout issue found by the fuzzer that has not been solved upstream, not an issue in OSS-Fuzz

[2021-09-29 09:17] #6537 closed

[2021-09-30 13:34] #6527 closed

[2021-10-01 18:15] #6529 closed

[2021-10-02 12:22] kevinbackhouse commented on #6489
@MarcoFalke: Thank you! I have created #6549 to fix this false positive.

[2021-10-02 14:33] #6489 closed

[2021-10-02 17:01] dsabsay opened #6550 "Please clarify the meaning of fixed revision ranges"
I searched the documentation site and the issues here but could not find a precise explanation of whether "fixed revision ranges" are inclusive, exclusive, or half inclusive/exclusive. By "fixed revision ranges" I am referring to what oss-fuzz provides when commenting that a particular test case has been verified as fixed ([example](https://oss-fuzz.com/revisions?job=libfuzzer_asan_gdbm&range=2021

[2021-10-03 18:56] Manishearth commented on #6496
Still broken:

[code]

[2021-10-04 15:21] #6525 closed

[2021-10-04 16:59] tsdgeos opened #6553 "Can't reproduce build failure"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=39443

I can't find the command that is being used for it, but my guess was

python infra/helper.py build_fuzzers --engine afl --sanitizer address poppler

but that seems to build fine here.

Did i guess the command right? If not, which one is it? If yes, any idea why it may be failing on the server and not for me?

[2021-10-04 17:08] haberman commented on #6553
You might need to run this first:

[code]

(I'm here because fuzz builds have recently started failing for me too, but only with the newest images. I looked at your build logs and the error is different enough that I think I'll file my own bug for it.)

[2021-10-04 17:13] haberman opened #6554 "Fuzz builds through GitHub Actions fail with the latest Docker images"
I am suddenly getting build failures in my fuzzing presubmits. I was able to reproduce locally, but only after updating to the most recent Docker images.

[code]
https://github.com/protocolbuffers/upb/pull/424/checks?check_run_id=3787788860

[code]
https://github.com/protocolbuffers/upb/pull/424/checks?check_run_id=3787788891

The `undefined reference to 'vsnprintf.inline'` makes me think this cou

[2021-10-04 20:45] zhangskz commented on #6101
Isn't this useful for debugging timeout bugs? e.g. the instructions at https://google.github.io/oss-fuzz/advanced-topics/reproducing/#fuzz-target-bugs instruct setting `--timeout=65` (which doesn't seem possible when using using `python infra/helper.py reproduce ...`.

[2021-10-05 05:05] oliverchang commented on #6101
Hmm, I'm thinking we should revert that `--timeout=65` to 25 seconds in the documentation too.

For ClusterFuzz, the reason we have 65 seconds for reproduction and 25 seconds during fuzzing is to not file flaky timeout bugs which take very close to 25 seconds to complete. These timeouts may be flaky to reproduce consistently, especially if different CPUs/machine types run the same testcase.

When

[2021-10-05 05:09] oliverchang commented on #6554
@jonathanmetzman could this be related to https://github.com/google/oss-fuzz/pull/6493 ?

[2021-10-05 05:12] oliverchang commented on #6550
Thanks for the feedback! This seems like a UX improvement we need to make on the ClusterFuzz side, so I'll move it there.

To answer your question, for a fixed range `foo:bar`, `foo` still crashes, but `bar` does not. If these are git commits, it's equivalent to saying the fix lies in the git range `foo..bar`.

[2021-10-05 07:42] dvyukov opened #6557 "Uploading artifacts fails with Access to the path is denied"
We are using standard github actions for fuzzing/uploading crashes:
https://github.com/google/syzkaller/blob/ce697b49e30d07d5c08d0849410efc8797f1cb66/.github/workflows/oss-fuzz.yml

Recently the upload action started to fail with:
[code]
https://github.com/google/syzkaller/runs/3800247729?check_suite_focus=true

[2021-10-05 12:33] jonathanmetzman commented on #6557
Thanks. I'll look into this.

[2021-10-05 13:16] #6526 closed

[2021-10-05 13:21] jonathanmetzman commented on #6557
tmp0z_9zgjq is weird. It looks like the name of a temporary file/directory made by python.

[2021-10-05 14:00] catenacyber commented on #6496
Just fixed by https://github.com/google/oss-fuzz/pull/6551

[2021-10-05 14:01] catenacyber commented on #6283
Just fixed by https://github.com/google/oss-fuzz/pull/6551

[2021-10-05 14:02] jonathanmetzman commented on #6557
OK. I'm pretty sure I know what's going on here.
[Here](https://github.com/google/syzkaller/runs/3800247729?check_suite_focus=true#step:5:117) we see the libFuzzer run gets interrupted .
[This means libFuzzer will exit with a nonzero exit code](https://github.com/llvm/llvm-project/blob/7c921753e0f5e95aadee8728ddbcb843a272b48a/compiler-rt/lib/fuzzer/FuzzerLoop.cpp#L271).
When libFuzzer exits with a

[2021-10-05 14:03] jonathanmetzman commented on #6557
I was able to get the tempfile with this short snippet:
[code]

[2021-10-05 14:04] jonathanmetzman commented on #6557
@oliverchang WDYT?

[2021-10-05 14:49] #6496 closed

[2021-10-05 14:49] Manishearth commented on #6496
Thanks! And the issue did self close

[2021-10-05 16:41] jonathanmetzman commented on #6554
Doubtful. This seems to have started on 10/04 and didn't happen on 10/02.
#6493 landed on 09/20

[2021-10-05 16:48] haberman commented on #6554
I first observed this a day earlier, on 10/3: https://github.com/protocolbuffers/upb/runs/3783389968

[2021-10-05 16:57] jonathanmetzman commented on #6554
Did you see this happen around september 20?
If not I'm not sure my change is responsible.
Another reason I don't think it is responsible is because that change only affects i386 and MSAN builds.
This problem is in an x86_64 ASAN build.

[2021-10-05 17:02] jonathanmetzman opened #6559 "Compiling even a simple c++ file with libc++ and without sanitizers fails."
Compiling this file (`hello.cc`):
[code]

With this command: `clang++ -stdlib=libc++ x.cc`
Results in this error:
[code]

[2021-10-05 17:03] haberman commented on #6554
No I did not observe this until 10/3.

I wasn't meaning to suggest your change is responsible, just trying to give a slightly tighter time bound in case it helps narrow down the root cause.

[2021-10-05 17:06] jonathanmetzman commented on #6559
I don't think this is an issue when using sanitizers because they use ptrheads.

[2021-10-05 17:16] jonathanmetzman commented on #6554
ACK. Thanks!

I'm having a little trouble debugging this because I'm not familiar with bazel.

[2021-10-05 17:20] haberman commented on #6554
You may find it useful to build with `-s` (eg. `bazel build -s ...`). It will dump the commands it is executing, which should give you a bare command invocation you can use to reproduce.

[2021-10-05 17:25] jonathanmetzman commented on #6554
Looks like there was a clang roll on 10/02:
https://chromium-review.googlesource.com/c/chromium/src/+/3199571

You can work around this issue temporarily by changing [this line](https://github.com/google/oss-fuzz/blob/master/projects/upb/Dockerfile#L17) to: `FROM gcr.io/oss-fuzz-base/base-builder@sha256:e963d3ebefb9390ad31df2f9d6722cb8478d9a9116b965b03b3a34faea00d543`

[2021-10-05 21:41] tsdgeos commented on #6553
yes, that doesn't make a difference

[2021-10-06 10:24] wtdcode opened #6561 "Unicorn2 building & testing change request"
Hello!

I'm a team member of @unicorn-engine. We have released Unicorn2, a major update, and thus change many things including the way we build it. We have depreciated the Makefile and switch to cmake. The build.sh under projects/unicorn is outdated you may consider using `cmake .. -DUNICORN_FUZZ=1` to build original fuzzing targets or shall I make a pull request? Still I don't have access to oss-

[2021-10-06 10:47] DavidKorczynski commented on #6561
A PR would be great!

@aquynh are you okay with @wtdcode gettign access to the Unicorn bug reports? If so, you can also add your email in the `project.yaml` of Unicorn when updating the build

[2021-10-06 12:19] MarcoFalke commented on #6283
Can be closed as per https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37526#c6?

[2021-10-06 12:32] MarcoFalke commented on #6553
The steps to reproduce are listed at the end of the build log. In this case:

[code]

I can reproduce locally, but it might depend on the hardware you use. See also related https://github.com/google/oss-fuzz/issues/6506#issuecomment-928296751

[2021-10-06 13:22] #6528 closed

[2021-10-06 15:48] arr2036 opened #6563 "Access to freeradius fuzzing results"
I'm a core developer on the FreeRADIUS project.  Someone external to our project added FreeRADIUS to oss-fuzz.

When they did that, they authorized my freeradius address (a.cudbardb@freeradius.org )which is associated with my gmail account a.cudbardb@gmail.com.

Unfortunately the login system for oss-fuzz seems to only check the primary email on my gmail account, and not any of the aliases so I ca

[2021-10-06 21:34] #6563 closed

[2021-10-07 07:22] tsdgeos commented on #6553
Ok, i am officially blind ^_^

https://github.com/google/oss-fuzz/pull/6566 seems like should fix it.

[2021-10-07 07:22] #6553 closed

[2021-10-07 19:31] #6557 closed, assigned to jonathanmetzman

[2021-10-08 08:34] catenacyber commented on #6501
I guess this has been fixed with latest rust nightly...

[2021-10-08 11:36] kaczmarczyck opened #6571 "OpenSK build failures"
Hi!

OpenSK has coverage build failures since some time (i.e. [see bug](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=36535#c10)). I saw #6551 mentioned our the problem, but no issue was open to track it. Just wanted to check if you are working on a fix or if there is anything we could do in our own code?

From the pull request:

[2021-10-11 06:44] oliverchang opened #6576 "clusterfuzzlite doesn't support cron schedules"
See  https://github.com/oliverchang/cifuzz-external-example/runs/3855865837?check_suite_focus=true

[code]

[2021-10-11 06:44] #6324 closed

[2021-10-11 06:51] oliverchang commented on #6576
Looks like cron schedule events don't provide any event payload: https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#scheduled-events

[2021-10-12 02:27] oliverchang opened #6584 "clusterfuzzlite: support private repos"

[2021-10-12 12:05] nikic opened #6585 "afl builds fail with "Bad syntax used for -t""
You're probably already aware of this, but reporting just in case: All AFL builds seem to fail with error `Bad syntax used for -t`.

I'm looking at https://oss-fuzz-build-logs.storage.googleapis.com/index.html#php, but other builds show the same issue.

[2021-10-13 06:26] oliverchang commented on #6585
Let's close this since the main issue itself (afl failing) is fixed. Thanks for the help everyone!

[2021-10-13 06:26] #6585 closed, assigned to nobody

[2021-10-13 06:28] oliverchang commented on #6571
@catenacyber FYI. Is this the same issue?

[2021-10-13 07:34] catenacyber commented on #6571
Yes, this is the same issue.
From the latest build log, we can see
`error: fuzz_helper/src/lib.rs: No such file or directory`

We should have an absolute path instead of a relative one for this file to find it.
The right `remap-path-prefix` should fix this.
I will try to look more into it

[2021-10-13 21:23] chair6 opened #6596 "recent addition of hashicorp/hcl to oss-fuzz & access to results"
Hi!  We've recently had (the first) one of our projects added to oss-fuzz.

Two questions I'd appreciate help with:

1. The addition of `hashicorp/hcl` coverage was done in a seemingly unrelated PR at https://github.com/google/oss-fuzz/pull/5924, part of which was reverted in https://github.com/google/oss-fuzz/pull/6586. The PR doesn't explicitly call out that a new project is being setup, and pro

[2021-10-13 21:52] DavidKorczynski commented on #6596
(1) Apologies if a project of yours was integrated without your knowledge! The usual procedure is ensure the maintainers are onboard with it before we integrate a project, so I believe this was unintentional. Let me know if you want the project removed.

(2)  Please add your email(s) to the `auto_ccs`, in the `project.yaml` of the `hcl` project, this file specifically: https://github.com/google/os

[2021-10-13 22:53] chair6 commented on #6596
Yep, we've said "no thanks" to this a few times now .. not sure what it is about `hashicorp/hcl` that makes it a target, maybe that we already had the `go-fuzz` pieces in place? :) Anyway, CLA has been addressed & https://github.com/google/oss-fuzz/pull/6598 merged so we'll make some time to take a look at this.. interested to check out the workflow.

[2021-10-15 07:47] nikic opened #6605 "No php builds since Oct 12th"
After the failed build on Oct 12th, there have been no new builds for the `php` project in the last three days: https://oss-fuzz-build-logs.storage.googleapis.com/index.html#php

I don't really get why, as most other projects do their daily build just fine. There's only a couple others that haven't been built since Oct 12th (e.g. libecc and vlc).

[2021-10-15 15:40] jonathanmetzman opened #6606 "Find out why CI didn't catch AFL breakage"
Find out why the breakage in https://github.com/google/oss-fuzz/pull/5924 got through.

[2021-10-16 07:49] nikic commented on #6605
Looks like the build worked on Oct 16th. Still weird that 3 builds before that were skipped.

[2021-10-17 04:08] evverx commented on #6524
I ran into the same issue trying to integrate `libbpf` in https://github.com/google/oss-fuzz/pull/6608. I'm not sure what the projects had in common though :-)

@jonathanmetzman looks like it wasn't caught in https://github.com/google/oss-fuzz/pull/6608/checks?check_run_id=3917061555 because the CI didn't run something like
[code]
in addition to `infra/helper.py build_fuzzers --clean --sanitizer=c

[2021-10-17 04:15] evverx commented on #6524
I "fixed" it in https://github.com/google/oss-fuzz/pull/6608 by linking `zlib` statically instead of copying it to "$OUT/lib" and patching `rpath`:
[code]

Though I have to admit I have no idea why fuzz targets linked dynamically against libraries put in `$OUT/lib` trigger this issue.

[2021-10-18 04:44] oliverchang opened #6609 "cflite: cloud build support"
We should support google cloud build as well. For the filestore, we can use cloud storage.

[2021-10-18 23:32] Allen-Webb opened #6614 "Usbguard fuzzer-usb-descriptor started failing because of missing sanitizer symbols."
Here is the related bug:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38476

The errors look like:
[code]
I don't see anything special about fuzzer-usb-descriptor that would make it fail when the others don't:
https://github.com/USBGuard/usbguard/blob/master/src/Tests/Fuzzers/Makefile.am

I am wondering if we might need to force a clean operation before building the fuzzers.

[2021-10-19 01:46] oliverchang commented on #6605
The quote has been bumped.

[2021-10-19 01:46] #6605 closed

[2021-10-19 13:11] hugovk opened #6619 "New timeout with Pillow failing OSS-Fuzz"
Our OSS-Fuzz CI jobs started failing 5 days ago, and it last passed 7 days ago. We've not made any obvious relevant code changes, and re-running code that previously passed now fails.

More info in: https://github.com/python-pillow/Pillow/issues/5764

There some timeouts at the end of the logs, but it's not clear to me if this is the cause or how to proceed:

[code]

Any ideas? Thanks!

[2021-10-19 20:50] #6571 closed, assigned to nobody

[2021-10-20 02:51] #6584 closed

[2021-10-20 21:07] rlohning opened #6625 "Please make false negative issue private again"
Hi,

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37306 was marked verified but re-uploading the testcase still reproduces the same crash, see https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40161
Could you please hide it from the public again?

Thanks,
Robert

[2021-10-21 13:59] DavidKorczynski commented on #6614
I could resolve this by building a static version of libqb and avoiding use of pathelf (this has caused issues in other projects). See this PR: https://github.com/google/oss-fuzz/issues/6614

[2021-10-21 17:15] rbehjati opened #6631 "Rust: Coverage failing for project Oak"
After the recent changes (following #6302), [coverage builds fail](https://oss-fuzz-build-logs.storage.googleapis.com/log-88f46b97-b476-4c2b-9e73-7a742b896f6e.txt) for project Oak:

[code]

Any ideas what is causing this and how this could be fixed?

[2021-10-22 04:42] inferno-chromium commented on #6524
@mhlakhani, does @evverx response work for you.

[2021-10-25 07:04] oliverchang opened #6644 "cifuzz: directory structure for crasher artifacts"
Currently, we upload incomplete artifacts even if a crash isn't reportable.

We should restructure the artifact directory structure to be:

[code]

Instead of currently:

[code]

Qualifying the stacktrace filename by the reproducer filename makes this fit better into the GCS filestore as well.
We should also upload separate artifacts for each target.

@jonathanmetzman WDYT?

[2021-10-25 07:14] evverx opened #6645 "The libbpf project isn't being fuzzed"
The libbpf project was integrated into OSS-Fuzz 3 days ago in https://github.com/google/oss-fuzz/pull/6608 but https://oss-fuzz.com/fuzzer-stats?project=libbpf&fuzzer=libFuzzer&job=libfuzzer_asan_libbpf&group_by=by-fuzzer keeps saying "no stats" and bugs haven't been reported (even though CIFuzz for example has absolutely no problem with finding them: https://github.com/libbpf/libbpf/pull/393). Ac

[2021-10-25 13:47] #6645 closed, assigned to oliverchang

[2021-10-25 18:17] #6631 closed, assigned to nobody

[2021-10-25 21:12] izzeem opened #6651 "compiling elfutils gives me __thread support missing"
Hi I am trying to test my local oss-fuzz build and am getting errors with:

[code]

My clang version in the image is:

[code]

Builds of the tool work fine outside of Docker:

[code]

[2021-10-25 23:59] DavidKorczynski commented on #6651
It's speculation without knowing the details.

Closing this issue as there's not much that can do done from OSS-Fuzz's perspective in that the issue is in essence not OSS-Fuzz specific and we don't have cycles to debug such builds.

[2021-10-25 23:59] #6651 closed

[2021-10-26 19:17] elharo opened #6656 "What code was run to produce the error?"
Consider any report page such as:

https://oss-fuzz.com/testcase-detail/6156425441705984 (for example)

With some effort I was able to find the input data that produced the issue, though it was not nearly as obvious as it should have been and the font on the page is too small for easy legibility.

After twenty minutes of searching and following links, I see nothing that shows me what code was run

[2021-10-27 01:24] #6644 closed, assigned to nobody

[2021-10-27 19:22] jonathanmetzman opened #6666 "ClusterFuzzLite Coverage runs don't log enough"
They can fail to upload anything without returning nonzero or logging enough to figure out what happened.
See https://github.com/jonathanmetzman/systemd/runs/4026562698?check_suite_focus=true for example.

[2021-10-27 19:41] jonathanmetzman opened #6667 "build uploading happens before bad build check"
It should happen after. We shouldn't be uploading broken builds IMO.

[2021-10-27 19:48] jonathanmetzman opened #6668 "Figure out what is breaking git filestore"
Seeing errors [like this](https://github.com/jonathanmetzman/systemd/runs/4026434540?check_suite_focus=true):

[code]

I suspect this is a problem with my storage repo.

[2021-10-28 14:16] jonathanmetzman opened #6676 "[clusterfuzzlite] Hide fuzzer output"
Currently we print the output of all fuzzers making logs hard to read. Instead we should probably upload this somewhere.

[2021-10-28 14:21] jonathanmetzman opened #6677 "[clusterfuzzlite] RUN_FUZZERS_MODE/mode are used inconsistently"
Currently, we ask users to set [the mode](https://github.com/google/oss-fuzz/blob/master/infra/cifuzz/actions/run_fuzzers/action.yml#L22) which we translate to the env var RUN_FUZZERS_MODE.
This is really confusing because some users don't have a translation layer (e.g. GCB) so users must specify RUN_FUZZERS_MODE and not mode. we should get rid of run_fuzzers_mode entirely and be consistent.

[2021-10-28 15:18] jonathanmetzman opened #6678 "[clusterfuzzlite] Build downloading doesn't work on PR fuzzing"
It does on commit fuzzing but I think PR fuzzing breaks certain assumptions it makes.
Suppose a build is uploaded for commits to main: A, B, C
Now suppose I branch off C, commit 4 times, D, E, F, G and make a pull request.
ClusterFuzzLite will try to download builds for F, E, D.
Really ClusterFuzzLite should try to download builds for: C, B, A

[2021-10-28 15:32] jonathanmetzman opened #6679 "[clusterfuzzlite] Add end-to-end tests for gcb"
GCB has a cloud-build-local tool which allows running GCB builds locally.
This can help us test GCB but also other parts of cfl since it is much easier than manually triggering a github action workflow.

[2021-10-28 16:52] jonathanmetzman opened #6680 "clusterfuzzlite: Figure out how to browse webpages on a private GCS bucket"
@oliverchang I think you said you might know a way to do this, could you please look into it?
I think it would be an extremely nice feature for GCB users.

[2021-10-28 19:00] #6677 closed, assigned to jonathanmetzman

[2021-10-28 19:02] #6609 closed, assigned to jonathanmetzman

[2021-10-28 21:38] boxerab opened #6685 "Issue with fuzzing run in Github actions"
I have fuzzing enabled for one of my Github actions.
The action currently fails, but when I download the artifact and run it on my decoder,
I don't get the same output as is logged by the fuzzer. Also, the file name inside
the artifacts.zip file is the same for multiple actions, even after a new commit is pushed.
Also, even though both memory and address fuzzers fail, I only get a single artifact

[2021-10-28 21:40] jonathanmetzman opened #6686 "helper.py doesn't always consume --external properly"
Will provide more details later.

[2021-10-29 13:26] jonathanmetzman opened #6692 "[clusterfuzzlite] Fix issue with uploading builds and downloading them"
See https://github.com/google/oss-fuzz/pull/6688#issuecomment-954741170

[2021-10-29 15:30] exlavasage opened #6694 "Undocumented fields in project.yaml"
Is there anywhere that documents all supported fields in project.yaml?

I was reading the [Code Coverage](https://google.github.io/oss-fuzz/advanced-topics/code-coverage/) page and it lists `coverage_extra_args` as an additional field for a specific use. This field isn't documented on the [project.yaml](https://google.github.io/oss-fuzz/getting-started/new-project-guide/#projectyaml) page.

[2021-10-29 20:27] jonathanmetzman opened #6696 "[cflite] Ensure that bugs found on first run don't get hidden forever."

[2021-10-30 16:30] evverx opened #6703 "CIFuzz seems to have started reporting timeouts"
I'm not sure what happened 10-11 days ago but since then CIFuzz has been failing at https://github.com/karelzak/util-linux/actions/workflows/cifuzz.yml . As far as I can remember timeouts were supposed to be ignored by default
[code]

[2021-10-31 14:22] jonathanmetzman opened #6710 "gcloud installation in cifuzz-base is 846MB"
We should reduce this.

[2021-10-31 15:06] jonathanmetzman commented on #6710
following the steps from cloud-builders to install gcloud does this.
Some other options I can think of are installing via apt or maybe installing standalone gsutil (I tried this with pip and there was an auth issue :-( )

[2021-10-31 15:13] jonathanmetzman commented on #6703
I'm not sure why this is.
My impression was we always reported timeouts (see https://github.com/google/oss-fuzz/issues/3432), but I thought it was a bad idea.
Before I work on this, I'd like your opinion, do you think it's preferable to get timeouts reported or not?

[2021-10-31 16:48] jonathanmetzman commented on #6619
I think this should fix it: https://github.com/google/oss-fuzz/pull/6711

[2021-10-31 16:56] jonathanmetzman commented on #6619
Actually, my fix will make the exception you see go away. But it won't fix the underlying bug which is that reproducing timeouts can exceed the length of time CIFuzz allows for reproducing. @oliverchang What do you think of this? I think we can solve timeout reporting after launch.

[2021-10-31 17:24] jonathanmetzman opened #6713 "[clusterfuzzlite] Remove unnecessary logs"
Not doing this makes the output hard to read.

[2021-10-31 17:25] jonathanmetzman commented on #6713
@oliverchang I think this will require some libclusterfuzz changes, can you do this?

[2021-10-31 17:25] jonathanmetzman commented on #6713
I think this is particularly important for GCB where logs must be inspected to find the URL of the testcase.

[2021-10-31 18:50] evverx commented on #6703
Given that all the fuzz targets I've kept track of time out on GitHub one way or another I don't think timeouts should be reported by default. But as long as it's configurable I think it should be fine either way.

[2021-10-31 19:56] jonathanmetzman commented on #6703
Good point. I think the easiest way to fix this without doing violence to libClusterFuzz is to pass `-timeout=$MAX_TOTAL_TIME` as an argument when not reporting timeouts.

[2021-10-31 20:02] jonathanmetzman opened #6714 "ClusterFuzzLite: Batch fuzzing should not set a seed."
Randomness is OK here.

[2021-10-31 22:33] jonathanmetzman commented on #6696
Maybe we should upload old crashes without turning red. No one will look at these probably.
Maybe external shouldn't do old bug checking at all (this is how old CIs work anyway).
Maybe make batch fuzzing mandatory and don't do old bug checking there.
Maybe check dashboard data to see how often this feature was used.

[2021-10-31 23:42] jonathanmetzman commented on #6685
I'm not sure why this. The OOM is from UndefinedBehaviorSanitizer by the way did you run it on a UBSAN build.

It looks like the same crash is being hit again. I looked at https://github.com/GrokImageCompression/grok/runs/3955433969?check_suite_focus=true the ASAN build there hits the same oom: oom-14154dbf1a56eb62baaca66f1d86fd1f3c2d9253

I'm not sure why this is. Maybe it's a regression in CIFuz

[2021-10-31 23:43] jonathanmetzman commented on #6685
When #6703 lands you can turn off OOM reporting so at least CI wont turn red. But it will negatively impact fuzzing it seems, since it is happening so often.

[2021-10-31 23:44] jonathanmetzman commented on #6685
I might not have time to resolve this so soon since I have a lot coming up this week. But I'll try to get to it at some point.

[2021-11-01 00:26] #6667 closed

[2021-11-01 01:08] #6668 closed

[2021-11-01 01:28] boxerab commented on #6685
@jonathanmetzman thanks for looking into this! I disabled fuzzer console spamming.
I now can see what is really happening - this is an OOM, which is a known issue for the library.
I will close this, and eventually fix that OOM :)

[2021-11-01 01:28] #6685 closed

[2021-11-01 03:05] #6678 closed

[2021-11-01 03:25] oliverchang commented on #6713
I don't think we need to make any libClusterFuzz changes? The stacktrace is there already.

That said, I'm not sure this helps the GCB case too much. If we upload this as an artifact, then users will have to find the URL to that in the first place?

[2021-11-01 11:04] jonathanmetzman opened #6716 "Add CFL_ prefix to generic sounding env vars"
MODE is an example.

[2021-11-01 11:05] #6676 closed, assigned to jonathanmetzman

[2021-11-01 11:06] jonathanmetzman opened #6718 "Throw exception when required env vars arent supplied"
We don't do this now because our tests are bad and oftentimes omit necessary env vars.

[2021-11-01 11:11] jonathanmetzman opened #6719 "Summary artifact not created for OOMS"
See https://github.com/google/oss-fuzz/issues/6685

[2021-11-01 11:18] jonathanmetzman opened #6720 "Diffing on commit fuzzing sometimes breaks"
This might be due to old version of CIFuzz being used. It doesn't seem to happen anymore:
See https://github.com/GrokImageCompression/grok/actions/runs/1364850873
[code]

[2021-11-01 11:19] jonathanmetzman opened #6721 "Check that multiple crashes can be uploaded when running different jobs"
It didn't happen [here](https://github.com/google/oss-fuzz/issues/6685) but that may be due to weirdness in OOM handling.

[2021-11-01 11:20] jonathanmetzman opened #6722 "Output a json file detailing results of important steps"
This will be useful for testing and possibly for having another step on GCB that is easy to read that outputs crash URLs.

[2021-11-01 11:21] jonathanmetzman opened #6723 "Fix CIFuzz dashboard"
It's broken now

[2021-11-01 11:21] jonathanmetzman opened #6724 "Extend CIFuzz dashboard to find ClusterFuzzLite users"

[2021-11-01 11:22] jonathanmetzman opened #6725 "Document developing and adding new platform support"

[2021-11-01 14:07] MarcoFalke opened #6726 "Spurious "ClusterFuzz-Verified" for reproducible issue"
Yesterday a reproducible unfixed issue was closed: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=34146#c3

It still reproduces both locally and on clusterfuzz for task "Check if bug still reproduces".

[2021-11-01 19:22] jonathanmetzman opened #6729 "[ClusterFuzzLite] Git filestore isn't used to download coverage"
I think the action.yml file isn't passing it as an env var.

[2021-11-02 02:13] oliverchang commented on #6729
This is fixed after https://github.com/google/clusterfuzzlite/pull/15 right? (thanks!)

[2021-11-02 02:13] #6729 closed

[2021-11-02 05:39] oliverchang commented on #6692
Moved this to the next milestone since this is for an unusual use case.

[2021-11-02 05:42] oliverchang commented on #6686
Could you provide some examples here for what should work but doesn't ?

[2021-11-02 11:56] jonathanmetzman commented on #6686
Something like this fails: `python ~/oss-fuzz/infra/helper.py run_fuzzer /tmp/systemd fuzz-json --external`

[2021-11-02 11:57] jonathanmetzman commented on #6686
Because --external is interpreted as arguments to fuzz-json rather than an argument to helper.py

I think the way most tools deal with this is having arguments passed to child processes passes after `--`

[2021-11-02 12:01] #3432 closed

[2021-11-02 12:01] #6619 closed

[2021-11-02 12:01] #6703 closed

[2021-11-02 12:03] jonathanmetzman commented on #6729
Yep

[2021-11-03 01:48] oliverchang commented on #6726
Unfortunately flakiness does happen from time to time depending on the crash / target despite our best attempts.

I see that your redo has set the testcase back in the expected state on https://oss-fuzz.com/testcase-detail/6328915661553664.

Closing as I don't think there's anything left actionable here

[2021-11-03 01:48] #6726 closed

[2021-11-03 03:22] #6714 closed

[2021-11-03 10:55] bajinsheng opened #6751 "Firefox build failed"
[https://github.com/google/oss-fuzz/blob/master/projects/firefox/Dockerfile#L38](Dockerfile#38) This line call mach script, but I always get timeout connection when building it locally. The error like this:

0:04.82 Downloading... 0.0 %
0:04.95 Downloading... 5.0 %
0:05.06 Downloading... 10.0 %
0:05.15 Downloading... 15.0 %
0:05.26 Downloading... 20.0 %
0:05.33 Downloading... 25.0 %
0:05.64 Downlo

[2021-11-03 11:25] DavidKorczynski commented on #6751
Thanks! Any updates or patches to fix the build are appreciated!

[2021-11-03 14:09] #6686 closed, assigned to nobody

[2021-11-03 15:04] DavidKorczynski opened #6755 "cifuzz: get_replace_repo_and_build_command can overwrite artifacts copied from Dockerfile"
Integrating CIFuzz into DuckDB led to an issue where a fuzzer located in OSS-Fuzz gets copied into `$SRC/duckdb/fuzznamer.cpp` but is then deleted. I believe it's related to `rm -rf {rm_path}`  here https://github.com/google/oss-fuzz/blob/a75844def087fa58dec6b465a76f54035fc9d805/infra/cifuzz/continuous_integration.py#L156

The logs are as follows:
[code]

As such, later the build process would fai

[2021-11-03 15:04] DavidKorczynski commented on #6755
This is the DuckDB PR: https://github.com/duckdb/duckdb/pull/2501

[2021-11-03 16:00] jonathanmetzman opened #6756 "Build downloading breaks sometimes"
I noticed this here https://github.com/google/oss-fuzz/pull/6688#issuecomment-954741170
And mitchel noticed it [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/test-infra-fuzz/1455911271944687616)
when using these configs:
[code]

[2021-11-03 16:09] jonathanmetzman commented on #6756
Mitchel was using older images. lets see if it happens again after https://github.com/google/oss-fuzz/pull/6749 since that disabled batch it for batch fuzzing.

[2021-11-03 16:19] jonathanmetzman commented on #6755
This is a known issue. I can try to look into this next week.
CC @oliverchang

[2021-11-03 20:30] jonathanmetzman commented on #6756
Nevermind, @mpherman2 says this issue disappeared.

[2021-11-03 20:30] jonathanmetzman commented on #6756
CC @oliverchang

[2021-11-03 20:35] jonathanmetzman opened #6758 "reproduce command doesn't behave as expected when not run from OSS-Fuzz directory."
To repro:
[code]
This is particularly bad for ClusterFuzzLite users as they are likely to use helper.py from outside of the oss-fuzz directory (as I was when discovering this).

The reason why this happens is because helper.py switches directories to the oss-fuzz repo early on.
This is hacky and shouldn't be done.
I don't  think I have time to resolve this issue now. I'll probably just get the abs

[2021-11-03 20:35] mpherman2 opened #6759 "CIFuzz: Validation error messages are not correct for different platform configs."
When REPO_NAME is not defined for a Prow run of CFL, the error message reads "REPOSITORY" is not defined.

We should have some way of serving different config validation error messages for different Platform Configs.

[2021-11-03 23:52] oliverchang opened #6762 "cflite: Remove stacktrace extraction"
We can just include the whole log for each crash instead of trying parse out just the stacktrace.

[2021-11-04 13:34] #6762 closed

[2021-11-04 18:21] mpherman2 opened #6768 "CFL: Coverage Report job not recognizing fuzz targets with go fuzzer"
Logs:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/test-infra-cfl-coverage-report/1456224223201595392
env:
      - name: MODE
        value: coverage
      - name: REPO_NAME
        value: test-infra
      - name: SANITIZER
        value: coverage
      - name: CLOUD_BUCKET
        value: gs://prow-cifuzz-test/
      - name: CFL_PLATFORM
        value: prow
      - name: DOCKER_IN_DOCKER_EN

[2021-11-04 18:24] mpherman2 opened #6769 "Upstream Clusterfuzzlite Image does not support Docker in Docker"
Currently to use Clusterfuzzlite with Prow we use a different image that contains some bootstrap code that allows Docker in Docker to run. Ideally this would be upstreamed to help Prow's version of Clusterfuzz lite stay up to date with the upstream version.

Download Prow CFL image here:
https://pantheon.corp.google.com/gcr/images/k8s-testimages/GLOBAL/ci_fuzz
Dockerfile for it is here:
https://gi

[2021-11-04 19:19] jonathanmetzman commented on #6769
This is similar to https://github.com/google/oss-fuzz/issues/6710
@oliverchang WDYT of this? I think we will probably need to have different images for different platforms if we want to avoid making the image pull time too long.
Already it takes about 50 seconds.

[2021-11-04 19:21] mpherman2 commented on #6710
Something we discussed as a way to deal with this is caching. It's worth looking into what caching settings github actions has. This may help reduce image pull time more than trying to reduce the size of the file

[2021-11-04 19:24] jonathanmetzman commented on #6768
I figured out why this.
Go fuzz targets don't seem to have LLVMFuzzerTestOneInput so they [fail this check](https://github.com/google/oss-fuzz/blob/master/infra/utils.py#L166).
https://github.com/google/oss-fuzz/issues/5777 tried to consolidate fuzzer detection but I don't think it will work here. I think coverage targets need to use the really simple check done in the coverage script ([here](http

[2021-11-04 19:29] jonathanmetzman commented on #6710
Oh 800 MB is uncompressed size. Compressed it's more like 150 MB

[2021-11-04 19:31] jonathanmetzman commented on #6769
It's not just a performance issue. I remember some CIFuzz users running out of diskspace and this would make it worse.

[2021-11-04 19:52] jonathanmetzman opened #6770 "CFL: Come up with a better interface than run_fuzzers and build_fuzzers"
This can lead to a lot of duplication and is error prone.
An alternative is using the combined entrypoint. This should work today. The downside of this is it makes it harder to distinguish the steps. By having two seperate entrypoints/steps it's easier to tell if there's a build failure or run failure.
Another alternative is to pass all input to build_fuzzers which can pass it to run_fuzzers via a

[2021-11-04 22:47] phretor commented on #6283
I'm still getting this. Here are the steps to reproduce:

[code]

[2021-11-05 01:02] DavidKorczynski commented on #6751
Closing this one as we're aware that some builds may fail at times. Hopefully maintainers will get time to fix it and, naturally,  any assistance is appreciated.

[2021-11-05 01:02] #6751 closed

[2021-11-05 15:49] mpherman2 commented on #6769
Something that would solve both this issue and the performance issues would be to remove the need for Docker In Docker all together. I understand the reason we build a new Docker image with the source code we are fuzzing in order to build the fuzzers, but it would be much better if instead we could just build the fuzzers directly without this extra step. Something to consider for future improvemen

[2021-11-05 15:57] jonathanmetzman commented on #6769
I think we don't like this solution for two reasons:
1. It breaks assumptions for OSS-Fuzz users and causes CIFuzz to behave very differently than OSS-Fuzz does (e.g. certain runtime failures would not occur in CIFuzz but would occur on OSS-Fuzz).
2. It would be very hard to prevent users from accidentally breaking things in ClusterFuzzLite (what if they uninstall the python version we installed a

[2021-11-05 21:22] rlohning opened #6782 "Report derived reports back to oss-fuzz"
Sometimes the findings from oss-fuzz are being passed on into further systems, e.g. there is
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=35566
which turned into
https://osv.dev/vulnerability/OSV-2021-903
and then into
https://nvd.nist.gov/vuln/detail/CVE-2021-38593

I appreciate that this happens, but currently it's easy to miss the new reports because they are only linked in one directi

[2021-11-07 09:36] MarcoFalke opened #6791 "Should falsely "verified" issues be reopened instead of filing a new issue with the same reproducer?"
I think it would allow easier tracking of issues. For example, seeing when they first appeared and keeping the discussion in one place.

Currently OSS-Fuzz will randomly "verify" issues that are still reproducible and create a fresh issue shortly after with the same reproducer.

See:

* #6726
* #6237
* #4470
* ...

[2021-11-07 23:46] oliverchang commented on #6769
+1 to a separate image for supporting Prow.

https://github.com/kubernetes/test-infra/blob/master/experiment/ci-fuzz/Dockerfile is broken but what needs to be added? Just a docker install step?

[2021-11-08 05:43] oliverchang commented on #6782
Do you know who is generating entries such as https://nvd.nist.gov/vuln/detail/CVE-2021-38593 ? (It's not us :) )

Re your feature request, are you asking for a comment such as:

"This bug report was assigned as OSV-2021-XXXX" on the relevant monorail oss-fuzz issues?

[2021-11-08 07:07] oliverchang commented on #6755
The OSV integration copies out the repository from the image instead of checking out its own (which would include any extra non-tracked files that are copied into it). Perhaps we can just do the same thing here?

[2021-11-08 20:00] rlohning commented on #6782
Err... no, I don't know who's generating such issues. I was hoping it was you. :-)

Yes, that's what I'm looking for. Just some comment telling me that there's a CVE for it and its number.

[2021-11-08 20:03] rlohning commented on #6782
...and something similar for the OSV issue, please.

[2021-11-09 04:29] oliverchang commented on #6782
I filed https://github.com/google/osv/issues/258 to track the OSV ID comment.

Would have to think more about the CVE ID, since we're not the ones generating them.

[2021-11-09 12:49] #6768 closed

[2021-11-11 15:55] Gramner opened #6815 "Issue not automatically closed after being verified as fixed"
https://crbug.com/oss-fuzz/11474 was fixed a long time ago but still has the status `New (Open)`.

[2021-11-13 17:23] RKSimon opened #6822 "LLVM Build Failures"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=27686

This llvm build has been failing in the cmake gen stage since at least August

[2021-11-14 03:06] DavidKorczynski commented on #6822
Thanks! Contributions to help fix the build are very welcomed. Will close this issue as it's known that some builds are failing.

[2021-11-14 03:06] #6822 closed

[2021-11-14 11:29] pitrou opened #6825 "[arrow] spurious e-mail notifications"
I'm not sure this is the right place to report this, but I don't know where to do it otherwise.

I frequently (several times a week) receive the following kind of email notifications about the Arrow project's fuzz setup, where the only "update" being mentioned is a CC'ed email address. Also, it's always the same e-mail address.

I'll add that the [project configuration](https://github.com/google/o

[2021-11-14 11:29] pitrou commented on #6825
cc @nealrichardson since it seems it's your e-mail address that's mentioned in those e-mails.

[2021-11-15 16:25] jonathanmetzman commented on #6825
@oliverchang Could you please look into this?

[2021-11-15 16:36] MarcoFalke opened #6829 "How often is clang updated?"
We ran into some compiler bugs earlier this month and fixed them in clang. How long will it approx. take for the updates to hit oss fuzz?

[2021-11-15 16:41] jonathanmetzman commented on #6829
There's no fixed schedule.
We update whenever chrome updates their clang.
That seems to be every 2 weeks about.
Tracking bug for current roll is here: https://bugs.chromium.org/p/chromium/issues/detail?id=1269407&q=roll%20clang&can=1

[2021-11-15 16:48] MarcoFalke commented on #6829
Thanks, I'll watch the issue.

[2021-11-15 16:48] #6829 closed

[2021-11-16 05:39] oliverchang commented on #6825
Looking at https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=28453 it looks like all these have "a_deleted_user" for some reason, except for the very last update. The email updates all list the full email address instead of "a_deleted_user".

@nealrichardson is your listed email a Google account? It seems like your account is confusing monorail somehow.

[2021-11-16 05:40] oliverchang commented on #6815
Thanks, this must've been an infra issue from the old days. I've manually marked this as Verified.

[2021-11-16 05:40] #6815 closed

[2021-11-16 13:49] nealrichardson commented on #6825
Hmm. It was a google account but it was deleted over a year ago when I left the company.

[2021-11-16 13:53] eustas opened #6831 "google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master hangs"
Example of action that timed-out: https://github.com/libjxl/libjxl/runs/4215983662?check_suite_focus=true

Report:
[code]

[2021-11-16 15:18] eustas commented on #6831
Seems to be project-specific issue.

[2021-11-16 15:18] #6831 closed

[2021-11-17 02:47] #5968 closed

[2021-11-17 03:10] jonathanmetzman opened #6834 "Finding out CPU where bug was reproduced"
@guidovranken suspects this one is CPU dependent: https://oss-fuzz.com/testcase-detail/5703397865553920

[2021-11-17 04:58] evverx opened #6836 "CIFuzz can't be pinned to a specific version"
Currently CIFuzz is the only action I use on a regular basis that can't be pinned to specific versions and that makes `scorecard` very unhappy:
[code]
It would be great if was possible to jump from one version to another automatically with Dependabot to make it easier to prevent CI from accidentally pulling breaking changes.

[2021-11-17 05:11] evverx commented on #6836
Just to clarify, I can make that warning go away by pointing it to the latest SHA an let dependabot update it daily to follow the master branch but since the OSS-Fuzz repository receives updates often it would lead to a lot of PRs opened by Dependabot and I'd like to avoid that :-) so it would be great if the action could be pointed to a version of some kind. It's probably kind of related to https

[2021-11-17 11:05] pitrou commented on #6825
@nealrichardson Do you want to open a PR to change it to a valid Google account e-mail?
(assuming you want to be cc'ed - otherwise we can also just remove it)

[2021-11-17 13:54] nikic opened #6839 "AFL build failure"
The php project currently fails to build (https://oss-fuzz-build-logs.storage.googleapis.com/index.html#php) due to an AFL startup crash:
[code]
I'm seeing the same failure on a few other builds as well, for example https://oss-fuzz-build-logs.storage.googleapis.com/index.html#boringssl, so I suspect the issue may not be on our side.

[2021-11-17 14:12] DavidKorczynski commented on #6839
@vanhauser-thc do you have thoughts here? Is this related to https://github.com/google/oss-fuzz/pull/6809 ?

[2021-11-17 14:17] nealrichardson commented on #6825
PR to remove: https://github.com/google/oss-fuzz/pull/6840

[2021-11-17 14:18] nikic commented on #6839
I'm also not able to reproduce this locally. The issue may be intermittent, as it already occurred once on Nov 13th, then there were two working builds Nov 14th and 15th and then again two failing builds Nov 16th and Nov 17th.

[2021-11-17 14:23] gthess opened #6841 "Issue 41097 in oss-fuzz: unbound: Fuzzing build failure"
Hi,
Recently we introduced some refactoring in Unbound's EDNS parsing capabilities (https://github.com/NLnetLabs/unbound/pull/563).
This lead to the function `parse_extract_edns()` to be renamed to `parse_extract_edns_from_response_msg()` and broke the build of the fuzz_1.c and fuzz_4.c fuzzers that call that function prior to start fuzzing.
The following diff should fix the build, at least the er

[2021-11-17 15:03] vanhauser-thc commented on #6839
It can be reproduced on the same target and with cmplog enabled - and a bit of luck,
as cmplog is a random option etc. it will work some of the time but not all the time.

fix is in #6843

[2021-11-17 15:18] rouault opened #6844 ""Random" build failures with GDAL and AFL"
I've notice recently frequent reports about build failures that are closed the next day or so, and reappear a few days after, without any change in the GDAL code base being specifically made to address those issues. This is a bit irritating and I'd wish a reliable solution could be found. Last in date is https://oss-fuzz-build-logs.storage.googleapis.com/log-eabe1d3c-d96b-44c1-9b80-dced4693e198.tx

[2021-11-17 15:22] DavidKorczynski commented on #6844
I believe this is related to: https://github.com/google/oss-fuzz/issues/6839

[2021-11-17 16:12] DavidKorczynski commented on #6839
fix is merged, will leave this open to check up on the build and close once the fix is confirmed

[2021-11-17 20:25] asraa commented on #6825
Closed via #6840

[2021-11-18 10:27] tsdgeos opened #6847 "afl miscompiling fribidi?"
I' ve been trying to figure out what's wrong in https://oss-fuzz-build-logs.storage.googleapis.com/log-61b89a67-51d0-4854-98e9-3f81038e1dc5.txt

And i think i may have found a problem in afl (or clang?)

When running gdb over the binary compiled with afl it segfaults at line 336 of https://github.com/fribidi/fribidi/blob/master/gen.tab/packtab.c#L336

But then i've added printf of j, i, jj and the

[2021-11-18 10:40] DavidKorczynski commented on #6847
Although the crash is a bit different, could this be related to https://github.com/google/oss-fuzz/issues/6839?

[2021-11-18 11:02] tsdgeos commented on #6847
In that issue you say the fix is merged, but i can still reproduce the crash now, so probably different?

[2021-11-18 11:06] DavidKorczynski commented on #6847
It depends on whether the base images have been updated with the recent AFL - could we check in on this again tomorrow or so?

[2021-11-18 11:17] tsdgeos commented on #6847
Sure :)  is there a way to know if the AFL that is being run has the fix (version number or something)?

[2021-11-18 16:15] jonathanmetzman commented on #6836
CC @oliverchang

[2021-11-18 16:21] jonathanmetzman commented on #6836
What would this look like? instead of running build_fuzzers@master you run build_fuzzers@v1 ?
Because projects have dependencies in the OSS-Fuzz repo I don't think it's a good idea to ever run CIFuzz on anything but HEAD.
That said, I suppose I could have an action that updates the v1 tag everytime there is a commit to the OSS-Fuzz repo.
I really don't know how this benefits security though, but w

[2021-11-18 16:23] catenacyber opened #6853 "Chromium bug tracker old build failures still open"
Looking at https://bugs.chromium.org/p/oss-fuzz/issues/list?q=Type=%22Build-Failure%22
We see 2 open tickets for grpc
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=10235&q=Type%3D%22Build-Failure%22
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=35844&q=Type%3D%22Build-Failure%22

I guess the first one should be closed
Same goes for radare2 and firefox

That is the tickets whose tit

[2021-11-18 16:32] evverx commented on #6836
I don't think it does :-) I'm more interested in catching issues during updates. The latest example of what it looks like is https://github.com/systemd/systemd/pull/21410

That's a good point. Given that I switched from daily updates to weekly updates I guess I would have no problem with receiving PRs following the tip of OSS-Fuzz once a week.

I think the issue can be closed.

Thanks!

[2021-11-18 16:33] evverx commented on #6836
The correct link was https://github.com/systemd/systemd/pull/21340

[2021-11-18 16:55] evverx commented on #6836
I kind of always wanted to move it to the systemd repository because well it feels weird that I can change `build.sh` (which simply runs tools/oss-fuzz.sh) and test it with CIFuzz but Dockerfile is somehow different. @jonathanmetzman before I break anything I wonder if the following patch would be fine by OSS-Fuzz
[code]

[2021-11-18 19:53] jonathanmetzman commented on #6834
I think the testcase was deleted. Can't track it down now.

[2021-11-18 19:53] #6834 closed

[2021-11-18 23:43] AdamKorcz opened #6857 "istio - fuzzers do not seem to run and 404 on stats page"
The Istio project has 50+ fuzzers, but it seems like some issues are happening that I'm unable to address:
- Fuzzer statistics page gives "404 no stats": https://oss-fuzz.com/fuzzer-stats?project=istio&fuzzer=libFuzzer&job=libfuzzer_asan_istio&group_by=by-fuzzer
- No bug reports have been issued in the last ~2 months, but the fuzzers should be uncovering some issues.

The fuzzers build and run fin

[2021-11-18 23:49] AdamKorcz commented on #6857
@oliverchang this may be something in the clusterfuzz backend?

[2021-11-19 01:24] evverx commented on #6836
Looks like Dependabot can't follow the master branch automatically without versions of some kind

[2021-11-19 02:14] evverx commented on #6836
In the meantime I opened https://github.com/google/oss-fuzz/pull/6858, which I think should make it unnecessary for the systemd project to change Dockerfile ever again hopefully

[2021-11-19 05:05] oliverchang commented on #6857
Thanks for flagging! It looks like these machines are running out of disk, so I'll bump that and see how this recovers.

[2021-11-19 11:39] DavidKorczynski commented on #6839
The last two builds has succeed. Closing this!

[2021-11-19 11:39] #6839 closed

[2021-11-19 11:50] DavidKorczynski commented on #6844
The issue with unreliable builds is most likely because AFL builds has nondeterminism when building a project, and likely some of the settings are causing GDAL to fail whereas others don't:
https://github.com/google/oss-fuzz/blob/a21768ce6a5056d27f82b2f412c86261ad2dc8d0/infra/base-images/base-builder/compile_afl#L52-L73

It seems like there are two issues here:
- nondeterminism in builds causing u

[2021-11-19 13:51] ksztyber opened #6862 "spdk: intermittent build failures"
Seems like spdk fails to build with the following linker error:
[code]
It looks like it only fails when built with `AFL_LLVM_CMPLOG=1`. If this variable is unset, the build succeeds.

This was reported in [1], but the bug was closed since the next build succeeded. However, it still reproduces on my system and it looks like it sometimes fails on CI too [2]. Also, I've noticed that these `AFL_*` var

[2021-11-19 13:59] DavidKorczynski commented on #6862
There are different versions of the AFL-build and it is selected nondeterministically - see here for more details: https://github.com/google/oss-fuzz/issues/6844#issuecomment-974005289

@vanhauser-thc are there perhaps still some issue with the cmplog build?

[2021-11-19 14:17] vanhauser-thc commented on #6844
the issue is from 2 days ago, so likely did not yet have the fix. is it still happening?

[2021-11-19 14:20] DavidKorczynski commented on #6844
This is a build log from 19/11/2021: https://oss-fuzz-build-logs.storage.googleapis.com/log-0555c90b-ccf1-4170-bd39-2f98ccacc808.txt and the issue persists

This issue https://github.com/google/oss-fuzz/issues/6839 was resolved though - the two most recent PHP builds passed

[2021-11-19 16:03] vanhauser-thc commented on #6844
yes, this was a different issue, fixed with #6866

[2021-11-20 01:10] evverx opened #6868 "Python packages installed with apt-get can't be found by Python"
That's another issue brought by `scorecard` complaining about `pip install`: https://github.com/ossf/scorecard/issues/1306

`systemd` installs `meson`, `ninja` and `jinja2` with `pip` and `scorecard` complains about that. And while `pip` is used to install the latest versions of `meson` and `ninja` and can't be avoided there, `jinja2` is a bit different in the sense that it's installed that way si

[2021-11-20 09:56] MarcoFalke opened #6870 "Which CPU families are used by OSS-Fuzz?"
We are seeing intermittent issues, which reproduce on OSS-Fuzz on some days, but not others. ( https://bugs.chromium.org/p/oss-fuzz/issues/list?q=bitcoin-core%20float%20ASSERT%20encoded_in_memory%20encoded&can=1 )

Locally I can't reproduce with `python infra/helper.py reproduce`. I tried on CPUs `Intel Xeon Processor (Skylake, IBRS)` and `AMD EPYC Processor`.

I suspect that the issue might only

[2021-11-20 11:42] MarcoFalke opened #6871 "AFL miscompile with AFL_LLVM_LAF_ALL=1 ?"
Steps to reproduce:

* Compile AFL with

[code]

* Reproduce the issue as usual. List of identical issues: https://bugs.chromium.org/p/oss-fuzz/issues/list?q=bitcoin-core%20float%20ASSERT%20encoded_in_memory%20encoded&can=1

[code]

[2021-11-20 11:42] MarcoFalke commented on #6870
See https://github.com/google/oss-fuzz/issues/6871

[2021-11-20 11:42] #6870 closed

[2021-11-20 11:42] MarcoFalke commented on #6871
See also https://github.com/google/oss-fuzz/issues/6844#issuecomment-974005289

[2021-11-20 14:27] boxerab opened #6873 "sudden oss-fuzz build failure"
Haven't made any new commits, but fuzzer suddenly reported build failure.
It had built successfully after my most recent commit.

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41123&sort=-opened&can=1&q=proj%3Agrok

[2021-11-20 14:28] #6873 closed

[2021-11-21 21:58] titanous opened #6877 "mupdf: build broken due to clang bug"
Flagging this comment by @sebras for visibility:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41253

---

[2021-11-21 22:26] DavidKorczynski commented on #6877
CC @vanhauser-thc

[2021-11-21 22:26] DavidKorczynski commented on #6871
CC @vanhauser-thc

[2021-11-22 08:44] ltx2018 opened #6878 "Add email to project.yaml"
Hi, can I add my email to a project.yaml if just interested in issue tracking?

[2021-11-22 08:53] vanhauser-thc commented on #6877
I cannot reproduce this with the random config that is printed in the build log. builds fine for me.

[2021-11-22 08:53] tsdgeos commented on #6847
Seems it fixed itself https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40978

[2021-11-22 08:53] #6847 closed

[2021-11-22 09:10] vanhauser-thc commented on #6871
how can I obtain the testcase?
[code]

[2021-11-22 09:13] MarcoFalke commented on #6871
[code]

[2021-11-22 10:08] vanhauser-thc commented on #6871
thanks!
passed it on to the expert who did the float splitting implementation as I do not know about that code.
laf/compcov is a rare instrumentation (3% chance) so for the time being that should not be an issue.

[2021-11-22 10:09] vanhauser-thc commented on #6871
https://github.com/AFLplusplus/AFLplusplus/issues/1174

[2021-11-22 10:30] bagder opened #6879 "Suspected false positive "Heap-buffer-overflow" report in curl"
Over in the @curl project we've received this oss-fuzz issue over the last few days: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41258 (limited access). It is said to happen "very frequently".

The stack trace is puzzling. None of us in the project have been able to reproduce it. We've stared at the code in question and we cannot see nor explain how the fuzzer can reach the point where i

[2021-11-22 10:53] DavidKorczynski commented on #6879
I think this might be an issue with AFL and its instrumentation rather than Curl code, CC @vanhauser-thc

[2021-11-22 10:53] DavidKorczynski commented on #6878
No, you need to be a maintainer of the project.

[2021-11-22 10:53] #6878 closed

[2021-11-22 11:01] vanhauser-thc commented on #6879
there is nothing I can do there.
I need the testcase that produces that crash so I can have a look.
(and I have no permission to the issue on chromium, the curl issue has no content that helps me in any way)

[2021-11-22 11:05] bagder commented on #6879
The curl fuzzer runs as part of oss-fuzz since years and is fully public here: https://github.com/curl/curl-fuzzer

[2021-11-22 11:09] DavidKorczynski commented on #6879
could you share the testcase @bagder ?

[2021-11-22 11:12] bagder commented on #6879
here it is:
[clusterfuzz-testcase-minimized-curl_fuzzer_gopher-4644400603463680.txt](https://github.com/google/oss-fuzz/files/7580459/clusterfuzz-testcase-minimized-curl_fuzzer_gopher-4644400603463680.txt)

14 bytes

[2021-11-22 11:27] DavidKorczynski commented on #6847
Thanks @tsdgeos - there was a fix in AFL so it's probably this: https://github.com/google/oss-fuzz/pull/6866

[2021-11-22 11:39] vanhauser-thc commented on #6879
I cannot reproduce it:
[code]
but there was a bugfix 2-3 days ago for afl++ in oss-fuzz. could that have fixed it?
otherwise I need the buildlog to be able to build the exact same gopher binary (several instrumentation options are random)

[2021-11-22 11:59] bagder commented on #6879
We're several people who fail to repro it. oss-fuzz insists though... :grin:

[2021-11-22 12:00] bagder commented on #6879
oss-fuzz said "This crash occurs very frequently on linux platform" 14 hours ago most recently

[2021-11-22 12:04] vanhauser-thc commented on #6879
:)
if someone can paste the excerpt of a build log that fails (lines that contain "AFL_") then I can have a look

[2021-11-22 12:08] bagder commented on #6879
btw, it indicates this as the regression range for AFLplusplus: https://github.com/AFLplusplus/AFLplusplus/commit/7777045c09c404b1274c930788317525fedb43ad

[2021-11-22 14:55] jonathanmetzman commented on #6879
Another strong hint this is an AFL++ can be seen on the part of thestcase page:
[code]
"Real" bugs in AFL targets should also be reproducible in the libFuzzer ASAN targets

[2021-11-22 15:00] jonathanmetzman commented on #6879
I actually was able to reproduce this with the build linked to from OSS-Fuzz : https://storage.cloud.google.com/clusterfuzz-builds-afl/curl/curl-address-202111210610.zip
I think I know why no one could reproduce this if this is an instrumentation issue.
Since AFL++ builds randomly decide to use cmplog instrumentation, *instrumentation crashes* may need to be reproduced on the build on which they w

[2021-11-22 15:05] DavidKorczynski commented on #6879
There are currently similar issues happening in other projects https://github.com/google/oss-fuzz/issues/6844#issuecomment-974005289

[2021-11-22 15:08] vanhauser-thc commented on #6879
I tried this - and it does not crash with the testcase that was supplied.

the rewrite of cmplog was complex and corner cases are an issue *sigh* ... this did not come up in fuzzbench with is my second line of CI/unittests ;)

[2021-11-22 15:09] vanhauser-thc commented on #6879
for me it is worth it. if there is a bug it should be fixed.

[2021-11-22 15:10] jonathanmetzman commented on #6879
Weird. I thought I cracked the case.

+1

[2021-11-22 15:13] DavidKorczynski commented on #6879
Just to clarify, I meant addressing the issue of reliably reproducing, i.e. creating some added logic in OSS-Fuzz that makes it possibly to build the AFL in the exact same setting as the one where the bug happens.

[2021-11-22 15:19] DavidKorczynski opened #6884 "Make AFL builds reliably reproducible"
Some projects have had issues with AFL in the form of build failures and false-positive based on issues in the AFL fuzzer:

- https://github.com/google/oss-fuzz/issues/6844
- https://github.com/google/oss-fuzz/issues/6879

These issues were not easily reproducible because they only occurred in some AFL settings, and AFL targets can be build in various ways determined nondeterministically:

https:/

[2021-11-22 15:43] vanhauser-thc commented on #6879
the build log prints the AFL_... settings that were chosen. with that information it is enough - but needs hands on work to edit compile_afl.
because of `bash -eu` I cannot test for envs that do not exist, so not sure how I could force a config without editing the script :(
(I could do "env | grep ..." but not sure that is an acceptable solution. I did that originally, but Jonathan didnt like it.)

[2021-11-22 16:32] catenacyber opened #6885 "CIFuzz does not upload crashes"
On project Suricata, CIFuzz found a bug
https://github.com/OISF/suricata/runs/4288032285?check_suite_focus=true
But we do not have the reproducer test case

We see the log

But we are not on oss-fuzz there...

cc @jonathanmetzman

[2021-11-22 16:44] bagder commented on #6879
oss-fuzz just closed the original curl issue 41258 now as "verified". I believe we can then also consider this issue closed!

Thanks!

[2021-11-22 22:44] evverx commented on #6885
I'm not sure where this kind of misleading message comes from but the artifacts were successfully uploaded and can be found at https://github.com/OISF/suricata/actions/runs/1490732347

I think it's related to https://github.com/google/oss-fuzz/issues/5381 as well

[2021-11-23 07:35] catenacyber commented on #6885
Thanks @evverx

[2021-11-23 07:35] #6885 closed

[2021-11-23 12:33] evverx commented on #6885
FWIW I think it would make sense to keep this issue open because that misleading message shouldn't be there I think. If I hadn't run into #5381 I would have thought that the artifacts weren't uploaded as well

[2021-11-24 16:03] jonathanmetzman commented on #6868
It's probably related to that or to the fact that the python in the 16.04 image was ancient.
We can try to fix this.

[2021-11-24 17:02] evverx commented on #6868
I wonder how long you are planning to keep Ubuntu Focal as a base image? On second thought I'm kind of concerned that at some point the version of Python OSS-Fuzz builds will diverge from the version of Python all the packages installed with `apt-get` are supposed to work.

[2021-11-25 16:27] bagder commented on #6879
We just got a new oss-fuzz issue filed that looks very similar and also appears to be A) a false positive and B) not possible to reproduce for us. Want us to file a new issue?

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41390

[2021-11-26 08:00] evverx commented on #6868
In the meantime, I got it around with
[code]

[2021-11-26 16:07] DavidKorczynski commented on #6755
Any updates on this one?

[2021-11-26 21:21] DavidKorczynski opened #6913 "CIFuzz having trouble with java coverage"
Integrating CIFuzz into a jvm project https://github.com/jhy/jsoup/pull/1676 results in the following issue:

[code]

[2021-11-28 14:21] elharo commented on #6656
Bumping this. I just got pinged on a new finding, and once again found myself scrambling to try to figure out which code ran. Eventually I recalled that I had filed this issue and noted that info here. However it's still not apparent in the email I received or the web pages I found at the links to the issue.

[2021-11-28 15:00] DavidKorczynski commented on #6656
I think it makes sense to move the fuzzer upstream in the main protobuf-java repository. This should make it easier for you, and it's also the recommended way of doing OSS-Fuzz

[2021-11-28 22:26] elharo commented on #6656
Possibly. We (the protobuf team) did not contribute this here. I'm not sure who did. We're simply responding to the issue reports it files.

[2021-11-28 22:34] fmeum commented on #6656
I did in https://github.com/google/oss-fuzz/pull/5766, with the approval of @acozzette. The fuzzer setup isn't complicated though, I could turn it into an upstream PR if you prefer.

[2021-11-29 15:28] jonathanmetzman commented on #6868
Probably for at least a few years.
Someone on my team suggested upgrading the ubuntu image on a "rolling" basis, but I don't think we are really considering this.

[2021-11-29 16:16] catenacyber commented on #6834
Maybe also ?
https://github.com/golang/go/issues/49075
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37855&q=label%3AProj-gonids
https://oss-fuzz.com/testcase?key=5194651375108096

[2021-11-29 21:50] jonathanmetzman opened #6926 "Java coverage looks suspicious. Only including fuzz target?"
@fmeum
Check out some of the coverage reports for java projects:
https://storage.googleapis.com/oss-fuzz-coverage/protobuf-java/reports/20211129/linux/index.html
https://storage.googleapis.com/oss-fuzz-coverage/gson/reports/20211128/linux/index.html
https://storage.googleapis.com/oss-fuzz-coverage/jsoup/reports/20211128/linux/index.html

[2021-11-29 22:18] fmeum commented on #6926
This looks very wrong, will investigate.

[2021-11-29 22:37] jonathanmetzman commented on #6913
CC @fmeum
I'm pretty sure this is because of https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-runner/coverage

[2021-11-30 03:25] jonathanmetzman commented on #6879
Sorry about that (and for the delay in responding, there was a public holiday in the US).
I'll reopen this. IMO there's something wrong with one of AFL++'s modes.

[2021-11-30 07:30] bagder commented on #6879
Random, yes. We got two new issues filed (the new one mentioned here and then yet another one) but not too long after, they were both again closed as verified without us doing anything...

[2021-11-30 10:13] DavidKorczynski commented on #6879
There are similar stories in Binutils, where we have recently seen a lot (20+) of dynamic-stack-buffer-overflows which are opened and then closed relatively short after, examples include:
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41362&q=binutils%20Type%3DBug-Security&can=1&sort=-reported
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41137&q=binutils%20Type%3DBug-Security&c

[2021-11-30 10:13] vanhauser-thc commented on #6879
I have a fix since last week but I still need the fuzzbench run that was accepted yesterday to complete until I make a PR to ossfuzz.

[2021-11-30 11:36] fmeum commented on #6926
It's a subtle escaping bug that's ultimately caused by libFuzzer using `system()` to launch processes without escaping the arguments. We had a workaround in Jazzer for that in the past and I will revive it now.

[2021-11-30 13:10] #6913 closed

[2021-11-30 13:32] ksztyber commented on #6862
Thanks for the explanation. @DavidKorczynski any chance on disabling some of these options (e.g. the cmplog ones) for spdk build?

[2021-11-30 13:37] DavidKorczynski commented on #6862
One way to do this would be fix the AFL environment variables in the spdk `build.sh`. However, this is more of a workaround than  a solution. We are working on a solution to the AFL issues in the following places:
- https://github.com/google/oss-fuzz/issues/6879
- https://github.com/google/oss-fuzz/issues/6844
- https://github.com/google/oss-fuzz/issues/6884 (should be fixed by https://github.com/

[2021-11-30 13:50] ksztyber commented on #6862
Awesome, that is definitely fine with me. Let's wait for those fixes.

[2021-11-30 14:40] fmeum commented on #6926
@jonathanmetzman Should be fixed with Jazzer HEAD. FYI, if you ever run into issues with subprocesses invoked by libFuzzer in other settings (e.g. Atheris), the following patch is necessary to unbreak argument passing: https://github.com/CodeIntelligenceTesting/llvm-project-jazzer/commit/b19be4a4f32f7b5441c5e004f4a9034cd6679b3d. I will see whether I can get this submitted upstream.

[2021-11-30 14:44] apollo13 opened #6937 "Fuzzing failures for Django"
Hi there, we currently get those failures:
[code]
https://oss-fuzz-build-logs.storage.googleapis.com/log-d6cfb65a-2d0f-481d-a1ed-7d9b3b077a89.txt
and have no idea on how to address them. Any chance someone could lead us a hand?

[2021-11-30 15:09] asraa commented on #6937
Hi, looking at this https://oss-fuzz.com/fuzzer-stats?group_by=by-day&date_start=2021-01-01&date_end=2021-11-30&fuzzer=libFuzzer_django_fuzzer-utils&project=django

it seems like corpus_size last had posted info in mid-march, and probably by now the last corpus backup was deleted and so you're seeing failures due to missing corpus backup. did something change to the target around mid-march?

[2021-11-30 15:19] DavidKorczynski commented on #6937
In addition to this, I'm not entirely sure about this but do you keep the corpus hardcoded in your setup? The folder `corp-utils` [here](https://github.com/django/django-fuzzers)  seems to hold the corpus? I think that might be related to what Jonathan describes here https://github.com/google/oss-fuzz/pull/6754#pullrequestreview-797042474

[2021-11-30 15:23] apollo13 commented on #6937
No we didn't change anything since January

@DavidKorczynski thank you, I will try that. Are there any docs somewhere about how that whole thing is supposed to work? :) If I remove the hardcoded corpus, how long should I wait to see changes?

[2021-11-30 15:32] DavidKorczynski commented on #6937
Docs: https://google.github.io/oss-fuzz

I am not sure if the corpus removal will fix it, because in a sense it's a valid operation in that the seed corpus folder seems to be okay and should not cause issues. However, I tried to build and run the fuzzer, and it looks like it fails instantly?
[code]

[2021-11-30 15:36] apollo13 commented on #6937
Interesting I will have to digg into the docs and see if I can get this running then… But this begs another question: The docs list ujson as a "good" example for python; but Django seems to use a c++ based fuzzer. Is this still required or is that just the case because Django is this "old" when it got added? If it is the latter I will try to port it over to python, what do you think?

[2021-11-30 15:39] jonathanmetzman commented on #6926
Are we using Jazzer HEAD in OSS-Fuzz? Will this change be included in OSS-Fuzz without additional action?

[2021-11-30 15:41] DavidKorczynski commented on #6937
It is a case of the latter. Am not sure if this helps, but we did briefly discuss Django fuzzers here https://github.com/google/oss-fuzz/pull/4754#issuecomment-736086159

I think that's a good idea to migrate to Python set up and most likely this will improve stability. Python support also includes native code, and to see an example of a set up perhaps Pillow is a nice one https://github.com/googl

[2021-11-30 15:44] apollo13 commented on #6937
Thank you, I will work on that then. Shall I leave this ticket open in the meantime or open new ones as I go along?

[2021-11-30 15:47] DavidKorczynski commented on #6937
You can leave it open and ask questions here in case!

[2021-11-30 16:27] jonathanmetzman commented on #4780
Duplicate: https://github.com/google/oss-fuzz/issues/6755

[2021-11-30 16:27] #4780 closed

[2021-11-30 16:27] jonathanmetzman commented on #5908
Duplicate: https://github.com/google/oss-fuzz/issues/6755

[2021-11-30 16:34] jonathanmetzman commented on #6755
Starting on this today

[2021-11-30 16:45] apollo13 commented on #6937
Ok I was able to build a python fuzzer locally. I pushed them to https://github.com/django/django-fuzzers/tree/python-fuzzer since I have a few questions about them.

 * I am currently just fuzzing one function: https://github.com/django/django-fuzzers/blob/python-fuzzer/basic_fuzzer.py#L7 -- I am not exactly sure what the proper way for multiple functions is. Add `*_fuzzer.py` for all of them or

[2021-11-30 17:04] fmeum commented on #6926
Yes, you are living at HEAD :-) We should just have to wait until `base-builder-jvm` is rebuilt.

[2021-11-30 17:17] asraa commented on #6937
Both approaches are OK. Generally people may bundle all functions of a module into a select based on fuzzed inputs as you linked second in the cpp code. It's probably best for simple functions who's coverage is easily analyzed so the engine can mutate inputs intelligently to cover and explore all functions.

I may not understand, the CFLAGS are provided in the environment and should be picked up b

[2021-11-30 17:22] jonathanmetzman commented on #6755
I'm starting to implement this. But i think it suffers from a flaw.
Suppose the change we are testing is an update to a submodule.
It's not enough to checkout this change, we also need to update the submodules.
Does OSV account for this? Can you point me to the code that does this?

The alternative would be making users clone their repo with github's clone action which is annoying because:
1. It's

[2021-11-30 17:26] apollo13 commented on #6937
Yes but pip downloads dependencies as pre-built wheel files which are then only extracted -- so the dependencies are not compiled at all usually.

Okay, I guess I'll leave it as is then :)

[2021-11-30 17:38] apollo13 commented on #6937
I have added #6940 and updated our fuzzing repo to work with that. It would be great if someone could merge that and maybe trigger a run?

[2021-11-30 20:23] DavidKorczynski opened #6942 "CIFuzz does not detect repo"
In clamav this error condition gets triggered https://github.com/google/oss-fuzz/blob/1ece14aeb26967eb7d7cefb55e6ca4ad10dc6d33/infra/cifuzz/continuous_integration.py#L135

Error log https://pipelines.actions.githubusercontent.com/pnTmDXqcG0N03YoUZ5j61ay9a3Sslr6gCHihzJ7AzbOQtwBDde/_apis/pipelines/1/runs/952/signedlogcontent/2?urlExpires=2021-11-30T20%3A22%3A34.7727648Z&urlSigningMethod=HMACV1&urlSi

[2021-11-30 21:28] jonathanmetzman commented on #6942
This link is expired. Github actions has some areas that could use improvement.

[2021-11-30 21:31] DavidKorczynski commented on #6942
huh - interesting!

End or the log:
[code]
CI (hopefully permanent) link: https://github.com/Cisco-Talos/clamav/runs/4372641750?check_suite_focus=true

[2021-11-30 21:33] DavidKorczynski commented on #6942
I would think the issue is in the Dockerfile, as it seems likely it's not trivial to detect which is the code repo:
https://github.com/google/oss-fuzz/blob/b96b60c7a8451d9e1ebe83e4143a91534e2bb277/projects/clamav/Dockerfile#L26-L38

(it's `clamav-devel`)

[2021-11-30 21:35] jonathanmetzman commented on #6942
Right. This is the issue.
I was preparing a fix that allows users to specify the repo so we don't need to detect it.
But I think a simpler approach is to force users to use their oss-fuzz-project-name as their repo name. WDYT?
If we go with the latter, then the fix is to clone into /src/clamav

[2021-11-30 21:46] DavidKorczynski commented on #6942
I would probably go with this one for now, not least because most repositories will match this anyways (We have gone through ~60 and this is the first instance I have seen of the error). If, down the line, it becomes a bigger issue then we can add the ability to specify it explicitly?

[2021-12-01 02:54] oliverchang commented on #6755
I don't think we handle submodules today (I thought we did). We could in theory always call checkout with `--recurse-submodules` or something similar.

[2021-12-01 07:24] apollo13 commented on #6937
I have investigated the failures from the testrun today and it seems it still runs the CPP based variant, when will the images update to the python variant?

[2021-12-01 13:08] AdamKorcz commented on #6857
Thanks. Closing as this is solved.

[2021-12-01 13:08] #6857 closed

[2021-12-01 14:36] #6755 closed

[2021-12-01 16:35] asraa commented on #6937
Hey, it looks like the latest build is from the Python based fuzzers https://oss-fuzz-build-logs.storage.googleapis.com/log-1031f521-1540-4d6d-a623-112be257ed37.txt

How did you come by the CPP based variant? Or maybe that was uploaded after you commented?

[2021-12-01 17:02] apollo13 commented on #6937
Oh yes, I still had your initial link which had the wrong fuzzer selected… I will look through the new results.

[2021-12-01 17:05] apollo13 commented on #6937
Mhm where can I find a nice overview of the builds? https://oss-fuzz.com/fuzzer-stats?group_by=by-day&date_start=2021-11-29&date_end=2021-12-02&fuzzer=libFuzzer_django_basic_fuzzer&project=django lists nothing yet (and selecting libFuzzer doesn't have any logs)

[2021-12-02 07:17] fmeum commented on #6926
Coverage looks sensible again, @jonathanmetzman.
https://storage.googleapis.com/oss-fuzz-coverage/protobuf-java/reports/20211201/linux/index.html
https://storage.googleapis.com/oss-fuzz-coverage/jsoup/reports/20211201/linux/index.html

[2021-12-02 11:22] DavidKorczynski opened #6952 "CIFuzz crashes on timeout"
In the openjpeg CIFuzz integration https://github.com/uclouvain/openjpeg/runs/4367633038?check_suite_focus=true it seems like a timeout is causing CIFuzz to crash:
[code]

[2021-12-02 19:45] DavidKorczynski commented on #6913
Can confirm that jvm CIFuzz is now working: https://github.com/google/gson/pull/2027

[2021-12-02 19:46] DavidKorczynski commented on #6942
Closing this as the project with the issue has now been resolved. https://github.com/google/oss-fuzz/pull/6943

[2021-12-02 19:46] #6942 closed

[2021-12-02 19:47] DavidKorczynski commented on #6884
Closing by way of https://github.com/google/oss-fuzz/pull/6889

[2021-12-02 19:47] #6884 closed

[2021-12-02 23:58] oliverchang opened #6956 "Attach OSV IDs to oss-fuzz project.yaml"
Add ecosystem/package IDs to project.yaml

[2021-12-03 09:07] vanhauser-thc commented on #6879
my commit is in for a few days now - are the issues gone?

[2021-12-03 09:09] bagder commented on #6879
We had three issues in curl and they're all gone.

[2021-12-03 09:10] vanhauser-thc commented on #6877
is this issue still present? (since the last 2 days?)

[2021-12-03 09:10] vanhauser-thc commented on #6844
is he issue fixed now?

[2021-12-03 10:14] evverx opened #6957 "AFL seems to be failing to compile"
Looks like all the projects where AFL is used are failing to compile with something like
[code]
[code]
[code]

[2021-12-03 10:21] DavidKorczynski commented on #6957
CC @vanhauser-thc

[2021-12-03 10:44] vanhauser-thc commented on #6957
well the current LLVM state seems to have made a huge change - removing/renaming IRB.CreateLoad().
Not sure what they are smoking but this is a huge fuckup on their side IMHO.
dunno if this is a bug or if that change is really thought through and will not be rolled backwards.

to be honest - this is not something we will change the next weeks, because the impact is huge and we first have to see if

[2021-12-03 10:45] vanhauser-thc commented on #6862
is the issue gone?

[2021-12-03 12:07] rouault commented on #6844
it seems so. Closing

[2021-12-03 12:07] #6844 closed

[2021-12-03 13:09] DavidKorczynski commented on #6877
Does not look like it. The log from 2nd December has the same issues as the original issue: https://oss-fuzz-build-logs.storage.googleapis.com/log-3d110700-a2e3-4757-8925-e0429006ed06.txt

The log from 3rd December is running into the issue described here https://github.com/google/oss-fuzz/issues/6957

[2021-12-03 13:13] DavidKorczynski commented on #6862
Does not look like it. Build log https://oss-fuzz-build-logs.storage.googleapis.com/log-ce3d80c5-88cc-4649-b7c0-443f12252769.txt from 2nd December contains a similar error as the original:

[code]
Log from 3rd December fails due to https://github.com/google/oss-fuzz/issues/6957

[2021-12-03 14:14] sebras commented on #6877
@vanhauser-thc

Issue [41253](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41253) was closed as building, but today [another build issue](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41631) appeared which we do not appear to be the cause of.

By the way did anyone notice the [comment](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41253#c2) I made on the original issue?

I

[2021-12-03 14:22] DavidKorczynski commented on #6877
Yes, but I think was a wrong conclusion by the bot.

The bot set the build to be valid because of the non-determinism that there is in AFL builds. If you look at the the log from 2nd December builds, then you will find it has a similar issue to the 24th November one. You can see the build logs here: https://oss-fuzz-build-logs.storage.googleapis.com/index.html#mupdf

[2021-12-03 15:55] afd opened #6960 "Question about exit codes"
In one of my oss-fuzz projects I'm suffering from a kind of false alarm where the fuzzer manages to drive the library into a state from which it can't really recover.

For the purposes of fuzzing, I plan to use a `FUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION`-guarded code block to detect this and gracefully exit.

I'd prefer to use `exit(1)` over `exit(0)` to make it clear in the source code that this

[2021-12-03 17:28] jonathanmetzman commented on #6957
ACK. Going to do this ASAP

[2021-12-03 19:42] #6957 closed

[2021-12-03 19:44] jonathanmetzman commented on #6960
I answered this in our chat:
I think `exit(1)` will be regarded as a crash, so better to do `exit(0)`

[2021-12-03 19:44] #6960 closed

[2021-12-03 19:44] jonathanmetzman commented on #6952
Will try to fix this by Monday.

[2021-12-03 19:45] jonathanmetzman commented on #6952
CC @oliverchang

[2021-12-04 08:21] nikic commented on #6957
Please see https://llvm.org/docs/OpaquePointers.html for broader context on the changes. The tl;dr as far as IRBuilder is concerned is that you explicitly need to pass the loaded type / the GEP base type to IRBuilder methods.

As this seems to have caught you unawares, you are probably ignoring deprecation warnings in your build -- I recommend building with `-Werror=deprecated-declarations` if you

[2021-12-04 14:15] flatcap opened #6965 "build failure: afl can't find <stdlib.h> -- NeoMutt"
**Project**: NeoMutt
**Issue**: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41879
**Build log**: https://oss-fuzz-build-logs.storage.googleapis.com/log-ce9947de-6023-4996-9b95-692c91586dc0.txt

My build's stopped working, but only for **afl**.  libfuzzer and honggfuzz still compile.

`configure` can't find `<stdlib.h>`
This check has been there forever.

Running locally, I see the same.

[2021-12-04 14:19] evverx commented on #6965
I think it's https://github.com/google/oss-fuzz/issues/6957

[2021-12-04 14:39] tytso opened #6966 "Somethingi wrong with the build service"
The build failure reported at: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41738 was:

Step #3 - "compile-afl-address-x86_64": checking for gcc... /src/aflplusplus/afl-clang-fast
Step #3 - "compile-afl-address-x86_64": checking whether the C compiler works... no
Step #3 - "compile-afl-address-x86_64": configure: error: in `/src/e2fsprogs':
Step #3 - "compile-afl-address-x86_64": configur

[2021-12-04 14:59] DavidKorczynski commented on #6966
This is https://github.com/google/oss-fuzz/issues/6957 which has been fixed, but it should take a day or so before it gets triggered

[2021-12-04 22:45] DanBloomberg opened #6968 "Issue 41797: failure to build fuzzers"
Build failure began with no change in leptonica fuzzer code.
From the log it appears to be a oss-fuzz build configuration problem.
The fuzzers all build properly with address sanitizer, using clang-10 on a local machine.

[2021-12-04 22:54] evverx commented on #6968
Looking at https://oss-fuzz-build-logs.storage.googleapis.com/index.html#leptonica, I think that's https://github.com/google/oss-fuzz/issues/6957

[2021-12-04 22:58] DanBloomberg commented on #6968
Thanks.  You're on it.  Closing.

[2021-12-04 22:58] #6968 closed

[2021-12-05 14:12] apollo13 commented on #6937
Okay, looking at the last runs the new fuzzers are picked up properly and executing fine. I will work on improving them in the future.  Thank you for your help @asraa & @DavidKorczynski -- closing this for now :)

[2021-12-05 14:12] #6937 closed

[2021-12-06 15:31] MarcoFalke commented on #6966
Let us know if this isn't fixed in the next 25 hours (after  #6970)

[2021-12-06 15:33] MarcoFalke commented on #6791
I found that falsely "verified" happens mostly when there are build failures.

[2021-12-06 16:34] davidben opened #6974 "Label or comment string to request OSS-Fuzz team look at an issue"
OSS-Fuzz bug reports say:

However, sometimes reports are caused by OSS-Fuzz infrastructure, not the fuzzers. Recently there have been a slew of build issues. Other times, LLVM regressions have triggered false positives in sanitizers. It is tedious to go to a separate system to report an issue, paste links back and forth, and then manually synchronize the two threads. Additionally, since the GitHu

[2021-12-07 05:04] sffc opened #6978 "December 2021 edition of Myanmar Tools Build Failing"
Updates to the OSS Fuzz images frequently break the Myanmar Tools build:

- https://github.com/google/oss-fuzz/issues/6302
- https://github.com/google/oss-fuzz/issues/6035
- https://github.com/google/oss-fuzz/issues/3656
- https://github.com/google/oss-fuzz/issues/3202
- https://github.com/google/oss-fuzz/issues/2947

Here is the latest edition:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?

[2021-12-07 15:46] afd commented on #6978
The spirv-tools project is failing with a similar error:

[code]

[2021-12-07 15:48] asraa commented on #6978
related https://github.com/google/oss-fuzz/issues/6957

[2021-12-07 16:06] jonathanmetzman commented on #6978
Pretty sure every project with AFL++ has been broken by this issue.
Making this my p0 for now.

Long term we might want to look into better build infra that can determine when a clang roll/other infra changes breaks things.

[2021-12-07 16:08] jonathanmetzman commented on #6978
I thought this was fixed yesterday by https://github.com/google/oss-fuzz/pull/6970#issuecomment-986870423. Apologies

[2021-12-07 17:12] MarcoFalke commented on #6974
I'd say clang/llvm/libc++ bugs need to be reported upstream, not here.

Though, maybe it could make sense to only bump clang to major versions that are released? There is a new clang release about every 6 months (?), so waiting on new features isn't a lengthy process anymore. The upside would be that all breaking changes hopefully only happen twice a year during a bump and not any time during the

[2021-12-07 17:14] davidben commented on #6974
Certainly they need to be reported upstream, but as OSS-Fuzz manages the LLVM versions here, they're the next hop. As part of managing that bug, they'll need to temporarily rollback the LLVM update, etc.

[2021-12-07 17:16] MarcoFalke commented on #6978
Not sure what went wrong there a second time in a row. Sorry, I thought I saw our build passing.

Maybe OSS-Fuzz can switch to using only the latest release branche of clang? See https://github.com/google/oss-fuzz/issues/6974#issuecomment-988117273

[2021-12-07 17:17] MarcoFalke commented on #6974
I'd say by using a stable branch, there won't be any need rolling back commits in llvm.

[2021-12-07 17:21] davidben commented on #6974
Changes in a stable branch can cause problems too. There may also be build problems not caused by LLVM updates.

I don't think the frequency of LLVM updates has anything to do with this feature request, so let's move that to a separate ticket. (Though I definitely disagree with using a stable branch and would consider it a regression in my project's fuzzer coverage.)

[2021-12-07 18:17] jonathanmetzman commented on #6978
Rebuilding base-images
Will force a rebuild of your projects when that finishes to verify problem is fixed.

[2021-12-07 20:06] MarcoFalke commented on #6978
I checked locally that all of those pass:

[code]

Let's hope OSS-Fuzz is happy as well :pray:

[2021-12-07 20:35] AdamKorcz opened #6980 "kubernetes - fuzzers do not seem to run and 404 on stats page"
Getting "Got error with status: 404 No stats." on fuzzer stats page in the dashboard on oss-fuzz.com.

Looks like similar issue as https://github.com/google/oss-fuzz/issues/6857 but this time for Kubernetes.

@oliverchang PTAL.

[2021-12-07 20:52] jonathanmetzman commented on #6974
Absolutely.

Very sorry for these, I think they should be fixed in the next build.
See https://github.com/google/oss-fuzz/issues/6978

It is tedious to go to a separate system to report an issue, paste links back and forth, and then manually synchronize the two threads. Additionally, since the GitHub tracker is public, posting becomes extra difficult if it's unclear whether something is sanitizer

[2021-12-07 20:54] jonathanmetzman commented on #6978
[myanmar-tools build fixed](https://oss-fuzz-build-logs.storage.googleapis.com/index.html#myanmar-tools).

[2021-12-07 21:05] jonathanmetzman commented on #6980
@oliverchang Looks like another disk issue: https://pantheon.corp.google.com/logs/query;query=kubernetes;cursorTimestamp=2021-12-07T20:58:36.952358266Z?project=clusterfuzz-external
https://pantheon.corp.google.com/logs/query;cursorTimestamp=2021-12-07T20:58:36.952358266Z;query=kubernetes%0Atimestamp%3D%222021-12-07T20:58:14.674061880Z%22%0AinsertId%3D%22g4pbhlvbnwu7gu31n%22?project=clusterfuzz-ext

[2021-12-07 22:10] jonathanmetzman commented on #6965
Fixed this.

[2021-12-07 22:10] #6965 closed

[2021-12-07 22:44] flatcap commented on #6965
Confirmed. Thanks!

[2021-12-08 00:26] oliverchang commented on #6974
Unfortunately 1 isn't possible to do in a secure way. Granting users edit permissions is something that can only be done for the entire issue tracker. We can't scope that permission by OSS-fuzz project.

3. sounds the most feasible to me.

[2021-12-08 01:17] oliverchang commented on #6980
Bumped the disk to be the same size as istio.

[2021-12-08 05:24] sffc commented on #6978
Yup! https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41876#c2

Thank you for the quick fix!

[2021-12-08 05:24] #6978 closed

[2021-12-08 09:33] MarcoFalke commented on #6966
Can be closed?

[2021-12-08 11:38] pitrou commented on #6966
The latest builds (7/12) are still failing for many projects.

[2021-12-08 11:40] pitrou commented on #6966
For example:
[code]
(https://oss-fuzz-build-logs.storage.googleapis.com/log-12f1d8f7-f4c3-4143-829c-3ae637d002b5.txt)

[2021-12-08 11:41] MarcoFalke commented on #6966
This should be fixed with 9d864ee0e38e62b33916bc0725fd34b278394989 (19 hours ago), so within the next 6 hours other builds should hopefully pass.

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41738 was fixed 10 hours ago.

[2021-12-08 11:47] pitrou commented on #6966
That seems to have worked indeed, thank you.

[2021-12-08 17:03] jonathanmetzman commented on #6926
Indeed.

[2021-12-08 17:03] #6926 closed

[2021-12-08 20:38] jonathanmetzman opened #6983 "Builds not happening for some projects"
Builds for these projects weren't done yesterday:
[code]
Is this another rate limiting issue?

[2021-12-08 21:35] jonathanmetzman opened #6985 "Clean up remaining AFL++ build issues."

[2021-12-08 21:35] jonathanmetzman opened #6986 "Ensure widespread breakages do not happen due to clang rolls or AFL++ rolls."

[2021-12-08 22:16] tytso commented on #6966
The e2fsprogs-fuzz builds are now succeeding so I think we close this out now.

Thanks!!

[2021-12-08 22:16] #6966 closed

[2021-12-08 23:55] DavidKorczynski commented on #6986
Continue to use `FORCE_OUR_REVISION=1` and have some automated procedure for updating but only if builds pass may be an interesting starter?

Also, wasn't the issues with Rust coverage and builds earlier this year due to Clang updates? Does it make sense to think about that in this context, i.e. perhaps come up with something that is more robust across all the various tools that depend on clang (a

[2021-12-09 02:04] oliverchang commented on #6983
Thanks for flagging! Yep running into Cloud Build quota issues once again. I'll ask for another bump.

[2021-12-09 02:13] jonathanmetzman commented on #6983
In fuzzbench we have a similar problem, but i've solved it.
In Fuzzbench, instead of asynchronously sending builds to GCB, we send them synchronously in parallel, so we can enforce a limit on the number of concurrent requests without sacrificing parallelism.
Do you think we should go with that approach?

[2021-12-09 02:23] oliverchang commented on #6983
That's an interesting idea! However given the much larger scale of OSS-Fuzz and the additional work/maintenance required, let's see how far we can go with quota increases first.

[2021-12-10 15:41] jonathanmetzman commented on #6957
Thanks for this tip

[2021-12-10 15:49] vanhauser-thc commented on #6957
I updated all passes from afl++ to work with the most current llvm 14 commit.
currentl running through fuzzbench to see if there are issues (but this is not a good test because fuzzbench is sadly on llvm 12, and fix in afl++ is if guarded for LLVM >= 14). I do not have llvm 12 installed or available on any system I use.

we support llvm down to 3.3 ... it is a possible option but would require so

[2021-12-13 10:46] evverx opened #7011 "CIFuzz can't detect affected fuzz targets"
I've just opened https://github.com/systemd/systemd/pull/21755 (where I changed a fuzz target to make sure the "upload" action can upload the crash). Looking at the logs I think that CIFuzz should trim the "/work/build/../../" build prefix to be able to detect affected fuzzers:
[code]

[2021-12-13 11:26] evverx commented on #7011
The logs can be found at https://github.com/systemd/systemd/runs/4504761165?check_suite_focus=true. Now that the job is finished I can see that `/work/build/../../src/systemd/src/fuzz/fuzz-catalog.c` is on the list of the files affecting the fuzz target:
[code]

[2021-12-13 11:59] evverx commented on #7011
Looks like something like
[code]
should fix it. I haven't tested it though

[2021-12-13 12:43] evverx commented on #7011
I'm not sure where "/work/build/../.." comes from though. Having taken a look at lxc (with "src/lxc/../..") and zstd (with "tests/fuzz/../..", I think it's probably a clang regression. As far as I can remember at some point CIFuzz worked correctly without having to trim those prefixes.

[2021-12-14 05:51] oliverchang commented on #7011
@jonathanmetzman could you PTAL?

[2021-12-14 16:07] jonathanmetzman commented on #7011
Sure.

[2021-12-14 16:17] jonathanmetzman commented on #7011
Gonna make `covered_files` absolute paths to solve this.

[2021-12-14 16:32] #6952 closed

[2021-12-14 22:37] oliverchang opened #7015 "Separate coverage reports per target"

[2021-12-15 04:17] oliverchang commented on #6983
Quotas are increased.

[2021-12-15 04:17] #6983 closed

[2021-12-15 09:03] evverx commented on #4083
As far as I can tell a series of patches that fixed several issues at once didn't trigger new bug reports because all of them were put on hold because "a similar issue has just been fixed". Closing.

Though the crashes seem to have been grouped in a way that prevented ClusterFuzz from reporting serious issues.

[2021-12-15 09:03] #4083 closed

[2021-12-15 14:24] #6980 closed

[2021-12-15 21:53] DavidKorczynski commented on #6877
The builder issues persist, the builds failed 15th 14th and 11th Dec:
- https://oss-fuzz-build-logs.storage.googleapis.com/log-900a4707-00c4-488a-abbd-845841b05cb4.txt
- https://oss-fuzz-build-logs.storage.googleapis.com/log-18542da7-f30b-4990-bf59-479428e3fad7.txt
- https://oss-fuzz-build-logs.storage.googleapis.com/log-8c01c7fe-47bc-4f7b-bd00-a5b56eb46e8b.txt

[2021-12-15 21:55] oliverchang opened #7018 "Automatic CF disk bumping"
To catch cases like https://github.com/google/oss-fuzz/issues/6980 and https://github.com/google/oss-fuzz/issues/6857

[2021-12-15 22:56] naveensrinivasan opened #7020 "Extend support go 1.18 - native fuzzing"
With go 1.18 there is going to be native support fuzzing. Will oss-fuzz support native fuzzing?

[2021-12-15 23:03] DavidKorczynski commented on #7020
Yes, this is in the works!

[2021-12-15 23:06] naveensrinivasan commented on #7020
Cool! Thanks. Keeping it open till it is released.

[2021-12-15 23:37] DavidKorczynski opened #7021 "AFL: several builds started failing 15th December"
dng_sdk started failing with AFL the 15th December and it looks to be an issue in the compiler:

[code]

Link to build log: https://oss-fuzz-build-logs.storage.googleapis.com/log-d8b96b13-2c85-4bf6-92fe-33379b78ad46.txt

[2021-12-15 23:38] DavidKorczynski commented on #7021
CC @vanhauser-thc

[2021-12-15 23:39] DavidKorczynski commented on #7021
cjson looks to fail with the same issue. Log from 15th December: https://oss-fuzz-build-logs.storage.googleapis.com/log-93b41f0f-bf58-4dd6-9c25-444b5d7b4beb.txt

[2021-12-15 23:53] jonathanmetzman commented on #7021
Probably due to https://github.com/google/oss-fuzz/pull/7008

[2021-12-15 23:53] jonathanmetzman commented on #7021
CC @vanhauser-thc

[2021-12-15 23:56] vanhauser-thc commented on #7021
was llvm updated to the newest version? or is it still tagged to some weeks ago?
we had several larger changes for llvm 14 and I am not surprised if not everything is working.

[2021-12-16 00:01] DavidKorczynski commented on #7021
Still tagged to some weeks ago

[2021-12-16 00:04] oliverchang opened #7023 "Monorail to GitHub issue mirrorer"

[2021-12-16 16:17] apollo13 opened #7029 "coverage build failure is not resolved in bugtracker"
Hi there,

after recently switching the django fuzzers to a python based approach I wanted to see if I can get the existing open issue https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=35590 closed. According to the ticket description this should happen automatically:
`**This bug will be automatically closed within a day once it is fixed.**`

The timeout is no longer happening since half a mon

[2021-12-16 16:33] DavidKorczynski commented on #7021
The projects and the issue I listed here was fixed - the builds all switched green today.

There might be some other AFL build issues, Qt in particular https://oss-fuzz-build-logs.storage.googleapis.com/log-dba215ac-0acd-4e2e-830b-f868b5d9de1c.txt which fails with a different log.

[2021-12-16 16:49] vanhauser-thc commented on #7021
that is fixed too

[2021-12-16 16:50] DavidKorczynski commented on #7021
Is that fix in https://github.com/google/oss-fuzz/pull/7026 ?

[2021-12-16 17:04] vanhauser-thc commented on #7021
yes. that is written in the 2nd line of the PR text ;)

[2021-12-16 17:05] DavidKorczynski commented on #7021
Ah I didn't see the "qt" - cheers!

[2021-12-20 02:52] RosenZhu opened #7037 "Missing reproducer testcase in bug report issue 42238"
The Reproducer Testcase in [issue 42238](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=42238&sort=-reported&q=buffer%20overflow%20proj%3Dkamailio&can=1) is not right. The testcase seems to be a javascript file.

[2021-12-20 12:42] MarcoFalke commented on #6871
Fixed in #7026

[2021-12-20 12:42] #6871 closed

[2021-12-20 14:57] DavidKorczynski opened #7039 "Remove randomness from AFL builds"
Prior to AFL++ integration the build system had three dimensions: {fuzzer, sanitizer, architecture} but with the introduction of AFL++ the build system has four dimensions: {fuzzer, sanitizer, architecture, fuzzer_option}. A "dimension" here is something that causes the build and/or runtime to change for a given project.

I think parts of the infrastructure did not really catch up on this and that

[2021-12-20 18:58] DavidKorczynski opened #7040 "Deduplication on Rust is lacking"
Recently on the json5format a lot of issues were reported but they all seem to be related to the same. The monorail table looks as follows:

[code]

Looking at the stack traces it's clear they originate from the same function, but it seems that a bug is filed for each byte index that is not a char.

There's about 85 of issues of this nature, and they all seem to be the same.

[2021-12-21 12:44] rlohning commented on #7021
Hi, Qt still/again failed today with a different stacktrace. Should I create a new issue about it? Or did the build still use an older image which didn't contain the fix?

Step #3 - "compile-afl-address-x86_64": 1.	<eof> parser at end of file
Step #3 - "compile-afl-address-x86_64": 2.	Code generation
Step #3 - "compile-afl-address-x86_64": 3.	Running pass 'Function Pass Manager' on module '/work/q

[2021-12-21 12:47] rlohning commented on #7021
Oh, I see the fix was not merged yet. So I'll wait and hope for that...

[2021-12-22 09:43] vanhauser-thc commented on #7039
If randomness is wished or not is something that the oss-fuzz team should decide.
IMHO it makes the results better by diversity, on the other hand it makes build failures harder to replicate (although in my opinion this is now not hard as there is a txt + print to screen what the setup was).

[2021-12-23 20:09] howardjohn opened #7061 "How to make issues private?"
We are having issues where we get false negative 'This bug has been fixed. It has been opened to the public.', which is opening issues to the public when we do not want them to. We are worried this may lead to public exposure of security sensitive information, and cannot find info on how to keep an issue private.

Is there a way we can mark issues as "do not open publicly"?

[2021-12-23 23:30] DavidKorczynski commented on #7061
There is not automatic way of doing this - atm maintainers simply ask here to get an issue closed and this will then be done by one of the OSS-Fuzz maintainers.. See here for an example: https://github.com/google/oss-fuzz/issues/6625

[2021-12-23 23:53] howardjohn commented on #7061
That seems... extremely problematic? Once it's public once it's too late - anyone can trivially watch issues. Opening a GitHub issue also brings public attention that maintainers are concerned about a particular issue. Far worse if the issue had comments describing more details, etc about a vulnerability.

This issue makes me pretty uncomfortable using OSS-fuzz.

[2021-12-23 23:58] DavidKorczynski commented on #7061
@inferno-chromium @jonathanmetzman @oliverchang do you have some thoughts here? Given that there are some issues that will be labelled as false negatives and thus opened it would be nice to have some guards in place that users of OSS-Fuzz can use automatically?

[2021-12-24 03:06] inferno-chromium commented on #7061
@howardjohn - i have given issue edit permission to your account. To restrict the bug, please add "Restrict-View-EditIssue" label to that bug and it will be hidden from then on.

[2021-12-27 23:30] bobfriesenhahn opened #7071 "Getc/getc_unlocked are claimed to return uninitialized data from setvbuf private buffer"
Recently there have been a rash of uninitialized data oss-fuzz reports pertaining to GraphicsMagick which appear to be attributed to glibc stdio's privately allocated vbuf (allocated via setvbuf()).  The origin of the uninitialized data is:

[code]
Typical examples of this is issue are 39108, 39114, 41265, 42319, 42813, and 43018.

While there may be stdio calls which produce this issue, one commo

[2021-12-28 18:44] Fojtik commented on #7071
No binary blob available to reproduce a problem.

[2021-12-28 21:59] DavidKorczynski commented on #7061
@howardjohn - Closing this as I believe it has been resolved. Please reopen if not.

[2021-12-28 21:59] #7061 closed

[2021-12-29 15:12] jonathanmetzman commented on #7037
When I click on the reproducer testcase link ("") the file clusterfuzz-testcase-minimized-fuzz_parse_msg-4516937147744256 is downloaded which isn't a JS file.

[2021-12-29 21:13] RosenZhu commented on #7037
When I click on the link, it says "You are not authorized to access this page!" (I only `wget` before.)
Ok. I got it.
For non-googlers, it has to be 90 days (or more?) when the test case is avaliable to be downloaded?

[2021-12-29 21:27] jonathanmetzman commented on #7037
Ah I think that's right although @oliverchang knows for sure.

[2021-12-30 00:31] #7037 closed

[2022-01-04 14:14] thomasvl opened #7089 "Swift doesn't seem to honor `coverage_extra_args`"
PR #7076 added `coverage_extra_args` to with swift-protobuf yaml, but looking at the [recent runs](https://storage.googleapis.com/oss-fuzz-coverage/swift-protobuf/reports/20220103/linux/src/swift-protobuf/Sources/SwiftProtobuf/report.html), files that should match still seem to be showing up.

[2022-01-04 14:14] thomasvl commented on #7089
@catenacyber fyi

[2022-01-04 17:46] howardjohn commented on #7061
Thanks for all the help here - very much appreciated. It would be ideal to never automatically disclose issues marked as `security` IMO, but this will work for us

[2022-01-04 20:52] catenacyber commented on #7089
Swift honors it
cf https://github.com/google/oss-fuzz/pull/7091
We just need a right regexp ;-)

[2022-01-04 20:58] thomasvl commented on #7089
Doh, thanks.

[2022-01-04 20:58] #7089 closed

[2022-01-05 13:32] rlohning opened #7095 "Testcase/crash in inconsistent state"
https://oss-fuzz.com/testcase-detail/6195749197578240 still shows the "Create Issue" button although it already links to an issue number. That issue number is already used by a different crash from a different fuzzer. The only similarity I see is that both fail to allocate memory.

What should I do with this testcase now?

[2022-01-05 19:12] rlohning commented on #7021
You probably already noticed that afl is also being extremely slow. Even successful builds of Qt in oss-fuzz literally take hours to finish. Should I create a separate report for that or is there anything else I can do to help?

[2022-01-05 22:01] vanhauser-thc commented on #7021
well I need the fix merged first and then see if anything still pops up ... so if this still happens after #7026 then ping me.

[2022-01-06 15:23] thepudds commented on #7020
Hi there 👋,  is this something that a first-time oss-fuzz contributor might be able to do?

If so, I have some interest in taking a stab at it...

One related question: is the intent to also to continue to support the current libFuzzer based approach (in addition to new native Go 1.18 fuzzing support)?  That seems desirable, including while the native Go fuzzing is maturing, but it is also nice to

[2022-01-06 15:27] DavidKorczynski commented on #7020
There is a PoC here: https://github.com/google/oss-fuzz/pull/7055

@thepudds we're already working on this so we should watch out for avoiding double work - nice new initial integrations of critical projects are always highly appreciated!

[2022-01-06 23:36] DavidKorczynski commented on #7029
Coverage is currently not support in Python, so I think that some issue may have occurred when Pillow switched from being a `c++` project to a `python` project. @oliverchang could you assist here? Pillow switched from `c++` to `python` in `project.yaml` in this [commit](https://github.com/google/oss-fuzz/commit/8254336e4d1ea2143d763cc86f67cb8f0884cd95#diff-82bb8c21aa810da10a6fb7692b9ad2d7322561a0f

[2022-01-10 15:22] DavidKorczynski opened #7111 "positional nargs='*' not catched as per usual"
It used to be that one could call the run_fuzzer command as follows:
`python3 infra/helper.py run_fuzzer proj_name fuzz_name fuzzer_arguments` and the current documentation also suggests this. However, it seems that an issue has happened in Python or so where the `fuzzer_arguments` is not catched:
[code]
 A solution of inserting `--` is documented here: https://stackoverflow.com/questions/26985650

[2022-01-10 21:22] catenacyber opened #7113 "ubsan_GetStackTrace NULL dereference"
From https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43483

The stack trace is
[code]

It appeared on September 9th looking at the stats...

[2022-01-11 03:56] oliverchang commented on #7095
This particular testcase was grouped into the existing issue (https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=30924) due to our stacktrace similarity detection. If you click "Create Issue", it will create a new, separate issue from the existing one.

You can ignore this one. If this still reproduces after the existing issue is fixed, it will be auto filed into its own issue.

[2022-01-11 03:56] #7095 closed

[2022-01-11 12:49] mity opened #7116 "Fixed issues still being opened."
I'm not sure whether this is really a bug or my poor understanding of how oss-fuzz actually works.

In the past days, I've made some commits into [MD4C](https://github.com/mity/md4c) repo addressing some of the issues identified by oss-fuzz. I would expect that the respective testcases of open issues are retried in a reasonable fashion to verify whether the problem is still there and, if so, close

[2022-01-11 13:02] DavidKorczynski commented on #7116
Looking at things, the commit  4358c40ab740ed13b12921464467e6a90a689950 is 3 hours old. In general, the OSS-Fuzz backend will use an update version within 24 hours, so give it a bit of time and it will rebuild the project using the latest upstream commit and recognise the issue is fixed.

For each of the issues on the oss-fuzz dashboard you can see a "LAST TESTED REVISION" box, which will indicate

[2022-01-11 15:36] jonathanmetzman commented on #7116
Oliver might know about retrying closing the issue. I don't.
Other than that, I can confirm what David said. Builds are done once a day, so you may have to wait up to 24 hours (or longer if the build is broken) for fixes to be confirmed by OSS-Fuzz.

[2022-01-11 15:44] mity commented on #7116
Ok, thank you for the explanation.

I was mainly afraid whether the revision was refused due the red cross from the CI checks on the gihub side (but that one comes only from slightly less good code coverage). No problem with the 1-day delay (once knowing it) so closing.

[2022-01-11 15:44] #7116 closed

[2022-01-12 15:59] AdamKorcz opened #7123 "Testcases do not show full stack trace for golang bugs"
We have seen cases over the last 3 weeks where Golang findings do not show the complete stacktrace in the oss-fuzz.com dashboard. The stacktrace is complete when the crash is reproduced locally.

Links to relevant reports:

- https://oss-fuzz.com/testcase-detail/6263347908050944
- https://oss-fuzz.com/testcase-detail/5460437754314752

[2022-01-12 19:45] jonathanmetzman opened #7124 "OpenSSL build failures keep getting closed and reoped"
I'm pretty sure this is because of AFL++'s cmplog which causes the builds to fail most of the time.
I'm disabling it for OpenSSL.
CC @vanhauser-thc @kroeckx

[2022-01-12 19:45] jonathanmetzman commented on #7124
See https://bugs.chromium.org/p/oss-fuzz/issues/list?q=proj%3Aopenssl&can=1&colspec=ID%20Type%20Component%20Status%20Proj%20Reported%20Owner%20Summary%20Opened&sort=-opened

[2022-01-12 19:51] DavidKorczynski commented on #7124
Please see this one which is related to this problem: https://github.com/google/oss-fuzz/issues/7039

It also highlights an instance of this issue here https://github.com/google/oss-fuzz/issues/6877#issuecomment-985560366

[2022-01-12 19:51] jonathanmetzman commented on #7124
Nevermind, it's not clear to me what combination of AFL++ compile-parameters causes a compilation failure

[2022-01-12 20:08] jonathanmetzman commented on #7039
Yeah I'm gonna consider turning off randomization. Need to look around and see how common this probelm it is.

[2022-01-12 20:32] vanhauser-thc commented on #7124
will have a look at it tomorrow.

[2022-01-12 20:47] vanhauser-thc commented on #7124
that link shows a list of build failures, however the last one is 8 days old?

[2022-01-12 20:52] jonathanmetzman commented on #7124
That's because the failure needs to occur 3 times in a row for an issue to be filed.
You can see the failures happening [here](https://oss-fuzz-build-logs.storage.googleapis.com/index.html#openssl)
Here are some individual failures:
https://oss-fuzz-build-logs.storage.googleapis.com/log-02fe2080-76d7-4fa6-aa65-6f0f3f5efafd.txt
https://oss-fuzz-build-logs.storage.googleapis.com/log-97814c98-d667-49

[2022-01-12 21:00] #7124 closed

[2022-01-12 21:11] vanhauser-thc commented on #7124
these links are much more helpful :)
very interesting. these are crashes in the original laf-intel split switches pass. they are like ... 5 years old? it's an assert that is hit.
Seems like llvm had an internal change that triggers that. will have to investigate what is happening there ....

[2022-01-13 13:44] pjbgf opened #7130 "Add support for Docker Layer Caching on GitHub Actions"
The GitHub Actions could support Docker Layer Caching so that users can save time and processing power when building fuzzers.

Such feature could be:
a) Native - the entire caching is abstracted and exposed as a boolean flag (i.e. `docker-cache-image`).
b) Partial - allow users to set a value for `--cache-from` to be using on `docker build` commands via a new input (i.e. `docker-cache-from`).

Wou

[2022-01-13 16:05] ktmf01 opened #7132 "Would disabling FLAC CRC checks help fuzzing"
Not really an issue but more of a question really: would it help if the FLAC configure script enabled a way to disable the CRC checking in the headers? I guess it would, but in the past I've ran afl on libFLAC code and didn't see much of a difference in the code coverage when disabling CRC checks, but still I think it should.

I've been sending some PRs to the FLAC project with fixes for problems

[2022-01-13 19:01] rlohning commented on #7021
Now that the fix is in, building Qt for afl just takes about 10 percent longer than for libfuzzer. This is not a significant difference to me. Thank you for the fixes!

[2022-01-13 19:11] jonathanmetzman commented on #7132
I would assume this would help

Surprising this didn't help. Fuzzing is all about things in my head not matching reality though.

Nice. What's stopping this?

[2022-01-14 12:03] ktmf01 commented on #7132
I see now there is a preprocessor macro that is being used by oss-fuzz: FUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION I just used that define twice in libFLAC code and it results in much higher cov and ft number, but much lower speed. Perhaps I did something wrong when I checked with AFL.

Here are some abridged fuzzer outputs:

1e8:  cov 89 ft 343
3e8:  cov 89 ft 347
5e8:  cov 89 ft 351
exec/s: 2e5

1

[2022-01-14 12:03] #7132 closed

[2022-01-14 21:21] bobfriesenhahn commented on #7071
It seems that there are perhaps vacancies in the oss-fuzz team which need to be filled since bugs remain apparently unread.

If there is something wrong with the libc which is built independently of our project builds, then someone should investigate it and fix it.

The only way that data from stdio's private vbuf allocation might possible be used is either that there is a bug in libc, there is an

[2022-01-14 21:30] DavidKorczynski commented on #7071
Apologies for the delay @bobfriesenhahn

I am unsure about this issue. Msan has had issues since the upgrade to Ubuntu 20.04 AFAIK, @jonathanmetzman could you confirm this?

Does this issue only happen to a particular fuzz engine? The fuzz engines instrument the code under analysis, and I wonder if there could be something in the instrumentation that causes false positives for Msan. There has been

[2022-01-14 21:30] DavidKorczynski commented on #7071
Apologies for the delay @bobfriesenhahn

I am unsure about this issue. Msan has had issues since the upgrade to Ubuntu 20.04 AFAIK, @jonathanmetzman could you confirm this?

Does this issue only happen to a particular fuzz engine? The fuzz engines instrument the code under analysis, and I wonder if there could be something in the instrumentation that causes false positives for Msan. There has been

[2022-01-14 22:16] DavidKorczynski commented on #7021
All projects mentioned in this issue are now building, closing. Thanks for  https://github.com/google/oss-fuzz/pull/7026 @vanhauser-thc !

[2022-01-14 22:16] #7021 closed

[2022-01-14 23:03] DavidKorczynski commented on #6879
Closing this issue now as the Curl issues are gone.

[2022-01-14 23:04] bagder commented on #6879
Just as a follow-up: we've had *numerous* follow-up false positive reports since then. To the extent that I no longer even look at oss-fuzz reports when they come in...

[2022-01-14 23:15] DavidKorczynski commented on #6879
Thanks @bagder - and sorry for the inconvenience with the false positives. Could you provide links to the false positives?

[2022-01-14 23:19] DavidKorczynski commented on #6879
I have one other false positive from apache-httpd:
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=42715
The above issue has comments on the false-positive nature of the bug, and these issues are the same (they go from fixed/non-fixed)
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43654
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41230
- https://bugs.chromium.org/p/os

[2022-01-14 23:22] bagder commented on #6879
Basically all oss-fuzz reported on curl for the last few months (except that we actually got two "real" one this week):

Here are some of them:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43200
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41403
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41390
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40254
https://bugs.ch

[2022-01-14 23:22] bagder commented on #6879
All these have gone verfied/fixed all by themselves.

[2022-01-14 23:26] DavidKorczynski commented on #6879
Thanks for the links and info! We'll take a look at these and also monitor if they persist.

I think https://github.com/google/oss-fuzz/pull/7026 might fix these issues and that PR was merged two days ago. As such, it may be that the false positives will stop occurring from now on.

[2022-01-14 23:31] bagder commented on #6879
*fingers crossed*

[2022-01-15 03:55] evverx commented on #7011
@jonathanmetzman I wonder if it would be possible to reopen this issue? From https://github.com/google/oss-fuzz/pull/7014#issuecomment-994100783
[code]

[2022-01-15 11:55] vanhauser-thc commented on #6879
I am not sure this is an afl++ thing because when I check the linked reports several are from libfuzzer:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40254 - Crash Revision: https://oss-fuzz.com/revisions?job=libfuzzer_asan_i386_curl&revision=202110220613
same for https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=36072 and https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43200

[2022-01-15 12:04] DavidKorczynski commented on #6879
you're right! Thanks @vanhauser-thc !

Looking at the crash state it's also unreproducible and related to mmap. @bagder Could this be some memory allocation exhaustion that is non-deterministic?

[2022-01-15 12:48] AdamKorcz opened #7138 "Unreadable corpus files break entire build"
The etcd build is currently broken: https://oss-fuzz-build-logs.storage.googleapis.com/index.html#etcd.
Based on the logs, it looks like the corpus contains unreadable files:
[code]

Judging from the filenames, `127.0.0.1:2100200841` and `127.0.0.1:2100300841` these are files that the fuzzer maintains at runtime.

[2022-01-15 13:02] DavidKorczynski commented on #7138
Does the project build and run locally without issues?

[2022-01-15 14:01] bagder commented on #6879
I'm sorry but I don't keep track of what particular thing that trigger the oss-fuzz reports I get. I just know that over the last few months I've basically not gotten any correct reports at all but a lot of those that fixes themselves after a few days of me not doing anything at all.

[2022-01-15 14:57] inferno-chromium commented on #6879
@bagder - i am really sorry to hear about these false positive issues. We will work with AFL++ developer and also try to disable any particular instrumentation modes that are causing this. Fuzzing should have zero false positives, so sorry for this experience.

[2022-01-15 15:09] vanhauser-thc commented on #6879
@inferno-chromium this is not an afl++ issue. libfuzzer is also reporting crashes.

[2022-01-15 15:12] inferno-chromium commented on #6879
In that case, we should probably look at the regression range of those filed bugs and see if there is any curl commit that caused this badness. @DavidKorczynski @jonathanmetzman ?

[2022-01-15 15:16] DavidKorczynski commented on #6879
I think what has happened is that the AFL++ false positives and unreproducible libfuzzer issues were both conceived as false positives. I think libFuzzer issues are true issues - albeit unreproducible issues, which is something that has been debated in the past to keep/not keep if I remember correctly.

With regards to false positives: I believe with https://github.com/google/oss-fuzz/pull/7127 th

[2022-01-15 15:21] DavidKorczynski commented on #6879
To sort on these issues:

- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43200 : libfuzzer: labelled unreproducible issue
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41403 : afl: false positive
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41390 : afl: false positive
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40254 : libFuzzer: labelled unreproducible is

[2022-01-15 15:25] DavidKorczynski commented on #6879
Speaking on the unreproducible issues, then this looks to not be a regression but they have happened since 2019: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=17767&q=Proj%3Dcurl%20Type%3DBug&can=1

Full list: https://bugs.chromium.org/p/oss-fuzz/issues/list?q=Proj%3Dcurl%20Type%3DBug%20label%3DUnreproducible&can=1

[2022-01-15 15:40] DavidKorczynski commented on #6879
In order to improve the user experience and remove noise of false positives/unreproducible issues described in the comments above, I think there are a number of solutions:
- Improving triage of unreproducible issues so they wont be reported repeatedly but rather append comments to issues on monorail.
- allow users to opt out of receiving unreproducible issues, perhaps even make this the default (d

[2022-01-15 16:02] AdamKorcz commented on #7138
both `build_fuzzers`, `build_fuzzers --sanitizer=coverage` and `check_build` all run fine locally without any corpus.

[2022-01-15 20:19] ylavic commented on #6879
Speaking of the httpd reports in https://github.com/google/oss-fuzz/issues/6879#issuecomment-1013536843, the latest is from yesterday (https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43654) and was auto-closed today (still without anyting done on the httpd side).
I don't know if #7127 was tested against this particular report, in any case the httpd team does not see how it can be valid since

[2022-01-15 20:47] ylavic commented on #6879
Interestingly (possibly?) like for https://github.com/curl/curl/issues/8041 the stacktrace for the httpd case also bypasses a `strcasecmp()` like function which (supposedly) the tool thinks that it's bypassed by an inner `\0`, while it's not (absent stray photons and/or multiple pairs of eyes in the httpd team that suddenly went blind).

[2022-01-15 23:53] DavidKorczynski commented on #6879
Thanks for the details @ylavic !

In the httpd case the issue does not seem to be unreproducibility but rather the AFL++ issues. Looking at:
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40990&q=Proj%3Dapache-httpd&can=1
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41230&q=Proj%3Dapache-httpd&can=1
- https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41469&q=Proj%3Dapache-h

[2022-01-17 07:11] oliverchang commented on #6879
Re deduplication we usually do account for previously filed bugs: https://github.com/google/clusterfuzz/blob/6420424de00585e01038cb83e7b4d55b31ad64b3/src/appengine/handlers/cron/triage.py#L229 but the window that we look back is 2 days. Perhaps we can be a little smarter here and increase the window exponentially up to a limit based on how many times we've already filed the bug, but this can have

[2022-01-17 07:54] vanhauser-thc commented on #6879
@DavidKorczynski can you help me here and point me to an unreproducable testcase plus the build log of the target of the instance that produced that?

@oliverchang #7026 likely wont fix this as this is something different. I first need to check what is actually the issue. without any data (what were the build options and a testcase) I cannot start to check what the issue could be.

Concerning the

[2022-01-17 10:22] DavidKorczynski commented on #6879
I couldn't get the build log for some reason but I could list the content of the `afl_options.txt`- does this help? If so I list them in them below. Also, I sent you the stack trace on email.

[code]

[2022-01-17 17:37] vanhauser-thc commented on #6879
I am looking at the crash - and to me the crash looks correct:

[code]

The source code with comments that explain the testcase:
[code]

[2022-01-17 17:58] DavidKorczynski commented on #6879
@ylavic and I have discussed this bug here, where @ylavic highlights your case is not possible: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=42715#c1

See the comment "Note that `s == line` is not possible after 1810 unless `line` points to the "chunked" string exactly (caseless), which would have been caught by 1806 (and "chunked\0..." is the same as "chunked" from ap_cstr_casecmp() poin

[2022-01-17 18:08] DavidKorczynski commented on #6879
I ran the testcases through a libfuzzer compiled binary and can confirm what  @ylavic wrote: the testcases return on https://github.com/apache/httpd/blob/cbf06f48936268222ee0e1433c790e970831c990/server/util.c#L1807

namely here:
[code]

[2022-01-17 18:23] ylavic commented on #6879
I think that `ap_cstr_casecmp()` is so much instrumented that it loses correctness..

The original version is something like this (gcc -O2):
[code]

The intrumented one is (quite hard to follow, it even calls into `find_last_token` at some point):
[code]

[2022-01-17 18:41] vanhauser-thc commented on #6879
yes @ylavic  I think you are right, it is not instrumented correctly as the string is not checked for the null byte.
I added this to strcmp like functions to ensure the null byte is checked too.
(we had that in before, but in some context that crashed, but as I implemented that differently now this hopefully wont happen again :) )

I am looking at a different issue  and then push a fix to oss-fuzz

[2022-01-17 19:48] vanhauser-thc opened #7145 "Test environment for afl++ in oss-fuzz"
We have a CI setup that checks every commit to afl++ if the features still work.
Still, this cannot find all corner cases.

also we are at a disadvantage because we depend on llvm and as we are not building natively within the llvm project and have our own plugins instead this occasionally result in compile problems.

It would be good if you guys could set something up I can trigger somehow that t

[2022-01-18 02:44] evverx opened #7146 "CVEs based on OSS-Fuzz reports"
It seems some CVEs are assigned automatically based on OSS-Fuzz reports, which in turn triggers requests to update "vulnerable" packages. I think in general it makes sense but looking at some of those "medium" CVEs with "exploits" referring to crashes and backtraces copy-pasted from monorail with no way to trigger them in practice it would be nice if they could be vetted a bit better. The latest e

[2022-01-18 11:01] DavidKorczynski commented on #7040
Monorail query https://bugs.chromium.org/p/oss-fuzz/issues/list?q=%22ASSERT%3A%20byte%20index%22%20json5format&can=1

[2022-01-19 08:44] #6791 closed

[2022-01-19 15:18] inferno-chromium commented on #7145
@oliverchang for thoughts as well

we were also thinking to remove the random options during build to stabilize system for a few months ?

[2022-01-19 15:44] jonathanmetzman commented on #7145
I'm working on something that can test widespread changes (e.g AFL++ or Clang roll) against every project.
And I agree with Abhishek that we should get rid of the randomized builds for now, it's become a burden on OSS-Fuzz users and is turning them away from the service.

[2022-01-19 16:10] jonathanmetzman commented on #7138
I  assume check_build is causing these files to be created by running the fuzzers.
A generic solution to this could be to copy the /out directory and restore it after the fuzzers have run, this way no file created at runtime will be included in the build zip. @oliverchang Do you think this is a good first issue for Dongge?

[2022-01-19 16:21] vanhauser-thc commented on #7145
I would not recommend to get rid of random builds.
but as an alternative maybe we can do 3 different fixed builds?

[2022-01-19 17:05] DavidKorczynski commented on #7146
Perhaps related (at least on the CVE issuing): https://github.com/google/oss-fuzz/issues/6782

[2022-01-19 17:49] evverx commented on #7146
Looking at that CVE I'm not sure it was assigned fully automatically because someone appears to have taken the time to translate the unclickable commit ranges to a few links on GitHub. Plus nobody seems to have claimed that there were "exploits". The CVE refers to "patches" and "advisories".

[2022-01-20 01:33] oliverchang commented on #7138
@Navidem this would be a good one for your to fix!

[2022-01-20 05:59] oliverchang opened #7164 "Try CodeIntelligence's Go patches"
Link: https://github.com/CodeIntelligenceTesting/go/tree/dev.libfuzzer.18

This adds support for proper value profiling and better coverage instrumentation (8bit counters).

[2022-01-20 19:13] evverx commented on #7146
I think I'll switch to CFLite

[2022-01-20 21:58] jonathanmetzman commented on #7145
Mitigated inhttps://github.com/google/oss-fuzz/pull/7159

[2022-01-20 22:32] oliverchang commented on #7146
Sorry for the bad CVEs @evverx and thanks for the feedback! As you mention, we didn't generate those CVEs but we'll get in contact with some of our CVE contacts and figure out what's going on there and if we can work out a better process where the community can have input. I'll keep this issue open to track that.

Switching from OSS-Fuzz to only CFLite (and losing the many benefits) because of a 3

[2022-01-21 05:27] evverx commented on #7146
I think it's already kind of possible in the sense that CVEs like that can be disputed and the idea probably was to rely on that and treat all OSS-Fuzz bugs as security issues with that auto-generated impact. But personally I don't care about that enough to go out of my way to do that :-)

I generally agree that it would be nice to automate some things based on OSS-Fuzz bugs reports but having gon

[2022-01-21 06:46] evverx commented on #7146
Forgot to mention that since OSV is based on OSS-Fuzz bug reports "shallow" issues that are fixed when fuzz targets are integrated usually aren't reported on Monorail but since fuzzers are public they are actually run against "stable" releases (the latest example would be https://sourceware.org/bugzilla/show_bug.cgi?id=28666 "We fuzzed with a modified oss-fuzz, so it can be reproduced with oss-fuz

[2022-01-21 19:36] jonathanmetzman commented on #7146
Why is this so important, just curious?

[2022-01-21 19:54] evverx commented on #7146
Some projects like systemd for example keep their stable branches in forks so when patches are backported it makes sense to run various tests there as well to make sure bugs/regression aren't introduced.

[2022-01-21 19:54] jonathanmetzman commented on #7146
Ah. got it!

[2022-01-21 20:00] evverx commented on #7146
FWIW I'm not sure CFLite can cover a scenario where several branches are maintained at the same time but considering that usually the latest stable branch is most important one branch should do I think :-)

[2022-01-21 20:20] jonathanmetzman commented on #7146
Why can't it? Because it doesn't upload corpus and whatnot to branch specific locations?

[2022-01-21 20:28] jonathanmetzman commented on #6879
@bagder

We've disabled some of the AFL++ features that we think were causing these False positives.
I'll watch the curl crashes for a few weeks to see if this issue is still happening so we can get things back to a state where you find oss-fuzz useful again.
Sorry for the trouble.

[2022-01-21 20:28] evverx commented on #7146
As far as I understand CFLite gets the latest builds using a "plain" list of artifacts returned by GH API so PRs opened against two different branches are compared against the same latest builds. I have to admit I haven't done enough digging to be 100% sure though

[2022-01-21 21:27] richsalz opened #7172 "Enhancement request: Need to have releases"
Right now, everything seems to be done by checking into master; there's no releases or tagging.I want to use `ossf/scorecard` but I'll get dinged for not pinning specific hashes.  I can pin a specific git commit, but things like `dependabot` don't see a release so that's no help.

Please see https://github.com/ossf/scorecard/issues/1500 for some background.

[2022-01-22 12:47] evverx commented on #7172
I think it's probably the same issue as https://github.com/google/oss-fuzz/issues/6836

[2022-01-22 13:51] evverx commented on #7146
@jonathanmetzman I took a closer look and I don't think it has anything to do with CFLite itself. It uses "scheduled" GH Actions like "cf_cron", "cf_build" and "cf_batch" to update fuzz targets, corpora and coverage data regularly but actions like that use only default branches (or more precisely the last commit on default branches) so it seems to be a Github limitation CFLite can't do anything ab

[2022-01-22 16:43] DenizScholz opened #7174 ""RuntimeError: Failed to build" when using build_specified_commit.py"
Build failed for https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=10020 when trying to build the project from a specified commit via `build_specified_commit.py`. The specified commit hash was taken from the regressed url.

[code]

You can find the build output in the error_10020.txt file.
[error_10020.txt](https://github.com/google/oss-fuzz/files/7918745/error_10020.txt)

Furthermore I'm also

[2022-01-23 16:23] richsalz commented on #7172
Yes, I will close this as a dup of #6836, thanks!

[2022-01-23 16:23] #7172 closed

[2022-01-24 01:22] oliverchang commented on #7113
@morehouse @hctim is this something you could help take a look at based on the stacktrace? Looks like a bug in UBSan (that isn't consistently reproducible all the time)

[2022-01-24 01:23] oliverchang commented on #7029
Closed the bug manually. Sorry for the delay here!

[2022-01-24 01:23] #7029 closed

[2022-01-24 01:25] oliverchang commented on #7040
This should be fixed now as part of the mitigations in #2533. Please let us know if you notice this again!

[2022-01-24 01:25] #7040 closed

[2022-01-24 01:28] oliverchang commented on #7039
Randomness has been turned off as part of https://github.com/google/oss-fuzz/pull/7159

[2022-01-24 01:28] #7039 closed

[2022-01-24 01:35] oliverchang commented on #7071
Sorry for the delay @bobfriesenhahn!! Our replies were slow due to the holiday period and we dropped the ball on this one.

@morehouse @hctim Does this look like we need to add an MSan interceptor for getc/fgetc?

[2022-01-24 01:38] oliverchang commented on #6985
Is there work remaining here?

[2022-01-24 02:52] oliverchang commented on #7164
@Alan32Liu This could be a starter OSS-Fuzz infra project for you!

[2022-01-24 03:10] Alan32Liu commented on #7164
Thanks! That is exciting : )
Looking at it now 😀

[2022-01-24 03:47] oliverchang commented on #7164
Great! Let's be a bit more cautious here with the rollout and create a `base-builder-go-experimental` image. Then, we can turn this on project by project by setting the base image in e.g. https://github.com/google/oss-fuzz/blob/master/projects/go-coredns/Dockerfile#L17

[2022-01-24 19:17] hctim commented on #7113
Managed to get a stack under GDB:

[code]

So, looks like a null-pc bug in the actual code. As to why UBSan isn't being helpful here, not sure, still looking.

[2022-01-24 20:04] catenacyber commented on #7113
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=43733 gets the right stack trace for this NULL deref

[2022-01-24 21:15] hctim commented on #7113
I reckon that's a slightly different manifestation. I can pull that testcase down and reproduce it 100% of the time, on the same build as this bug. I'm guessing that `f` is non-null in the flaky case, and so doesn't trip UBSan's null-member check.

[2022-01-24 21:18] hctim commented on #7113
As a side note, the problem I'm trying to solve here is "why is UBSan not giving a good error report". I'm guessing that we mishandle somewhere in the printing logic.

The other open question, for @catenacyber, is "why is this bug not reproducible deterministically". Is there some global state or programmatic randomness in this fuzz target?

I can reproduce it by grabbing the test case, putting it

[2022-01-24 21:24] catenacyber commented on #7113
There is a known problem about a global state that is not reset
https://github.com/OISF/suricata/pull/6856 should fix this
I am not sure if this is the one you meet

[2022-01-24 21:29] hctim commented on #7113
Yeah, so UBSan doesn't like unwinding null-pcs, or through a signal handler (assumedly the former):

[code]

But, GDB is totally fine with unwinding through it. Let me take a look at the unwinder behaviour and I'll send a patch to LLVM (which will take $AMOUNT_OF_TIME to trickle through to OSS-Fuzz).

[2022-01-24 21:39] oliverchang commented on #7113
Thanks a lot @hctim for looking into this!! :)

[2022-01-25 20:15] #6985 closed

[2022-01-26 15:39] alexec opened #7185 "Reproducing instructions missing critical step"
https://google.github.io/oss-fuzz/advanced-topics/reproducing/

This does not show how to checkout the code, so isn't helpful. Please add it!

[2022-01-26 15:41] asraa commented on #7185
Do you mean checking out the oss-fuzz repo to run commands like `python infra/helper.py` in?

[2022-01-26 16:11] alexec commented on #7185
Yes. Either some instruction for that, or a link to a more basic getting started guide.

[2022-01-26 17:23] jonathanmetzman commented on #7011
I'm not sure I agree that this is broken in general:
see https://github.com/facebook/zstd/runs/4943587481?check_suite_focus=true
[code]

[2022-01-26 17:33] evverx commented on #7011
I'm pretty sure the paths there were absolute as well when I opened the issue. Anyway, systemd is still broken
[code]
And as far as I can tell https://github.com/google/oss-fuzz/pull/7142 can't fix it :-(

[2022-01-26 17:39] jonathanmetzman commented on #7011
I see systemd is still broken.
I see the following [here](https://github.com/systemd/systemd/runs/4953684775?check_suite_focus=true):
[code]
The problem is that fuzzer-affected by files are absolute while changed files is relative to /src/systemd.
I think the best way to fix this is for all paths be absolute.
Or alternatively all paths should be relative to /src/systemd.

But I'm kinda mystified w

[2022-01-26 17:56] jonathanmetzman opened #7188 "Coverage reports not being found/linked to by clusterfuzz"
January 19th seems to be the last day this worked: https://oss-fuzz.com/fuzzer-stats?project=libpng&fuzzer=libFuzzer_libpng_read_fuzzer&job=libfuzzer_asan_libpng&group_by=by-day
@Navidem I wonder if it's the recent build infra changes causing this.  Need to check ClusterFuzz side changes.
Note that I don't think coverage reports are totally broken. See https://storage.googleapis.com/oss-fuzz-cover

[2022-01-26 17:58] evverx commented on #7011
My guess would be that most projects have relative paths in their coverage reports. `systemd` is different probably because it installs shared libraries to `$OUT` and that tends to affect coverage reports in mysterious ways like https://github.com/google/oss-fuzz/issues/6524#issuecomment-945046596.

[2022-01-26 19:21] jonathanmetzman commented on #7188
After investigating, @Navidem figured out that the clusterfuzz code for saving coverage stats/links reads every file in the directory and assumes it is a stats file: https://github.com/google/clusterfuzz/blob/master/src/appengine/handlers/cron/fuzzer_coverage.py#L115

[2022-01-26 20:05] jonathanmetzman commented on #7174
The file you linked to isn't accessible for me.
Here's my guess about what's happening.
Skia's dockerfile build depended on the contents of the skia.diff file. It applied it to the repo.
It no longer does this because that pattern breaks OSS-Fuzz's hacky methods for changing the checkout of the repo from master to a specified branch/PR (this feature is used by CIFuzz and build_specified_commit).
Y

[2022-01-26 20:26] evverx opened #7190 "CIFuzz/CFLite should warn (or maybe optionally fail) when coverage goes down significantly"
CIFuzz can be used to make sure that PRs don't break fuzz targets and that new bugs aren't introduced, which is helpful assuming coverage is intact. But when PRs introduce changes preventing fuzz targets from covering their usual codepaths CIFuzz can't detect that and passes. I think it would be great if by analogy with, say, coveralls.io CIFuzz could compare coverage reports and at least warn whe

[2022-01-27 02:14] jonathanmetzman commented on #7190
I think this would be interesting to do, just like coverage for unittests.
The issue regarding that one particular fuzz target might be helped by a changed we are going to make anyway, having seperate coverage reports per target in addition to the one aggregate target.
Another idea that's harder but which I like a lot is letting users know if the changed code was actually covered during CI-fuzzing

[2022-01-27 02:35] evverx commented on #7190
As far as I understand those reports will be on OSS-Fuzz (which is great) but I don't think issues like that should reach OSS-Fuzz given that they can be discovered much earlier.

I'm just spitballing but I think it should be possible to download the public OSS-Fuzz corpora, run the latest fuzzers and the fuzzers built in PRs (with coverage) against those corpora and compare their coverage reports

[2022-01-27 02:48] oliverchang opened #7193 "Latest Jazzer (with Bazel 5) doesn't work with existing OSS-Fuzz integration"
Error (from e.g. https://github.com/google/oss-fuzz/runs/4958764951?check_suite_focus=true)

[code]

@fmeum @0roman

[2022-01-27 02:48] oliverchang commented on #7193
@fmeum could you please help with this?

[2022-01-27 03:04] evverx commented on #7190
Just to clarify, coverage reports on OSS-Fuzz are helpful but I don't think anybody looks at them when fuzz targets are  believed to be mature enough. If coverage fluctuations aren't reported explicitly they are ignored until they are discovered by accident. For example, I ran into that accidentally trying to figure out why CIFuzz missed two issues that should have been caught. It was due to https

[2022-01-27 13:42] kyakdan commented on #7164
@oliverchang , @Alan32Liu we've also updated the `go114-fuzz-build` to accept instrumentation filters so that you can limit the scope of instrumentation to the packages of interest. This proved effective to focus fuzzing on the code we want to test. Would this be interesting to integrate?

[2022-01-27 19:45] evverx commented on #7188
@jonathanmetzman I wonder if it could be related to links to corpora pointing to pages like https://console.cloud.google.com/storage/systemd-backup.clusterfuzz-external.appspot.com/corpus/libFuzzer/systemd_fuzz-dhcp-server
![Screenshot 2022-01-27 at 22 31 06](https://user-images.githubusercontent.com/10195800/151430307-2625b43f-9408-4a8c-a05b-308e64653a97.png)

I clicked the "corpus backup" links

[2022-01-28 02:54] evverx opened #7195 "CIFuzz should run all fuzz targets when all of them aren't "affected""
In https://github.com/systemd/systemd/runs/4974919673?check_suite_focus=true CIFuzz ran just one fuzz target even though all of them weren't affected (due to https://github.com/google/oss-fuzz/issues/7011). My guess would be that it happened because that particular fuzz target was added yesterday and it somehow affected CIFuzz so instead of something like
[code]
it decided to treat only that one f

[2022-01-28 03:10] evverx commented on #7195
At this point CIFuzz doesn't seem to be running anything apart from that fuzz target so to really test PRs the fuzz targets have to be built and run manually.

[2022-01-28 09:36] catenacyber commented on #7113
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=44138 looks like the same

[2022-01-28 10:02] tongxintest opened #7196 "how to use linfuzzing parms"
hi, this version i run_fuzzer use libfuzzing parm -max_total_time=300 is failed
what can  I do it ?
![image](https://user-images.githubusercontent.com/89123114/151526845-67d44875-dce4-4cc6-afd0-feb8da0ae77b.png)

[2022-01-28 10:30] DavidKorczynski commented on #7196
This is related to https://github.com/google/oss-fuzz/issues/7111

You need to add `--`, i.e. change your commandline to:
`python3 infra/helper.py run_fuzzer mysql-server fuzz_initfile -- -max_total_time=300`

[2022-01-28 10:38] tongxintest commented on #7196
thx , i got   @DavidKorczynski

[2022-01-28 10:38] #7196 closed

[2022-01-28 13:37] AdamKorcz opened #7198 "Coverage build is failing because corpus files are missing"
The Containerd projects coverage build is failing with this error for mulitple fuzz targets:

[code]
The fuzzers that are failing are not visible in the list at "Fuzzer stats/coverage" on oss-fuzz.com.

`build-fuzzers`, `build-fuzzers --sanitizer=coverage` as well as `check_build` all complete succesfully locally without any corpus. The fuzzers in question can be run locally just fine.

[2022-01-28 23:17] Roman-Jordan opened #7203 "/docs/images/process.png is not light/darkmode compatible, causing readability issues."
Addressed with PR https://github.com/google/oss-fuzz/pull/7202

[2022-01-29 00:21] AdamKorcz opened #7204 "Istio: coverage build failing with "ERROR: context deadline exceeded""
Bug report: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41547#c9

Other projects have had similar failures in the past:

- https://github.com/google/oss-fuzz/issues/5855
- https://github.com/google/oss-fuzz/issues/5371

In those previosu cases the build fixed itself after a few days, but this has not been the case for Istio.

For info, Istio has more than 60 fuzzers, and some of the fuzz

[2022-01-29 16:33] evverx opened #7206 "scorecard seems to complain about unpinned docker images when CFLite is used"
I think it's technically a scorecard issue but by analogy with https://github.com/google/oss-fuzz/issues/6836 I'll just leave it here
[code]

As far as I understand scorecard will ignore that eventually but as I said in https://github.com/google/oss-fuzz/issues/6836 I'm more interested in preventing the systemd CI from failing due to pulling the latest images with unpredictable clang/CIFuzz change

[2022-01-30 13:16] Jens-G opened #7208 "Step #5: error: /workspace/out/libfuzzer-coverage-x86_64/dumps/*.profdata: No such file or directory"
https://oss-fuzz-build-logs.storage.googleapis.com/log-20a7836e-a8d2-4924-9ee6-67aef2c027cb.txt

Not much I can do here. Logged since April 2021

[2022-01-30 22:19] guidovranken opened #7209 "Testcase filed in the future"
https://oss-fuzz.com/testcase-detail/5906158047592448

[code]

This possibly indicates a misconfiguration on your part.

[2022-01-31 00:21] DavidKorczynski commented on #7208
Thanks, I believe https://github.com/google/oss-fuzz/pull/7199 is meant to address this one

[2022-01-31 01:51] jonathanmetzman commented on #7209
haha. Good find

[2022-01-31 01:51] jonathanmetzman commented on #7209
Hopefully this doesn't cause issues with auto-opening

[2022-01-31 02:03] jonathanmetzman commented on #7206
What repo is this?

[2022-01-31 02:10] evverx commented on #7206
It was systemd before I pinned the image in https://github.com/systemd/systemd/blob/main/.clusterfuzzlite/Dockerfile. Dependabot can't follow floating tags though so it has to be updated manually

[2022-01-31 02:12] jonathanmetzman commented on #7206
Just curious, does it complain that clusterfuzzlite action isnot pinned by hash?

[2022-01-31 02:13] evverx commented on #7206
I suspect it does but it's pinned in the systemd repository

[2022-01-31 02:23] oliverchang opened #7212 "Create auto-releaser"
That runs on a weekly basis for CIFuzz and ClusterFuzzLite

[2022-01-31 02:25] oliverchang commented on #7206
I think both this and https://github.com/google/oss-fuzz/issues/6836 can be addressed with an auto-releaser that bumps the minor version every week or so: https://github.com/google/oss-fuzz/issues/7212

Then we can let dependabot do the pinning updates.

[2022-01-31 03:51] evverx commented on #7212
To really pin CIFuzz I think it would be necessary to somehow also pin the base-builder image in https://github.com/google/oss-fuzz/blob/master/projects/systemd/Dockerfile. Without it it seems the action and the base builder image can diverge and break the CI suddenly.

[2022-01-31 04:03] evverx commented on #7212
More generally I think both CIFuzz and CFlite should pull docker images they are compatible with automatically. Given that dockerfiles like https://github.com/systemd/systemd/blob/main/.clusterfuzzlite/Dockerfile are never used (by users) to build images directly with `docker build` I'm not even sure why `FROM` should be specified by regular users explicitly.

[2022-01-31 04:18] evverx commented on #7212
Since CIFuzz is used upstream it's kind of easy to update it once a month with Dependabot but CFLite is supposed to be used to test forks so once releases are cut the CFLite actions and images are kind of pinned forever there so the latest images like https://github.com/google/clusterfuzzlite/blob/d223d71403114874c061c651394daec172e32e32/actions/build_fuzzers/action.yml#L52 used by auto-released a

[2022-01-31 04:52] evverx commented on #7212
Just to be sure I wonder if unpinned actions and docker images are more likely to work in those scenarios? If so, I generally have no problem with switching to those floating tags. I'm not sure scorecard is happy about that though :-)
[code]

[2022-02-01 15:30] jonathanmetzman commented on #7208
@DavidKorczynski I don't think this is affected by #7199, particularly if it has been going on since April 2021 as @Jens-G says.
Am I missing something in the logs?

[2022-02-01 15:33] DavidKorczynski commented on #7208
I think you're right. Am not entirely sure why I thought your PR affected this one - looking at the log now it doesn't look to be affected by fuzz-introspector at all

[2022-02-01 15:35] DavidKorczynski commented on #7208
Is this a coverage problem or something with the build? I see these lines:

[code]

Which seems to indicate something (not `*profdata`) is missing?

[2022-02-01 15:37] DavidKorczynski commented on #7208
Perhaps because it inherits two base builders?
https://github.com/google/oss-fuzz/blob/898bbe41e57f841d15cb9d30bd42105460857386/projects/thrift/Dockerfile#L17-L20

[2022-02-01 22:20] morehouse commented on #7071
Yes, looks like we're missing an interceptor for `getc`.

[2022-02-02 06:07] Alan32Liu opened #7224 "An auto-check for missing files?"
[Pull Request #7191](https://github.com/google/oss-fuzz/pull/7191) forgot to include a critical file (`$GOPATH/ossfuzz_coverage_runner.go`) and caused the failure of [PR #7222](https://github.com/google/oss-fuzz/pull/7222) later, yet it still passed all auto-checks.

How about adding an auto-check to ensure a list of critical files are present at where we need them?

[2022-02-02 09:12] fmeum opened #7225 "Java coverage build steps are failing"
Multiple Java projects report coverage build steps:
https://oss-fuzz-build-logs.storage.googleapis.com/log-e33ecdf6-c335-479e-a08f-c236ec03d140.txt
https://oss-fuzz-build-logs.storage.googleapis.com/log-718e2a92-c221-46bc-9098-05757ff7e701.txt

There haven't been any relevant changes to upstream Jazzer and the fuzzing builds for these projects succeed, so I find it more likely that this breakage r

[2022-02-02 14:49] jonathanmetzman commented on #7225
Yeah I'd guess this is related to the fuzz introspector changes.
From zxing:
[code]

[2022-02-02 15:55] jonathanmetzman commented on #7224
What would this check look like?
Note that our current tests would have caught this if you had modified an existing image instead of a new one: https://github.com/google/oss-fuzz/blob/master/infra/ci/build.py#L218

Our existing checks rebuild changed dockerfiles and then a canary project to check it worked (though the canary is not a go project).

[2022-02-02 16:02] jonathanmetzman opened #7227 "Build status running way too often."
CC @Navidem @oliverchang
![build-status](https://user-images.githubusercontent.com/31354670/152190519-dab8226c-f3b7-4ec0-b666-6bebd9640d7c.png)

[2022-02-02 16:25] jonathanmetzman opened #7228 "Fuzz introspector builds taking very long."
![introspector](https://user-images.githubusercontent.com/31354670/152194449-cd83d907-d37f-4b26-9519-4d5caa3a762d.png)
I think these are clogging up the build pipeline. My build I want to use to investigate https://github.com/google/oss-fuzz/issues/7225 is queued and will probably run a long time from now.

[2022-02-02 16:27] jonathanmetzman commented on #7228
Compare the ~5 hour build of openssl under fuzz introspector vs the < 20 minute builds of openssl for coverage and fuzzing:
https://pantheon.corp.google.com/cloud-build/builds;region=global/87d2da18-1b0a-437c-954e-9d0dfd1e7ade;tab=detail?project=oss-fuzz
https://pantheon.corp.google.com/cloud-build/builds;region=global/87d2da18-1b0a-437c-954e-9d0dfd1e7ade?project=oss-fuzz

[2022-02-02 16:31] jonathanmetzman commented on #7228
On further inspection this doesn't seem to be a widespread problem. Seems like a few projects are really slow.
Most however are not: https://console.cloud.google.com/cloud-build/builds?project=oss-fuzz&pageState=(%22builds%22:(%22f%22:%22%255B%257B_22k_22_3A_22tags_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22introspector_5C_22_22_2C_22i_22_3A_22tags_22%257D_2C%257B_22k_22_3A_22status_22_2C_22t_22_3A10_

[2022-02-02 16:32] jonathanmetzman commented on #7228
About 16 introspector builds take 12 hours and time out.
https://console.cloud.google.com/cloud-build/builds?project=oss-fuzz&pageState=(%22builds%22:(%22f%22:%22%255B%257B_22k_22_3A_22tags_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22introspector_5C_22_22_2C_22i_22_3A_22tags_22%257D_2C%257B_22k_22_3A_22status_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22Timed%2520out_5C_22_22_2C_22s_22_3Atrue_2C_22i_22_3A_22

[2022-02-02 16:33] jonathanmetzman commented on #7228
@Navidem @oliverchang What do we think of using a more aggressive timeout for introspector for now?

[2022-02-02 16:40] Navidem commented on #7228
It does not surprise me that introspector takes longer than coverage build. It is mainly because of LTO.
I am fine with setting shorter timeout for now.

[2022-02-02 16:41] jonathanmetzman commented on #7228
Thanks! I think disabling it for some of these projects is a good idea too.

[2022-02-02 16:46] jonathanmetzman commented on #7225
This seems to also break go: https://oss-fuzz-build-logs.storage.googleapis.com/log-d5973f45-9921-4ca5-99ec-8287607bf8cb.txt

[2022-02-02 18:14] #7225 closed

[2022-02-02 20:07] jonathanmetzman commented on #7228
How can we disable the really slow ones btw?

[2022-02-02 20:09] Navidem commented on #7228
Is there any better way than maintaining a blacklist for slow ones and skipping introspector build on them?

[2022-02-02 22:42] Alan32Liu commented on #7224
Ah, I see...
Should I add `base-builder-go-codeintelligencetesting` in that list, like in [base_images.py](https://github.com/google/oss-fuzz/blob/057e2f121b9d2675359d10a729b5397484fc8b90/infra/build/functions/base_images.py#L28)?

[2022-02-02 22:59] oliverchang commented on #7227
Good catch! This was because we had 4 schedulers running every 30 minutes to trigger this. I just deleted the extra 3.

This was a leftover from the previous cloud function model (where we had separate functions handling coverage vs fuzzing vs badges)

[2022-02-02 23:00] jonathanmetzman commented on #7227
Thanks!

[2022-02-02 23:01] jonathanmetzman commented on #7224
If you'd like. I don't know how long we will be using this image, if it is less than a week I wouldn't really bother.

[2022-02-02 23:07] Alan32Liu commented on #7224
Sure : )

[2022-02-02 23:07] #7224 closed

[2022-02-03 00:13] tysmith opened #7232 "Coverage build failures without changes to project"
It is common to receive coverage build failure notifications from projects that have not changed since the previous successful build. Usually within a few days the issue is marked fixed.

@baumanj mentioned that he is usually not sure whether there a legitimate issue worth investigating or if he should just wait. He also mentioned that he is worried that if he filters the notifications issues migh

[2022-02-03 05:49] evverx commented on #7232
I was going to open an issue about recent coverage failures but it seems this issue was most likely prompted by them as well. Since yesterday `systemd`, `selinux` and other projects have been failing to unpack their corpora with something like
[code]

[2022-02-03 06:06] evverx commented on #7232
I think it would be great if OSS-Fuzz could keep track of commits used to build projects and ignore transient failures like that. It wouldn't have helped in the case of systemd because it changed but other projects that are changed once a week or so could benefit from that.

[2022-02-03 09:55] ktmf01 commented on #7132
I'm commenting once again for any people that may find this through Google or something.

I did a thorough comparison which took two weeks to complete. I ran a fuzzer with a known problem with and without these CRC checks. In this case, only an 8-bit CRC is blocking further processing, a 16-bit CRC is only checked after running through all code. The 16-bit CRC might still confuse the fuzzer though

[2022-02-03 10:01] AdamKorcz opened #7235 "Go projects' coverage builds are failing"
It looks like this is the case for all Go projects.

From the logs:

[code]

[2022-02-03 12:19] jonathanmetzman commented on #7235
I think this was fixed by https://github.com/google/oss-fuzz/pull/7229 but maybe this is still happening because we didn't deploy?
@Navidem did you deploy your changes before or did @oliverchang ? I had some troubles deploying in the past.

[2022-02-03 13:01] jonathanmetzman commented on #7232
Sorry about that. We've been making some changes to the build infra lately.
Which project is this for? I'd be happy to investigate what the issue is.
I fixed an issue recently https://github.com/google/oss-fuzz/pull/7229 that affected no C/C++ projects, maybe your project was affected?

Sorry, we're sensitive to the fact that false positives can cause devs to disengage and want these to be as low

[2022-02-03 13:07] jonathanmetzman commented on #7232
We recently changed our infra to only notify devs after 3 consecutive failures. Did you get an email about the failures or did it just show the failure on https://oss-fuzz-build-logs.storage.googleapis.com/index.html ?

[2022-02-03 13:11] evverx commented on #7232
@jonathanmetzman The badges in the README files turned "yellow": [![OSS-Fuzz Status](https://oss-fuzz-build-logs.storage.googleapis.com/badges/systemd.svg)](https://oss-fuzz-build-logs.storage.googleapis.com/index.html#systemd).

[2022-02-03 13:21] jonathanmetzman commented on #7232
Thanks for pointing this out. @oliverchang

[2022-02-03 13:23] jonathanmetzman commented on #7232
@evverx The latest coverage build for systemd that I kicked off seemed to pass. Might be a day before this is reflected in the badge.

[2022-02-03 13:33] jonathanmetzman commented on #7227
Is it supposed to be running every half hour? https://console.cloud.google.com/cloud-build/builds?project=oss-fuzz&pageState=(%22builds%22:(%22f%22:%22%255B%257B_22k_22_3A_22Source_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22google%252Foss-fuzz_5C_22_22_2C_22s_22_3Atrue_2C_22i_22_3A_22source_22%257D%255D%22))

[2022-02-03 13:38] jonathanmetzman commented on #7204
Even though there are 60 targets, something still seems off. It shouldn't take an avg of 12 minutes to run each fuzzer on their corpus.

Looking at the past 3 failed cov builds it looks like they are all failing on `fuzz_host_matcher` I bet this one is really slow. Maybe eliminating it from coverage builds would fix things?

[2022-02-03 13:55] jonathanmetzman commented on #7188
This still seems to be happening, and I'm not sure why.

[2022-02-03 13:59] dbrumley commented on #7164
I looked through this; is this just patches to libfuzzer for golang?  Why not push them upstream to go?