[2022-08-19 19:04] #8294 closed

[2022-08-20 09:37] fmeum commented on #8276
@oliverchang With empty input, do you mean an invocation of the form `fuzz_target empty_file`? If so, that would have caught the issue and I can add it in a PR.

[2022-08-21 19:54] DavidKorczynski opened #8307 "Builds are listed as last built 17/08/2022 but its 21/08/2022 today"
Issue open from this Tweet: https://twitter.com/MagickNET/status/1561271022090846208

Looking at the builds page all builds are listed as 17/08/21, are the builds currently stuck?

[2022-08-22 00:58] Alan32Liu commented on #8307
Thanks! I am looking/asking more into this.

[2022-08-22 08:19] onionpsy commented on #8121
I see. The only issue is that between the moment I click to re-run the test and the moment it ends, it changes its status to "reproducible" when it is not necessarily the case.

[2022-08-22 11:23] MarcoFalke opened #8309 "Tasks are re-scheduled in a loop without result"
We fixed a bug, but the oss-fuzz report somehow went "wild": https://oss-fuzz.com/testcase-detail/5625457095081984

* It didn't detect the fix
* It refused to finish any scheduled tasks
* It re-schedules the minimize task in a loop

Reporting this mostly to avoid wasting oss-fuzz resources on this already fixed report.

Metadata:

[code]

[2022-08-22 16:47] howardjohn opened #8311 "build_fuzzers: allow or default to adding additional docker volume mounts"
Currently for go fuzzers (at least),  we build everything with no caching. This means downloading all modules again, building from scratch, etc.

It would be nice to mount build/module caches, or at least allow this as an option via environment variable, to speed up builds when using `python infra/helper.py build_image`

[2022-08-22 18:38] Navidem commented on #8307
Thanks David for pointing this out!

As I checked, builds are going just fine:

<img width="1008" alt="Screen Shot 2022-08-22 at 11 35 43 AM" src="https://user-images.githubusercontent.com/19780488/185994449-845b975a-beda-47b0-8fc9-791028114021.png">

Probably something broken in `build_status` cron job.

[2022-08-22 19:22] jonathanmetzman commented on #8311
build_image cannot use any volumes because it involves building docker images which are meant to be hermetic. The build has no access to any volumes. build_fuzzers may be another story.
Instead I would recommend structuring your dockerfile so that long-running steps that do not change very often are done before steps that you will frequently change.

[2022-08-22 22:52] Navidem commented on #8307
looking into it I can see the docker run is failing with
`Step #1: ModuleNotFoundError: No module named 'google.cloud.datastore_v1.gapic'`

[2022-08-23 01:42] oliverchang commented on #8276
Yep!

[2022-08-23 01:47] Navidem opened #8317 "Build_status is hitting timeout"
Build status is taking longer than 1:30 time out threshold.

https://pantheon.corp.google.com/cloud-build/builds;region=global/51d15a9a-d475-4129-98d9-ec103ebf8efb?project=oss-fuzz

[2022-08-23 01:49] Navidem commented on #8317
@oliverchang should we increase timeout and also reduce the trigger frequency?

[2022-08-23 01:51] pgrosu commented on #8317
Hmm...unfortunately it's not visible from the outside:

![image](https://user-images.githubusercontent.com/6555937/186050935-dc14d5ad-88fd-44ae-ac42-dd771a88ba3c.png)

[2022-08-23 01:52] oliverchang commented on #8317
SG, let's do that.

[2022-08-23 02:12] Navidem commented on #8307
Looks fine now after #8316

[2022-08-23 02:12] #8307 closed

[2022-08-23 02:49] #8317 closed

[2022-08-23 14:29] jonathanmetzman opened #8324 "Support Fuzzing JavaScript with Jazzer.js"

[2022-08-23 17:31] jonathanmetzman commented on #8324
CC @fmeum @bertschneider

[2022-08-24 09:02] jodastephen opened #8344 "Joda-Time failing"
Hi, Joda-Time has started failing but I have no idea why. All I did was update a few Maven dependencies. The [build log](https://oss-fuzz-build-logs.storage.googleapis.com/log-cb4a0aa4-5e9a-4918-8645-bd68adcb213d.txt) is unhelpful, and I don't  really have a clue as to what is going on:

[code]

FWIW, it looks like the Java build completed just fine.

[2022-08-24 15:36] jonathanmetzman commented on #8344
Assigning to sheriff. Oliver could you PTAL?

[2022-08-24 19:02] MarcoFalke commented on #8061
The issue is now public, so this can be closed?

[2022-08-25 06:47] oliverchang commented on #8309
Thanks for filing this. This is a weird edge case on CF that we filed here: https://github.com/google/clusterfuzz/issues/2769

I'll close this in favour of that issue.

[2022-08-25 06:47] #8309 closed

[2022-08-25 20:52] dlemstra commented on #6294
Would it possible to add some information on how we can test if we could re-enable MSAN again @jonathanmetzman? The other issue mentions that some tests where done and I am wondering if it is possible to share some extra information?

[2022-08-28 06:23] dlemstra commented on #1274
Just putting a message here in case anyone finds this issue. We fixed this in ImageMagick by forcing the use of the CXX compiler when building our utilities with this patch: https://github.com/ImageMagick/ImageMagick/commit/07f3b487f9860fd4eb9422f1a906d0fe83b6fd1c.

[2022-08-28 17:01] magicse commented on #8152
||=== Build: all in realesrgan-ncnn-vulkan (compiler: GNU GCC Compiler) ===|
Z:\demo\Real-ESRGAN-ncnn-vulkan\src\wic_image.h||In function 'int wic_encode_jpeg_image(const wchar_t*, int, int, int, void*)':|
Z:\demo\Real-ESRGAN-ncnn-vulkan\src\wic_image.h|179|warning: ISO C++ forbids converting a string constant to 'LPOLESTR' {aka 'wchar_t*'} [-Wwrite-strings]|
..\..\..\..\LibWebP_GIT\libwebp\Build\

[2022-08-28 17:04] magicse opened #8366 "libwebp.a undefined reference to `SharpYuvInit' | `SharpYuvGetConversionMatrix' | `SharpYuvConvert'"
Wingw64
Codeblocks
Windows 7

[code]

[2022-08-28 17:28] DanBloomberg commented on #8152
I thought this issue was resolved.  A new library dependency on libwebp, libsharpyuv, suddenly happened.  The build script was fixed to include this library, and the build succeeded.

@magicse   what is the context of these errors?  a new build platform?   is this an oss-fuzz issue?

[2022-08-29 12:25] DavidKorczynski commented on #8152
@DanBloomberg the build is working fine!

I think the comment is out of context and not relevant.

[2022-08-29 12:53] magicse commented on #8152
Sorry I was wrong.

[2022-08-29 14:41] jonathanmetzman commented on #8366
Sorry, but I don't see what this has to do with OSS-Fuzz.

[2022-08-29 14:41] #8366 closed

[2022-08-31 18:33] tysmith opened #8380 "libpng contact info out of date"
In the libpng `project.yml` the following fields require review:

[code]

@ctruta are these correct?

Also the current maintainer (@ctruta) is not cc'ed on the issues.

[2022-09-01 04:27] oliverchang commented on #8380
Please feel free to propose a PR to fix this. Thanks!

[2022-09-01 04:28] oliverchang commented on #8344
Build is no longer failing, so closing!

[2022-09-01 04:28] #8344 closed

[2022-09-01 17:39] alexcrichton opened #8389 "Unique bugs deduplicated into the same issue"
Today I discovered a case in the Wasmtime project's fuzzing where two different fuzz bugs reported were lumped into the same issue reported on the Chromium issue tracker. The two original test cases and the corresponding issues in the Wasmtime repository are:

* https://oss-fuzz.com/testcase-detail/6653052240658432 - https://github.com/bytecodealliance/wasmtime/issues/4840
* https://oss-fuzz.com/t

[2022-09-01 17:59] Navidem commented on #8389
Thanks for brining this to our attention,

This is actually the reason for the two bugs being grouped together. Currently ClusterFuzz uses a heuristic based on the top 3 stack frame entries. We have plans to revisit the way ClusterFuzz deduplicates crashes.

I am not sure if having special heuristics for Rust is the way to go here, @oliverchang WDYT?

[2022-09-01 18:25] alexcrichton commented on #8389
At least for Rust-based deduplication of bugs one heuristic which might help is to skip stack frames where the demangled name starts with `core::`, `std::,` or `libfuzzer_sys::` since those are all infrastructural. Looking at the two test cases above that would have been sufficient to consider them unique. Rust may be relatively different from C++ here here an assertion failure goes through a fair

[2022-09-02 21:30] tsdgeos commented on #8261
This is still happening any idea how to try to reproduce it or fix it?

[2022-09-04 12:49] jodastephen commented on #8344
See here - https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50159#c3 - I'm still getting emails saying it is failing

[2022-09-04 14:00] DavidKorczynski commented on #8344
Yes, all java builds are still failing their coverage builds.

Joda-Time's coverage build is failing (non-coverage builds are succeeding).

Will keep this closed as the java coverage build failing is tracked in https://github.com/google/oss-fuzz/issues/8241

[2022-09-05 05:15] oliverchang commented on #8389
In these two cases, the deduplication is based on picking these things out of the stacktrace:

[code]

and

[code]

(See the "Crash State" section on the testcases).

We already ignore most core::, std:: etc frames, and picked those out as the ones for use for deduplication.

I'm not sure how we can improve this case unfortunately, without negatively impacting other similar cases where these may i

[2022-09-06 16:08] alexcrichton commented on #8389
I went ahead and sent https://github.com/rust-fuzz/libfuzzer/pull/95 to update Rust's fuzzing infrastructure to ideally have at least one uniqe stack frame per fuzzer.

[2022-09-07 02:02] oliverchang commented on #8389
Thanks! Note that this may have downsides as well -- fuzzers within the same project will have overlap. Sometimes it's quite beneficial to have these be deduplicated rather than file N bugs (for N fuzzers) for the same underlying issue with the project.

[2022-09-07 12:31] ulucinar opened #8431 "Cannot access documents under https://oss-fuzz.com via the "Sign in with Google" option"
Hello,
Although my gmail address (`alper.oss.fuzz@gmail.com`) has been added to the Crossplane's [project.yaml](https://github.com/google/oss-fuzz/blob/7b0f4f7d1ddb582ea9c09a038a2ac17ef4ecac8b/projects/crossplane/project.yaml#L7), I cannot still access documents under https://oss-fuzz.com (after 12 hours). The error message is:

[code]

Do I need to take any further steps to be able to access thes

[2022-09-08 22:23] jonathanmetzman commented on #8431
Assigning current sheriff @Navidem

[2022-09-08 22:41] jonathanmetzman opened #8449 "SystemSan (ExecSan) does not work with pyinstaller"
Try my POC https://github.com/google/oss-fuzz/pull/8443

[2022-09-09 00:27] oliverchang commented on #8431
Thanks, it looks like we're running into some quota issues on OSS-Fuzz. We'll resolve this.

[2022-09-09 05:15] oliverchang commented on #8431
@ulucinar this should work now. Could you please try again?

[2022-09-09 19:16] Navidem opened #8458 "base image builds are failing"
The error log ends in this:

[code]

[2022-09-09 22:20] ulucinar commented on #8431
Thank you very much @oliverchang! I can access now, closing this issue.

[2022-09-09 22:20] #8431 closed

[2022-09-11 16:00] jonathanmetzman opened #8468 "Centipede is bloating our image sizes."
It reinstalls clang? and adds 1.7GB to our image size, which slows down every CFL/CIFuzz user.

[2022-09-11 16:10] jonathanmetzman commented on #8468
I think it reinstalls using apt and via tar.gz and does some stuff to /usr/bin/bazel that wastes 50 MB. Might be worth making a multistage build if this won't install cleanly.

[2022-09-11 17:20] #8458 closed

[2022-09-12 12:17] jonathanmetzman commented on #8468
I'm not sure it has. It's worth looking at how much space the centipede layer is taking and if it should be reduced further.

[2022-09-12 12:35] jonathanmetzman commented on #8311
Does this suffice?

[2022-09-12 14:05] howardjohn commented on #8311
Not really. I did mean build_fuzzer not build_image, I must have gotten them mixed up.

Without a mounted cache no matter what we do to the building logic it will be slow if we have to rebuild, and a rebuild is require anytime a Go file changes which is going to be ~every time we iterate.

It's also not great to change our dockerfile since we want the logic inside our repo as a script, not in the

[2022-09-13 05:35] oliverchang commented on #8067
Unfortunately I never got around to backfilling, and given that no one else complained, I'm assuming it's not a priority at this point. Closing, unless there's any objections.

[2022-09-13 05:35] #8067 closed

[2022-09-13 12:26] asomov commented on #7769
FYI, [my PR failed](https://github.com/google/oss-fuzz/pull/8479)

[2022-09-13 13:40] nwellnhof opened #8481 "Can't log in to oss-fuzz.com with Safari/macOS"
When trying to log in to oss-fuzz.com with my Google account using Safari on macOS, I'm only seeing a box with a loading animation and nothing happens.

Safari Version 16.0 (17614.1.25.9.10, 17614)
macOS Monterey 12.6

[2022-09-13 14:36] jonathanmetzman commented on #8449
There's another issue here, python code will frequently try to execute nonexistent binaries - this is how Popen works, it tries to execute the binary at each location in the PATH

[2022-09-14 03:41] oliverchang commented on #8481
Hmm, this works for me on Chrome across various platforms. Do you see anything in the console log output?

@Alan32Liu @Navidem do any of you have a macOS device to test this?

[2022-09-14 11:08] nwellnhof commented on #8481
Here's what I see on the console:

[Info] Successfully preconnected to https://fonts.gstatic.com/
[Error] Failed to load resource: the server responded with a status of 404 () (webcomponents-lite.js.map, line 0)
[Error] Failed to load resource: the server responded with a status of 404 () (apply-shim.min.js.map, line 0)
[Error] Failed to load resource: the server responded with a status of 404 ()

[2022-09-14 12:26] Alan32Liu commented on #8481
Yep, it works on Chrome but not on Safari because of the same error.
I've tried logging in with my GitHub account and Google account, but both of them failed for the same reason.
Also tried logging in in the private/incognito mode, which did not work either.

[2022-09-14 12:30] Alan32Liu commented on #8481
I guess this relates to login failures?
Clicking on the side menu items (e.g., Testcases, Fuzzer Statistics, etc.) brought me back to the login page (to choose whether to log in with Google or GitHub account).

[2022-09-14 14:08] fmeum-ci commented on #7839
@johannes-riecken Could you try the report generation again after https://github.com/google/oss-fuzz/pull/8495 has been merged and the docker images have been updated? That PR fixes an issue with JVM coverage report generation.

[2022-09-14 20:30] nikic opened #8497 "How to disable/configure SystemSan?"
For the PHP project, we have a number of fuzzers that essentially execute arbitrary code. For those fuzzers reading arbitrary files is expected, and even writing them is only a fuzzer quality problem (we do try to blacklist such functions just to limit corruption).

Is there some way to disable SystemSan or configure it to not report certain issues?

[2022-09-15 05:30] oliverchang commented on #8497
Yes, there will be a way to configure SystemSan.

Right now we are not filing bugs automatically for such issues until we have that mechanism in place.

[2022-09-15 06:56] nikic commented on #8497
Even if not issues are filed, they still abort fuzzing. The reason why I noticed this is that I looked at fuzzer statistics and noticed a very high percentage of startup crashes caused by this. It doesn't help that the error doesn't contain a backtrace, so it's hard to figure out where the FS access comes from, if you have hundreds of places that could perform one.

[2022-09-16 02:40] oliverchang opened #8508 "infra/ci/build.py doesn't respect `run_tests`"
This lets projects opt out of bad build checks: https://github.com/google/oss-fuzz/blob/2fa71e3c7f87497dc31a9b236175c2173756fc99/infra/build/functions/build_project.py#L312

Our CI does not seem to respect this (https://github.com/google/oss-fuzz/pull/8488).

[2022-09-16 02:45] oliverchang commented on #8508
@jonathanmetzman is my understanding here correct?

[2022-09-16 04:43] oliverchang commented on #8497
That's a very good point.

We currently only enable this in 10% of all of our runs, and will be adding capabilities very soon to configure the checks to enable per target.

Does 10% still sound too high in the meantime?

[2022-09-16 06:08] johannes-riecken commented on #7839
@fmeum-ci Sure, I'll do that then and then report back here.

[2022-09-16 07:45] cmouse opened #8509 "IPv6 connectivity issues"
Hi!

It seems that the oss-fuzz framework is having some issues with IPv6 addresses. Please see https://oss-fuzz-build-logs.storage.googleapis.com/log-9495ce21-6211-4b09-894b-d3b3f6b48787.txt

Not sure what's going on here.

[code]

[2022-09-16 14:41] zoulasc opened #8513 "the build is failing for fuzzing file(1)"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51108#c1

It is missing a -lz in the link line for the fuzzer, but this is your code not mine :-)

[2022-09-16 15:13] jonathanmetzman commented on #8468
not sure this is done, let me remeasure now

[2022-09-16 21:50] jonathanmetzman commented on #8508
Yeah I think it's right

[2022-09-16 23:08] Alan32Liu commented on #8468
Cool! Let me know if there is anything I can do to help : )

[2022-09-17 18:32] DentonGentry commented on #4474
https://buildjet.com/for-github-actions also provides drop-in replacement runners with up to 32 vCPUs.

[2022-09-17 22:37] ami-GS opened #8522 "How long does run_fuzzer take?"
Hi

How long does fuzzing take?
I tried running my fuzzing program locally. the program should be enough simple.
like `$ python infra/helper.py run_fuzzer msquic fuzz`
The run doesn't finish after 12 hours.
Is there any option to finish earlier? I could not find such option in LibFuzzer official page. Or Is this expected?

setting and output is
[code]

[2022-09-18 00:35] jonathanmetzman commented on #8468
If you want to learn how I do this btw you can use https://github.com/wagoodman/dive

[2022-09-18 01:10] jonathanmetzman commented on #8522
run_fuzzer will run AFL or honggfuzz or libFuzzer. These run forever until Ctrl-Ced.
Do you know why max_len is 50? That's really low and maybe why coverage is so small (7 is nothing)

[2022-09-18 01:11] jonathanmetzman commented on #8509
I have no idea what to do about this. @oliverchang @Navidem @Alan32Liu Any ideas? I couldn't find anything about GCB having trouble with ipv6

[2022-09-18 01:13] jonathanmetzman commented on #8236
Their answer was that we can't include the code unless it is in a third_party directory.
In other words, we can't really accept these patches.

[2022-09-18 01:14] jonathanmetzman commented on #7914
I think we can't remove this.

[2022-09-18 01:14] #7914 closed

[2022-09-18 01:14] jonathanmetzman commented on #7726
I got introspector working. I think this issue can be closed.

[2022-09-18 01:14] #7726 closed

[2022-09-18 01:15] #8061 closed

[2022-09-18 01:17] jonathanmetzman commented on #7348
I don't think anything can be done about this issue anymore.

[2022-09-18 01:17] #7348 closed

[2022-09-18 01:18] jonathanmetzman commented on #7145
I think we have the test environment now: trial_builds.

[2022-09-18 01:18] #7145 closed

[2022-09-18 01:19] jonathanmetzman commented on #7023
I think we can close this issue right?

[2022-09-18 01:20] jonathanmetzman commented on #6725
I think this is done.

[2022-09-18 01:20] #6725 closed

[2022-09-18 01:22] jonathanmetzman commented on #6606
We have better testing infra now.

[2022-09-18 01:22] #6606 closed

[2022-09-18 06:04] ami-GS commented on #8522
That's why!
I thought reducing max_len could accelerate the run.
Because this test is really simple, so the coverage is always 7 even if the length is 4096.
Thanks

[2022-09-18 06:04] #8522 closed

[2022-09-18 12:04] #8273 closed

[2022-09-18 14:18] TheOneric commented on #8236
Welp, that's unfortunate, but regardless thanks for looking into this.

[2022-09-18 14:18] #8236 closed

[2022-09-18 14:37] jonathanmetzman commented on #4474
Thanks for mentioning this. Btw can you say what you use ClusterFuzzLite for? It helps me justify development and I have limited insight into who is using it right now.

[2022-09-18 15:04] DentonGentry commented on #4474
We use it in the CI for https://github.com/tailscale/tailscale, an open source VPN. We face the usual tradeoff:
- We would love to run fuzz testing even longer. It makes the code better.
- We need CI to complete quickly enough that the developer can stay on task. If it takes so long that they go work on something else while it finishes, then progress on any single project slows substantially.

We'

[2022-09-18 15:30] Dor1s commented on #2478
Hi @kobrineli

Not really. I could have the following ideas:
1) fail hard and error out once the first `MERGE: failed to parse the control file (unexpected error)` occurs. That's probably a simple fix but not sure if it's very helpful. User would need to keep track of such merge runs and do something with the fuzz targets that do so (which is the only good way to fix the root cause actually).
2) d

[2022-09-18 16:31] TheOneric opened #8526 "libass: use upstream's fuzzing consumer"
Upstream has a fuzzing consumer and dictionary since July, which could now be used instead of `projects/libass/libass_fuzzer.cc` and `projects/libass/ass.dict`. There’s also a make target specifically for use in OSS-Fuzz `make fuzz/fuzz_ossfuzz` which will the appropiate env vars etc. I’d submit a PR myself, but cannot (see #8236). The fuzzer was added in https://github.com/libass/libass/pull/622.

[2022-09-18 16:47] aravindb26 opened #8527 "BUG: RSA PRIVATE KEY Exposed publicly"
### Describe the bug
Hi team, Hope all going well :).
Sensitive Data Exposure occurs when an organization unknowingly exposes sensitive data or when a security incident leads to the accidental or unlawful destruction, loss, alteration, or unauthorized disclosure of, or access to sensitive data

### To Reproduce
### Steps to reproduce the behavior:

1. Go to https://github.com/google/oss-fuzz/blob/

[2022-09-18 19:56] bvanassche opened #8528 "Fixed issue is still open"
Issue https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40640 is still open although it has been fixed. If I navigate to https://oss-fuzz.com/testcase-detail/6008157151821824 and ask to generate the stack trace for the trunk, `No crash occurred.` appears.

[2022-09-18 21:00] bvanassche commented on #8528
Same problem for https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51529.

[2022-09-19 00:13] Alan32Liu commented on #7023
Yep, I think so, too.
I will close this now but feel free to reopen it if I missed anything : )

[2022-09-19 00:13] #7023 closed

[2022-09-19 00:15] Alan32Liu commented on #8509
Me neither... I did not recall any related info either.

[2022-09-19 00:21] #8508 closed

[2022-09-19 07:10] oliverchang commented on #8528
Looks like https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=40640 has been autoclosed now.

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51529 is something seen frequently, but not consistently reproducible. Please see the disclaimer text in the bug:

[code]

Are you able to try adding -runs=10000 or something to the reproduction command you're trying and see if it reproduces that wa

[2022-09-19 07:11] oliverchang commented on #8527
This is an intentionally public/fake private key used for testing/fuzzing purposes only.

[2022-09-19 07:11] #8527 closed

[2022-09-19 07:15] aravindb26 commented on #8527
Ok

[2022-09-19 09:00] DavidKorczynski commented on #8526
Would it make sense to move most of the logic out of oss-fuzz and up to libass such that you can submit patches whenever without CLA issues? See systemd where all build logic lives in systemd itself https://github.com/google/oss-fuzz/blob/bc079ae27d60a545ce04bfbe2b673e538ffc5917/projects/systemd/build.sh#L18 This might be nice if you have troubles with the CLA

[2022-09-19 18:14] nikic commented on #8497
It turns out that the "arbitrary file open" was caused by an rpath being set, which resulted in attempts to load libraries like `/ORIGIN/lib/glibcs...`, which meant that all our fuzzers were crashing in 10% of runs. After dropping the (no longer used) rpath, the situation looks better, in that it only affects the "arbitrary code execution" fuzzers now, and the percentage is less than 10%. So I thi

[2022-09-19 23:00] jonathanmetzman commented on #8311
Now that I think of it, I think you can mount a local repo: https://google.github.io/oss-fuzz/advanced-topics/reproducing/#reproduce-using-local-source-checkout

[2022-09-19 23:05] jonathanmetzman commented on #8509
It happens to me locally. I think docker must be configured to support ipv6? https://docs.docker.com/config/daemon/ipv6/

[2022-09-19 23:15] jonathanmetzman commented on #8509
I'm struggling to get ipv6 working with docker locally, hmmm

[2022-09-20 03:48] cmouse commented on #8509
You need to give docker daemon something like `--fixed-ipv6-cidr=ffdf:1234:1234::/64`

[2022-09-20 17:10] TheOneric commented on #8526
hmm... I guess we'd need two shellscripts, one for Docker image creation *(since we need to do more than just clone libass)* and one for actually building *(which could replace `make fuzz/fuzz_ossfuzz`)*. And judging by the systemd example, `*options` was also put in the upstream repo?
This would indeed make things easiest for me personally, but it also does put multiple files into the main libass

[2022-09-20 17:37] #8241 closed

[2022-09-20 20:09] howardjohn commented on #8311
That allows mapping the source to a specific location; the request would be to allow adding arbitrary mounts in https://github.com/google/oss-fuzz/blob/2fa71e3c7f87497dc31a9b236175c2173756fc99/infra/helper.py#L700

In this specific case (or probably all Go fuzzers, really) this would end up looking like:

[code]

This could be an `--extra-mounts` flag, an env var, or even built-in logic for the tw

[2022-09-21 08:56] cpq opened #8549 "Update mongoose fuzzer"
https://github.com/google/oss-fuzz/blob/2757ed6601544a59c8b386161beac0fe535ff79a/projects/mongoose/build.sh#L18

Please change this line to:

[code]

Motivation:

We'd like to fuzz more things in the mongoose library - specifically, its built-in TCP/IP stack.
That requires access to private functions, thus fuzz.c was changes to `#include "mongoose.c"` and all required preprocessor definition are e

[2022-09-21 09:13] johannes-riecken commented on #7839
@fmeum-ci The upload still doesn't happen. In the [storage repo](https://github.com/johannes-riecken/java-example-storage/tree/gh-pages), there's only a commit with the logs to the gh-pages branch, but no corpus or coverage info is getting uploaded. I've added you to my two repos where you could make all the changes you want as it's just for testing how to make coverage work. [Here](https://github

[2022-09-21 12:38] kobrineli commented on #2478
Hi @Dor1s

By the way, we've solved the problem. The problem was in the name of one of the files from corpus. The corpus was generated automatically by script and for some reasons the file was named `insn-riscv32.s.cs_issues '$'\n'`. Once we removed this file, merge ended successfully. Also we tried just to rename that file and merge ended successfully as well :)

[2022-09-22 02:22] mzs555557 opened #8559 "/usr/bin/ld: /usr/bin/ld: DWARF error: invalid or unhandled FORM value: 0x25"
when I run `sudo python3 infra/helper.py build_fuzzers --sanitizer undefined --engine libfuzzer xpdf` it has error

[code]
how can I fix it :(?

[2022-09-22 02:30] #8559 closed

[2022-09-22 14:38] jonathanmetzman opened #8565 "Getting a lot of "<Project> not found in datastore" issues"
https://pantheon.corp.google.com/errors/detail/CIWG-ZGdo_fuHg?project=oss-fuzz
CC @oliverchang

[2022-09-22 14:43] jonathanmetzman opened #8566 "Getting keyerror 'centipede' issues"
https://pantheon.corp.google.com/errors/detail/COyAo6vihtnVGw;time=P7D?project=oss-fuzz
Maybe it's because we didn't deploy.

[2022-09-22 14:43] jonathanmetzman commented on #8566
CC @Alan32Liu

[2022-09-22 15:22] jonathanmetzman commented on #8566
Deployed. Let's see if this goes away

[2022-09-23 08:15] catenacyber opened #8574 "MSAN false positives from zlib"
I think this https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51600 is a MSAN false positive

Use-of-uninitialized-value : values have in fact been initialized by zlib `inflate`

Is there still the right zlib msan-compiled in the docker image ?

[2022-09-23 08:44] drott opened #8575 "Cloning from sourceware.org fails in freetype2 project"
We get failed build reports for freetype2. The build logs contain the following parts, which we believe are the reason for the error.

[code]

However, this is not reproducible locally. The sourceware.org bzip2 checkout succeeds here.

Oss-fuzz reference bug reporting the build failure:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51442#c4

The bug contains additional info on failed attem

[2022-09-23 08:45] drott commented on #8575
CC @lemzwerg @bungeman

[2022-09-25 14:09] PJK opened #8588 "Github workflow hanging in clusterfuzz?"
I started seeing consistent repeated GH fuzzing workflow timeouts on https://github.com/PJK/libcbor caused by `google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master` overrunning `fuzz-seconds`, starting around September 23rd 2022.

Looking at the log, it seems that clusterfuzz is stuck waiting on input (??)

[code]

- Workflow config: https://github.com/PJK/libcbor/blob/e87d5714e69214f187db225f2

[2022-09-25 19:26] jonathanmetzman commented on #8574
Ah yeah we're not compiling zlib with msan.

[2022-09-25 19:27] jonathanmetzman commented on #8574
I think I fixed this: https://github.com/google/oss-fuzz/commit/08e3cd017586d6f3877204168cfcc54e0cc9f350 by getting rid of msan again

[2022-09-25 19:28] jonathanmetzman commented on #8588
Thanks for this report. Sorry but I have to be offline until the middle of this week but I can take a look after that

[2022-09-26 01:20] oliverchang commented on #8565
I think this is GitHub API rate limiting. Let met see what we can do to mitigate these.

[2022-09-26 06:43] catenacyber commented on #8574
Could we compile zlib with MSAN again ?
Or is MSAN support getting dropped anyways ?

[2022-09-26 07:46] #8565 closed

[2022-09-26 19:31] TheOneric opened #8598 "Unable to reproduce following instructions from google.github.io"
For a while now OSS-Fuzz reports a memory leak related to fontconfig for libass, which we cannot reproduce locally — even following the official reproduction steps using OSS-Fuzz’ containers. This and local builds now failing to build entirely made me wonder if there are any differences between the local reproduction containers and the ones doing the fuzzing on OSS-Fuzz servers. Details follow.

T

[2022-09-26 23:15] DavidKorczynski opened #8601 "Honggfuzz netdriver missing right kernel params on OSS-Fuzz runs"
Honggfuzz netdriver is missing some permissions which is stopping it from running: https://oss-fuzz-build-logs.storage.googleapis.com/log-5ec7f249-8a59-4bea-857a-d4895dc7890e.txt

[code]

From https://github.com/google/honggfuzz/issues/242#issuecomment-456912399 a suggested solutions is: `sysctl -w kernel.unprivileged_userns_clone=1`

Am not entirely sure about the kernel parameters on the machine

[2022-09-27 12:36] catenacyber commented on #8497
By the way, this false positive should be fixed by https://github.com/google/oss-fuzz/pull/8562 which just got merged

[2022-09-27 19:45] szhorvat opened #8610 "Is it possible to control ASAN_OPTIONS?"
I am wondering if it is possible to control `ASAN_OPTIONS` per project, and what options OSS-fuzz uses by default.

In particular, I would like to know if `detect_stack_use_after_return` is enabled. The igraph project has a real risk of introducing such a bug, so it would make sense to enable this sanitizer if it isn't already.

[2022-09-27 23:46] jonathanmetzman commented on #8574
Yeah you can compile zlib with msan, but we won't do this in the base-builder image anymore. MSAN support is not being dropped.

[2022-09-27 23:46] #8574 closed

[2022-09-28 09:47] catenacyber commented on #8574
Ok, so I created https://github.com/google/oss-fuzz/pull/8614 to re-enable MSAN

Disabling it did not close the bugs.chromium.org issues ;-) like https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51600

[2022-09-28 18:38] jonathanmetzman opened #8625 "Introspector should use a different image name than gcr.io/oss-fuzz-base/base-builder:introspector"
I think the current usage is deceptive and basically unlike normal usage of the tag part of a docker image name. It's also problematic for people looking at old images (i.e. me when I need to pin a project to an old image and this script from fuzzbench https://github.com/google/fuzzbench/blob/master/benchmarks/oss_fuzz_benchmark_integration.py) since once a new introspector image is tag, the old o

[2022-09-28 18:41] jonathanmetzman commented on #8625
Can we just merge the introspector image with the main image? Can the patch we apply for introspector do nothing unless certain flags are passed so we can apply it to our normal build?

[2022-09-28 23:00] Navidem commented on #8625
The main factor for having separate images for introspector is the customized clang to load LTO pass. That said, I believe we are guarding introspector pass load with an env variable. Testing with it in #8628.

[2022-09-29 01:32] marka63 commented on #8481
Same behaviour with Safari Version 16.0 (16614.1.25.9.10, 16614) on BigSur 11.7

[2022-09-29 06:54] caolanm opened #8629 "libreoffice builds failure at link: ld.gold: internal error in read_header_prolog"
recent libreoffice builds are failing with:

/usr/bin/ld.gold: internal error in read_header_prolog, at ../../gold/dwarf_reader.cc:1678

which isn't something I've seen happen before. Any recent toolchain changes?

https://oss-fuzz-build-logs.storage.googleapis.com/log-167cddd9-b6ab-42a3-bc59-b787c25f4f97.txt

[2022-09-30 00:00] evverx commented on #8625
Looks like it should address https://github.com/ossf/fuzz-introspector/issues/483 as well

[2022-09-30 08:40] MarcoFalke commented on #8309
Looks like there are still two zombie tasks eating CPUs:
* https://oss-fuzz.com/testcase-detail/5511973160222720
* https://oss-fuzz.com/testcase-detail/6716393216671744

[2022-09-30 10:39] oliverchang commented on #8309
The latest "minimze task" ones are all from 08-31. The "Progression task" ones are expected to be re-done daily. This seems WAI.

[2022-09-30 15:44] bungeman commented on #8575
This was worked around with https://github.com/freetype/freetype2-testing/pull/133 where the bzip2 submodule was updated to current HEAD. It isn't entirely clear why this alleviated the issue though.

[2022-09-30 16:50] rouault opened #8647 "cifuzz doesn't work with proj (proj4)"
In https://github.com/OSGeo/PROJ/pull/3357, I've attempted to integrate cifuzz with PROJ and it fails in https://github.com/OSGeo/PROJ/actions/runs/3160253903/jobs/5144488915 with
[code]
I'm wondering if it doesn't come from the fact that the ossfuzz project name is "proj4" (https://github.com/google/oss-fuzz/tree/master/projects/proj4) whereas the github repository is https://github.com/OSGeo/PRO

[2022-10-01 08:18] mzs555557 opened #8650 "i run `./build.sh` in docker,it has error ,the project is xpdf"
when i run `./build.sh` in docker, it has error, i don't change anything and `apt-get install libharfbuzz-dev` doesn't work, how can i solve it :(

[code]

[2022-10-01 08:44] cpq commented on #8549
The build is still failing - see
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51349&sort=-opened&can=1&q=proj%3Amongoose

And I am unable to reproduce it by following
https://google.github.io/oss-fuzz/advanced-topics/reproducing/#reproducing-build-failures

Maybe this is because I am using MacOS M1 workstation. Could you give a hint on how to fix it please?

[2022-10-01 10:20] DavidKorczynski commented on #8549
This build failure only happens for Honggfuzz builds. The failure happens because the new netdriver fuzzer requires permissions the docker containers does not have. The issue is tracked https://github.com/google/oss-fuzz/issues/8601

To clarify: libFuzzer and AFL++ builds are working and the fuzzers are running. Note also the following issue was found and fixed after this particular build started

[2022-10-01 10:24] DavidKorczynski commented on #8650
`build.sh` is not meant to be run by executing it directly. The `build.sh` script is run from the `compile` script: https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-builder/compile

If you get a shell in the container using `infra/helper.py shell xpdf` then you can build the fuzzers by running `compile` as the first command once you enter the container.

[2022-10-01 12:03] mzs555557 commented on #8650
ok, thank you so much :)

[2022-10-01 12:03] #8650 closed

[2022-10-01 20:52] garyemiller opened #8657 "Bad CSS design"
Light gray text on medium blue background?   Seriously?  Us old folks need some contrast!

The only way I can read this page is to zoom in a lot:

https://oss-fuzz.com/testcase-detail/5379656203501568

[2022-10-01 20:55] garyemiller opened #8658 "False Positives"
How do I mark a result as a false positive.  For example this one:

https://oss-fuzz.com/testcase-detail/5379656203501568

Calling an integer overflow a crash is just wrong.  And the whole point of generating a checksum is to use integer overflows!

[2022-10-01 21:07] garyemiller opened #8659 "Issue access?"
I'm getting emails about issues, told to go here:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52047

But I get "permission denied".

It says to ask a member for access, but when I try to find a member:

https://bugs.chromium.org/p/oss-fuzz/people/list

I get "permission denied".

Why send me links I can't use?

Why is there no button to ask for access??

[2022-10-02 07:40] cpq commented on #8549
@DavidKorczynski thank you!

A probably unrelated question - why C++ is used to build a fuzzer, not C? I switched Mongoose's make target to C and it appears to work just fine.

[2022-10-02 17:00] DavidKorczynski commented on #8549
Thanks @cpq !

I think using CXX is more of a historical mistake -- we could change it to C and all should work. There is no reason from OSS-Fuzz's perspective to use CXX rather than CC. Am happy to leave it as is since it works, but if you'd like me to change it then I'm happy to.

[2022-10-03 22:09] garyemiller opened #8666 "Issue 52037 is also a false positive"
How do I mark false positives?  This one, 53037, is also a false positive.  The fuzzer is calling an internal function that is called only after the inputs have been sanitized.  So to complain that the inputs are not checked for sanity is a false positive.

[2022-10-04 05:31] oliverchang commented on #8659
Hi there,

You should have access via the emails listed on https://github.com/google/oss-fuzz/blob/master/projects/gpsd/project.yaml. You need to make sure you login via one of these emails.

Given #8658 though, does that mean you managed to get access in the end?

[2022-10-04 05:33] oliverchang commented on #8658
Hi there,

Thanks for raising this issue. Signed integer overflow is undefined behaviour (unlike unsigned integer overflow). Please see https://www.gnu.org/software/autoconf/manual/autoconf-2.63/html_node/Integer-Overflow-Basics.html

If you still disagree with this, we are happy to disable this check completely.

Thanks for filing an issue!

[2022-10-04 05:35] oliverchang commented on #8666
Thanks for letting us know about this, and sorry for the noise!

@0x34d can you please fix this?

[2022-10-04 05:36] oliverchang commented on #8657
Sorry about that. I'll move this to the ClusterFuzz issue tracker.

[2022-10-04 05:36] garyemiller commented on #8659
Been there, done that.

Nothing has changed.

[2022-10-04 05:37] garyemiller commented on #8659
I have access to the github pages, not to the bugs.google pages:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52047

[2022-10-04 05:38] oliverchang commented on #8566
Looks gone.

[2022-10-04 05:38] #8566 closed

[2022-10-04 05:38] oliverchang commented on #8528
Closing as stale, please let us know if there's anything else we can help investigate.

[2022-10-04 05:38] #8528 closed

[2022-10-04 05:39] garyemiller commented on #8658
Signed integer overflow is most certainly NOT undefined behavior.  If it were then every checksum code in existence would be undefined.  40 years of experience says otherwise.

[2022-10-04 05:41] 0x34d commented on #8666
Alright, let me check.

[2022-10-04 05:42] oliverchang commented on #8659
That's very strange. Which email are you using to login to that page? If it's one of the ones listed in https://github.com/google/oss-fuzz/blob/master/projects/gpsd/project.yaml, are there any other emails associated with the Google account?

[2022-10-04 05:43] oliverchang commented on #8658
OK, we'll disable this check for gpsd. I opened https://github.com/google/oss-fuzz/pull/8668 for this.

[2022-10-04 05:43] garyemiller commented on #8658
From C99, page 34:

" A computation involving unsigned operands can never overflow,
because a result that cannot be represented by the resulting unsigned integer type is reduced modulo the number that is one greater than the largest value that can be represented by the resulting type."

[2022-10-04 05:45] garyemiller commented on #8658
There will a lot of code the uses this C99 (and higher) behavior.  You need a way for users to makr these false positives.

[2022-10-04 05:46] oliverchang commented on #8658
Thanks, but the text you quoted applies to **unsigned integers** only. This does not apply to **signed** integers.

Please see https://www.gnu.org/software/autoconf/manual/autoconf-2.63/html_node/Integer-Overflow-Basics.html:

"In contrast, the C standard says that signed integer overflow leads to undefined behavior where a program can do anything, including dumping core or overrunning a buffer. T

[2022-10-04 05:46] garyemiller commented on #8658
Note the false positive is for UNSIGNED, not signed, integers.

[2022-10-04 05:47] garyemiller commented on #8658
Here is the code:

[code]

[2022-10-04 05:49] oliverchang commented on #8658
I see this line here is the (alleged) offending line:

https://gitlab.com/gpsd/gpsd/-/blob/1df61193e94b8d09537272a256ce19eefffa4257/gpsd/packet.c#L2650

I don't remember all my C integer promotion rules, but I think what's happening here is that because `csum` is `uint16_t`, and you're adding the constant `1` which is of type `int` to it, the result actually ends up being an `int` which is signed.

[2022-10-04 05:52] oliverchang commented on #8658
https://wiki.sei.cmu.edu/confluence/display/c/INT02-C.+Understand+integer+conversion+rules has a summary of some of these weird C integer promotion rules that seem to apply here:

"Integer types smaller than int are promoted when an operation is performed on them. If all values of the original type can be represented as an int, the value of the smaller type is converted to an int; otherwise, it is

[2022-10-04 05:59] garyemiller commented on #8658
Unsigned is never promoted to signed.

[2022-10-04 06:02] garyemiller commented on #8658
As your text clearly says: "If all values of the original type can be represented as an int, the value of the smaller type is converted to an int; otherwise, it is converted to an unsigned int. "

"othersiwe...unsigned int".  Thus overflow is defined.

[2022-10-04 06:03] garyemiller commented on #8658
"Note this check is coming from a well established Clang sanitizer (https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html), so I would be very surprised if this was wrong."

I find bugs inn 20 year old code all the time.  Note that gdb has known 20 year old, unfied, bugs.

[2022-10-04 06:13] oliverchang commented on #8658
But an uint16_t can be "represented as an int"... because the set of valid values for `uint16_t` (an unsigned 16-bit integer) can be completely covered by `int` (a signed 32-bit integer).

But i'll stop trying to convince you :) We'll just go ahead and disable this if you're not interested.

[2022-10-04 06:14] #8658 closed

[2022-10-04 06:22] oliverchang commented on #8601
This flag doesn't exist on our production ClusterFuzz instances:

[code]

But I think this is because this is a custom Debian flag for opting out rather than something we actually need according to https://serverfault.com/questions/939455/unprivileged-userns-clone-no-such, so this should hopefully not be an issue.

This leaves our build environment (Cloud Build), I think we're just missing '--priv

[2022-10-04 06:29] oliverchang commented on #8601
@jonathanmetzman is that the right place to change the docker run command to fix https://pantheon.corp.google.com/cloud-build/builds;region=us-central1/5ec7f249-8a59-4bea-857a-d4895dc7890e;step=13;tab=detail?project=oss-fuzz ?

[2022-10-04 06:37] oliverchang commented on #8610
Very sorry for the late reply here.

Yes, this is possible. Please see https://github.com/google/oss-fuzz/blob/bdfa1ef3d2335a5be03bda4ff88aff76c775050b/projects/ruby/fuzz_ruby_gems.options for an example.

This just needs to be output next to the fuzz target binary in `$OUT`.

By default, `detect_stack_use_after_return` is enabled. The full list is here: https://github.com/google/oss-fuzz/blob/a4c

[2022-10-04 06:37] #8610 closed

[2022-10-04 06:38] oliverchang commented on #8629
Not sure we're familiar with this one unfortunately. @jonathanmetzman have you seen this before?

[2022-10-04 06:39] oliverchang commented on #8647
@jonathanmetzman can you please take a look?

[2022-10-04 07:32] garyemiller commented on #8658
If the uint16_t gets promoted to an in32, then there is no possible overflow.

But in this case, it is an uint32_t.

Nothing to do with "convincing", all to do with C99 compliant behavior.

For everyone, please, not just for gpsd.  This sort of checksum code is all over.

The C99 standard is clear here.  Unsigned int math overflow is well defined, and unsigned ints are NEVER promoted to ints.  As

[2022-10-04 07:33] garyemiller commented on #8658
Closed?  Did you give me the way to mark false positives?  Did you fix this for all unsigned integer overflows?  I really doubt it.

[2022-10-04 07:34] garyemiller commented on #8658
Note, this was the issue:

Did you in fact tell me how to mark things as false positives?

[2022-10-04 07:39] 0x34d commented on #8666
Can you review the fix? https://github.com/google/oss-fuzz/pull/8669

[2022-10-04 07:53] 0x34d commented on #8666
My apologies regarding the false positive.

I usually look at tests provided by developers. 

Yes, it's my ignorance.
I didn't look at the implementation of functions inside the interface.

[2022-10-04 07:56] oliverchang commented on #8658
See https://stackoverflow.com/questions/56604299/why-do-unsigned-small-integers-promote-to-signed-int for an explanation of the rules re smaller unsigned types getting promoted to signed ints. Again, I won't try to change your mind again if this fails to convince you.

Apologies for not answering your original question as that got lost in our discussion, but typically if you notice a false positiv

[2022-10-04 08:04] garyemiller commented on #8666
That makes no sense to me:

[code]

[2022-10-04 08:35] 0x34d commented on #8666
Now I'm using [libgps/libgps_sock.c](https://github.com/ntpsec/gpsd/blob/master/libgps/libgps_sock.c) as my base for fixing harness bugs.

There are actually two fixes.

1.  Adding ```NULL data (0x00)``` at the end of a buffer.
2.  Prefix the first byte data as ```{ ```  Hex ```0x7b```

NOTE: The bug occurs due to not having NULL data(0x00) at the end of the buffer.

[2022-10-04 08:55] 0x34d commented on #8666
```size_t SizeFx = Size+1;```

Yes, copy the fuzzed data into a new buffer, for a NULL byte.

Well, this code is not for the end user. Usually, I ignore the standards.

The error has been corrected. https://github.com/google/oss-fuzz/pull/8669/commits/87331ed52efcd11c72e00c067b2a9feec86c095a

Yes i know that.
```libgps_json_unpack((char *)DataFx, &gpsdata, NULL);``` data is converted.

[2022-10-04 17:04] jonathanmetzman commented on #8629
Nope

[2022-10-04 18:02] garyemiller commented on #8666
No such thing.  I think you mean NUL byte.  One L, not too.

In that case, bye, bye.

[2022-10-04 18:29] garyemiller commented on #8658
How do I disable a check?  How do I disable a check for a particular issue?

Every other validation tool I have used allows me to disable particular code lines for particular checks.  How do I do that?

Which is also something I can't do.

[2022-10-04 21:39] jonathanmetzman commented on #8601
@oliverchang I think actually https://github.com/google/oss-fuzz/blob/1ab5e408e5253db7058c5050a7ee15216c078698/infra/build/functions/build_project.py#L327 makes more sense but my weird wrapping hack may mess things up (i do this for ARM so maybe we need to kill it temporarily)

[2022-10-04 21:51] jonathanmetzman commented on #8509
I still haven't gotten this working locally

[2022-10-04 21:59] oliverchang commented on #8601
Maybe we can make this a no-op (i.e. not wrap) for amd64 for now? would that work?

[2022-10-05 02:38] oliverchang opened #8678 "Support FuzzTest + libFuzzer/centipede"
FuzzTest interfaces with external engines through [LLVMFuzzerRunDriver](https://llvm.org/docs/LibFuzzer.html#using-libfuzzer-as-a-library). This is supported by all engines used in OSS-Fuzz ([libFuzzer](https://llvm.org/docs/LibFuzzer.html#using-libfuzzer-as-a-library), [Centipede](https://github.com/google/centipede/blob/c6ee177644c40f19a7175e44309a55cefae50d89/runner_interface.h#L58-L60), [AFL++

[2022-10-05 09:24] ret2libc opened #8682 "atheris bug: unable to cast python instance to C++ type"
Some projects terminate after throwing a pybind11::cast_error:
[code]

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=49764
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=49884
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=49929
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50074
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=49188
https://bugs.chromium.org/p/o

[2022-10-05 16:57] nareddyt opened #8687 "branding: OSS-fuzz logo?"
Does OSS-Fuzz have any icon or logo? If not, can we consider creating one?

Our open source project uses OSS-Fuzz and would like to reference it in architecture diagrams and presentations. It would be nice if OSS-Fuzz had some branding we can use.

Note ClusterFuzz has a nice logo: https://google.github.io/clusterfuzz/

[2022-10-06 09:56] caolanm commented on #8629
seem this might be due to duplicate symbols: https://cgit.freedesktop.org/libreoffice/core/commit/?id=658946e0353c2fad5e26bb75f851744da4b7751f

[2022-10-06 09:56] #8629 closed

[2022-10-06 13:06] jaymehta6 opened #8696 "Issue 51020"
I can not access the testcase crafted in this project of jackson-databind:ObjectReader2Fuzzer: Security exception in com.fasterxml.jackson.databind.deser.std.StdDeserializer._parseBooleanPrimitive. Please do the needful so that the testcase can be downloaded and tested in a particular jar file.

Reproducer Testcase: https://oss-fuzz.com/download?testcase_id=4650513269915648

[2022-10-06 16:22] TheShiftedBit commented on #8682
Did this just recently start happening?

[2022-10-06 17:36] jonathanmetzman commented on #8682
I think this has been going on since July.

[2022-10-06 19:29] jonathanmetzman opened #8701 "Get rid of go install in base-runner"
The go install is 500 MB and is the largest layer in base-runner. Can we get rid of it @catenacyber ? https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-runner/Dockerfile#L68
I think the main thing we will need to fix is how we invoke certain binaries like this: `go tool cover -html=fuzz.cov -o $REPORT_ROOT_DIR/index.html` instead we will need to call the binaries directly.

[2022-10-06 19:36] catenacyber commented on #8701
We can install it, compile (`go build`) go's cover tool, and then remove it.
How would that sound ?

[2022-10-06 19:40] jonathanmetzman commented on #8701
That sounds excellent. If you could do this that would be great!
I think we need pprof too right?

[2022-10-06 19:44] jonathanmetzman commented on #8701
Alternatively we can delete these directories for 330 MB of uncompressed savings:
/root/.go/src
/root/.go/test
/root/.go/api
/root/.go/misc
/root/.go/pkg/linux_amd64_race
/root/.go/pkg/linux_amd64
/root/.go/pkg/tool/linux_amd64/compile
/root/.go/pkg/linux_amd64/trace
/root/.go/pkg/linux_amd64/vet
/root/.go/pkg/linux_amd64/link
/root/.go/pkg/linux_amd64/asm
And some more binaries in /root/.go/pkg/l

[2022-10-06 19:45] jonathanmetzman commented on #8687
We don't have a logo. This is a good point. I'll bring it up to some folks when they return from vacation.

[2022-10-06 19:51] jonathanmetzman commented on #8696
Did you sign in with your google account? it should work. someone just reproduced this for me now.

[2022-10-06 20:06] catenacyber commented on #8701
Hot untested try : https://github.com/google/oss-fuzz/pull/8703

For pprof, we already have gocovmerge gocovsum and pprof-merge compiled and installed

If we need more in the future, this is just one line to add...

[2022-10-07 20:23] garyemiller opened #8715 "Issue 52040 is a false positive, similar to resolved issue 52037"
Issue 52040 is a false positive, similar to resolved issue 52037.

And I still can't access Issue

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52037#c3

[2022-10-07 20:32] garyemiller opened #8716 "Issue 52047 is a false positive, similar to resolved issue 52037"
Issue 52047 is a false positive, similar to resolved issue 52037.

There is nothing "undefined" about a left shift of unsigned integers!

I still can't access:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52047

[2022-10-10 16:01] cpq commented on #8601
Thanks everybody for looking into this.
Is there an ETA ? Our project's fuzz build is broken and is reflected on the home page; if the ETA is too far in the future, we'd like to disable the fuzzer in the mean time.

[2022-10-10 16:21] DavidKorczynski commented on #8601
I'll disable it for now until we have a fix!

Apologies for the inconvenience!

Fixed in: https://github.com/google/oss-fuzz/pull/8735

[2022-10-10 16:26] DavidKorczynski commented on #8715
@0x34d Can you please assist here?

[2022-10-10 16:26] DavidKorczynski commented on #8716
@0x34d Can you please assist here?

[2022-10-10 17:39] cpq commented on #8601
@DavidKorczynski thank you, appreciate your attention!

[2022-10-10 18:04] #7634 closed

[2022-10-11 01:07] 0x34d commented on #8715
The issue was created by UBSAN,
UBSAN is removed https://github.com/google/oss-fuzz/pull/8668

[2022-10-11 01:07] 0x34d commented on #8716
The issue was created by UBSAN,
UBSAN is removed https://github.com/google/oss-fuzz/pull/8668

[2022-10-11 03:20] 0x34d commented on #8715
I believe this is a sanitizer bug. https://github.com/google/sanitizers/issues/1580

[2022-10-11 06:59] autofuzzoss opened #8739 "Suggest fuzzer for XML_Parse() and XML_GetCurrentLineNumber()."
I suggest this fuzzer for continuous vulnerability checks.

[code]

[2022-10-11 08:27] #8739 closed

[2022-10-11 10:39] DavidKorczynski commented on #8716
Thanks, closing because of this.

[2022-10-11 10:39] DavidKorczynski commented on #8715
Thanks, closing because of this.

[2022-10-11 10:39] #8715 closed

[2022-10-11 19:33] garyemiller commented on #8716
Yo DavidKorczynski!

What does this mean: "UBSAN revoved"?

Why is ***@***.*** not Cc:ed?

On Tue, 11 Oct 2022 03:39:27 -0700
DavidKorczynski ***@***.***> wrote:

RGDS
GARY
---------------------------------------------------------------------------
Gary E. Miller Rellim 109 NW Wilmington Ave., Suite E, Bend, OR 97703
	***@***.***  Tel:+1 541 382 8588

	    Veritas liberabit vos. -- Quid est verita

[2022-10-11 21:04] DavidKorczynski commented on #8716
UBSAN removed means that undefined behavior sanitizer is no longer enabled for the project.

OSS-Fuzz builds each project with several different sanitizers:
- [Address sanitizer (ASAN)](https://clang.llvm.org/docs/AddressSanitizer.html)
- [Undefined behavior sanitizer (UBSAN)][https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html]
- [Memory sanitizer (MSAN)](https://clang.llvm.org/docs/Memor

[2022-10-11 21:09] DavidKorczynski commented on #8716
@garyemiller I think the issue access is being tracked in https://github.com/google/oss-fuzz/issues/8659#issuecomment-1266423404

Notice in particular what Oliver mentions "are there any other emails associated with the Google account?" --> this is relevant because the email in the `project.yaml` has to be the primary email of the Google account you're using to login

[2022-10-12 03:42] garyemiller commented on #8716
Yo DavidKorczynski!

On Tue, 11 Oct 2022 14:04:56 -0700
DavidKorczynski ***@***.***> wrote:

Well, I certainly do not want UBSAN removed!

We'll see how they work, not good so far...

Why is ***@***.*** not Cc:ed?

RGDS
GARY
---------------------------------------------------------------------------
Gary E. Miller Rellim 109 NW Wilmington Ave., Suite E, Bend, OR 97703
	***@***.***  Tel:+1 541 382

[2022-10-12 10:07] gthess opened #8748 "Issue 52170 in oss-fuzz: unbound: Fuzzing build failure"
Hello,
Recently we introduced extra functionality to Unbound and that resulted in new source files (https://github.com/NLnetLabs/unbound/pull/760).
This breaks the unbound build here because of the contents of /projects/unbound/build.sh.
A proposed diff to fix this is:
[code]
(I also updated the contact list at the same time)

This is just a friendly notice to make you aware of the change upstream

[2022-10-12 10:18] DavidKorczynski commented on #8716
UBSAN was removed because of this comment I believe https://github.com/google/oss-fuzz/pull/8668#issuecomment-1267322330 stating gpsd's preference is no false positives. I can put it back on -- let me know if you'd like me to do this. That said, I can see from https://github.com/google/oss-fuzz/issues/8658 the original query is actually to get the ability to mark issues as false positive / wontfix

[2022-10-12 10:28] DavidKorczynski commented on #8658
I think the best that can be done in terms of controlling things here is configure UBSAN how to handle errors, similar to how libxslt does:

https://github.com/google/oss-fuzz/blob/bfc44b8bc226af526160d9323aefab63700d85bb/projects/libxslt/build.sh#L19-L22

Thus, to do this you have to modify the `gspd` build script https://github.com/google/oss-fuzz/blob/master/projects/gpsd/build.sh to include es

[2022-10-12 10:51] #8748 closed

[2022-10-12 18:40] AdamKorcz commented on #8696
Only emails here can access the issue: https://github.com/google/oss-fuzz/blob/master/projects/jackson-databind/project.yaml. It looks like your email is not on the list so I am closing. If it is, feel free to reopen the issue.

[2022-10-12 18:40] #8696 closed

[2022-10-12 18:56] jonathanmetzman commented on #8701
Fixed.

[2022-10-12 18:56] #8701 closed

[2022-10-12 20:09] garyemiller commented on #8658
There seem to be a few misunderstandings here, and we are not converging.

I have control of this projects code.

That would be a global change.

I don't want to "suppress the signed integer overflow check".  I see that when it works, it is useful.  The problem is two fold:

1) it throws false positives.

2) it can not be disabled for particular lines of code.  Codacy allows me to disallow specifi

[2022-10-12 20:18] garyemiller commented on #8716
Yes, we want no false positives, but that should not require turning off 1/3 of the checks.

What I would like is the false positive fixed and the ability to mark problems as false positives.  Covery, Codacy, pycodestyle, etc. all allow me to mark individual lines in code as false positives.  Why not this project?

[2022-10-12 22:00] jonathanmetzman commented on #8647
Sorry for the delayed reply. yeah I think this is a problem. Let me take a look tomorrow.

[2022-10-13 13:09] cpq commented on #8601
@DavidKorczynski thank you, appreciated!

[2022-10-13 18:24] cgzones opened #8768 "[SELinux] CIfuzz failures (Detected bug.)"
Since two weeks the CIfuzz job for the SELinux userspace repository is failing: https://github.com/SELinuxProject/selinux/actions/workflows/cifuzz.yml
There have been no CI related changes in that time frame.

Example failed run: https://github.com/SELinuxProject/selinux/actions/runs/3243631573/jobs/5318627034

Tail:
[code]

It seems not related to that specific fuzzer, e.g. from https://github.co

[2022-10-13 20:14] jonathanmetzman commented on #8647
Taking a look at this: https://github.com/jonathanmetzman/PROJ/actions/runs/3245385308/jobs/5322858506

[2022-10-13 23:32] jonathanmetzman commented on #8768
Do you mind if I open a PR on your repo to debug this?

[2022-10-14 10:51] jonathanmetzman opened #8774 "Make results from trial builds more prominent"
1. It would be nice if trial builds reported on the comment what went wrong, rather than just complaining something went wrong.
2. If trial builds posted the logs to some publically accessible place, it would make the lives of maintainers easier when testing third party patches (we wouldn't need to do this for example: https://github.com/google/oss-fuzz/pull/8736)

[2022-10-15 11:02] evverx commented on #8768
@cgzones looking at `Reproduce command returned: 0` my guess would be that CIFuzz seems to fail to stop the fuzz targets properly (which looks a lot like https://github.com/google/clusterfuzz/pull/2471). If it's too annoying I think [`report-unreproducible-crashes`](https://github.com/SELinuxProject/selinux/blob/3f11c7d19c449996d7c34190d6aa74220b104779/.github/workflows/cifuzz.yml#L33) can be set

[2022-10-15 18:47] savcI5-gejhar-huqjex opened #8785 "V"

[2022-10-15 18:54] savcI5-gejhar-huqjex commented on #8785
#- - [ ] [_@_]()

[2022-10-15 19:04] #8785 closed

[2022-10-15 19:38] danielrh opened #8787 "Making small changes requires a 200 megabyte download from crates.io each time"
When I try running
`python3 infra/helper.py build_fuzzers --sanitizer address rust-brotli /path/to/rust-brotli`

it executes:
[code]
This puts undue burden on my network and the rust infrastructure to try to reproduce a problem with changes.
Improving the compile/eval/debug cycle could dramatically improve author engagement.

[2022-10-15 19:40] danielrh opened #8788 "Instructions for how to run fuzzing results under rr"
The reversible debugger ( https://en.wikipedia.org/wiki/Rr_(debugging)#:~:text=In%20computing%2C%20rr%20is%20a,on%20commodity%20hardware%20and%20software. ) provides deep insight into what happened during a trace.
It would save hours of time to run a test case under rr then be able to inspect the program's execution trace after the crash.

Can you tell me how to run a rust repro under rr and also

[2022-10-15 19:48] danielrh opened #8789 "Make the input to the test case easy to view"
When receiving an error report I didn't know what the test case was nor what the input to the test case was.
By attaching to the docker image I was able to cat the test case, in this case
[code]
but I didn't know how to get the data.
I had to edit the test case manually to add a printout
[code]
and overwrite the code

then I learned that the input was simply which was causing a panic instead of re

[2022-10-15 19:51] danielrh commented on #8789
an alternate approach here might be directions on how to read the clusterfuzz-testcase-minimized-decompress files
in this case, in hindsight, I can see the input was (in hex)
20 20 FF
I assume this is probably some sort of binary encoding of the inputs to the test case.

Providing a decoder for that (or having it something readable like cbor, json or yaml) may make it so that users can immediately

[2022-10-15 20:54] savcI5-gejhar-huqjex commented on #8785
Hallo

[2022-10-16 22:24] rouault commented on #8647
I confirm ci-fuzz now works on PROJ. thanks!

[2022-10-16 22:24] #8647 closed

[2022-10-17 09:09] vincentgoat opened #8792 "run fuzzer failed and upload Crash error"
When we run CI-Fuzz in KubeEdge project and we got the errors `Bug found. Stopping fuzzing` without call stack, more details here: https://github.com/kubeedge/kubeedge/actions/runs/3263101307/jobs/5361314140

This issue occurs frequently, but sometimes retries succeed, that's tricky. Can you help me to fix it?
cc @AdamKorcz @DavidKorczynski

[2022-10-17 09:39] AdamKorcz commented on #8792
@jonathanmetzman Is this something you have seen before in CIFuzz?

The CIFuzz `.yaml` is here: https://github.com/kubeedge/kubeedge/blob/master/.github/workflows/cifuzz.yml

[2022-10-17 10:02] 0x34d opened #8794 "Build fail in subdir"
[code]

[2022-10-17 10:24] #8794 closed

[2022-10-17 19:34] DavidKorczynski commented on #8787
@code-terror is this due to the set up of the fuzzers, i.e. it's build in a container where all is pulled? In this context, would it make sense to upstream the fuzzers so maintainers can build without pulling everything from within the docker environment?

[2022-10-17 21:40] Alan32Liu commented on #8788
Requesting help from @jonathanmetzman, who knows this much better than I do.

[2022-10-17 21:40] Alan32Liu commented on #8789
Thanks for the suggestions, we are discussing this feature : )

[2022-10-18 00:51] code-terror commented on #8787
@danielrh @DavidKorczynski This integration builds from the fuzzing harness from oss-fuzz project rather than the upstream fuzzing harness. I can push the fuzzing harness upstream as well. So you can build locally with the packages offline. Would that be a likely solution @danielrh ?

[2022-10-18 02:05] code-terror opened #8804 "Rust Honggfuzz build issue"
Trying to integrate polkadot. Using the gcr.io/oss-fuzz-base/base-builder-rust(https://github.com/google/oss-fuzz/pull/8798) the builds fails.

whereas building locally with a simple dockerfile, the build passes. Are the automated pre-building scripts affecting the untouched ubuntu images, affecting the build? Can I use other docker images rather than oss-fuzz-base docker images? or can I review t

[2022-10-19 20:10] jvoisin opened #8818 "Add the possibility to run binaries instead of libfuzzer harnesses"
Some software (like `tar`, `jq`, `vim`, ...) are ~~too cursed~~ not designed as a library and thus can't easily (or even at all) be shoehorned into a libfuzzer harness, yet are not only used a lot but are prime targets of some [popular exploit acquisition programs]( https://zerodium.com/program.html ).

It would be nice to be able to fuzz them :)

[2022-10-19 23:08] jonathanmetzman commented on #8818
Related #5902

[2022-10-19 23:10] jonathanmetzman commented on #8788
I've never used rr before so I don't have much useful to say. You can get a shell with gdb to debug using these instructions: https://google.github.io/oss-fuzz/advanced-topics/debugging/ maybe you can install rr there? I think we'd accept a patch installing rr if you could contribute it (i can tell you exactly where to do this)

[2022-10-19 23:11] jonathanmetzman commented on #8792
Actually this looks similar to #8768

[2022-10-20 14:58] jonathanmetzman commented on #8818
David, is there a PR on the CF side? Or do I need to implement this?

[2022-10-20 15:07] DavidKorczynski commented on #8818
Yes -- I'll fix the issues in the PR and get that ready for merge on the OSS-Fuzz side.

[2022-10-20 15:23] jonathanmetzman commented on #8804
No. Please don't do this.

Do you mean you want to fix our images so that honggfuzz works with rust?

[2022-10-20 19:32] jonathanmetzman commented on #8804
You can edit this file: https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-builder/install_rust.sh
then rebuild base-builder and base-builder-rust, then build a project.
[code]

[2022-10-20 19:44] LibRaw opened #8828 "How do we access oss-fuzz found bugs?"
This one, for example: https://github.com/LibRaw/LibRaw/issues/496

the https://oss-fuzz.com/testcase-detail/6381559087497216 refuses access (via github auth):

You (email=info@libraw.org) are not authorized to access this page!

Please contact the maintainers by filing a new issue on https://github.com/google/oss-fuzz.

[2022-10-21 10:07] DavidKorczynski commented on #8828
This should be addressed in https://github.com/google/oss-fuzz/pull/8830

Note the caveat here https://github.com/google/oss-fuzz/pull/8830#issuecomment-1286692421

[2022-10-21 14:42] DavidKorczynski commented on #8828
Closing this as it seems resolved https://github.com/google/oss-fuzz/pull/8830#issuecomment-1286973116

[2022-10-21 14:42] #8828 closed

[2022-10-23 11:10] Themanwithoutaplan opened #8837 "Trouble reproducing errors for python/openpyxl"
I have set up a local environment according to the instructions but I'm having trouble reproducing the bugs. For example:

[code]
Returns
[code]

What does this mean? The testcase looks like a binary file so isn't much help. Maybe I've downloaded the wrong thing.

Based on testcase detail, I think I understand the problem. Not sure whether it really needs fixing as exceptions when reading files wi

[2022-10-23 13:53] cmeister2 opened #8839 "curl: Step #6: zip error: Invalid command arguments (short option '' not supported)"
The curl builds have been failing recently (https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52458) with the final error lines:

[code]

However I can't repro any failure like this locally. What's going on here?

[2022-10-23 20:19] DavidKorczynski commented on #8837
This issue issue is marked as "Fixed": https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=48506

The reason it's marked as fixed is because we interpreted the issue to be a false positive and changed the layout of the fuzzer in https://github.com/google/oss-fuzz/pull/8616

The list of issues that are open can be tracked on oss-fuzz.com or by way of this link https://bugs.chromium.org/p/oss-fuzz

[2022-10-24 02:04] oliverchang commented on #8682
@TheShiftedBit any ideas on what's going wrong here?

@DavidKorczynski @AdamKorcz as well in case you have any ideas there.

[2022-10-24 02:23] TheShiftedBit commented on #8682
Hi, I'm sorry, I've been really busy. I'll investigate tomorrow

On Sun, Oct 23, 2022, 10:04 PM Oliver Chang ***@***.***>
wrote:

[2022-10-24 02:57] TheOneric commented on #8598
Update: after pulling the latest cahnges from oss-fuzz' repo, I can build the fuzzers with OSS-Fuzz' containers again.
As before, the supposed leak from [sample #48174](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=48174&q=label%3AProj-libass) does not occur locally even using the official instructions with `python3 infra/helper.py build_fuzzers --sanitizer address libass` and `python3 inf

[2022-10-24 15:31] Themanwithoutaplan commented on #8837
Thanks for the explanation. I figured that out a bit later once I was able to reproduce an error on another issue. Still trying to get used to this.

[2022-10-24 16:13] TheShiftedBit commented on #8682
Some updates.
I can reproduce inside of the oss-fuzz container, but not running the script normally. That means this might be related to PyInstaller.
I added the compile flag that pybind11 suggested; the error is:
[code]
Which is just weird.

[2022-10-24 19:42] TheShiftedBit commented on #8682
I have found a bug pybind11.

In older versions, this presents as Pybind11 replacing the original exception with `RuntimeError: Unable to extract string contents! (encoding issue)`. This is at least descriptive, but it completely replaces the original exception with that message, making it impossible to determine the original exception. Furthermore, the replacement happened during the Python->C++

[2022-10-24 21:18] nikitamikhaylov opened #8846 "Using ccache for speeding up the build"
Hi, team! I'm wondering whether is it possible or relevant to add support for using persistent `ccache` for building C++ fuzzers? It can be added both to the `/infra/helper.py` and your actions for CIFuzz. Reason - it should significantly speed up rebuilding binaries for each PR because they are not changed so often. For example in ClickHouse CI we store the internals of `ccache` directory on S3,

[2022-10-25 13:59] ret2libc opened #8850 "OOM in Python-based projects do not show enough info"
Examples:
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=47038
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=47485
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=47479

I believe there are missing information in OOM traces on oss-fuzz. The testcase shows that there is too much memory occupied and by which allocations, however the stack trace that identifies those allocations

[2022-10-25 18:39] jonathanmetzman commented on #8839
I assume the fuzzers are writing some junk files to their /out directory and this can't be zipped properly.

[2022-10-25 18:39] jonathanmetzman commented on #8839
Were any new fuzzers added recently

[2022-10-25 19:06] johannes-riecken opened #8860 "Regression "Invalid archive signature" in JDK fuzzing pipeline"
The fuzzing pipeline of a repo I haven't recently changed started to fail recently (see [run](https://github.com/johannes-riecken/pacman-java/actions/runs/3320628577/jobs/5493958565)). The error is

Shouldn't there be commas like `control.tar.{...,gz,xz,bz2,...}`? If it helps, then feel free to fork my repo or to make changes to its pipeline.

[2022-10-25 19:21] jonathanmetzman commented on #8860
1. It's weird you are using coverage for batchfuzzing. I sorta consider this incorrect usage, I guess this sorta works with java but it will totally fall over with C++
2. I don't think this issue is on our end, I'm guessing apt or the deb file changed.
3. What are you using this repo for? Just curious

[2022-10-25 19:35] jonathanmetzman commented on #8768
Debugging this now

[2022-10-25 19:35] jonathanmetzman commented on #8768
https://github.com/jonathanmetzman/selinux/actions/runs/3246390671/jobs/5325074200

[2022-10-25 19:50] jonathanmetzman commented on #8601
@DavidKorczynski Can you give me a toy project that has one of these fuzzers? It's fine if it fails, but I want to try building it.

[2022-10-25 20:21] DavidKorczynski commented on #8601
This binary runs a netdriver fuzzer -- will this do the job? https://github.com/google/clusterfuzz/blob/master/src/clusterfuzz/_internal/tests/core/bot/fuzzers/honggfuzz/test_data/fuzz_netdriver_crash

[2022-10-26 06:44] johannes-riecken commented on #8860
1. Interesting. How comes that wouldn't work with C++? Isn't it good to have an overview of what lines were covered during batch fuzzing?
2. I think you're right, as I get the same error when just running the `curl` command and the `apt install` command in a fresh Ubuntu container. I'll close this issue then.
3. It's a testing project I wrote for fuzzing with lots of assertions about my assumption

[2022-10-26 06:44] #8860 closed

[2022-10-26 08:40] cmeister2 commented on #8839
There was a new fuzzer added, but the files written to the /out directory all look reasonable to me:
[code]

The new fuzzer is `fuzz_url` and the `fuzz_url_seed_corpus.zip` file is a valid zip file.

[2022-10-26 15:01] jonathanmetzman commented on #8468
This is still adding a few hundred MB of into /usr increasing our image size by about 25%

[2022-10-26 18:52] jonathanmetzman commented on #8601
Not really. Could you tell me how to reenable the fuzzer in the project that already has it? I'll just do a trial build of that project.

[2022-10-26 19:14] DavidKorczynski commented on #8601
uncomment the following lines:
https://github.com/google/oss-fuzz/blob/f83e9eea2632eec17fdefdcd6b4756b77052056b/projects/mongoose/build.sh#L20-L28

[2022-10-26 19:55] jonathanmetzman opened #8872 "Trial builds cant handle rate limiting on build requests when doing more than one build at a time"
https://github.com/google/oss-fuzz/commit/871ea5240a4cadbc9fd9a78cf5b1e258734fe6cf was an easy fix but it doesn't work at all when there are multiple branches being tested concurrently.
We need to add a retry.

[2022-10-26 20:28] jonathanmetzman opened #8873 "[infra] Builds can use multiple pools for even more parallelism"
We currently have a 400 concurrent build limit per private pool. We have 700 projects and 3 kinds of builds (fuzzing, coverage, introspector)
We can pretty easily use different pools for different kinds of build, this should make trial builds even faster!

[2022-10-26 20:35] jonathanmetzman commented on #8860
Coverage is not meant for batch fuzzing. You should be using `address`

[2022-10-26 22:56] jonathanmetzman commented on #8468
This was fixed by https://github.com/google/oss-fuzz/issues/8468
Now the centipede is a very svelte 11 MB :tada:

[2022-10-26 22:57] #8468 closed

[2022-10-26 22:57] jonathanmetzman commented on #8468
This was fixed by https://github.com/google/oss-fuzz/issues/8468
Now the centipede is a more reasonable 11 MB :tada:

[2022-10-27 00:12] oliverchang commented on #8682
thanks a ton @TheShiftedBit !!

[2022-10-27 00:13] oliverchang commented on #8682
@Navidem can you help make sure that we're installing the latest atheris version in our base images?

[2022-10-27 12:19] #8601 closed

[2022-10-27 12:27] #8625 closed

[2022-10-27 22:29] sai-sunder-s opened #8879 "Unable to pull docker image"
Hi,
I am following these [steps](https://google.github.io/oss-fuzz/advanced-topics/reproducing/#pull-the-latest-docker-images) to reproduce a bug that was reported by oss-fuzz.

When I run `python3 infra/helper.py pull_images`, I hit the below error:
[code]

Should I be joining any group to get access? I did not find info on this in the steps.

[2022-10-28 00:21] DavidKorczynski commented on #8879
This is due to your Docker set up.

Either, use `sudo` for your commands or https://docs.docker.com/engine/install/linux-postinstall/

[2022-10-28 17:35] sai-sunder-s commented on #8837
I am facing similar problem. I think the reported issue is fixed already but when I run this locally, the logs doesn't say the test succeeded or failed.
[code]

I have run the command after building using local target. I have set the local target to before the fix was made to ensure that I see a failure before the fix. I get the same below output for before and after the fix.

[code]

[2022-10-29 19:08] PJK commented on #8588
Any updates @jonathanmetzman ? Still seeing the same issue

[2022-10-30 22:09] radarhere opened #8892 "Issue 50217: Update fixed commit"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50217#c2

Hi. I'm one of the core contributors to Pillow. From my testing, the test case wasn't fixed by the commits referenced. The issue was only occurring intermittently, and this later test just happened to pass. The issue was properly fixed in https://github.com/python-pillow/Pillow/pull/6678

[2022-10-31 05:33] danny100yang opened #8893 "no issue"
no issue

[2022-10-31 16:25] jonathanmetzman commented on #8893
Spam

[2022-10-31 16:25] #8893 closed

[2022-10-31 17:27] #8682 closed

[2022-10-31 21:37] jonathanmetzman commented on #8588
I think I can try a fix for this issue today.

[2022-10-31 21:42] jonathanmetzman commented on #8588
Or rather I can look into it.

[2022-10-31 22:46] jonathanmetzman commented on #8588
The code at fault seems to be ClusterFuzz's custom process handling code, which seems overly complex (i.e. intimidating to change) and calls process.stdout.readline which can hang http://thraxil.org/users/anders/posts/2008/03/13/Subprocess-Hanging-PIPE-is-your-enemy/ https://itecnote.com/tecnote/python-subprocess-readline-hangs-waiting-for-eof/

[2022-11-01 01:57] klihub opened #8900 "projects/golang/build.sh and copycats broken by latest AdamKorcz/instrumentation commit."
https://github.com/AdamKorcz/instrumentation/issues/1

[2022-11-01 02:09] #8900 closed

[2022-11-01 03:58] oliverchang commented on #8588
We don't call `process.stdout.readline`, and per https://docs.python.org/3/library/subprocess.html:

[code]

It seems to imply that `communicate()` does not have such issues. Something else may be at play here.

[2022-11-01 04:30] oliverchang commented on #8850
@TheShiftedBit do you think there's anything that can be easily fixed here to show Python stacktraces for OOMs?

[2022-11-01 14:58] jonathanmetzman commented on #8588
We do call readline directly as the stacktrace shows
[code]
https://github.com/google/clusterfuzz/blob/ddfc7b6349406495e356b7c523076d23e4e0f182/src/clusterfuzz/_internal/system/new_process.py#L153
We are using our own version of communicate

[2022-11-01 16:05] TheShiftedBit commented on #8850
I believe so; however, it wouldn't be 100% reliable, would probably have a big performance impact, and would require a fair bit of reimplementing libFuzzer logic. If we do provide this, it's probably best to offer it as an optional feature that users can enable once they've found an OOM.

libFuzzer's OOM is triggered from a background thread in libFuzzer that polls the process' memory usage, rathe

[2022-11-02 16:22] jonathanmetzman commented on #8588
@alex Do you have any good python wizardry for getting a subprocess to write to a file and stdout (so a human can see something is running) simulatenously? Everything I can think of (find on stackoverflow) is kinda ugly or I'm not confident it will work.

[2022-11-02 16:25] alex commented on #8588
I think the two options I see are:

- Chain subprocess invocations so the stdout of your process goes to stdin of a `tee` process. Basically emulating `cmd | tee output.txt`
- Have a loop in python that reads stdout of your process and writes to both.

[2022-11-02 18:53] jonathanmetzman opened #8913 "Fuzz introspector is logging when not being used"
I can at least confirm this for AFL when you build base-builder, we really don't want this for other builds.
[code]
@DavidKorczynski can we turn this off? I think fuzz introspector shouldn't say anything when it's not used.

[2022-11-02 19:18] jonathanmetzman opened #8915 "Figure out why bazel behaves weirdly (not recognizing changes to image after it is installed)"
Bazel for some reason doesn't know about changes to the images after it is installed. So in https://github.com/google/oss-fuzz/commit/bc02fd0c6353f812ccfc8250c79c88b7954b8899 when I stopped installing tons of unneeded pacakges, python3 stopped getting installed in base-builder. This ended up breaking upb (not sure why trial builds missed this) even though upb installs python3 in its own dockerfile

[2022-11-02 19:18] jonathanmetzman commented on #8915
Assigning to current sherrif.

[2022-11-02 19:19] jonathanmetzman commented on #8915
Undo https://github.com/google/oss-fuzz/pull/8914 when this is fixed please.
A "fix" is installing python3 in base-builder but this isn't acceptable. Bazel should be able to use dependencies that are installed in project images.

[2022-11-02 21:50] DavidKorczynski commented on #8913
This will happen for lto builds. Fix to remove this on the fuzz introspector side here https://github.com/ossf/fuzz-introspector/pull/581

[2022-11-03 15:12] jonathanmetzman commented on #8768
@oliverchang I'm not 100% this is weirdness in CF's behavior but it seems like minimizing a testcase changes its permissions.

[2022-11-03 16:42] dvyukov opened #8921 "Report contents improvements"
Bug reports contain lots of information that is not relevant for me as an end used, and contain little information I need as an end used to act on the bug.

Looking at (which is also email contents I received):
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51436

I have only 1 project, so it's always syzkaller for me. + I receive it on the syzkaller mailing list.

Not relevant for me as an

[2022-11-03 16:47] #8913 closed

[2022-11-03 21:50] nareddyt commented on #8915
Same error in https://github.com/google/oss-fuzz/pull/8909

[2022-11-04 06:10] oliverchang commented on #8768
That's possible. Minimizing writes to a completely new file, and does not modify the input file in-place.

[2022-11-04 21:45] zhangskz commented on #8915
I think this is affecting protobuf-python project as well. Adding same temporary fix as upb to protobuf-python/Dockerfile in #8930, but actually it looks like the sha256 isn't valid for gcr.io/oss-fuzz-base/base-builder-python. @jonathanmetzman can you assist here?

[2022-11-07 06:13] oliverchang commented on #8892
Thanks for the report and pointing us to the actual fix! I've added a comment on this issue indicating the correct fix.

[2022-11-07 06:13] #8892 closed

[2022-11-07 06:17] oliverchang commented on #8449
Maybe we can check for the presence of non-printable characters?

There's also support for this for the new/experimental file open one: https://github.com/google/oss-fuzz/blob/15ace8b1bce160f5575d64cf27ac6d4022d1b9f6/infra/experimental/SystemSan/SystemSan.cpp#L328

[2022-11-07 16:11] #8588 closed

[2022-11-07 17:21] IvanNardi opened #8939 "How to enable Fuzz-Introspector for a project?"
Because of the recent user survey, I discover this new (new to me...) "feature": Fuzz-Introspector.
What I need to to to enable it in a project?
Reading the documentation, it seems that it should be kind of automatic, but I don't find "ndpi" in the list in https://oss-fuzz-introspector.storage.googleapis.com/index.html
What am I missing?
Sorry if this is a silly question or if it is not the right

[2022-11-07 18:21] Navidem commented on #8939
Thanks for your reach out! Fuzz Introspector enables automatically for any supported languages.
For the case of `ndpi` it is enabled but the build is [failing](https://oss-fuzz-build-logs.storage.googleapis.com/index.html#ndpi), the most recent log is here:
[log-6332e0dc-33a1-4516-9610-8fbf409779f0.txt](https://github.com/google/oss-fuzz/files/9954410/log-6332e0dc-33a1-4516-9610-8fbf409779f0.txt)

[2022-11-07 19:35] IvanNardi commented on #8939
Thanks you very much for your help: I' ll take a look
Any specific reason why I didn't receive any notifications about the build failure? If I remember correctly, I received them if the build with "usual" sanitizers (Address/memory/undefined) fails

Thanks again!

[2022-11-07 20:29] Navidem commented on #8939
We did not send introspector related build failures by default as in early phases it was common to get such failures. I think we can enable it per-project.

[2022-11-08 07:09] #8879 closed

[2022-11-08 07:12] oliverchang commented on #8846
Hi!

Thanks for the suggestion. Something like this seems reasonable, but I wonder if we can do this in a more generic way (through e.g. a generic additional mounts option where you pass the dirs on your host that you want to mount into the container). If we do that, would that still satisfy your use case?

@jonathanmetzman @Navidem @Alan32Liu thoughts?

[2022-11-08 10:37] DavidKorczynski commented on #8939
@IvanNardi I just tried to understand why the libpcap failure happens, because it's odd it happens in only fuzz introspector builds.

It seems like `AC_CHECK_LIB` complains that libpcap is not there, even though it's there.

I'm not sure about the internals of `AC_CHECK_LIB`. I wasn't able to get an accurate conclusion yet, but, the possible things I have are for why it's failing are:
- Until rece

[2022-11-08 11:10] IvanNardi commented on #8939
Thanks @DavidKorczynski @Navidem for your insights!

This failure is very strange indeed. Buils system doesn't find a lot of libraries:
* libpcap-dev
* libjson-c ```checking for json_object_put in -ljson-c... no```
* pthreads (!!!) ```configure: WARNING: POSIX Threads not available. Building library only.```
* libnuma ```checking for numa_available in -lnuma... no```

Everything is fine with the o

[2022-11-08 13:17] IvanNardi commented on #8939
Is that change already available in the latest image(s)?

[2022-11-08 13:24] DavidKorczynski commented on #8939
No, just checked for the latests runs on oss-fuzz.com and the logging statement is still there.

Will update you here when I see it's gone, then we can check if ndpi passed too!

[2022-11-08 20:20] shukitchan opened #8950 "Need access to oss-fuzz for trafficserver project"
I received a few emails regarding the following issues

https://oss-fuzz.com/testcase?key=5979420909502464
https://oss-fuzz.com/testcase?key=4848849755963392
https://oss-fuzz.com/testcase?key=4953201724227584

And I would like to access these reports. I think that means adding my email to this - https://github.com/google/oss-fuzz/blob/master/projects/trafficserver/project.yaml#L6 ?

[2022-11-09 00:22] Alan32Liu commented on #8846
Sounds good,
I reckon the same idea could help with some FuzzBench fuzzers and
benchmarks as well.

Best regards,
Dongge Liu, PhD (UniMelb)

On Tue, 8 Nov 2022 at 18:12, Oliver Chang ***@***.***> wrote:

[2022-11-09 14:43] DavidKorczynski commented on #8950
Yes, please add your email there by way of PR. Maintainer approval is needed to be on the CC list to view details about issues. I see you're a contributor/maintainer https://github.com/apache/trafficserver/graphs/contributors but, can also see from the initial integration https://github.com/google/oss-fuzz/pull/8832 @bryancall determined which emails are authorised -- @bryancall do you approve to

[2022-11-09 23:18] shukitchan commented on #8950
Submitted a PR and pinged @bryancall to leave a comment here when he is available.

[2022-11-10 00:13] Navidem opened #8962 "CI is failing"
Currently CI is failing with this error:

[code]

Here the full log: https://github.com/google/oss-fuzz/actions/runs/3432773837/jobs/5722385303

[2022-11-10 00:36] Navidem commented on #8846
+1 to have it generic, like a command line option letting user decide additional mount points.

Generally the idea of using ccache helped me as well in couple of local testing/debugging scenario.

[2022-11-10 02:25] oliverchang commented on #8962
I'll delete the TTL on the bucket, and add back a fake corpus here.

[2022-11-10 09:25] karelzak opened #8965 "integrate auto CC with github teams"
It seems the only way how to maintain auto_cc in the project.yaml files are PR for each change.

Would be possible to read emails from GitHub project team page? For example, add something like
[code]
I'm not sure if GitHub provides any API for this purpose, but teams are completely in the project's hands, and it will avoid all the PRs.

[2022-11-10 09:56] bryancall commented on #8950
I approve @shukitchan to have access.

[2022-11-10 11:13] QiuhaoLi opened #8968 "[Question] Index for projects' public coverage reports?"
In [FAQ](https://google.github.io/oss-fuzz/faq/#why-are-code-coverage-reports-public):

But I didn't find an entry for every project's coverage report, only get some direct links on storage.googleapis.com, for example [OpenSSL ](https://storage.googleapis.com/oss-fuzz-coverage/openssl/reports/20221031/linux/src/openssl/crypto/x509/x509_vfy.c.html).

Is there an index page for a  specific open-sour

[2022-11-10 21:55] Navidem commented on #8962
CI is green again, thanks!

[2022-11-10 21:55] #8962 closed

[2022-11-11 10:29] nedbat opened #8974 "Python coverage failing"
This bug report is inscrutable to me: [Issue 53221: coveragepy: Coverage build failure](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=53221).

I've looked at the build log, and don't see what line indicates a failure. Can you help me decode it?

[2022-11-11 11:10] DavidKorczynski commented on #8974
It's a false positive and due to the infrastructure having an error. Many apologies!

@Navidem has this taken effect https://github.com/google/oss-fuzz/pull/8959 or is it because a new fix is needed?

[2022-11-11 11:11] DavidKorczynski commented on #8950
Closed by https://github.com/google/oss-fuzz/pull/8961

[2022-11-11 11:11] #8950 closed

[2022-11-11 15:42] jonathanmetzman commented on #8965
I like this idea. It should reduce maintainer burden.
I don't know how it will interact with monorail. Maybe it will need to be combined with github issue filing.
It seems like there is an API for this: https://docs.github.com/en/rest/teams/members#list-team-members
Maybe we can do this instead of https://github.com/google/clusterfuzz/issues/2831

[2022-11-11 16:00] zhangskz opened #8975 "Labels for Build Coverage"
Labels configured in project.yaml do not seem to get automatically added to OSS-Fuzz reports for build coverage issues e.g.  https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=53283 is missing https://github.com/google/oss-fuzz/blob/14ec4885b45de9cc7a5a667bef7fdf3b9331b4db/projects/protobuf-python/project.yaml#L36

Other labels normally present (e.g. fuzzer, disclosure, etc) also do not seem to

[2022-11-11 18:54] Navidem commented on #8974
Sorry for the false alarm.

That's the fix, but looks like it is not in effect! Will check the deployment status.

[2022-11-11 19:12] Navidem commented on #8974
Update: it should be in effect now and the issue is resolved. It may take up to hour to reflect in oss-fuzz build logs.

<img width="1379" alt="image" src="https://user-images.githubusercontent.com/19780488/201413510-755bcf14-d7f7-4321-b69d-0445b4fcaefd.png">

[2022-11-11 19:12] #8974 closed

[2022-11-14 02:17] rouault opened #8978 "Bump to actions/upload-artifact@v3 in cifuzz template ?"
https://google.github.io/oss-fuzz/getting-started/continuous-integration/ mentions actions/upload-artifact@v1, but dependabot has just suggested to bump to v3 in GDAL per https://github.com/OSGeo/gdal/pull/6694
Is it OK to do so ?

[2022-11-15 17:55] jonathanmetzman commented on #8978
Let me check this.

[2022-11-15 18:03] jonathanmetzman commented on #8978
Yep it works.

[2022-11-15 18:04] jonathanmetzman commented on #8978
I'm updating the docs to specify v3 should be used: https://github.com/google/oss-fuzz/pull/8984

[2022-11-15 20:56] jonathanmetzman commented on #8921
Thank you for the feedback! This is very helpful.
@ochang WDYT about this?

These are all good points.

This is useful in places like chrome which is fuzzed on OSes other than linux. Not sure we want to special case things.

This is meant to be

I disagree knowing the sanitizer is useless for everyone. It is relevant if someone wants to reproduce the crash and doesn't know about sanitizers (e.g. s

[2022-11-16 09:47] thealberto commented on #8380
A gentle reminder @ctruta @jbowler

[2022-11-16 14:53] ctruta commented on #8380
@tysmith @thealberto FYI, in a few days, I will publicly announce the new canonical location of the libpng repo:
https://github.com/pnggroup/libpng.git

In that public announcement, I will also let everybody know that I will archive glennrp/libpng. I won't do it immediately because I'd rather close as many issues as possible, but it will happen eventually.

Feel free to use my personal email addre

[2022-11-16 17:16] jbowler commented on #8380
I didn't even know about that new repo...

[2022-11-16 17:21] manunio opened #8993 "miniz_oxide: coverage build failure"
Hi, I'm getting coverage build failure for miniz_oxide. No changes were made at upstream or here, since its integration.

Issue: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52660
Build Log: https://oss-fuzz-build-logs.storage.googleapis.com/log-91c22854-e01b-45db-91d5-cf4c7b2d92a0.txt

[code]

[2022-11-16 17:26] jbowler commented on #8380
Incidentally I don't think it can be _just_ archived.  I still have the canonical repo as git:://git.code.sf.net/p/libpng/code; I assume that is what should be used by distros, however glennrp is forked by many people and it will take them a long time to update the fork (years) unless there is some way of doing it under their feet, e.g. via something like a symlink?

[2022-11-16 17:30] tysmith commented on #8380
@jbowler can you please provide me with a contact email to use with oss-fuzz?

[2022-11-16 17:31] jbowler commented on #8380
jbowler@acm.org

[2022-11-16 17:33] tysmith commented on #8380
Thanks! :)

Also @jbowler @ctruta whch address should be listed as primary contact?

[2022-11-16 17:36] jbowler commented on #8380
Not me :-)  I'm not actually on any of the libpng mailing lists (I think) or at least I just file messages sent to them.

[2022-11-16 18:39] jonathanmetzman opened #8995 "Make bisector script use correct docker image"
Right now it tries to use the current builder image which wont allow building many old projects.

[2022-11-16 19:54] jonathanmetzman commented on #8995
ACtually not sure I will do this. It doesn't seem to break too many bisections.

[2022-11-16 19:54] #8995 closed

[2022-11-16 20:39] #8380 closed

[2022-11-17 00:08] DavidKorczynski opened #8997 "fuzztest coverage fails?"
The fuzztest projects (fuzztest-example and fuzztest-raksha) are failing coverage. See e.g. https://oss-fuzz-build-logs.storage.googleapis.com/log-17653753-9fa1-4104-abe2-39814a15a1d7.txt

[code]
Any ideas here?

[2022-11-17 07:56] oliverchang commented on #8968
We do not have an index, but the links to the coverage reports should be pretty predictable if you are looking for a particular one.

https://oss-fuzz-introspector.storage.googleapis.com/index.html may also be interesting to you. It has links to the Fuzz Introspector report, which also has links to coverage report.

[2022-11-17 07:56] #8968 closed

[2022-11-17 07:57] oliverchang commented on #8975
Right, the build failure reports are a special case that do not get these labels applied. Is this important to your team's workflows?

[2022-11-17 08:19] oliverchang commented on #8997
Thanks for flagging! Looks like they're not running correctly on ClusterFuzz. https://github.com/google/clusterfuzz/pull/2856 should fix this.

[2022-11-17 08:42] QiuhaoLi commented on #8968
Thanks!🙌

[2022-11-17 08:51] oliverchang commented on #8993
Hi! According to https://oss-fuzz-build-logs.storage.googleapis.com/index.html, the coverage build was never successful.

I think the issue is here:

https://github.com/google/oss-fuzz/blob/42b53f467346c6016a1c1c5a434a64c00a2ef199/projects/miniz_oxide/build.sh#L19

Our RUSTFLAGS (which includes the coverage instrumentation flags) is getting overwritten. I'll create a PR to fix this.

[2022-11-17 08:57] #8993 closed, assigned to oliverchang

[2022-11-17 10:48] flyfish101 opened #9000 "real-time & dynamic coverage report"
Could we check the  coverage report of fuzz-introspector in real-time while the fuzzing is running?  So that we could identify the blockers and donot need to re-start fuzzing from scratch.

[2022-11-17 11:13] DavidKorczynski commented on #8939
@IvanNardi It is now enable but still it does not work. I did an investigation and think LTO is causing the issue.

Following some investigations, I found that the configuration fails when LTO is enabled. So, I tried disabling LTO during the configuration and enabling it again in the generated `Makefile` before building. I also commented out building of the shared library to only focus on building

[2022-11-17 11:16] DavidKorczynski commented on #9000
I think this issue may fit better at https://github.com/ossf/fuzz-introspector/issues

In short, PRs on https://github.com/ossf/fuzz-introspector/issues are welcome to add real-time visualisations. It would be awesome to see this.

[2022-11-17 11:32] flyfish101 commented on #9000
awesome!

[2022-11-17 12:30] IvanNardi commented on #8939
@DavidKorczynski , thank you very much for all your details!
I'll take a look into the issue.
Thanks again!

[2022-11-17 17:05] jonathanmetzman commented on #8774
Nice @oliverchang I got the results to display on github. I had to make a new trigger using this command though `gcloud --project oss-fuzz-base beta builds triggers create github --region us-central1 --repo-name oss-fuzz --repo-owner google --branch-pattern ".*" --build-config=infra/build/functions/trial_build/cloudbuild.yaml --include-logs-with-status` simply checking the box on the web interface

[2022-11-17 17:06] jonathanmetzman commented on #8774
To complete this, we need to make trial builds link to each build's logs and make those publicly accessible.

[2022-11-18 18:30] jentfoo opened #9014 "Struggling to reproduce fuzzing failure in Teleport project"
Hello,

I am trying to reproduce a couple fuzzing failures for the `teleport` project.  However I am not having any luck reproducing them locally.  Looking at the first one only, I am trying to reproduce `testcase_id=5179131830075392`.  After building the fuzzers the `reproduce` output I get is:
[code]

The failure is supposed to be a out of memory condition, however when I manually monitor the me

[2022-11-20 21:23] kroeckx opened #9018 "Priority of fuzzers"
In OpenSSL we've recently added a new fuzzer: punycode. The punycode parser was rewritten, and a fuzzer made for it. It's not a lot of code. So after 1 minute the fuzzer has actually found all coverage, and it seems like a waste of resources to run it as much as it does now. Is there a way to make it run less often?

[2022-11-21 09:22] vincentgoat commented on #8792
Fixd by https://github.com/google/oss-fuzz/pull/8901

[2022-11-21 09:22] #8792 closed

[2022-11-21 09:27] vincentgoat opened #9022 "fuzzing with error unsafe.Slice requires go1.17 or later"
We found errors that occurred recently.
vendor/golang.org/x/sys/unix/syscall.go:83:28: unsafe.Slice requires go1.17 or later (-lang was set to go1.16; check go.mod)

I wonder if there is an incompatibility problem.

More details:
https://github.com/kubeedge/kubeedge/actions/runs/3512265608/jobs/5883886196

cc @AdamKorcz

[2022-11-21 09:58] AdamKorcz commented on #9022
Few - if any - other OSS-Fuzz projects have 1.16 in their go.mod file. For projects that do, installing a newer Go version in the OSS-Fuzz build scripts is IMO the correct solution.

The fix to this issue should be in the documentation - That Go 1.16 is not fully supported.

[2022-11-21 10:55] DavidKorczynski commented on #9014
@AdamKorcz can you help here?

[2022-11-21 11:46] AdamKorcz commented on #9014
@jentfoo You are doing the right thing to reproduce. Is the issue marked as reproducible by OSS-Fuzz?

[2022-11-21 11:59] vincentgoat commented on #9022
As for KubeEdge, we already have done as the documentation said. https://github.com/google/oss-fuzz/blob/master/projects/kubeedge/Dockerfile#L18

Do you mean other OSS-Fuzz projects will affect the Fuzz build of KubeEdge?

[2022-11-21 12:33] vincentgoat commented on #9022
I think upgrading the go version to v1.17 in Dockerfile but 1.16 still in `go.mod` can't solve this `unsafe.slice` issue.
FYI: https://github.com/golang/go/issues/46525#issuecomment-853319217

[2022-11-21 17:17] jentfoo commented on #9014
@AdamKorcz I don't see in the bug report anything indicating if it's reproducible or not.  I would expect that with a specific reproduction payload it would be.  The issue is not publicly disclosed yet, but if you have access, this is in reference to issue #50925.

Let me know how I can help, if you want to privately collaborate on this you can reach me at mike.jensen@goteleport.com.  Thank you!

[2022-11-21 18:54] zhangskz commented on #8975
We use these labels to ensure the reports get migrated to our bug component for our internal triage process. The lack of these labels for build coverage issues means that the emails for these are much more likely to be missed.

[2022-11-21 19:25] greghudson opened #9028 "krb5 contacts and one fuzzer question"
Please remove the three vendor_ccs from projects/krb5/project.yaml, leaving just the primary contact and auto_ccs.  I have created a github account for krbcore-security@mit.edu and verified that I can get access with it.  krbcore@mit.edu should not be receiving the mail as it is too large of a list.  CCing me just means I get two copies of every generated email.  krb5-bugs@mit.edu is for public bu

[2022-11-21 22:22] jonathanmetzman commented on #9018
ClusterFuzz sort of does this on its own, fuzzers that don't find new coverage are given less runtime until they start finding new edges.

[2022-11-22 12:00] szhorvat opened #9032 "fuzz-introspector warning says that LTO is not enabled"
I am looking at the fuzz-introspector reports for igraph, and I see this warning:

https://storage.googleapis.com/oss-fuzz-introspector/igraph/inspector-report/20220824/fuzz_report.html#functions_cov_hit_1

Do we need to enable LTO explicitly (easy enough), or is this done automatically by OSS-fuzz?

[2022-11-22 13:48] #9028 closed

[2022-11-22 16:14] jonathanmetzman commented on #9032
@DavidKorczynski @Navidem ?

[2022-11-22 16:50] Navidem commented on #9032
Generally no, the lto flag is automatically added and I can see it is there for igraph: `-O0 -flto -fno-inline-functions -fuse-ld=gold`.

That warning can be result of multiple things, a common case is when the project has a lot of indirect calls then the call graph cannot track them statically. As a result, Introspector sees functions reported in coverage that has not a track for in the call grap

[2022-11-22 18:16] #9000 closed

[2022-11-22 18:24] jonathanmetzman opened #9039 "Put Google Analytics on Fuzz Introspector pages"
David can you add an option for fuzz-introspector report generation to include an analytics code and JS snippet? This would help us track usage.

[2022-11-22 18:25] DavidKorczynski commented on #9039
Yep

[2022-11-22 18:26] DavidKorczynski commented on #9039
@AdamKorcz -- can you do this?

[2022-11-22 18:39] AdamKorcz commented on #9039
Yes

[2022-11-22 19:58] evverx commented on #9039
I wonder if it would be possible to turn it off locally somehow (If it is supposed to be turned on by default when reports are generated)?

[2022-11-22 20:07] DavidKorczynski commented on #9039
Good point, @AdamKorcz let's do it so it's only on for oss-fuzz reports by controlling whether this feature is included with e.g. a command-line argument. In the OSS-Fuzz infra, we can then only pass this argument if a given environment variable is set, which will only be set for cloud builds. Basically, follow a similar pattern to how we do with code coverage urls: https://github.com/google/oss-f

[2022-11-22 20:22] AdamKorcz commented on #9039
GA needs a GA tracking ID anyways, and I thought we would assign that in OSS-Fuzz via an environment variable which would mean it would be off locally by default.

[2022-11-22 20:52] Navidem commented on #9039
+1

[2022-11-22 20:54] Navidem commented on #9039
Maybe do not even emit the script in the html if the env is not set?

[2022-11-23 21:23] jonathanmetzman opened #9051 "Create badge for cifuzz"

[2022-11-23 21:23] jonathanmetzman opened #9052 "Fix artifacts documentation for cifuzz"

[2022-11-23 22:08] Navidem commented on #7138
Revisiting this, the `etcd` build is failing to get go module:

[code]

[2022-11-23 22:09] Navidem commented on #7138
@oliverchang do we still need this change implemented?

[2022-11-23 22:10] Navidem commented on #7509
Done, and feedbacks applied to the portal.

[2022-11-23 22:10] #7509 closed

[2022-11-23 22:11] Navidem commented on #7716
We are holding off on this for now. The experiment on fuzzbench did not show a significant effect based on this approach.

[2022-11-23 22:11] #7716 closed

[2022-11-23 22:13] Navidem commented on #8678
Done by #8784

[2022-11-23 22:13] #8678 closed

[2022-11-24 01:18] fmeum opened #9054 "Jazzer sanitizers broken by latest update"
The latest Jazzer update broke custom sanitizers shipped with Jazzer. Could someone revert https://github.com/google/oss-fuzz/commit/33c5ce4d6ff6595fbcab4b0a7a86a2f4c2925fb9?

_Originally posted by @fmeum in https://github.com/google/oss-fuzz/issues/9027#issuecomment-1325800998_

[2022-11-24 01:21] Navidem commented on #9054
https://github.com/google/oss-fuzz/pull/9055

[2022-11-24 02:44] oliverchang commented on #7138
The underlying issue is still there, but if this is not affecting any projects in practice, this is lower priority.

[2022-11-24 02:44] #9054 closed

[2022-11-24 12:27] MarahGamdou opened #9059 "Add branch coverage to the coverage summary"
Is it possible to add the branch coverage to the coverage summary (generated by oss-fuzz) since it is an important coverage metric ? I think this can be done by adding `$BRANCH_COV_ARGS` to [this line](https://github.com/google/oss-fuzz/blob/cfeba2ee8523971d30570dedf64df7e9d0ef3587/infra/base-images/base-runner/coverage#L235)  and gives valuable input to the developers.
@jonathanmetzman

[2022-11-24 22:58] AdamKorcz commented on #9022
KubeEdges build will be fixed with https://github.com/google/oss-fuzz/pull/9067

[2022-11-25 01:22] vincentgoat commented on #9022
Thanks a ton!

[2022-11-25 01:22] #9022 closed

[2022-11-25 08:43] botovq opened #9071 "libressl build failures for oss-fuzz"
On [libressl-portable][1], the oss-fuzz badge reports that the build is failing:  [![Fuzzing Status](https://oss-fuzz-build-logs.storage.googleapis.com/badges/libressl.svg)](https://bugs.chromium.org/p/oss-fuzz/issues/list?sort=-opened&can=1&q=proj:libressl). However, I cannot find any relevant report in the issues list.

This seems to have started with a larger update of our repo earlier this wee

[2022-11-25 10:12] botovq commented on #9071
Just got a mail with a report. Nothing to see here.

[2022-11-25 10:12] #9071 closed

[2022-11-25 12:15] szhorvat commented on #9032
@Navidem Is there anything we should try to do about this on the igraph side or just wait for the issue you linked to be resolved?

[2022-11-27 16:59] PJK commented on #8588
Works, thanks for the fast fix!

[2022-11-28 07:19] oliverchang opened #9078 "trial_build: Auto-retry"
It seems like occasionally trial_build fails early for a project because of some network issue. We should have some retry logic to re-do a build (if the failure happens say within 5 mins).

[2022-11-28 10:10] kleisauke opened #9079 "CIFuzz: hang while fetching coverage"
See: https://github.com/libvips/libvips/actions/runs/3559374300/jobs/5978684333. I cancelled it after 2+ hours running time.

The salient part of the log is:
<details>
  <summary>Details</summary>

[code]
</details>

Which corresponds to this call stack:
https://github.com/google/oss-fuzz/blob/8114d2f85f5568ee3f549b767d250c4125489f5a/infra/cifuzz/build_fuzzers.py#L147-L149
https://github.com/googl

[2022-11-28 17:55] jonathanmetzman commented on #9079
Thanks for this very thorough analysis. Let me try this!

[2022-11-28 18:09] jonathanmetzman commented on #9078
This would definitely be useful but it might be a bit overengineering

[2022-11-28 20:56] kleisauke commented on #9079
Thanks!

FWIW, it looks like https://requests.readthedocs.io/en/stable/user/quickstart/#timeouts emphasizes a indefinitely hang instead.

[2022-11-29 00:24] Navidem commented on #9032
Can you please confirm that igraph can be built with LTO and gold?

[2022-11-29 08:02] szhorvat commented on #9032
Looking carefully, the failure happens not when building igraph itself, but after building libxml2, a dependency. We build libxml2 to work around a crash in ICU, and to allow memory sanitizer to work.

I think now it works after this commit (going on a hunch):

https://github.com/igraph/igraph/commit/61e05160e042a1099fa8aec98ec07ad248455363

At least the following works when run locally:
[code]

[2022-11-29 11:57] radarhere opened #9086 "Pillow: Coverage build failure"
Hi. Pillow has been failing to complete the coverage build for a few weeks - https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=53281&sort=-opened&can=1&q=proj%3Apillow

https://oss-fuzz-build-logs.storage.googleapis.com/log-b333ca6d-aae4-4097-b134-efb9d533f5c8.txt

Looking for changes just before that, I found #8960. Any thoughts?

[2022-11-29 13:32] #9079 closed

[2022-11-29 16:45] IvanNardi opened #9088 "Building dependencies: dockerfile vs build.sh"
What are the best practices about dependencies building? In the Docker file or in the build.sh scripts?
I am specifically interested in this topic, in the context of the MASAN sanitizer.
AFAIK, with MASAN we need to instrument all the third party libraries.

That means that if:
* we are not specifically interested in having the dependencies instrumented (example: we don't want coverage report for

[2022-11-29 17:49] jonathanmetzman commented on #9088
Correct. You must do this in the build.sh because at the time the Dockerfile is built, you don't know if it's an MSAN build.

[2022-11-29 17:50] jonathanmetzman commented on #9086
@Navidem can you look into this?

[2022-11-29 20:41] IvanNardi commented on #9088
@jonathanmetzman , thank you very much for your prompt reply.
Closing.

[2022-11-29 20:41] #9088 closed

[2022-11-30 14:18] #7598 closed

[2022-11-30 14:20] evverx commented on #7593
FI prints warnings now. I think this issue can be closed.

[2022-11-30 14:20] #7593 closed

[2022-11-30 14:26] evverx commented on #7598
Just to clarify locally I link the fuzz targets statically against those libraries and FI seems to work fine.

[2022-11-30 19:47] Navidem commented on #9032
It is building successfully! Thanks for fixing it upstream!
https://storage.googleapis.com/oss-fuzz-introspector/igraph/inspector-report/20221130/fuzz_report.html

[2022-11-30 20:31] jonathanmetzman commented on #9052
Fixed by #9098 and #9090

[2022-11-30 20:31] #9052 closed

[2022-11-30 21:05] Navidem commented on #9086
Looking at the coverage build logs, the failure started on Nov 7th with [this PR](https://github.com/google/oss-fuzz/pull/8945) merge. But looking closer reveals the coverage build was not generating any meaningful report even before Nov 7th and the mentioned PR just caused the silent failure to surface.

Looks like it cannot collect coverage because of some Atheris error. @DavidKorczynski does it

[2022-11-30 21:32] evverx commented on #6868
Looking at https://github.com/google/oss-fuzz/issues/7914 it seems this issue can't be fixed. It should be fine though as long as the workaround works.

[2022-11-30 21:32] #6868 closed

[2022-11-30 23:23] jentfoo commented on #9014
Closing, it looks like the issue is now identified as fixed.   I will let you know if I run into future issues, thank you!

[2022-11-30 23:23] #9014 closed

[2022-11-30 23:29] DavidKorczynski commented on #9086
Yes, I took at short look at this just now, but will need some more time find the root cause! Am on it.